<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>BOM</title>
	<style>
		h1 {
			margin-bottom: 25px;
		}

		h3 {
			float: left;
			padding: 25px 20px 10px 20px;
		}

		.divBtn {
			float: right;
			padding: 10px;
		}

		.sixBtn {
			border: none;
			border-radius: 5px;
			background: #99bad7;
			color: rgba(255, 255, 255, 0.9);
			font-size: 15px;
			height: 27px;
			width: 46px;
		}

		.sixBtn1 {
			margin-right: 32px;
		}

		#infoTbl td {
			padding: 5px 15px;
			text-align: center;
		}

		#infoTbl {
			margin: auto;
		}

		.modal-body {
			background: #e5edf5;
		}

		.sel {
			width: 232.5px;
			text-align: center;
			padding: 10px;
			font-size: 15px;
			font-weight: bold;
		}

		.sel:hover {
			cursor: pointer;
		}

		.sel1 {
			float: left;
		}

		.sel2 {
			float: right;
		}

		.sel3 {
			background-color: white;
		}

		[data-column-name='bomMat'],
		[data-column-name='procName'],
		#pdGrid,
		#procGrid,
		#matGrid {
			cursor: pointer;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">BOM 관리</h1>
		<!-- 상품선택 -->
		<table id="infoTbl">
			<tr>
				<td>제품코드</td>
				<td colspan="2" id="pdBtn"><input type="text" id="pdId" readonly>
					<button type="button" class="sixBtn1"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
							fill="currentColor" class="bi bi-search" viewBox="0 2 16 16">
							<path
								d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
						</svg></button>
					<!-- <button type="button" id="pdBtn" class="sixBtn" style="margin-right: 10px;"
						data-bs-toggle="modal">조회</button> -->
				</td>
			</tr>
			<tr>
				<td>제품명 </td>
				<td><input type="text" id="pdName" readonly>
				<td> 규격</td>
				<td><input type="text" id="pdSize" readonly>
				<td>제품구분</td>
				<td><input type="text" id="pdType" readonly>
			</tr>
		</table>
		<!-- 상품 선택 완료 -->
		<!-- 소요량 그리드 -->
		<h3 class="mt-4" style="font-family: 'MaruBuri';">제품 소요량</h3>
		<div class="divBtn" style="padding: 60px 10px 10px 10px;">
			<button type="button" class="sixBtn3" id="initBtn">초기화</button>
			<span sec:authorize="hasRole('ROLE_A')">
				<button type="button" class="sixBtn2" id="addBtn">추가</button>
				<button type="button" class="sixBtn2" id="delBtn">삭제</button>
				<button type="button" class="sixBtn2" id="saveBtn">저장</button>
			</span>
		</div>
		<div id="grid"></div>
		<div class="divBtn">
			<img src="/assets/img/Excel.png" style="height:27px">
			<button type="button" id="printBtn" class="sixBtn6">파일 내려받기</button>
		</div>
		<!-- 소요량 그리드 완료 -->

		<!-- 제품 선택 Modal 시작 -->
		<div class="modal fade" id="pdModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="pdModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 모달 헤더 -->
					<div class="modal-header">
						<h5 class="modal-title" id="pdModalLabel" style="font-family: 'MaruBuri';">제품선택</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<!-- 모달 바디 -->
					<div class="modal-body">
						<div class="sel sel1 sel3">완제품</div>
						<div class="sel sel2">반제품</div>
						<div id="pdGrid"></div>
					</div>
					<!-- 모달 푸터(버튼부분) -->
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>
		<!-- 제품 선택 Modal 끝 -->

		<!-- 자재 선택 Modal 시작 -->
		<div class="modal fade" id="matModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="matModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 모달 헤더 -->
					<div class="modal-header">
						<h5 class="modal-title" id="matModalLabel" style="font-family: 'MaruBuri';">제품선택</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<!-- 모달 바디 -->
					<div class="modal-body">
						<div class="sel sel1 sel3">자재</div>
						<div class="sel sel2">반제품</div>
						<div id="matGrid"></div>
					</div>
					<!-- 모달 푸터(버튼부분) -->
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>
		<!-- 자재 선택 Modal 끝 -->

		<!-- 공정 선택 Modal 시작 -->
		<div class="modal fade" id="procModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="procModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 모달 헤더 -->
					<div class="modal-header">
						<h5 class="modal-title" id="procModalLabel" style="font-family: 'MaruBuri';">공정선택</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<!-- 모달 바디 -->
					<div class="modal-body">
						<div id="procGrid"></div>
					</div>
					<!-- 모달 푸터(버튼부분) -->
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>
		<!-- 공정 선택 Modal 끝 -->

		<script>
			//window.onload = function () {
			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				scrollX: false,
				scrollY: true,
				rowHeight: 45,
				rowHeaders: ['checkbox'],
				minBodyHeight: 495,
				columns: [{
					header: 'BOM코드',
					name: 'bomId',
					hidden: true
				}, {
					header: '제품코드',
					name: 'pdId',
					hidden: true
				}, {
					header: '구분',
					name: 'pdType',
					align: 'center'
				}, {
					header: '품목코드',
					name: 'bomMat',
					align: 'center'
				}, {
					header: '품목명',
					name: 'matName',
					align: 'center'
				}, {
					header: '소요량',
					name: 'bomNum',
					align: 'center',
					editor: 'text'
				}, {
					header: '단위',
					name: 'bomUnit',
					align: 'center',
					editor: 'text'
				}, {
					header: '소요공정명',
					name: 'procName',
					align: 'center'
				}, {
					header: '공정코드',
					name: 'procId',
					hidden: true
				}, {
					header: '수정일',
					name: 'updateDate',
					align: 'center'
				}]
			});


			// 그리드 높이 & 색 변경 테마 적용
			grid.setBodyHeight(495);
			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				},
				row: {
					hover: {
						background: '#fefafa'
					}
				}
			});


			const pdGrid = new tui.Grid({
				el: document.getElementById('pdGrid'),
				scrollX: false,
				scrollY: false,
				minBodyHeight: 400,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				columns: [{
					header: '제품코드',
					name: 'cpId',
					align: 'center'
				}, {
					header: '제품명',
					name: 'cpName',
					align: 'center'
				}, {
					header: '규격',
					name: 'cpSize',
					align: 'center'
				}]
			});

			$('#pdBtn').on('click', function (e) {
				$.ajax({
					url: "/basic/activeCpList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						pdGrid.resetData(result);
					},
					error: function (reject) {
						console.log(reject)
					}
				});
				setTimeout(() => pdGrid.refreshLayout(), 500);
				$('#pdModal').modal('show');
			})

			let selType = '완제품'
			// 제품 선택 모달창 탭 기능(완제품 클릭)
			$('.sel1').on('click', function (e) {
				$('.sel2').removeClass('sel3');
				$(this).addClass('sel3');
				selType = '완제품';
				$.ajax({
					url: "/basic/activeCpList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						pdGrid.resetData(result);
					},
					error: function (reject) {
						console.log(reject)
					}
				});
			})

			// 제품 선택 모달창 탭 기능(반제품 클릭)
			$('.sel2').on('click', function (e) {
				$('.sel1').removeClass('sel3');
				$(this).addClass('sel3');
				selType = '반제품';
				$.ajax({
					url: "/basic/activeSpList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						pdGrid.resetData(result);
					},
					error: function (reject) {
						console.log(reject)
					}
				});
			})

			// 모달창 제품 선택 이벤트
			let selPd = ''; // 선택 제품이 무엇인지 담을 변수
			pdGrid.on('click', function (e) {
				rowData = pdGrid.getRow(e.rowKey);
				selPd = rowData.cpId;
				$('#pdId').val(selPd);
				$('#pdName').val(rowData.cpName);
				$('#pdSize').val(rowData.cpSize);
				$('#pdType').val(selType);
				$('#pdModal').modal('hide');
				selType = '완제품';

				$.ajax({
					url: "/basic/bomList",
					method: "GET",
					data: {
						"id": selPd
					},
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
					},
					error: function (reject) {
						console.log(reject)
					}
				});
			})

			// 추가 버튼 이벤트
			$('#addBtn').on('click', function (e) {
				if (selPd == '') {
					alert('제품을 먼저 선택하세요!');
				} else {
					let icon = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search icon" viewBox="0 0 16 16" style="color:#a6a6a6">
						<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
						</svg>`
					const newData = { // 빈 데이터 열 생성
						pdId: selPd,
						pdType: '',
						bomMat: icon,
						matName: '',
						bomNum: '',
						bomUnit: '',
						procName: icon,
						procId: '',
						updateDate: ''
					};
					// 그리드에 빈 열 추가
					grid.appendRow(newData);
				}
			})

			const matGrid = new tui.Grid({
				el: document.getElementById('matGrid'),
				scrollX: false,
				scrollY: false,
				minBodyHeight: 400,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				columns: [{
					header: '품목코드',
					name: 'cpId',
					align: 'center'
				}, {
					header: '품목명',
					name: 'cpName',
					align: 'center'
				}, {
					header: '규격',
					name: 'cpSize',
					align: 'center'
				}]
			});

			const procGrid = new tui.Grid({
				el: document.getElementById('procGrid'),
				scrollX: false,
				scrollY: false,
				minBodyHeight: 400,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				columns: [{
					header: '공정구분',
					name: 'comName',
					align: 'center'
				}, {
					header: '공정코드',
					name: 'procId',
					align: 'center'
				}, {
					header: '공정명',
					name: 'procName',
					align: 'center'
				}]
			});


			// BOM입력 자재, 공정 모달
			let selRow = ''; // 선택된 열이 어딘지 담아 둘 변수
			grid.on('click', ev => {
				selRow = ev.rowKey;
				if (ev.columnName == 'bomMat') {
					$.ajax({
						url: "/basic/activeMatList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							matGrid.resetData(result);
						},
						error: function (reject) {
							console.log(reject)
						}
					});
					setTimeout(() => matGrid.refreshLayout(), 500);
					$('#matModal').modal('show');
				} else if (ev.columnName == 'procName') {
					$.ajax({
						url: '/basic/flowList',
						type: 'get',
						data: {
							"id": selPd
						},
						success: function (result) {
							procGrid.resetData(result);
						},
						error: function () {
							alert('공통코드 조회 중 오류 발생!');
						}
					})
					setTimeout(() => procGrid.refreshLayout(), 500);
					$('#procModal').modal('show');
				}
			});

			let matType = '자재'
			// 자재 선택 모달창 탭 기능(자재 클릭)
			$('.sel1').on('click', function (e) {
				console.log('자재선택')
				$('.sel2').removeClass('sel3');
				$(this).addClass('sel3');
				matType = '완제품';
				$.ajax({
					url: "/basic/activeMatList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						matGrid.resetData(result);
					},
					error: function (reject) {
						console.log(reject)
					}
				});
			})

			// 자재 선택 모달창 탭 기능(반제품 클릭)
			$('.sel2').on('click', function (e) {
				console.log('반제품선택')
				$('.sel1').removeClass('sel3');
				$(this).addClass('sel3');
				matType = '반제품';
				$.ajax({
					url: "/basic/activeSpList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						matGrid.resetData(result);
					},
					error: function (reject) {
						console.log(reject)
					}
				});
			})

			// 자재 선택 이벤트
			matGrid.on('click', e => {
				let matData = matGrid.getRow(e.rowKey);
				// 자재 중복체크
				let checkDupl = 0;
				for (let i = 0; i < grid.getRowCount(); i++) {
					let checkId = grid.getRow(i).bomMat
					if (checkId == matData.cpId) {
						checkDupl += 1;
					}
				}
				if (checkDupl > 0) {
					alert('이미 소요품목으로 등록된 자재입니다.');
					matData = '';
					checkDupl = 0;
				} else {
					let matjudge = matData.cpId.substr(0, 1);
					if (matjudge == 'M') {
						matType = '자재'
					} else {
						matType = '반제품'
					}
					grid.setValue(selRow, 'pdType', matType, false);
					grid.setValue(selRow, 'bomMat', matData.cpId, false);
					grid.setValue(selRow, 'matName', matData.cpName, false);
					$('.sel2').removeClass('sel3');
					$('.sel1').addClass('sel3');
					$('#matModal').modal('hide');
					matType = '자재';
					checkDupl = 0;
				}
			})

			// 공정 선택 이벤트
			procGrid.on('click', e => {
				let procData = procGrid.getRow(e.rowKey);
				grid.setValue(selRow, 'procId', procData.procId, false);
				grid.setValue(selRow, 'procName', procData.procName, false);
				$('#procModal').modal('hide');
			})

			// 저장 버튼 이벤트
			$('#saveBtn').on('click', function (e) {
				// 필수항목 빈칸체크
				let checkBlank = 0;
				for (let i = 0; i < grid.getRowCount(); i++) {
					if (grid.getRow(i).bomMat == '' || grid.getRow(i).bomNum == '') {
						checkBlank += 1;
						break;
					}
				}
				if (checkBlank > 0) {
					alert('소요품목 또는 소요량이 입력되지 않은 열이있습니다.');
					checkBlank = 0;
					// 필수항목이 다 입력 된 경우에만 통신
				} else {
					// 수정된 열이 0개가 아니라면 update ajax 호출
					if (grid.getModifiedRows().length != 0) {
						$.ajax({
							url: "/basic/modifyBom",
							method: "POST",
							dataType: "JSON",
							contentType: "application/json",
							data: JSON.stringify(grid.getModifiedRows()),
							success: function (result) {
								alert('BOM정보가 저장되었습니다.');
							},
							error: function (reject) {
								console.log(reject)
								alert('업데이트 과정에서 에러가 발생하였습니다.')
							}
						})
					}
				}
			})

			// 삭제 버튼 이벤트
			$('#delBtn').on('click', (e) => {
				grid.removeCheckedRows(false);
			})

			//초기화 버튼 BOM초기화 이벤트
			$('#initBtn').on('click', (e) => {
				$.ajax({
					url: "/basic/bomList",
					method: "GET",
					data: {
						"id": selPd
					},
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
					},
					error: function (reject) {
						console.log(reject)
					}
				});
				$('#infoTbl input').val('')
			})

			// 다운로드 버튼 이벤트
			$('#printBtn').on('click', function (e) {
				let check = 0;
				check += grid.getModifiedRows().createdRows.length;
				check += grid.getModifiedRows().updatedRows.length;
				check += grid.getModifiedRows().deletedRows.length;
				if (check > 0) {
					alert('저장되지 않은 변경사항이 있습니다. 저장이나 초기화 후 사용해주세요.')
				} else {
					const options = {
						includeHiddenColumns: true,
						fileName: selPd + ' BOM',
					};
					grid.export('xlsx', options);
				}
			})

			// 윈도우 온 로드 닫는 괄호
			//}
		</script>

	</div>
</body>

</html>