<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>거래처 관리</title>
	<style>
		h1 {
			margin-bottom: 25px;
		}

		#manageTbl {
			margin: auto;
		}

		#manageTbl input,
		select {
			padding-left: 10px;
			width: 230px;
		}

		#divRadio input {
			padding-left: 7px;
			width: 20px;
		}

		#divRadio {
			padding-right: 40px;
		}

		#manageTbl td {
			padding: 4px 20px;
		}

		.center {
			text-align: center;
		}

		.divBtn {
			text-align: center;
			padding: 15px 0 30px 0;
		}

		.sixBtn {
			border: none;
			border-radius: 5px;
			background: #99bad7;
			color: rgba(255, 255, 255, 0.9);
			font-size: 15px;
			height: 27px;
			width: 46px;
		}
	</style>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">거래처 관리</h1>

		<!-- 정보입력 폼 -->
		<form action="" method="post" id="manageForm" onsubmit="return false">
			<table id="manageTbl">
				<tr>
					<td class="center">거래처 코드</td>
					<td><input type="text" name="busId" id="busId" class="empty" placeholder=" 검색"></td>
					<td class="center">회사명<span class="needStar"> *</span></td>
					<td><input type="text" name="busName" id="busName" class="empty" placeholder=" 검색"></td>
				</tr>
				<tr>
					<td class="center">분류<span class="needStar"> *</span></td>
					<td style="padding-right: 20px;"><select name="busType" id="busType" style="height: 30px;">
							<option value="">----- 선택 -----</option>
							<option th:each="type : ${types}" th:value="${type.comId}" th:text="${type.comName}">
							</option>
						</select>
						<input type="hidden" id="comName" name="comName">
					</td>
					<td class="center">사업자번호</td>
					<td>
						<input type="text" name="busNum" id="busNum" placeholder="000-00-00000">
						<button type="button" id="busBtn" class="sixBtn">확인</button>
					</td>
				</tr>
				<tr>
					<td class="center">전화번호<span class="needStar"> *</span></td>
					<td><input type="text" name="busTell" id="busTell" class="empty">
					<td class="center">활성여부<span class="needStar"> *</span></td>
					<td class="center">
						<div id="divRadio">
							<input type="radio" id="busStat1" name="busStat" value="Y" checked>
							<label for="busStat1">사용</label>
							<input type="radio" id="busStat2" name="busStat" value="N">
							<label for="busStat2">비사용</label>
						</div>
					</td>
				</tr>
				<tr>
					<td class="center">주소</td>
					<td colspan="2"><input type="text" name="busAddr" id="busAddr" class="empty" readonly
							style="width: 100%"></td>
					<td><input type="text" name="busAddrDet" id="busAddrDet" class="empty"></td>
				</tr>
				<tr>
					<td class="center">비고</td>
					<td colspan="3"><input type="text" name="spNote" id="spNote" class="empty" style="width : 620px;">
					</td>
				</tr>
			</table>
		</form>

		<div class="divBtn">
			<button type="button" class="sixBtn2" id="searchBtn">검색</button>
			<button type="button" class="sixBtn2" id="addBtn">등록</button>
			<button type="button" class="sixBtn2" id="modiBtn">수정</button>
			<button type="button" class="sixBtn2" id="initBtn">초기화</button>
		</div>
		<!-- 상단 폼 끝 -->

		<!-- 완제품 목록 그리드 -->
		<div id="grid"></div>

		<script>
			window.onload = function () {
				let initData = '';
				let nowData = '';
				$.ajax({
					url: "/basic/busList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
						initData = result;
						nowData = result;
					}
				});
			}
			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				scrollX: false,
				scrollY: false,
				minBodyHeight: 400,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				columns: [{
					header: '거래처코드',
					name: 'busId',
					align: 'center',
					width: 'auto',
					minWidth: '150'
				}, {
					header: '분류',
					name: 'comName',
					align: 'center',
					width: 'auto',
					minWidth: '150'
				}, {
					header: '회사명',
					name: 'busName',
					align: 'center'
				}, {
					header: '사업자번호',
					name: 'busNum',
					align: 'center'
				}, {
					header: '전화번호',
					name: 'busTell',
					align: 'center'
				}, {
					header: '주소',
					name: 'busAddr'
				}, {
					header: '비고',
					name: 'busNote',
					align: 'center'
				}, {
					header: '활성여부',
					name: 'busStat',
					filter: 'select',
					align: 'center',
					formatter: ({
						value
					}) => {
						if (value == 'Y') {
							return "사용"
						} else {
							return "비사용"
						}
					}
				}]
			});

			// 그리드 색 변경 테마 적용
			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});

			// 사업자 등록번호 중복체크
			let check = false;
			$('#busBtn').on('click', function (e) {
				$.ajax({
					url: "/basic/checkBusNum",
					method: "GET",
					data: {
						"busNum": $('#busNum').val()
					},
					success: function (result) {
						//console.log(typeof result)
						if (result == true) {
							alert('등록 가능한 사업자번호 입니다.')
							check = true;
						} else {
							alert('이미 등록된 거래처의 사업자번호 입니다.')
						}
					},
					error: function (reject) {
						console.log(reject)
					}
				});
			})
			$('#busNum').on('change', function () {
				check = false;
			})

			// 거래처 분류 선택시 공통코드명 얻어오는 이벤트
			$('#busType').on('change', function (e) {
				let select = document.querySelector('#busType')
				let name = select.options[select.selectedIndex].text
				$('#comName').val(name);
			})

			// 등록 버튼 이벤트
			$('#addBtn').on('click', function (e) {
				if (check == false) {
					alert('사업자번호 중복체크를 먼저 해 주세요')
				} else {
					$.ajax({
						url: '/basic/addBus',
						type: 'post',
						data: $('#manageForm').serialize(),
						dataType: 'json',
						success: function (result) {
							alert('거래처가 성공적으로 등록되었습니다');
							//등록 버튼을 누르면 테이블에 들어갈 데이터 설정      
							const appendedData = result
							grid.appendRow(appendedData);
							check = false;
						},
						error: function (reject) {
							console.log(reject);
						}
					});
					$('.empty').val('');
				}
			});

			// 열을 더블클릭하면 위쪽 폼으로 데이터 가져오기
			let selRow = 999;
			grid.on('dblclick', function (e) {
				// 열을 더블클릭하면 열 정보를 변수에 저장
				selRow = e.rowKey;
				console.log(selRow)
				let dataRow = grid.getRow(selRow);
				$('#busId').val(dataRow.busId);
				$('#busName').val(dataRow.busName);
				$('#busTell').val(dataRow.busTell);
				$('#busAddr').val(dataRow.busAddr);
				$('#busNum').val(dataRow.busNum);
				$('#busNote').val(dataRow.busNote);
				if (dataRow.busStat == 'Y') {
					$("input:radio[name='matStat']:radio[value='Y']").prop('checked', true);
				} else {
					$("input:radio[name='matStat']:radio[value='N']").prop('checked', true);
				}
				$('#busType').val(dataRow.busType).prop("selected", true);
				check = true;
			})

			// 수정 버튼 이벤트
			$('#modiBtn').on('click', function (e) {
				if (selRow == 999) {
					alert('수정할 데이터가 없습니다.')
				} else if (check == false) {
					alert('사업자번호 중복체크를 먼저 해 주세요')
				} else {
					$.ajax({
						url: '/basic/modifyBus',
						type: 'post',
						data: $('#manageForm').serialize(),
						dataType: 'json',
						success: function (result) {
							alert('거래처정보가 성공적으로 수정되었습니다');
							//등록 버튼을 누르면 테이블에 들어갈 데이터 설정 
							const setData = result
							grid.setRow(selRow, setData);
							selRow = 999;
							$('.empty').val('');
							$('#busType').val('').prop("selected", true);
							$("input:radio[name='busStat']:radio[value='Y']").prop('checked', true);
						},
						error: function () {
							alert('거래처정보 수정 중 오류가 발생했습니다!');
						}
					});
				}
			})


			// 초기화 버튼 이벤트
			$('#initBtn').on('click', function (e) {
				$.ajax({
					url: "/basic/busList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
					},
					error: function (reject) {
						console.log(reject);
					}
				});
				$('.empty').val('');
				$('#busType').val('').prop("selected", true);
				$("input:radio[name='busStat']:radio[value='Y']").prop('checked', true);
				check = false;
			})

			// 검색 버튼 이벤트
			$('#searchBtn').on('click', function (e) {
				$.ajax({
					url: '/basic/searchBus',
					type: 'post',
					data: $('#manageForm').serialize(),
					dataType: 'json',
					success: function (result) {
						grid.resetData(result);
						nowData = result;
					},
					error: function (reject) {
						console.log(reject);
					}
				})
			})

			// 검색창 엔터 버튼 이벤트
			$("#busId").on('keypress', function (e) {
				if (e.keyCode == 13) {
					$('#searchBtn').click();
				}
			})
			$("#busName").on('keypress', function (e) {
				if (e.keyCode == 13) {
					$('#searchBtn').click();
				}
			})

			// 주소 선택 이벤트
			document.getElementById("busAddr").addEventListener("click", function () { //주소입력칸을 클릭하면
				//카카오 지도 발생
				new daum.Postcode({
					oncomplete: function (data) { //선택시 입력값 세팅
						document.getElementById("busAddr").value = data.address; // 주소 넣기
						document.querySelector("#busAddrDet").focus(); //상세입력 포커싱
					}
				}).open();
			});
		</script>
	</div>
</body>

</html>