<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>거래처 관리</title>
	<style>
		h1 {
			margin-bottom: 40px;
		}

		#manageTbl {
			margin: auto;
		}

		#manageTbl input,
		select {
			padding-left: 10px;
			width: 230px;
		}

		#divRadio input {
			padding-left: 7px;
			width: 20px;
		}

		#manageTbl td {
			padding: 4px 20px;
			text-align: center;
		}

		.divBtn {
			text-align: center;
			padding: 15px 0 30px 0;
		}

		.sixBtn {
			border: none;
			border-radius: 5px;
			background: #99bad7;
			color: rgba(255, 255, 255, 0.9);
			font-size: 15px;
			height: 27px;
			width: 46px;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">거래처 관리</h1>

		<!-- 정보입력 폼 -->
		<form action="" method="post" id="matForm">
			<table id="manageTbl">
				<tr>
					<td>거래처 코드</td>
					<td><input type="text" name="matId" id="matId" class="empty"></td>
					<td>분류</td>
					<td style="padding-right: 1px;"><select name="matSize" id="matSize">
							<option value="">----- 선택 -----</option>
							<option value="buy">매입 거래처</option>
							<option value="sel">매출 거래처</option>
						</select></td>
				</tr>
				<tr>
					<td>회사명</td>
					<td><input type="text" name="matName" id="matName" class="empty"></td>
					<td>사업자번호</td>
					<td style="padding-right: 0px;"><input type="text" name="spUnit" id="spUnit"></td>
					<td style="padding-left: 2px;"><button type="button" id="busBtn" class="sixBtn">확인</button>
					</td>
				</tr>
				<tr>
					<td>전화번호</td>
					<td><input type="text" name="spLot" id="spLot" class="empty">
					<td>활성여부</td>
					<td>
						<div id="divRadio">
							<input type="radio" id="matStat1" name="matStat" value="Y" checked>
							<label for="matStat1">사용</label>
							<input type="radio" id="matStat2" name="matStat" value="N">
							<label for="matStat2">비사용</label>
						</div>
					</td>
				</tr>
				<tr>
					<td>주소</td>
					<td colspan="3" style="padding-left: 37px;"><input type="text" name="spNote" id="spNote"
							class="empty" style="width : 665px;">
					</td>
				</tr>
				<tr>
					<td>비고</td>
					<td colspan="3" style="padding-left: 37px;"><input type="text" name="spNote" id="spNote"
							class="empty" style="width : 665px;">
					</td>
				</tr>
			</table>
		</form>
		<div class="divBtn">
			<button type="button" class="sixBtn2" id="searchBtn">검색</button>
			<button type="button" class="sixBtn2" id="addBtn">등록</button>
			<button type="button" class="sixBtn2" id="modiBtn">수정</button>
		</div>
		<!-- 상단 폼 끝 -->

		<!-- 완제품 목록 그리드 -->
		<div id="grid"></div>

		<script>
			// 사업자 등록번호 조회
			$('#busBtn').on('click', function (e) {
				let serviceKey =
					'FH8wVb0%2Fec8aVYcjYbxtGwm%2FL3O5j8OkJf%2Fo3xtEjm%2BaOJRtz%2FsN61go4x6O2ip6t6tZ0HD1%2BRKW3s%2BNTiyrvw%3D%3D';
				var data = {
					"bus_num": [$('#busNum').val()] // 사업자번호 "xxxxxxx" 로 조회 시,
				};

				$.ajax({
					url: "https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=" +
						serviceKey, // serviceKey 값을 xxxxxx에 입력
					type: "POST",
					data: JSON.stringify(data), // json 을 string으로 변환하여 전송
					dataType: "JSON",
					contentType: "application/json",
					accept: "application/json",
					success: function (result) {
						console.log(result);
					},
					error: function (result) {
						console.log(result.responseText); //responseText의 에러메세지 확인
					}
				});
			})


			window.onload = function () {
				let initData = '';
				let nowData = '';
				$.ajax({
					url: "/basic/matList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
						initData = result;
						nowData = result;
					}
				});
				const grid = new tui.Grid({
					el: document.getElementById('grid'),
					scrollX: false,
					scrollY: false,
					minBodyHeight: 400,
					pageOptions: {
						useClient: true,
						perPage: 10
					},
					columns: [{
						header: '거래처코드',
						name: 'busId',
						align: 'center'
					}, {
						header: '분류',
						name: 'busType',
						align: 'center'
					}, {
						header: '회사명',
						name: 'busName',
						align: 'center'
					}, {
						header: '사업자번호',
						name: 'busNum',
						align: 'center'
					}, {
						header: '전화번호',
						name: 'busTell',
						align: 'center'
					}, {
						header: '주소',
						name: 'busAddr',
						align: 'center'
					}, {
						header: '비고',
						name: 'busNote',
						align: 'center'
					}, {
						header: '활성여부',
						name: 'busStat',
						align: 'center'
					}]
				});

				// 그리드 색 변경 테마 적용
				tui.Grid.applyTheme('default', {
					cell: {
						header: {
							background: '#e5edf5'
						},
						normal: {
							background: '#ffffff'
						}
					}
				});

				// 등록 버튼 이벤트
				$('#addBtn').on('click', function (e) {
					$.ajax({
						url: '/basic/addMat',
						type: 'post',
						data: $('#spForm').serialize(),
						dataType: 'json',
						success: function (result) {
							alert('자재가 성공적으로 등록되었습니다');
							//등록 버튼을 누르면 테이블에 들어갈 데이터 설정      
							const appendedData = result
							grid.appendRow(appendedData);
						},
						error: function (reject) {
							console.log(reject);
						}
					});
					$('.empty').val('');
				});

				// 열을 더블클릭하면 위쪽 폼으로 데이터 가져오기
				let selRow = '';
				grid.on('dblclick', function (e) {
					// 열을 더블클릭하면 열 정보를 변수에 저장
					selRow = e.rowKey;
					let dataRow = grid.getRow(selRow);
					$('#matId').val(dataRow.matId);
					$('#matName').val(dataRow.matName);
					$('#matLot').val(dataRow.matLot);
					$('#matNote').val(dataRow.matNote);
					if (dataRow.matStat == 'Y') {
						$("input:radio[name='matStat']:radio[value='Y']").prop('checked', true);
					} else {
						$("input:radio[name='matStat']:radio[value='N']").prop('checked', true);
					}
					$('#matSize').val(dataRow.matSize).prop("selected", true);
				})

				// 수정 버튼 이벤트
				$('#modiBtn').on('click', function (e) {
					if (selRow == '') {
						alert('수정할 데이터가 없습니다.')
					} else {
						$.ajax({
							url: '/basic/modifyMat',
							type: 'post',
							data: $('#spForm').serialize(),
							dataType: 'json',
							success: function (result) {
								alert('자재정보가 성공적으로 수정되었습니다');
								//등록 버튼을 누르면 테이블에 들어갈 데이터 설정 
								const setData = result
								grid.setRow(selRow, setData);
								selRow = '';
								$('.empty').val('');
								$('#spSize').val('').prop("selected", true);
								$("input:radio[name='spStat']:radio[value='Y']").prop('checked', true);
							},
							error: function () {
								alert('자재정보 수정 중 오류가 발생했습니다!');
							}
						});
					}
				})

				// 검색 버튼 이벤트
				let searchType = '';
				let searchKey = '';
				$('#searchBtn').on('click', function (e) {
					if ($('#matId').val() == '' && $('#matName').val() == '') {
						if (initData == nowData) {
							alert('자재코드 또는 자재명으로 검색이 가능합니다.')
						} else {
							$.ajax({
								url: "/basic/matList",
								method: "GET",
								dataType: "JSON",
								success: function (result) {
									grid.resetData(result);
								}
							});
						}
					} else {
						if ($('#matId').val() != '') {
							searchType = 'id';
							searchKey = $('#matId').val()
						} else {
							searchType = 'name';
							searchKey = $('#matName').val()
						}

						$.ajax({
							url: '/basic/searchMat',
							type: 'get',
							data: {
								"searchType": searchType,
								"searchKey": searchKey
							},
							dataType: 'json',
							success: function (result) {
								grid.resetData(result);
								nowData = result;
							},
							error: function () {
								alert('자재 검색 중 오류 발생!');
							}
						})
					}

				})

				//윈도우 온 로드 종료
			}
		</script>
	</div>
</body>

</html>