<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>사원 관리</title>
	<style>
		.test {
			padding: 0.5em;
			text-align: right;
			height: 50px;
			margin-top: 30px;
			margin-bottom: 10px;
			padding: 20px;
		}

		.modalTbl {
			margin: auto;
			text-align: center;
			height: 330px;
		}

		.modalTbl2 {
			margin: auto;
			text-align: center;
			height: 100px;
		}

		.modal-body {
			background: #e5edf5;
		}

		.modalTbl td {
			padding-right: 20px;
		}

		.modal-footer {
			text-align: center;
		}

		.modalTbl input,
		select {
			padding-left: 7px;
			width: 150px;
		}

		#searchForm {
			margin-bottom: 30px;
			float: left;
		}

		#searchForm input {
			width: 200px;
			height: 27px;
		}

		#searchForm select {
			width: 102px;
			height: 27px;
		}

		[data-column-name='empName'],
		[data-column-name='empTell'],
		[data-column-name='empHire'],
		[data-column-name='empDept'],
		[data-column-name='empRk'],
		[data-column-name='empStat'],
		[data-column-name='empNote'] {
			cursor: pointer;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">사원관리</h1>

		<div class="test">
			<!-- 검색부분 -->
			<form action="" method="get" id="searchForm" onsubmit="return false">
				<select name="searchType">
					<option value="id">사원번호</option>
					<option value="name">이름</option>
				</select>
				<input type="text" id="searchKey" name="searchKey">
				<button type="button" class="sixBtn1" id="searchBtn"><svg xmlns="http://www.w3.org/2000/svg" width="14"
						height="18" fill="currentColor" class="bi bi-search" viewBox="0 2 16 16">
						<path
							d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
					</svg></button>
				<button type="button" class="sixBtn3" id="initBtn">초기화</button>
			</form>
			<!-- 검색부분 끝 -->
			<div class="divBtn" sec:authorize="hasRole('ROLE_A')" style="margin-top: 20px;">
				<button type="button" class="sixBtn2" data-bs-toggle="modal"
					data-bs-target="#staticBackdrop">등록</button>
				<button type="button" class="sixBtn2" id="modiBtn">수정</button>
				<button type="button" class="sixBtn6" id="pwBtn" data-bs-toggle="modal">비밀번호 변경</button>
			</div>
		</div>

		<!-- 사원목록 그리드 -->
		<div id="grid"></div>
		<!-- 사원목록 그리드 끝 -->


		<!-- 등록 Modal 시작 -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<!-- 등록 모달 헤더 -->
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel" style="font-family: 'MaruBuri';">사원 등록</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<!-- 등록 모달 바디 -->
					<div class="modal-body">
						<form action="" method="post" id="addForm">
							<table class="modalTbl">
								<tr>
									<td>이름<span class="needStar"> *</span></td>
									<td><input type="text" name="empName" id="empName"></td>
								</tr>
								<tr>
									<td>연락처<span class="needStar"> *</span></td>
									<td><input type="text" name="empTell" id="empTell" placeholder="010-1111-1111"></td>
								</tr>
								<tr>
									<td>생년월일<span class="needStar"> *</span></td>
									<td><input type="date" name="empBirth" id="empBirth"></td>
								</tr>
								<tr>
									<td>입사일</td>
									<td><input type="date" name="empHire" id="empHire"></td>
								</tr>
								<tr>
									<td>소속부서<span class="needStar"> *</span></td>
									<td>
										<select name="empDept">
											<option value='' selected>----- 선택 -----</option>
											<option value="영업부">영업부</option>
											<option value="생산부">생산부</option>
											<option value="자재부">자재부</option>
											<option value="설비부">설비부</option>
											<option value="품질부">품질부</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>직급</td>
									<td>
										<select name="empRk">
											<option value='' selected>----- 선택 -----</option>
											<option value="관리자">관리자</option>
											<option value="사원">사원</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>비고</td>
									<td><input type="text" name="empNote" id="empNote"></td>
								</tr>
							</table>
							<input type="hidden" name="empStat" id="empStat">
						</form>
					</div>
					<!-- 등록 모달 푸터(버튼부분) -->
					<div class="modal-footer">
						<button type="button" class="sixBtn2" id="addBtn">등록</button>
						<button type="button" class="sixBtn2" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 등록 Modal 끝 -->

		<!-- 비밀번호 수정 Modal 시작 -->
		<div class="modal fade" id="pwModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="pwModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<!-- 비밀번호 수정 모달 헤더 -->
					<div class="modal-header">
						<h5 class="modal-title" id="pwModalLabel" style="font-family: 'MaruBuri';">비밀번호 변경</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<!-- 비밀번호 수정 모달 바디 -->
					<div class="modal-body">
						<form action="" method="post" id="pwForm">
							<input type="hidden" name="empId" id="pwEmpId"> <!-- 정보 넘겨주기용 사원번호 input -->
							<table class="modalTbl2">
								<tr>
									<td id="pwEmpData"></td>
								</tr>
								<tr>
									<td><input type="text" name="empPw"></td>
								</tr>
							</table>
						</form>
					</div>
					<!-- 비밀번호 수정 모달 푸터(버튼부분) -->
					<div class="modal-footer">
						<button type="button" class="sixBtn2" id="pwUpdateBtn">변경</button>
						<button type="button" class="sixBtn2" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 비밀번호 수정 Modal 끝 -->

		<script>
			var gridD = '';
			// 사원목록 그리드 스크립트
			window.onload = function () {
				$.ajax({
					url: "/basic/empList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
					}
				});
			}

			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				scrollX: false,
				scrollY: false,
				rowHeight: 45,
				minBodyHeight: 540,
				rowHeaders: ['rowNum'],
				pageOptions: {
					useClient: true,
					perPage: 12
				},
				columns: [{
						header: '사원번호',
						name: 'empId',
						align: 'center',
						sortable: true
					},
					{
						header: '이름',
						name: 'empName',
						editor: 'text',
						align: 'center'
					},
					{
						header: '연락처',
						name: 'empTell',
						editor: 'text',
						align: 'center'
					},
					{
						header: '생년월일',
						name: 'empBirth',
						align: 'center'
					},
					{
						header: '입사일',
						name: 'empHire',
						align: 'center',
						sortable: true,
						editor: {
							type: 'datePicker',
							options: {
								format: 'yyyy/MM/dd'
							}
						}
					},
					{
						header: '소속부서',
						name: 'empDept',
						align: 'center',
						filter: 'select',
						editor: {
							type: 'select',
							options: {
								listItems: [{
										text: '영업부',
										value: '영업부'
									},
									{
										text: '생산부',
										value: '생산부'
									},
									{
										text: '자재부',
										value: '자재부'
									},
									{
										text: '설비부',
										value: '설비부'
									},
									{
										text: '품질부',
										value: '품질부'
									}
								]
							}
						}
					},
					{
						header: '직급',
						name: 'empRk',
						align: 'center',
						editor: {
							type: 'select',
							options: {
								listItems: [{
										text: '관리자',
										value: '관리자'
									},
									{
										text: '사원',
										value: '사원'
									}
								]
							}
						}
					},
					{
						header: '상태',
						name: 'empStat',
						align: 'center',
						filter: 'select',
						editor: {
							type: 'radio',
							options: {
								listItems: [{
										text: '재직',
										value: '재직'
									},
									{
										text: '휴직',
										value: '휴직'
									},
									{
										text: '퇴사',
										value: '퇴사'
									}
								]
							}
						}
					},
					{
						header: '비고',
						name: 'empNote',
						editor: 'text'
					},

				]
			});

			// 그리드 색 변경 테마 적용
			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					rowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});

			gridD = grid;
			let selEmpId = '';
			let selEmpName = '';
			let selKey = '';
			grid.on('focusChange', (ev) => {
				if (selKey != ev.rowKey) {
					grid.removeRowClassName(selKey, 'cell-pink');
				}
				grid.addRowClassName(ev.rowKey, 'cell-pink');
				selKey = ev.rowKey;

				// 열 전체 정보 얻기
				let dataRow = grid.getRow(ev.rowKey);
				console.log(dataRow);
				selEmp = dataRow;
				console.log('열번호 : ' + selKey);
				selEmpId = dataRow.empId
				selEmpName = dataRow.empName
			});

			// 기본창 등록버튼 모달 띄우기 이벤트
			$('#staticBackdrop').on('shown.bs.modal');

			// 모달 내 등록 ajax 이벤트
			$('#addBtn').on('click', function (e) {
				$.ajax({
					url: '/basic/empAdd',
					type: 'post',
					data: $('#addForm').serialize(),
					dataType: 'json',
					success: function (result) {
						alert('사원이 성공적으로 등록되었습니다');
						console.log(result);
						//등록 버튼을 누르면 테이블에 들어갈 데이터 설정      
						const appendedData = result
						grid.prependRow(appendedData);
					},
					error: function () {
						alert('사원 등록 중 오류가 발생했습니다!');
					}
				});
				$('#staticBackdrop input').val('');
				$('#staticBackdrop').modal('hide');
			})


			// 비밀번호 수정 버튼
			$('#pwBtn').on('click', function (e) {
				// 사원이 선택되지 않은 경우 알람 띄우기
				if (selEmpId == '') {
					alert('사원이 선택되지 않았습니다!');
					// 특정 사원이 선택 된 경우 사원번호와 이름을 담아 모달 띄우기
				} else {
					$('#pwModal').modal('show');
					console.log(selEmpId)
					$('#pwEmpData').html(`${selEmpId} ${selEmpName}`);
					$('#pwEmpId').val(selEmpId);
				}
			})

			// 모달 비밀번호 변경 이벤트
			$('#pwUpdateBtn').on('click', function (e) {
				$.ajax({
					url: '/basic/empPw',
					type: 'post',
					data: $('#pwForm').serialize(),
					dataType: 'json',
					success: function () {
						alert('비밀번호가 성공적으로 업데이트 되었습니다');
					},
					error: function () {
						alert('비밀번호 변경 중 오류가 발생했습니다!');
					}
				});
				$('#pwModal input').val('');
				$('#pwModal').modal('hide');
				pwEmpId = '';
			});

			// 수정 버튼 이벤트
			$('#modiBtn').on('click', function () {
				console.log(grid.getModifiedRows());
				$.ajax({
					url: '/basic/empModify',
					type: 'post',
					data: JSON.stringify(grid.getModifiedRows().updatedRows),
					contentType: 'application/json',
					success: function () {
						alert('성공적으로 업데이트 되었습니다');
					},
					error: function (r) {
						console.log(r)
						alert('사원 정보 변경 중 오류가 발생했습니다!');
					}
				});

			})

			// 검색버튼 이벤트
			$('#searchBtn').on('click', (e) => {
				$.ajax({
					url: '/basic/searchEmp',
					type: 'get',
					data: $('#searchForm').serialize(),
					dataType: 'json',
					success: function (result) {
						grid.resetData(result);
					},
					error: function (reject) {
						console.log(reject)
						alert('사원 조회 중 오류 발생!');
					}
				})
			})

			// 검색창 엔터 버튼 이벤트
			$("#searchKey").on('keypress', function (e) {
				//e.preventDefault();
				if (e.keyCode == 13) {
					$('#searchBtn').click();
				}
			})

			// 초기화 버튼 이벤트
			$('#initBtn').on('click', (e) => {
				$.ajax({
					url: "/basic/empList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
						$('#searchKey').val('');
					},
					error: function (reject) {
						console.log(reject)
					}
				});
			})
		</script>

	</div>
</body>

</html>