<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>공정흐름도</title>
	<style>
		h1 {
			margin-bottom: 100px;
		}

		h5 {
			padding-left: 10px;
			margin-bottom: 11px;
			font-family: 'MaruBuri';
			float: left;
		}

		.rightBtn {
			float: right;
		}

		.background {
			background-color: #ccdceb;
			padding: 20px;
		}

		#pdDiv {
			width: 420px;
			float: left;
			margin-left: 70px;
		}

		#flowDiv {
			float: left;
			width: 1000px;
			margin-left: 70px;
		}

		select {
			height: 29px;
		}

		#searchKey {
			width: 160px;
		}

		.sel {
			width: 100px;
			text-align: center;
			padding: 10px;
			font-size: 15px;
			font-weight: bold;
		}

		.sel1 {
			float: left;
		}

		.sel2 {
			float: left;
		}

		.sel3 {
			background-color: white;
		}

		.modal-body {
			background: #e5edf5;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">제품 공정흐름도 관리</h1>

		<!-- 왼쪽 틀 시작 -->
		<div id="pdDiv" class="background">
			<!-- 탭 -->
			<div class="sel sel1 sel3">완제품</div>
			<div class="sel sel2">반제품</div>
			<div id="pdGrid"></div>
		</div>
		<!-- 왼쪽 틀 끝 -->

		<!-- 오른쪽 틀 -->
		<div id="flowDiv" class="background">
			<h5>공정흐름도</h5>
			<div class="rightBtn">
				<button type="button" class="sixBtn3" id="initBtn">초기화</button>
				<button type="button" class="sixBtn2" id="addBtn">추가</button>
				<button type="button" class="sixBtn2" id="delBtn">삭제</button>
				<button type="button" class="sixBtn2" id="saveBtn">저장</button>
			</div>
			<div id="grid"></div>
		</div>
		<!-- 오른쪽 틀 끝 -->

		<!-- 공정 선택 Modal 시작 -->
		<div class="modal fade" id="procModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="procModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 모달 헤더 -->
					<div class="modal-header">
						<h5 class="modal-title" id="procModalLabel" style="font-family: 'MaruBuri';">공정선택</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<!-- 모달 바디 -->
					<div class="modal-body">
						<div id="procGrid"></div>
					</div>
					<!-- 모달 푸터(버튼부분) -->
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>
		<!-- 공정 선택 Modal 끝 -->

		<script>
			window.onload = function () {
				$.ajax({
					url: "/basic/activeCpList",
					method: "GET",
					success: function (result) {
						pdGrid.resetData(result);
					},
					error: function (reject) {
						console.log(reject);
					}
				});
			};

			// 완제품-반제품 탭 토글
			$('.sel1').on('click', function (e) {
				$('.sel2').removeClass('sel3');
				$(this).addClass('sel3');
				$.ajax({
					url: "/basic/activeCpList",
					method: "GET",
					success: function (result) {
						pdGrid.resetData(result);
					},
					error: function (reject) {
						console.log(reject);
					}
				});
			})

			$('.sel2').on('click', function (e) {
				$('.sel1').removeClass('sel3');
				$(this).addClass('sel3');
				$.ajax({
					url: "/basic/activeSpList",
					method: "GET",
					success: function (result) {
						pdGrid.resetData(result);
					},
					error: function (reject) {
						console.log(reject);
					}
				});

			})

			const pdGrid = new tui.Grid({
				el: document.getElementById('pdGrid'),
				scrollX: false,
				scrollY: true,
				minBodyHeight: 480,
				columns: [{
					header: '제품코드',
					name: 'cpId',
					align: 'center'
				}, {
					header: '제품명',
					name: 'cpName',
					align: 'center'
				}, {
					header: '규격',
					name: 'cpSize',
					align: 'center'
				}]
			});

			pdGrid.setBodyHeight(480)

			// 그리드 색 변경 테마 적용
			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});

			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				scrollX: false,
				scrollY: true,
				rowHeaders: ['rowNum'],
				minBodyHeight: 480,
				draggable: true,
				columns: [{
					header: '공정흐름코드',
					name: 'flowId',
					hidden: true
				}, {
					header: '제품코드',
					name: 'cpId',
					hidden: true
				}, {
					header: '공정구분',
					name: 'comName',
					align: 'center'
				}, {
					header: '공정코드',
					name: 'procId',
					align: 'center'
				}, {
					header: '공정명',
					name: 'procName',
					align: 'center'
				}, {
					header: '순서',
					name: 'flowNum',
					hidden: true
				}]
			});

			const procGrid = new tui.Grid({
				el: document.getElementById('procGrid'),
				scrollX: false,
				scrollY: false,
				minBodyHeight: 400,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				columns: [{
					header: '공정구분',
					name: 'comName',
					align: 'center'
				}, {
					header: '공정코드',
					name: 'procId',
					align: 'center'
				}, {
					header: '공정명',
					name: 'procName',
					align: 'center'
				}]
			});

			grid.setBodyHeight(480)

			// 제품 선택 시 선택정보 기반으로 공정흐름도 데이터 불러오기
			let pdKey = '';
			let selRowKey = '';
			pdGrid.on('dblclick', function (ev) {
				// 열을 더블클릭하면 제품 정보를 변수에 저장
				if (selRowKey != ev.rowKey) { // 제품 선택 정보가 달라졌다면
					pdGrid.removeRowClassName(selRowKey, 'cell-pink'); // 지난 제품 열에서 음영 제거
				}
				pdGrid.addRowClassName(ev.rowKey, 'cell-pink'); // 새로운 제품 열에 음영 넣기
				selRowKey = ev.rowKey
				let dataRow = pdGrid.getRow(ev.rowKey);
				pdKey = dataRow.cpId;

				// 오른쪽 그리드 데이터 불러올 ajax호출
				$.ajax({
					url: '/basic/flowList',
					type: 'get',
					data: {
						"id": pdKey
					},
					success: function (result) {
						grid.resetData(result);
					},
					error: function () {
						alert('공통코드 조회 중 오류 발생!');
					}
				})
			});

			// 추가 버튼 이벤트 - 공정선택
			$('#addBtn').on('click', function (e) {
				if (pdKey == '') {
					alert('제품이 선택되지 않았습니다!')
				} else {
					$.ajax({
						url: "/basic/activeProcList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							procGrid.resetData(result);
						},
						error: function (reject) {
							console.log(reject)
						}
					});
					setTimeout(() => procGrid.refreshLayout(), 500);
					$('#procModal').modal('show');
				}
			})

			// 공정 선택 이벤트
			procGrid.on('click', e => {
				let procData = procGrid.getRow(e.rowKey);
				let checkDupl = 0;
				for (let i = 0; i < grid.getRowCount(); i++) {
					let checkId = grid.getRow(i).procId
					if (checkId == procData.procId) {
						checkDupl += 1;
					}
				}
				if (checkDupl > 0) {
					alert('이미 등록된 공정입니다.');
				} else {
					const newData = { // 선택한 열 정보 반반으로 본문 그리드에 추가할 데이터 생성
						cpId: pdKey,
						comName: procData.comName,
						procId: procData.procId,
						procName: procData.procName
					};
					grid.appendRow(newData); // 그리드에 추가
					$('#procModal').modal('hide');
				}
			})

			// 초기화 버튼 이벤트
			$('#initBtn').on('click', function (e) {
				if (pdKey == '') {
					alert('제품이 선택되지 않았습니다!')
				} else {
					$.ajax({
						url: '/basic/flowList',
						type: 'get',
						data: {
							"id": pdKey
						},
						success: function (result) {
							grid.resetData(result);
						},
						error: function () {
							alert('공통코드 조회 중 오류 발생!');
						}
					})
				}
			})

			let selFlow = 999;
			// 흐름도 그리드 클릭시 열 정보 저장
			grid.on('click', (e) => {
				if (selFlow != e.rowKey) { // 제품 선택 정보가 달라졌다면
					grid.removeRowClassName(selRowKey, 'cell-pink'); // 지난 제품 열에서 음영 제거
				}
				grid.addRowClassName(e.rowKey, 'cell-pink'); // 새로운 제품 열에 음영 넣기
				selFlow = e.rowKey;
			})

			// 삭제 버튼 이벤트
			$('#delBtn').on('click', (e) => {
				if (pdKey == '') {
					alert('제품이 선택되지 않았습니다!')
				} else if (selFlow == 999) {
					alert('삭제할 열이 선택되지 않았습니다.')
				} else {
					grid.removeRow(selFlow, true);
					selFlow = 999;
				}
			})

			// 저장버튼 이벤트
			$('#saveBtn').on('click', (e) => {
				if (pdKey == '') {
					alert('제품이 선택되지 않았습니다!')
				} else {
					for (let i = 0; i < grid.getRowCount(); i++) {
						grid.setValue(i, 'flowNum', grid.getRow(i)._attributes.rowNum, false);
					}
					console.log(grid.getModifiedRows())
					// 생성된 열이 0개가 아니라면 insert ajax 호출
					if (grid.getModifiedRows().createdRows.length != 0) {
						$.ajax({
							url: "/basic/addFlow",
							method: "POST",
							dataType: "JSON",
							contentType: "application/json",
							data: JSON.stringify(grid.getModifiedRows().createdRows),
							error: function (reject) {
								console.log(reject)
								alert('등록 과정에서 에러가 발생하였습니다.')
							}
						})
					}
					// 수정된 열이 0개가 아니라면 update ajax 호출
					if (grid.getModifiedRows().updatedRows.length != 0) {
						$.ajax({
							url: "/basic/modifyFlow",
							method: "POST",
							dataType: "JSON",
							contentType: "application/json",
							data: JSON.stringify(grid.getModifiedRows().updatedRows),
							error: function (reject) {
								console.log(reject)
								alert('업데이트 과정에서 에러가 발생하였습니다.')
							}
						})
					}
					// 삭제된 열이 0개가 아니라면 update ajax 호출
					console.log(JSON.stringify(grid.getModifiedRows().deletedRows))
					if (grid.getModifiedRows().deletedRows.length != 0) {
						$.ajax({
							url: "/basic/deleteFlow",
							method: "POST",
							dataType: "JSON",
							contentType: "application/json",
							data: JSON.stringify(grid.getModifiedRows().deletedRows),
							error: function (reject) {
								console.log(reject)
								alert('삭제 과정에서 에러가 발생하였습니다.')
							}
						})
					}
					alert('공정흐름도 정보가 저장되었습니다.')
				}
			})
		</script>
	</div>
</body>

</html>