<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>자재 관리</title>
	<style>
		h1 {
			margin-bottom: 20px;
		}

		#manageTbl {
			margin: auto;
		}

		#manageTbl input,
		select {
			padding-left: 10px;
			width: 230px;
		}

		#divRadio input {
			padding-left: 7px;
			width: 20px;
		}

		#manageTbl td {
			padding: 4px 20px;
			text-align: center;
		}

		.divBtn {
			text-align: center;
			padding: 15px 0 30px 0;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">자재 관리</h1>

		<!-- 정보입력 폼 -->
		<form action="" method="post" id="matForm" onsubmit="return false">
			<table id="manageTbl">
				<tr>
					<td>자재 코드</td>
					<td><input type="text" name="matId" id="matId" class="empty" placeholder="검색"></td>
					<td>자재명<span class="needStar"> *</span></td>
					<td><input type="text" name="matName" id="matName" class="empty" placeholder="검색"></td>
				</tr>
				<tr>
					<td>규격<span class="needStar"> *</span></td>
					<td><input type="text" name="matSize" id="matSize" class="empty"></td>
					<td>활성여부<span class="needStar"> *</span></td>
					<td>
						<div id="divRadio">
							<input type="radio" id="matStat1" name="matStat" value="Y" checked>
							<label for="matStat1">사용</label>
							<input type="radio" id="matStat2" name="matStat" value="N">
							<label for="matStat2">비사용</label>
						</div>
					</td>
				</tr>
				<tr>
					<td>안전재고량<span class="needStar"> *</span></td>
					<td><input type="text" name="matSafe" id="matSafe" class="empty">
					<td>단위<span class="needStar"> *</span></td>
					<td><input type="text" name="matUnit" id="matUnit" class="empty"></td>
				</tr>
				<tr>
					<td>비고</td>
					<td colspan="4"><input type="text" name="matNote" id="matNote" class="empty" style="width : 610px;">
					</td>
				</tr>
			</table>
		</form>
		<div class="divBtn">
			<button type="button" class="sixBtn2" id="searchBtn">검색</button>
			<span sec:authorize="hasRole('ROLE_A')">
				<button type="button" class="sixBtn2" id="addBtn">등록</button>
				<button type="button" class="sixBtn2" id="modiBtn">수정</button>
				<button type="button" class="sixBtn3" id="initBtn">초기화</button>
			</span>
		</div>
		<!-- 상단 폼 끝 -->

		<!-- 완제품 목록 그리드 -->
		<div id="grid"></div>

		<script>
			window.onload = function () {
				let initData = '';
				let nowData = '';
				$.ajax({
					url: "/basic/matList.Ajax",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
						initData = result;
						nowData = result;
					}
				});
			}
			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				scrollX: false,
				scrollY: false,
				rowHeight: 45,
				minBodyHeight: 450,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				columns: [{
					header: '자재코드',
					name: 'matId',
					align: 'center'
				}, {
					header: '자재명',
					name: 'matName',
					align: 'center'
				}, {
					header: '규격',
					name: 'matSize',
					align: 'center'
				}, {
					header: '단위',
					name: 'matUnit',
					align: 'center'
				}, {
					header: '안전재고량',
					name: 'matSafe',
					align: 'right',
					formatter: ({
						value
					}) => {
						return value.toLocaleString()
					}
				}, {
					header: '비고',
					name: 'matNote',
					align: 'center'
				}, {
					header: '활성여부',
					name: 'matStat',
					align: 'center',
					formatter: ({
						value
					}) => {
						if (value == 'Y') {
							return "사용"
						} else {
							return "비사용"
						}
					}
				}]
			});

			// 그리드 색 변경 테마 적용
			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});

			// 등록 버튼 이벤트
			$('#addBtn').on('click', function (e) {
				$.ajax({
					url: '/basic/addMat.Ajax',
					type: 'post',
					data: $('#matForm').serialize(),
					dataType: 'json',
					success: function (result) {
						Msg.success('등록 완료되었습니다.', 2000);
						//등록 버튼을 누르면 테이블에 들어갈 데이터 설정      
						const appendedData = result
						grid.prependRow(appendedData);
					},
					error: function () {
						Msg.error('등록 중 오류가 발생하였습니다.', 2000);
					}
				});
				$('.empty').val('');
			});

			// 열을 더블클릭하면 위쪽 폼으로 데이터 가져오기
			let selRow = 999;
			grid.on('click', function (e) {
				// 열을 더블클릭하면 열 정보를 변수에 저장
				selRow = e.rowKey;
				let dataRow = grid.getRow(selRow);
				$('#matId').val(dataRow.matId);
				$('#matName').val(dataRow.matName);
				$('#matSafe').val(dataRow.matSafe);
				$('#matNote').val(dataRow.matNote);
				if (dataRow.matStat == 'Y') {
					$("input:radio[name='matStat']:radio[value='Y']").prop('checked', true);
				} else {
					$("input:radio[name='matStat']:radio[value='N']").prop('checked', true);
				}
				$('#matSize').val(dataRow.matSize);
				$('#matUnit').val(dataRow.matUnit);
			})

			// 수정 버튼 이벤트
			$('#modiBtn').on('click', function (e) {
				if (selRow == 999) {
					Msg.warning('수정할 데이터가 없습니다.');
				} else {
					$.ajax({
						url: '/basic/modifyMat.Ajax',
						type: 'post',
						data: $('#matForm').serialize(),
						dataType: 'json',
						success: function (result) {
							Msg.success('수정이 완료되었습니다.', 2000);
							//수정 버튼을 누르면 테이블에 들어갈 데이터 설정 
							const setData = result
							grid.setRow(selRow, setData);
							selRow = 999;
							$('.empty').val('');
							$("input:radio[name='matStat']:radio[value='Y']").prop('checked', true);
						},
						error: function () {
							Msg.error('수정 중 오류가 발생하였습니다.', 2000);
						}
					});
				}
			})

			// 검색 버튼 이벤트
			let searchType = '';
			let searchKey = '';
			$('#searchBtn').on('click', function (e) {
				if ($('#matId').val() == '' && $('#matName').val() == '') {
					if (initData == nowData) {
						Msg.info('자재코드와 자재명으로 검색이 가능합니다.');
					} else {
						$.ajax({
							url: "/basic/matList.Ajax",
							method: "GET",
							dataType: "JSON",
							success: function (result) {
								grid.resetData(result);
							}
						});
					}
				} else {
					if ($('#matId').val() != '') {
						searchType = 'id';
						searchKey = $('#matId').val()
					} else {
						searchType = 'name';
						searchKey = $('#matName').val()
					}

					$.ajax({
						url: '/basic/searchMat.Ajax',
						type: 'get',
						data: {
							"searchType": searchType,
							"searchKey": searchKey
						},
						dataType: 'json',
						success: function (result) {
							grid.resetData(result);
							nowData = result;
						},
						error: function () {
							Msg.error('검색 중 오류가 발생하였습니다.', 2000);
						}
					})
				}
			})

			// 검색창 엔터 버튼 이벤트
			$("#matId").on('keypress', function (e) {
				if (e.keyCode == 13) {
					$('#searchBtn').click();
				}
			})
			$("#matName").on('keypress', function (e) {
				if (e.keyCode == 13) {
					$('#searchBtn').click();
				}
			})

			// 초기화 버튼 이벤트
			$('#initBtn').on('click', (e) => {
				$.ajax({
					url: "/basic/matList.Ajax",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
						$('.empty').val('');
						$("input:radio[name='matStat']:radio[value='Y']").prop('checked', true);
					}
				});
			})
		</script>
	</div>
</body>

</html>