<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>공정 관리</title>
	<style>
		h1 {
			margin-bottom: 25px;
		}

		#manageTbl {
			margin: auto;
		}

		#manageTbl input,
		select {
			padding-left: 10px;
			width: 230px;
		}

		#divRadio input {
			padding-left: 7px;
			width: 20px;
		}

		#manageTbl td {
			padding: 4px 20px;
			text-align: center;
		}

		.divBtn {
			text-align: center;
			padding: 15px 0 30px 0;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">공정 관리</h1>

		<!-- 정보입력 폼 -->
		<form action="" method="post" id="manageForm" onsubmit="return false">
			<table id="manageTbl">
				<tr>
					<td>공정 코드</td>
					<td><input type="text" name="procId" id="procId" class="empty" placeholder="검색"></td>
					<td>공정명<span class="needStar"> *</span></td>
					<td><input type="text" name="procName" id="procName" class="empty" placeholder="검색"></td>
				</tr>
				<tr>
					<td>공정 구분<span class="needStar"> *</span></td>
					<td><select name="procType" id="procType">
							<option value="">----- 선택 -----</option>
							<option th:each="type : ${types}" th:value="${type.comId}" th:text="${type.comName}">
							</option>
						</select>
						<input type="hidden" id="comName" name="comName">
					</td>
					<td>활성여부<span class="needStar"> *</span></td>
					<td>
						<div id="divRadio">
							<input type="radio" name="procStat" value="Y" checked>
							<label for="procStat">사용</label>
							<input type="radio" name="procStat" value="N">
							<label for="procStat">비사용</label>
						</div>
					</td>
				</tr>
				<tr>
					<td>비고</td>
					<td colspan="4"><input type="text" name="procNote" id="procNote" class="empty"
							style="width : 610px;">
					</td>
				</tr>
			</table>
		</form>
		<div class="divBtn">
			<button type="button" class="sixBtn2" id="searchBtn">검색</button>
			<button type="button" class="sixBtn2" id="addBtn">등록</button>
			<button type="button" class="sixBtn2" id="modiBtn">수정</button>
			<button type="button" class="sixBtn2" id="initBtn">초기화</button>
		</div>
		<!-- 상단 폼 끝 -->

		<!-- 완제품 목록 그리드 -->
		<div id="grid"></div>

		<script>
			window.onload = function () {
				let initData = '';
				let nowData = '';
				$.ajax({
					url: "/basic/procList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
						initData = result;
						nowData = result;
					}
				});
			}

			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				scrollX: false,
				scrollY: false,
				minBodyHeight: 400,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				columns: [{
					header: '분류코드',
					name: 'procType',
					align: 'center',
					hidden: true
				}, {
					header: '공정구분',
					name: 'comName',
					filter: 'select',
					align: 'center'
				}, {
					header: '공정코드',
					name: 'procId',
					align: 'center'
				}, {
					header: '공정명',
					name: 'procName',
					align: 'center'
				}, {
					header: '비고',
					name: 'procNote',
					align: 'center'
				}, {
					header: '활성여부',
					name: 'procStat',
					align: 'center',
					formatter: ({
						value
					}) => {
						if (value == 'Y') {
							return "사용"
						} else {
							return "비사용"
						}
					}
				}]
			});

			// 그리드 색 변경 테마 적용
			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});

			// 공정코드 선택시 네임 얻어오는 이벤트
			$('#procType').on('change', function (e) {
				let select = document.querySelector('#procType')
				let name = select.options[select.selectedIndex].text
				$('#comName').val(name);
			})

			// 등록 버튼 이벤트
			$('#addBtn').on('click', function (e) {
				if (selRow != 999) {
					alert('수정중에는 등록할 수 없습니다. 초기화 후 등록을 진행하세요.')
				} else {
					$.ajax({
						url: '/basic/addProc',
						type: 'post',
						data: $('#manageForm').serialize(),
						dataType: 'json',
						success: function (result) {
							alert('공정이 성공적으로 등록되었습니다');
							//등록 버튼을 누르면 테이블에 들어갈 데이터 설정      
							const appendedData = result
							grid.prependRow(appendedData);
							$('.empty').val('');
							$('#procType').val('').prop("selected", true);
							$("input:radio[name='spStat']:radio[value='Y']").prop('checked', true);
						},
						error: function () {
							alert('공정 등록 중 오류가 발생했습니다!');
						}
					});
					$('.empty').val('');
					$('#procType').val('').prop("selected", true);
				}
			});

			// 열을 클릭하면 위쪽 폼으로 데이터 가져오기
			let selRow = 999;
			grid.on('click', function (e) {
				// 열을 클릭하면 열 정보를 변수에 저장
				selRow = e.rowKey;
				let dataRow = grid.getRow(selRow);
				$('#procId').val(dataRow.procId);
				$('#procName').val(dataRow.procName);
				$('#procNote').val(dataRow.procNote);
				if (dataRow.procStat == 'Y') {
					$("input:radio[name='procStat']:radio[value='Y']").prop('checked', true);
				} else {
					$("input:radio[name='procStat']:radio[value='N']").prop('checked', true);
				}
				$('#procType').val(dataRow.procType).prop("selected", true);
			})

			// 수정 버튼 이벤트
			$('#modiBtn').on('click', function (e) {
				if (selRow == 999) {
					alert('수정할 데이터가 없습니다.')
				} else {
					$.ajax({
						url: '/basic/modifyProc',
						type: 'post',
						data: $('#manageForm').serialize(),
						dataType: 'json',
						success: function (result) {
							alert('공정정보가 성공적으로 수정되었습니다');
							//등록 버튼을 누르면 테이블에 들어갈 데이터 설정 
							const setData = result
							grid.setRow(selRow, setData);
							selRow = 999;
							$('.empty').val('');
							$('#procType').val('').prop("selected", true);
							$("input:radio[name='spStat']:radio[value='Y']").prop('checked', true);
						},
						error: function (reject) {
							console.loe(reject);
						}
					});
				}
			})

			// 검색 버튼 이벤트
			let searchType = '';
			let searchKey = '';
			$('#searchBtn').on('click', function (e) {
				if ($('#procId').val() == '' && $('#procName').val() == '' && $('#procType').val() == '') {
					alert('공정코드, 공정명 또는 공정구분으로 검색이 가능합니다.')
				} else {
					if ($('#procId').val() != '') {
						searchType = 'id';
						searchKey = $('#procId').val()
					} else if ($('#procName').val() != '') {
						searchType = 'name';
						searchKey = $('#procName').val()
					} else {
						searchType = 'type';
						searchKey = $('#procType').val()
					}
					console.log(searchType);
					console.log(searchKey);

					$.ajax({
						url: '/basic/searchProc',
						type: 'get',
						data: {
							"searchType": searchType,
							"searchKey": searchKey
						},
						dataType: 'json',
						success: function (result) {
							grid.resetData(result);
							nowData = result;
						},
						error: function (reject) {
							console.log(reject);
						}
					})
				}
			})

			// 검색창 엔터 버튼 이벤트
			$("#procId").on('keypress', function (e) {
				if (e.keyCode == 13) {
					$('#searchBtn').click();
				}
			})
			$("#procName").on('keypress', function (e) {
				if (e.keyCode == 13) {
					$('#searchBtn').click();
				}
			})

			// 초기화 버튼 이벤트
			$('#initBtn').on('click', function (e) {
				$.ajax({
					url: "/basic/procList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
						initData = result;
						nowData = result;
					}
				});
				$('.empty').val('');
				$('#procType').val('').prop("selected", true);
				$("input:radio[name='spStat']:radio[value='Y']").prop('checked', true);
				selRow = 999;
			})
		</script>
	</div>
</body>

</html>