<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>반제품 관리</title>
	<style>
		h1 {
			margin-bottom: 25px;
		}

		#spTable {
			margin: auto;
		}

		#spTable input,
		select {
			padding-left: 10px;
			width: 230px;
		}

		#divRadio input {
			padding-left: 7px;
			width: 20px;
		}

		#spTable td {
			padding: 4px 20px;
			text-align: center;
		}

		.divBtn {
			text-align: center;
			padding: 15px 0 30px 0;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">반제품 관리</h1>

		<!-- 정보입력 폼 -->
		<form action="" method="post" id="spForm" onsubmit="return false">
			<table id="spTable">
				<tr>
					<td>반제품 코드</td>
					<td><input type="text" name="spId" id="spId" class="empty" placeholder="검색"></td>
					<td>제품명<span class="needStar"> *</span></td>
					<td><input type="text" name="spName" id="spName" class="empty" placeholder="검색"></td>
				</tr>
				<tr>
					<td>규격</td>
					<td><input type="text" name="spSize" id="spSize" class="empty"></td>
					<td>활성여부<span class="needStar"> *</span></td>
					<td>
						<div id="divRadio">
							<input type="radio" id="spStat1" name="spStat" value="Y" checked>
							<label for="spStat1">사용</label>
							<input type="radio" id="spStat2" name="spStat" value="N">
							<label for="spStat2">비사용</label>
						</div>
					</td>
				</tr>
				<tr>
					<td>관리LOT수량</td>
					<td><input type="text" name="spLot" id="spLot" class="empty">
					<td>단위<span class="needStar"> *</span></td>
					<td><input type="text" name="spUnit" id="spUnit" value="PCS"></td>
				</tr>
				<tr>
					<td>비고</td>
					<td colspan="4"><input type="text" name="spNote" id="spNote" class="empty" style="width : 610px;">
					</td>
				</tr>
			</table>
		</form>
		<div class="divBtn">
			<button type="button" class="sixBtn2" id="searchBtn">검색</button>
			<button type="button" class="sixBtn2" id="addBtn">등록</button>
			<button type="button" class="sixBtn2" id="modiBtn">수정</button>
			<button type="button" class="sixBtn3" id="initBtn">초기화</button>
		</div>
		<!-- 상단 폼 끝 -->

		<!-- 반제품 목록 그리드 -->
		<div id="grid"></div>

		<script>
			window.onload = function () {
				let initData = '';
				let nowData = '';
				$.ajax({
					url: "/basic/spList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
						initData = result;
						nowData = result;
					}
				});
			}
			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				scrollX: false,
				scrollY: false,
				minBodyHeight: 400,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				columns: [{
					header: '반제품코드',
					name: 'spId',
					align: 'center'
				}, {
					header: '제품명',
					name: 'spName',
					align: 'center'
				}, {
					header: '규격',
					name: 'spSize',
					align: 'center'
				}, {
					header: '단위',
					name: 'spUnit',
					align: 'center'
				}, {
					header: '관리LOT수량',
					name: 'spLot',
					align: 'right',
					formatter: ({
						value
					}) => {
						return value.toLocaleString()
					}
				}, {
					header: '비고',
					name: 'spNote',
					align: 'center'
				}, {
					header: '활성여부',
					name: 'spStat',
					align: 'center',
					formatter: ({
						value
					}) => {
						if (value == 'Y') {
							return "사용"
						} else {
							return "비사용"
						}
					}
				}]
			});

			// 그리드 색 변경 테마 적용
			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});

			// 등록 버튼 이벤트
			$('#addBtn').on('click', function (e) {
				if (selRow != 999) {
					alert('수정중에는 등록 할 수 없습니다. 초기화 후 등록해주세요.')
				} else {
					$.ajax({
						url: '/basic/addSp',
						type: 'post',
						data: $('#spForm').serialize(),
						dataType: 'json',
						success: function (result) {
							alert('반제품이 성공적으로 등록되었습니다');
							//등록 버튼을 누르면 테이블에 들어갈 데이터 설정      
							const appendedData = result
							grid.prependRow(appendedData);
							$('.empty').val('');
							$("input:radio[name='spStat']:radio[value='Y']").prop('checked', true);
						},
						error: function () {
							alert('반제품 등록 중 오류가 발생했습니다!');
						}
					});
				}
			});

			// 열을 더블클릭하면 위쪽 폼으로 데이터 가져오기
			let selRow = 999;
			grid.on('click', function (e) {
				// 열을 더블클릭하면 열 정보를 변수에 저장
				selRow = e.rowKey;
				let dataRow = grid.getRow(selRow);
				$('#spId').val(dataRow.spId);
				$('#spName').val(dataRow.spName);
				$('#spLot').val(dataRow.spLot);
				$('#spSize').val(dataRow.spSize);
				$('#spNote').val(dataRow.spNote);
				if (dataRow.spStat == 'Y') {
					$("input:radio[name='spStat']:radio[value='Y']").prop('checked', true);
				} else {
					$("input:radio[name='spStat']:radio[value='N']").prop('checked', true);
				}
			})

			// 수정 버튼 이벤트
			$('#modiBtn').on('click', function (e) {
				if (selRow == 999) {
					alert('수정할 데이터가 없습니다.')
				} else {
					$.ajax({
						url: '/basic/modifySp',
						type: 'post',
						data: $('#spForm').serialize(),
						dataType: 'json',
						success: function (result) {
							alert('반제품이 성공적으로 수정되었습니다');
							//등록 버튼을 누르면 테이블에 들어갈 데이터 설정 
							const setData = result
							grid.setRow(selRow, setData);
							selRow = 999;
							$('.empty').val('');
							$("input:radio[name='spStat']:radio[value='Y']").prop('checked', true);
						},
						error: function () {
							alert('반제품 수정 중 오류가 발생했습니다!');
						}
					});
				}
			})

			// 검색 버튼 이벤트
			let searchType = '';
			let searchKey = '';
			$('#searchBtn').on('click', function (e) {
				if ($('#spId').val() == '' && $('#spName').val() == '') {
					if (initData == nowData) {
						alert('반제품 코드 또는 제품명으로 검색이 가능합니다.')
					} else {
						$.ajax({
							url: "/basic/spList",
							method: "GET",
							dataType: "JSON",
							success: function (result) {
								grid.resetData(result);
							}
						});
					}
				} else {
					if ($('#spId').val() != '') {
						searchType = 'id';
						searchKey = $('#spId').val()
					} else {
						searchType = 'name';
						searchKey = $('#spName').val()
					}

					$.ajax({
						url: '/basic/searchSp',
						type: 'get',
						data: {
							"searchType": searchType,
							"searchKey": searchKey
						},
						dataType: 'json',
						success: function (result) {
							grid.resetData(result);
							nowData = result;
						},
						error: function () {
							alert('반제품 검색 중 오류 발생!');
						}
					})
				}

			})

			// 엔터 검색 이벤트
			$("#spId").on('keypress', function (e) {
				if (e.keyCode == 13) {
					$('#searchBtn').click();
				}
			})
			$("#spName").on('keypress', function (e) {
				if (e.keyCode == 13) {
					$('#searchBtn').click();
				}
			})

			// 초기화 버튼 이벤트
			$('#initBtn').on('click', (e) => {
				$.ajax({
					url: "/basic/spList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						$('.empty').val('');
						$("input:radio[name='spStat']:radio[value='Y']").prop('checked', true);
						grid.resetData(result);
						selRow = 999;
					}
				});
			})
		</script>
	</div>
</body>

</html>