<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.sixsu.app.equipment.mapper.EquMapper">
	
	
	<!-- 설비 조회,관리 리스트 -->
	<select id="equConList" resultType="EquConVO">
	 WITH oper as ( 
	   SELECT e.equ_code, e.oper_start, e.oper_fnish, e.oper_note, e.oper_type
	    FROM equ_oper e
	    JOIN(   SELECT equ_code, MAX(oper_code) oper_code
	              FROM equ_oper
	             Group By equ_code)o
	    ON(e.equ_code = o.equ_code AND e.oper_code = o.oper_code)
	   ),
	CHECKVIEW AS (
	  SELECT e.equ_code, e.equ_suit, e.check_date, e.check_next, e.check_type, e.check_info
	    FROM equ_insp e 
	    JOIN (SELECT equ_code, MAX(check_date) check_date
	            FROM equ_insp
	           GROUP BY equ_code) o
	      ON (e.equ_code = o.equ_code AND e.check_date = o.check_date)
	)
	    SELECT  c.equ_code, 
	  	        c.proc_id, 
	  	        c.equ_name, 
	  	        c.equ_model, 
	  	        c.equ_stat, 
	  	        c.equ_line, 
	  	        c.equ_check, 
	  	        i.equ_suit, 
	  	        to_char(i.check_date, 'yyyy-mm-dd') as check_date, 
	  	        to_char(i.check_next, 'yyyy-mm-dd') as check_next , 
	  	        i.check_type, 
	            i.check_info, 
	            c.c_temp, 
	  	        to_char(o.oper_start, 'yyyy-mm-dd / hh:mm') as oper_start, 
	  	        o.oper_fnish, 
	  	        o.oper_type, 
	            o.oper_note, 
	  	        to_char(c.add_date, 'yyyy-mm-dd') as add_date , 
	  	        c.emp_id  
		  FROM equ_con c 
		  LEFT OUTER JOIN CHECKVIEW i
	        ON c.equ_code = i.equ_code
		  LEFT OUTER JOIN oper o
		    ON c.equ_code = o.equ_code
		  ORDER BY c.equ_code 
  	</select>
  	
  	<!-- 설비조회(검색) -->
  	<select id="equFilterList" resultType="EquConVO" parameterType="EquSearchDTO">
  	 WITH oper as ( 
	   SELECT e.equ_code, e.oper_start, e.oper_fnish, e.oper_note, e.oper_type
	    FROM equ_oper e
	    JOIN(   SELECT equ_code, MAX(oper_code) oper_code
	              FROM equ_oper
	             Group By equ_code)o
	    ON(e.equ_code = o.equ_code AND e.oper_code = o.oper_code)
	   ),
	CHECKVIEW AS (
	  SELECT e.equ_code, e.equ_suit, e.check_date, e.check_next, e.check_type, e.check_info
	    FROM equ_insp e 
	    JOIN (SELECT equ_code, MAX(check_date) check_date
	            FROM equ_insp
	           GROUP BY equ_code) o
	      ON (e.equ_code = o.equ_code AND e.check_date = o.check_date)
	)
	    SELECT  c.equ_code, 
	  	        c.proc_id, 
	  	        c.equ_name, 
	  	        c.equ_model, 
	  	        c.equ_stat, 
	  	        c.equ_line, 
	  	        c.equ_check, 
	  	        i.equ_suit, 
	  	        to_char(i.check_date, 'yyyy-mm-dd') as check_date, 
	  	        to_char(i.check_next, 'yyyy-mm-dd') as check_next, 
	  	        i.check_type, 
	            i.check_info, 
	            c.c_temp, 
	  	        to_char(o.oper_start, 'yyyy-mm-dd / hh:mm') as oper_start, 
	  	        o.oper_fnish, 
	  	        o.oper_type, 
	            o.oper_note, 
	  	        to_char(c.add_date, 'yyyy-mm-dd') as add_date, 
	  	        c.emp_id  
		  FROM equ_con c 
		  LEFT OUTER JOIN CHECKVIEW i
	        ON c.equ_code = i.equ_code
		  LEFT OUTER JOIN oper o
		    ON c.equ_code = o.equ_code 
	   <where>
		
		<if test='code != null and code != ""'>
			 lower(c.equ_code) like '%'|| lower(#{code})||'%'
		</if>
		<if test='name != null and name != ""'>
			and lower(c.equ_name) like '%'|| lower(#{name})||'%'
		</if>
		</where>
		ORDER BY c.equ_code
  	</select>

  	<!-- 설비관리 공정코드(조회) ajax -->
	<select id="activePdList" resultType="EquConVO">
  		SELECT proc_id
		FROM equ_con
		WHERE proc_id = #{procId}
        ORDER BY proc_id   
  	</select>

	<!-- 설비관리(등록) -->
	<insert id="equAdd" parameterType="EquConVO">
		INSERT INTO equ_con (equ_code, proc_id, equ_name, equ_model, equ_stat, equ_line, emp_id, equ_check, add_date, c_temp)
		VALUES(('EQU_' || LPAD(EQU_SEQ.nextval, 3, '0')), #{procId}, #{equName}, #{equModel}, #{equStat}, #{equLine}, #{empId}, #{equCheck}, #{addDate}, #{ctemp})
	</insert>
	
	<!-- 설비관리(수정) -->
	<update id="equUpdate" parameterType="EquConVO">
		UPDATE equ_con
		SET equ_code=#{equCode}, proc_id=#{procId}, equ_name=#{equName}, equ_model=#{equModel}, equ_stat=#{equStat}, equ_line=#{equLine}, emp_id=#{empId}, equ_check=#{equCheck}, add_date=#{addDate}, c_temp=#{ctemp}
		WHERE equ_code=#{equCode}
	</update>
	
	<!-- 설비관리(삭제) -->
	<delete id="equDel" parameterType="EquConVO">
		delete from equ_con where equ_code = #{equCode}
	</delete>
	
	<!-- 점검 리스트 -->
	<select id="equCheckList" resultType="EquInspVO" parameterType="EquSearchDTO">
	  SELECT i.check_code,
	  			   o.oper_code,
		  		   c.equ_code,
		  		   c.equ_name,
		  		   c.equ_check,
		  		   i.equ_suit,
		  		   i.check_type,
		  		   to_char(i.check_date, 'yyyy-mm-dd') as check_date,
		  		   to_char(i.check_next, 'yyyy-mm-dd') as check_next ,
		  		   i.check_info, i.check_com,
		  		   i.check_note,
		  		   to_char(o.oper_start, 'yyyy-mm-dd / hh:mm') as oper_start,
		  		   i.emp_id,
		  		   get_emp_name(i.emp_id) emp_name
			  FROM equ_con c LEFT OUTER JOIN equ_insp i
				ON c.equ_code = i.equ_code
			  LEFT OUTER JOIN equ_oper o
				ON c.equ_code = o.equ_code
  	</select>
  	
  	<!-- 점검조회 (검색) -->
	<select id="equCheckSearch" resultType="EquInspVO" parameterType="EquSearchDTO">
  		SELECT i.check_code,
  			   o.oper_code,
	  		   c.equ_code,
	  		   c.equ_name,
	  		   c.equ_check,
	  		   i.equ_suit,
	  		   i.check_type,
	  		   to_char(i.check_date, 'yyyy-mm-dd') as check_date,
	  		   to_char(i.check_next, 'yyyy-mm-dd') as check_next ,
	  		   i.check_info, i.check_com,
	  		   i.check_note,
	  		   to_char(o.oper_start, 'yyyy-mm-dd / hh:mm') as oper_start,
	  		   i.emp_id  
		  FROM equ_con c LEFT OUTER JOIN equ_insp i
			ON c.equ_code = i.equ_code
		  LEFT OUTER JOIN equ_oper o
			ON c.equ_code = o.equ_code
			<where> 
				<!-- <if test='searchType.equals("code")'>
					c.equ_code like '%'||#{searchKey}||'%' OR lower(c.equ_code) like '%'||#{searchKey}||'%'
				</if>
				<if test='searchType.equals("name")'>
					c.equ_name like '%'||#{searchKey}||'%' OR lower(c.equ_name) like '%'||#{searchKey}||'%'
				</if> -->
			<if test='code != null and code != ""'>
			 	lower(c.equ_code) like '%'|| lower(#{code})||'%'
			</if>
			<if test='name != null and name != ""'>
				and lower(c.equ_name) like '%'|| lower(#{name})||'%'
			</if>	
				
  		 	</where>
  		 	
  		 	
  		 
  		 	
  		 	
  		 	
  		 	
  	</select>
  	
  	<!-- 점검 관리(등록) -->
  	<insert id="checkAdd" parameterType="EquInspVO">
		INSERT INTO equ_insp (check_code, equ_code, equ_name, check_date, check_next, equ_check, equ_suit, check_type, check_info, check_com, check_note, emp_id)
		VALUES(('CHECK_' || LPAD(CHECK_SEQ.nextval, 3, '0')), #{equCode}, #{equName}, sysdate, to_date(add_months(sysdate, #{equCheck}), 'yy/MM/dd'), #{equCheck}||'개월', #{equSuit}, #{checkType}, #{checkInfo}, #{checkCom}, #{checkNote}, #{empId})
	</insert>
	
	<!-- 점검 관리(수정) -->
	<update id="cUpdate" parameterType="EquInspVO">
		UPDATE equ_insp
		SET check_code=#{checkCode}, equ_code=#{equCode}, equ_name=#{equName}, check_date=#{checkDate}, check_next=#{checkNext}, equ_check=#{equCheck}, equ_suit=#{equSuit}, check_type=#{checkType}, check_info=#{checkInfo}, check_com=#{checkCom}, check_note=#{checkNote}, emp_id=#{empId}
		WHERE check_code=#{checkCode}
	</update> 
						
	
	<!-- 점검 관리(삭제) -->
	<delete id="cDel" parameterType="EquInspVO">
		delete from equ_insp where check_code=#{checkCode}
	</delete>
	
  	
  	<!-- 비가동 리스트 -->
	<select id="equOperList" resultType="EquOperVO">
  	SELECT  o.oper_code,
  	        c.equ_code,
  	        c.equ_name, 
  	        o.oper_type, 
  	        to_char(o.oper_start, 'yyyy-MM-dd / hh:mm') as oper_start, 
  	        to_char(o.oper_fnish, 'yyyy-MM-dd / hh:mm') as oper_fnish, 
  	        c.emp_id, 
  	        o.oper_note, 
  	        c.equ_stat
	   FROM equ_con c
	   LEFT OUTER JOIN equ_oper o
		 ON c.equ_code = o.equ_code
		 ORDER BY o.oper_code 
  	</select>
  	
  	
  	
  	<sql id="criteria">
			<where>
				<if test="equCode != null and equCode != ''.toString()">
	       		 	 c.equ_code like '%'||#{equCode}||'%' OR lower(c.equ_code) like '%'||#{equCode}||'%'
	     		 </if>
				
				<if test="equName != null and equName != ''.toString()">
	       		 	and (c.equ_name like '%'||#{equName}||'%' OR lower(c.equ_name) like '%'||#{equName}||'%')
	     		 </if>
				
				<if test="operType != null and operType != ''.toString()">
	       		 	and (o.oper_type like '%'||#{operType}||'%' OR lower(o.oper_type) like '%'||#{operType}||'%')
	     		 </if>
					
				<if test="operStart != null and operStart != ''.toString() and operFnish != null and operFnish != ''.toString()">
	        		 and ( oper_start between to_date(#{operStart}, 'YYYY-MM-DD') and
	                     to_date(#{operFnish}|| ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS') )
	      		</if>
			</where>		
  	</sql>
  	
  	
    <!-- 비가동 조회(검색) -->
	<select id="equOperSearch" resultType="EquOperVO" >
  	SELECT  o.oper_code,
  	        c.equ_code,
  	        c.equ_name, 
  	        o.oper_type, 
  	        to_char(o.oper_start, 'yyyy-MM-dd / hh:mm') as oper_start, 
  	        to_char(o.oper_fnish, 'yyyy-MM-dd / hh:mm') as oper_fnish, 
  	        c.emp_id, 
  	        o.oper_note, 
  	        c.equ_stat
	   FROM equ_con c
	   LEFT OUTER JOIN equ_oper o
		 ON c.equ_code = o.equ_code
		 
		 <include refid="criteria"></include>	
  	</select>
  	
  	<!-- 비가동 관리(수정) -->
	<update id="oUpdate" parameterType="EquOperVO">
		UPDATE equ_oper
		SET oper_code=#{operCode}, equ_code=#{equCode}, equ_name=#{equName}, oper_type=#{operType}, oper_note=#{operNote}, emp_id=#{empId}
		WHERE oper_code=#{operCode}
	</update> 
	
	<!-- 비가동 관리(삭제) -->
	<delete id="oDel" parameterType="EquOperVO">
		delete from equ_oper where oper_code=#{operCode}
	</delete>
	
	<!-- 비가동 관리 비가동 시작버튼(비가동 등록) -->
  	<insert id="startIn" parameterType="EquOperVO"> 
		INSERT INTO equ_oper (oper_code, equ_code, oper_type, oper_start, oper_note, emp_id)
		VALUES('OPER_' || LPAD(OPER_SEQ.nextval, 3, '0'), #{equCode}, #{operType}, current_date, #{operNote}, #{empId})
	</insert>   
	
	<!-- 비가동 관리 설비상태 비가동(수정) -->
	<update id="startUp" parameterType="EquConVO">
		UPDATE equ_con
		SET equ_code=#{equCode}, equ_stat= 'STAT-2'
		WHERE equ_code=#{equCode}
	</update> 
	
	
	
	<!-- 비가동 관리 비가동 종료버튼(가동 등록) -->
  	<update id="fnishIn" parameterType="EquOperVO">
		UPDATE equ_oper
		SET oper_fnish=to_date(#{operFinish}, 'yyyy-MM-dd')
		WHERE oper_code = #{operCode}
	</update>   
	
	<!-- 비가동 관리 설비상태 가동(수정) -->
	<update id="fnishUp" parameterType="EquConVO">
		UPDATE equ_con
		SET equ_code=#{equCode}, equ_stat= 'STAT-1'
		WHERE equ_code=#{equCode}
	</update> 
	
</mapper>