<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.sixsu.app.quality.mapper.QualityMapper">

	<!-- 도착 자재 리스트 -->
	<select id="getArrList" resultType="QuaVO">
		<!-- SELECT m.mat_req_id, bus_id, mat_id, arr_qt, to_char(arr_date, 'yyyy-MM-dd') 
			arr_date FROM mat_req m JOIN arr_material a ON (m.mat_req_id = a.mat_req_id) 
			ORDER BY mat_req_id desc -->

		select r.mat_req_id, b.bus_name, r.mat_id, m.mat_name, a.arr_qt,
		to_char(arr_date, 'yyyy-MM-dd') arr_date
		from mat_req r left join
		material m
		on r.mat_id = m.mat_id
		left join business b
		on r.bus_id =
		b.bus_id
		left join arr_material a
		on r.mat_req_id = a.mat_req_id
		where
		r.mat_req_stat='도착'
		order by mat_req_id
	</select>

	<!-- 도착 자재 등록 리스트 -->
	<select id="arrRegList" resultType="QuaVO">
		<!-- SELECT mat_req_id, bus_id, mat_id FROM mat_req WHERE mat_req_stat='입고대기' 
			ORDER BY mat_req_id -->
		select r.mat_req_id, b.bus_name, r.mat_id, m.mat_name, a.arr_qt,
		to_char(arr_date, 'yyyy-MM-dd') arr_date
		from mat_req r left join
		material m
		on r.mat_id = m.mat_id
		left join business b
		on r.bus_id =
		b.bus_id
		left join arr_material a
		on r.mat_req_id = a.mat_req_id
		WHERE
		r.mat_req_stat='입고대기'
		and a.arr_qt is null
		order by mat_req_id
	</select>

	<!-- 도착 자재 등록 -->
	<insert id="insertArr" parameterType="QuaVO">
		INSERT INTO arr_material
		(arr_mat_num, mat_req_id, arr_qt) VALUES
		(arr_seq.nextval, #{matReqId},
		#{arrQt})
	</insert>


	<!-- 자재 입고 검사 등록 리스트 -->
	<select id="proRecList" resultType="QuaVO">
		select r.mat_req_id,
		b.bus_name, r.mat_id, m.mat_name, r.mat_req_qt
		from mat_req r left join material m
		on
		r.mat_id = m.mat_id
		left join business b
		on r.bus_id = b.bus_id
		where
		r.mat_req_stat='입고대기'
		order by mat_req_id
	</select>

	<!-- 입고 검사 등록 -->
	<insert id="insertPr" parameterType="QuaVO">
		insert into
		qua_com
		(insp_num, insp_std_id, insp_qt) values
		(insf_seq.nextval, #{matReqId},
		#{inspQt})
	</insert>

	<!-- 입고 검사 등록 시 자재 발주 업데이트 -->
	<update id="mrUpdate" parameterType="MatreqVO">
		update mat_req set
		mat_req_stat='검사대기'
		where mat_req_id=#{matReqId}
	</update>

	<!-- 자재 입고 검사 리스트 -->
	<select id="prInspList" resultType="QuaVO">
		select q.insp_std_id,q.insp_num,
		b.bus_name, r.mat_id, m.mat_name, r.mat_req_qt, q.insp_qt
		from qua_com q left join
		mat_req r
		on q.insp_std_id = r.mat_req_id
		left join material m
		on
		r.mat_id = m.mat_id
		left join business b
		on r.bus_id = b.bus_id
		where
		r.mat_req_stat='검사대기'
		order by insp_std_id
	</select>

	<!-- 입고 전 검사 번호 자동 등록 -->
	<select id="psInspNum" resultType="String">
		select get_qps_num from dual
	</select>
 
	<!-- 입고 검사 등록 프로시저 -->
	<select id="insertPro" statementType="CALLABLE"
		parameterType="QuaVO">
		{CALL insert_pro(
		#{matReqId, mode=IN, jdbcType=VARCHAR},
		#{inspQt, mode=IN, jdbcType=VARCHAR},
		#{inspItemId, mode=IN, jdbcType=VARCHAR},
		#{result, mode=INOUT, jdbcType=VARCHAR, javaType=String}
		)
		}
	</select> 
	<!-- 검사 담당자 등록 리스트 -->
	<select id="empList" resultType="EmpVO">
		select emp_id, emp_name, emp_dept from employee
		where emp_stat='재직'
		
	</select>
	
	<!-- 검사 담당자 리스트 조회 -->
	<select id="sEmpList" parameterType="String" resultType="EmpVO">
		select emp_id, emp_name, emp_dept from employee
		where emp_stat='재직'
		and emp_name=#{result}
	</select>
	
	<!-- 검사 항목 리스트 -->
	<select id="inspItem" resultType="QuaVO">
		select * from qua_insp_list
		where insp_item_id=#{inspItemId} 
	</select>
	
	<!-- 입고 검사 상세 결과 등록 -->
	<insert id="insertPri">
		insert into qua_details(det_insp_num, insp_num, insp_id, res_val, res_stat)
		values #{detInspNum}, #{inspNum}, #{inspId}, #{resVal}, #{res_stat} 
	</insert>
	
	<!-- 입고 검사 결과 등록 시 검사 공통 업데이트 -->
	<update id="qComUpdate">
		update qua_com
		set insp_type=#{inspType}, insp_date=sysdate,
		emp_id=#{empId}, suit_qt=#{suitQt}, nsuit_qt=#{nsuitQt}
		where insp_num=#{inspNum}
		
	</update>
	
	<!-- 입고 검사 결과 등록 시 자재 발주 업데이트 -->
	<update id="mUpdate">
		update mat_req set
		mat_req_stat='검사완료'
		where mat_req_id=#{matReqId}
	</update>
	
	



</mapper>