<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.sixsu.app.sales.mapper.ReceiveMapper">
 
 <!-- 생산완료된 물건만 보여주기 위한 sql문 나중에 다끝나고 나면 c를 다른 문구로 고쳐야하마  --> 
 
  <select id="completeList"
  		resultType= "RecVO">
   		select w.WK_DETA_ID, w.MAT_ID, w.MAT_NAME,W.GOOD_QT,W.CMPLT_ST, W.CMPLT_DATE
		from COMPLETE_PROD c join DETA_WORK_ORDR w
		on c.cp_id = w.mat_id
		WHERE W.CMPLT_ST ='C'
  		</select>
  
  
  
 <sql id="criteria">
   <where>
      <if test="cpId != null and cpId != ''.toString()">
         c.cp_id = #{cpId}
      </if>
      <if test="cpRecTp != null and cpRecTp != 'all'.toString() and cpRecTp != ''.toString()" >
         and ( r.cp_rec_tp = #{cpRecTp})
      </if>    
      <if test="startDate != null and startDate != ''.toString() and endDate != null and endDate != ''.toString()">
         and (r.cp_rec_date  between to_date(#{startDate}, 'YYYY-MM-DD') and
                     to_date(#{endDate}|| ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS') )
      </if>
   </where>
</sql>

  
  
  <select id="searchReceive"
  		resultType="RecVO">
  	select r.cp_rec_id, TO_CHAR(r.cp_rec_date, 'yyyy-MM-dd') cp_rec_date, p.cp_lot_id, p.cp_id, c.cp_name, r.cp_rec_qt, get_com_name(r.cp_rec_tp) cp_rec_tp
        from prod_rev r
        left outer join prod_lot p
        on p.cp_lot_id = r.cp_lot_id
        left outer join COMPLETE_PROD c
        on c.cp_id = p.cp_id
  		<include refid="criteria"></include>
  		order by r.cp_rec_id desc
  </select>
  
 </mapper>