<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.sixsu.app.sales.mapper.ReturnMapper">
<select id="orderComplete" resultType ="ShipCompVO">
	select d.ord_det_id, 
	s.ord_Date, c.cp_Name, c.cp_id, d.ord_qt ,s.bus_id, b.bus_name
	, (select CP_SHIP_REQ_DATE from pro_ship where ord_det_id = d.ord_det_id and rownum= 1)  as  CP_SHIP_REQ_DATE
	from det_ord d 
    left outer join pro_ship p
    on d.ord_det_id= p.ord_det_id
    left outer join sorder s
	on d.ord_id = s.ord_id
	left outer join complete_prod c
	on d.cp_id = c.cp_id
	left outer join business b
	on s.bus_id = b.bus_id
	where d.ord_stat_det = 'ORD_DET_COM'
	<if test="keyword != null and keyword !=''">
		s.bus_id = #{keyword}
	</if>
</select>


  
 <sql id="criteria">
   <where>
      <if test="cpId != null and cpId != ''.toString()">
         c.cp_id = #{cpId}
      </if>
      <if test="retStat != null and retStat != 'all'.toString() and retStat != ''.toString()" >
         and ( r.ret_stat = #{retStat})
         
      </if>    
      <if test="startDate != null and startDate != ''.toString() and endDate != null and endDate != ''.toString()">
         and (r.cp_ret_date  between to_date(#{startDate}, 'YYYY-MM-DD') and
                     to_date(#{endDate}|| ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS') )
      </if>
       <if test="ordDetId != null and ordDetId != ''.toString()">
         p.ord_det_id = #{ordDetId}
      </if>
   </where>
</sql>

  
  
  <select id="searchReturn"
  		resultType="RetVO">
  	 	select r.ret_id, TO_CHAR(r.ret_date, 'yyyy-MM-dd') ret_date, r.ret_stat, b.bus_id, t.cp_lot_id, c.cp_id,c.cp_name,r.ret_qt, get_com_name(r.ret_stat) ret_stat
        from ret_prod r
        left outer join pro_ship p
        on p.CP_SHIP_ID = r.CP_SHIP_ID
        left outer join det_ord d
        on d.ord_det_id = p.ord_det_id
        left outer join sorder s
        on s.ord_id = d.ord_id
        left outer join prod_lot t
        on t.cp_lot_id = p.cp_lot_id
        left outer join COMPLETE_PROD c
        on c.cp_id = t.cp_id
        left outer join business b
        on b.bus_id = s.bus_id
  		<include refid="criteria"></include>
  </select>
  
  
  <select id="returnCode" resultType='String'>
  	select get_pro_Ret_num() from dual
  </select>
  
  <insert id="insertReturn" parameterType="RetVO">
  <selectKey resultType="RetVO" keyProperty ="RetId, RetDate" order="BEFORE">
  select get_pro_Ret_num ret_id, to_char(sysdate,'yyyy//MM/dd') ret_date from dual
  </selectKey>
  insert into ret_prod values(#{retId},#{cpShipId},#{retQt},#{retNote},#{retStat},To_Date(#{retDate}, 'yyyy/MM/dd',null,#{empId})
  </insert>
  
  

</mapper>