<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.sixsu.app.sales.mapper.SalesMapper">
<select id="getDate" resultType="java.util.Date">
	select sysdate from dual
</select>
	

	<!--모달창 이름별 사원조회 -->
	<select id="emp1List"
		resultType='EmpVO'>
		select* from employee
		<if test="keyword != null and keyword !=''">
		where emp_name = #{keyword}
		</if>
	</select>
	
	<!-- 모달창 거래처 전체조회 -->
	<select id="busList"
		resultType='BusVO'>
		Select* from business
		where bus_type= 'SELL'
	</select>
	
	<!-- 모달창 거래이름별 거래처별조회   '%${keyword}%' -->
	<select id="bus1List"
		resultType='BusVO'>
		select* from business
		<if test="keyword != null and keyword !=''">	
		where upper (bus_name) like '%'|| upper(#{keyword}) || '%'
		</if> 
		where bus_type= 'SELL'
	</select>
	<!-- 대소문자 구별 및 값이 비슷한 경우도 나오게 하는기능 -->
	
	
	<!-- 자동으로 주문번호 등록 -->
	<select id='makeCode' 
		resultType = 'string'>
		select get_order_num() from dual
	</select>
	
	<!-- 일반페이지 상세 주문 등록 페이지 -->
	<select id="ordList"
	resultType='ordVO'>
	select d.ORD_DET_ID, d.ORD_QT, d.ORD_STAT_DET, d.CP_ID, c.CP_NAME ,S.ORD_ID, d.ORD_DET_PRICE, d.ORD_SALE_PRICE, TO_CHAR(d.ORD_END_DATE, 'yyyy-MM-dd') as ORD_det, c.CP_SIZE
	from SORDER s , DET_ORD d, COMPLETE_PROD c
	where s.ORD_ID = d.ORD_ID
	and c.CP_ID = d.CP_ID
	</select>
	
	<!-- 모달창 주문목록 페이지 -->
	<select id="prodList"
		resultType='ProductVO'>
		select* from complete_prod
	</select>
	
	<!-- 주문등록 (주문서만) -->
	<insert id="orderAdd" parameterType="InvVO">
	<selectKey keyProperty="ordId" resultType="string" order="BEFORE">
		select get_order_num() from dual
	</selectKey>
	insert into SORDER values(
	#{ordId}, TO_DATE(#{ordDate}, 'yyyy-MM-dd hh24:mi:ss'),#{ordStat}, #{empId} , #{busId})
	</insert>
	
	<!-- 상세주문등록 -->
	<insert id="ordDetAdd" parameterType="OrdVO">
	<selectKey keyProperty="ordDetId" resultType="string" order="BEFORE">
		select #{ordId} || '-' || NVL((select (substr(max(ord_det_id),15) +1) from det_ord where ord_id = #{ordId}) ,1) from dual		
	</selectKey>	
	insert into det_ord 
	values(	#{ordDetId}, 
	        #{ordQt}, 
	        #{ordStatDet}, 
	        #{cpId}, 
	        #{ordId}, 
	        #{ordDetPrice} , 
	        TO_DATE(#{ordEndDate}, 'yyyy-MM-dd hh24:mi:ss'), 
	        #{ordSalePrice} 
	)
	</insert>
	
	<!-- 진행중인 주문서 조회 페이지 가장 하단 부분 -->
	<select id="orderingList" resultType='InvVO'>
	
	select s.ord_id, TO_CHAR(s.ord_date, 'yyyy-MM-dd') as ord_date, b.bus_name, b.bus_id, b.bus_num, get_com_name(s.ord_stat) ord_stat_name
	from SORDER s, BUSINESS b
	where s.bus_id = b.bus_id
	and s.ord_stat = 'ORD_ING'
	ORDER BY TO_DATE(SUBSTR(s.ord_id, 4, 6), 'YYMMDD') DESC, TO_NUMBER(SUBSTR(s.ord_id, INSTR(s.ord_id, '-') + 1))DESC
	
	</select>

	<!-- 진행중인 주문서 행을 클릭을 하게되면 거기에 맞는 주문서가 화면에 나오도록 -->
	<select id="firstOrderingList" resultType='InvVO'>
	select s.ord_id, s.ord_date, e.emp_name, e.emp_id, b.bus_num,b.bus_id,b.bus_name,b.bus_addr,b.bus_tell
	from SORDER s, BUSINESS b, EMPLOYEE e
	where s.BUS_ID = b.BUS_ID
	and s.emp_ID = e.emp_ID
	and s.ord_id = #{keyword}
	</select>

	<!--  진행중인 주문서 행을 클릭을 하게되면 거기에 맞는 상세 주문서가 화면에 나오도록 -->
	<select id="secondOrderingList" resultType='OrdVO'>
	select d.ORD_DET_ID, d.ORD_QT, get_com_name(d.ORD_STAT_DET) ord_stat_det_name, d.CP_ID, c.CP_NAME ,S.ORD_ID, d.ORD_DET_PRICE, d.ORD_SALE_PRICE, d.ORD_END_DATE, c.CP_SIZE
	from SORDER s , DET_ORD d, COMPLETE_PROD c
	where s.ORD_ID = d.ORD_ID
	and c.CP_ID = d.CP_ID
	and s.ord_id = #{keyword}
	</select>
	
	<update id="orderMod" parameterType="InvVO">
	update SORDER
	set emp_id=#{empId}, bus_id=#{busId}
	where ord_id=#{ordId}
	</update>

	<update id="ordDetMod" parameterType="OrdVO">
		update det_ord
		set ord_qt=#{ordQt}, 
		    cp_id=#{cpId}, 
		    ord_det_price=#{ordDetPrice}, 
		    ord_end_date=TO_DATE(#{ordEndDate}, 'yyyy-MM-dd hh24:mi:ss'), 
		    ord_sale_price=#{ordSalePrice}
		where ord_det_id=#{ordDetId}
	</update>
	
	
	<!-- 상세상품제거 -->
	<delete id="productDel" parameterType="OrdVO">
	delete from det_ord where ord_det_id= #{ordDetId}
	</delete>
	
	<!-- 주문서삭제 -->
	<delete id="orderModDel" parameterType="InvVO">
	delete from SORDER where ord_id=#{ordId}
	</delete>
	<delete id="ordDetModDel" parameterType="InvVO">
	delete from det_ord where ord_id=#{ordId}
	</delete>
	
	
	<select id="searchOrder" parameterType="InvVO">
	select s.ord_id, TO_CHAR(s.ord_date, 'yyyy-MM-dd') as ord_date, b.bus_name, b.bus_id, b.bus_num, get_com_name(s.ord_stat) ord_stat_name
	from SORDER s, BUSINESS b
	where s.bus_id = b.bus_id
	ORDER BY TO_DATE(SUBSTR(s.ord_id, 4, 6), 'YYMMDD') DESC, TO_NUMBER(SUBSTR(s.ord_id, INSTR(s.ord_id, '-') + 1))DESC
	</select>
	
</mapper>