<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.sixsu.app.sales.mapper.ShipMapper">
	<sql id="tite">
      <if test="cpId != null and cpId != ''.toString()">
         and (p.cp_id = #{cpId})
      </if>
   	  <if test="startDate != null and startDate != ''.toString() and endDate != null and endDate != ''.toString()">
         and (s.ord_date  between to_date(#{startDate}, 'YYYY-MM-DD') and
                     to_date(#{endDate}|| ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS') )
      </if>
	</sql>
	
	
<select id="orderingList" resultType= "OrdVO">
	select b.bus_name, to_char(s.ord_date, 'yyyy-MM-dd') ord_date, to_char(d.ord_end_date, 'yyyy-MM-dd') ord_end_date, s.ord_id, d.ord_det_id, p.cp_id, p.cp_name, d.ord_qt
	from det_ord d 
	left outer join sorder s 
	on d.ord_id = s.ord_id
	left outer join pro_ship t
	on t.ord_det_id = d.ord_det_id
    left outer join complete_prod p
	on p.cp_id = d.cp_id
	left outer join business b
	on b.bus_id = s.bus_id
	where t.cp_ship_id is null
	<include refid="tite"></include>
	order by s.ord_date desc
</select>
<select id="lotProducts" resultType="LotVO">
<!--  select* 
from prod_lot l, complete_prod p, prod_rev R
where l.cp_id = p.cp_id
and r.cp_lot_id = l.cp_lot_id
and l.cp_lot_qt_ck = 'Y'
and l.cp_lot_qt != 0
and l.cp_id= #{keyword}
order by r.cp_rec_date-->


		select *
		from prod_lot l 
		LEFT OUTER JOIN complete_prod p
		ON l.cp_id = p.cp_id
		LEFT OUTER JOIN prod_rev r
		ON r.cp_lot_id = l.cp_lot_id
		WHERE l.cp_lot_qt_ck = 'LOT_Y'
		and l.cp_lot_qt != 0
		and l.cp_id= #{keyword}
		order by r.cp_rec_date

</select>
<!-- 모달창에 자동으로 총수량이 뜨도록 하는기능 -->
	<select id='totalQt' 
		parameterType = 'string' resultType="int">
		select get_total_product_num(#{keyword}) from dual
	</select>
	
	<!-- 자동으로 출고번호등록 -->
	<select id="shipCode" resultType='String'>
	select get_pro_ship_num() from dual
	</select>
	
	<insert id="insertProShip" parameterType='ShipVO'>
	<selectKey resultType="ShipVO" keyProperty="cpShipId,cpShipReqDate" order="BEFORE">
	select get_pro_ship_num cp_ship_id, to_char(sysdate, 'yyyy/MM/dd') cp_ship_req_date
	from dual
	</selectKey>
	insert into pro_ship values(#{cpShipId},#{ordDetId},#{cpLotId},#{cpShipQt},#{empId},To_DATE(#{cpShipReqDate}, 'yyyy/MM/dd'), #{cpShipStat},null)
	</insert>	
	<update id="updateCpLot" parameterType="LotVO">
		UPDATE prod_lot
		SET cp_lot_qt=#{cpLotQt}, cp_hold=#{cpHold}
		WHERE cp_lot_id=#{cpLotId}
	</update>
	<!--출고대기 열에 나오는 품목 -->
	<select id="readyShipList" resultType="ShipVO" >
	Select p.ord_det_id, p.cp_ship_id, p.cp_lot_id, p.cp_ship_qt, to_char(p.cp_ship_req_date, 'yyyy-MM-dd') cp_ship_req_date, get_com_name(p.cp_ship_stat) cp_ship_stat, b.bus_addr, b.bus_id, b.bus_name, b.bus_num, b.bus_tell
	from pro_ship p 
	left outer join det_ord d
    on p.ord_det_id = d.ord_det_id
    LEFT OUTER JOIN SORDER s
    on d.ord_id = s.ord_id
    Left OUTER JOIN BUSINESS b
    on s.bus_id = b.bus_id
	where p.cp_ship_stat = 'CP_SHIP_COMP'
	<if test="keyword != null and keyword !=''">
	and d.ord_det_id = #{keyword}
	</if>
	</select>
	
	<select id="completeShip" statementType="CALLABLE">
	 {call ship_pro(
	 	#{ordDetId, mode=IN , jdbcType=VARCHAR}
	 )}
	</select>	
	
	
	<sql id="criteria">

      <if test="cpId != null and cpId != ''.toString()">
         and(c.cp_id = #{cpId})
      </if>
      <if test="cpShipStat != null and cpShipStat != 'all'.toString() and cpShipStat != ''.toString()" >
         and ( t.cp_ship_stat = #{cpShipStat})
      </if>    
      <if test="startDate != null and startDate != ''.toString() and endDate != null and endDate != ''.toString()">
         and (t.cp_ship_req_date  between to_date(#{startDate}, 'YYYY-MM-DD') and
                     to_date(#{endDate}|| ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS') )
      </if>
 
</sql>

  
  
  <select id="searchShip"
  		resultType="ShipVO">
  	 	select t.cp_ship_id, TO_CHAR(t.cp_ship_req_date, 'yyyy-MM-dd') cp_ship_req_date, t.ord_det_id, b.bus_name, t.cp_lot_id, c.cp_id, c.cp_name, t.cp_ship_qt, get_com_name(t.cp_ship_stat) cp_ship_stat
        from pro_ship t
        left outer join prod_lot p
        on t.CP_LOT_ID = p.CP_LOT_ID
        left outer join COMPLETE_PROD c
        on c.cp_id = p.cp_id
        left outer join det_ord d
        on d.ord_det_id = t.ord_det_id
        left outer join sorder s
        on s.ord_id = d.ord_id
        left outer join business b
        on s.bus_id = b.bus_id
        where (t.cp_ship_stat ='CP_SHIP_C'
        or t.cp_ship_stat ='CP_SHIP_COMP')
  		<include refid="criteria"></include>
  </select>
  
  
 </mapper>