<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>반제품입고관리</title>
	<!-- 	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/> -->
	<style>
		h1 {
			margin-bottom: 20px;
		}

		h3 {
			padding: 40px 20px 0px 20px;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">반제품입고관리</h1>
		<h3 class="mt-4" style="font-family: 'MaruBuri';">입고 대기 목록</h3>
		<div id="readyGrid"></div>
		<h3 class="mt-4" style="font-family: 'MaruBuri';">입고 목록</h3>
		<div id="grid"></div>

		<script>
			window.onload = function () {
				$.ajax({
					url: "",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grids.resetData(result);
						//console.log(result);
					},
					error: function (reject) {
						console.log(reject);
					}
				});

				$.ajax({
					url: "",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
						//console.log(result);
					},
					error: function (reject) {
						console.log(reject);
					}
				});
			};

			//입고대기 리스트
			const readyGrid = new tui.Grid({
				el: document.getElementById('readyGrid'),
				scrollX: false,
				scrollY: true,
				rowHeaders: ['checkbox'],
				columns: [{
						header: '작업지시코드',
						name: 'wkDetaId'
					},
					{
						header: '반제품코드',
						name: 'spId'
					},
					{
						header: '반제품명',
						name: 'spName'
					},
					{
						header: '반제품규격',
						name: 'spSize'
					},
					{
						header: '양품수량',
						name: 'goodQt'
					},
					{
						header: '생산종료일',
						name: 'cmpltDate'
					},
					{
						header: '담당자',
						name: 'empId'
					}
				]
			});

			// 입고 목록
			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				scrollX: false,
				scrollY: false,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				rowHeaders: ['rowNum'],
				columns: [{
						header: '반제품LOT번호',
						name: 'matLotId'
					},
					{
						header: '공정실적번호',
						name: 'matReqId'
					},
					{
						header: '반제품코드',
						name: 'matName'
					},
					{
						header: '반제품명',
						name: 'matRecQt'
					},
					{
						header: '반제품규격',
						name: 'busName'
					},
					{
						header: '입고량',
						name: 'inspDate'
					},
					{
						header: '입고일자',
						name: 'matRecDate'
					},
					{
						header: '담당자',
						name: 'empName'
					}
				]
			});

			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					rowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});
		</script>
	</div>
</body>

</html>