<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>검사항목 관리</title>
	<style>
		h1 {
			margin-bottom: 25px;
		}

		#manageTbl {
			margin: auto;
		}

		#manageTbl input,
		select {
			padding-left: 10px;
			width: 160px;
		}

		#manageTbl td {
			padding: 4px 10px;
			text-align: center;
		}

		.divBtn {
			text-align: center;
			padding: 15px 0 50px 0;
		}

		.modal-body {
			background: #e5edf5;
		}

		.sel {
			width: 100px;
			text-align: center;
			padding: 10px;
			font-size: 15px;
			font-weight: bold;
			float: left;
		}

		.sel:hover {
			cursor: pointer;
		}

		.sel3 {
			background-color: white;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">검사항목 관리</h1>

		<!-- 정보입력 폼 -->
		<form action="" method="post" id="inspForm">
			<table id="manageTbl">
				<input type="hidden" name="inspId" id="inspId" class="empty">
				<tr>
					<td>검사항목명</td>
					<td><input type="text" name="inspName" id="inspName" class="empty"></td>
					<td>검사구분</td>
					<td>
						<select id="inspSep" name="inspSep">
							<option value='' selected>----- 선택 -----</option>
							<option value="적합여부">적합여부</option>
							<option value="수량파악">수량파악</option>
						</select>
					</td>
					<td>기준값</td>
					<td><input type="text" name="stdVal" id="stdVal" class="empty"></td>
				</tr>
				<tr>
					<td>검사제품</td>
					<td colspan="5">
						<input type="text" name="inspItemId" id="inspItemId" class="empty" style="width : 647px;">
						<button type="button" class="sixBtn1" id="pdBtn">
							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" fill="currentColor"
								class="bi bi-search" viewBox="0 2 16 16">
								<path
									d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
							</svg>
						</button>
					</td>
				</tr>
				<tr>
					<td>설명</td>
					<td colspan="5"><input type="text" name="inspExp" id="inspExp" class="empty" style="width : 679px;">
					</td>
				</tr>
			</table>
		</form>
		<div class="divBtn">
			<button type="button" class="sixBtn2" id="addBtn">등록</button>
			<button type="button" class="sixBtn2" id="modiBtn">수정</button>
		</div>
		<!-- 상단 폼 끝 -->

		<div id="grid"></div>

		<!-- 제품 선택 Modal 시작 -->
		<div class="modal fade" id="pdModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="pdModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<!-- 모달 헤더 -->
					<div class="modal-header">
						<h5 class="modal-title" id="pdModalLabel" style="font-family: 'MaruBuri';">제품선택</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<!-- 모달 바디 -->
					<div class="modal-body">
						<div class="sel sel1 sel3">완제품</div>
						<div class="sel sel2">반제품</div>
						<div class="sel sel4">자 재</div>
						<div id="pdGrid"></div>
					</div>
					<!-- 모달 푸터(버튼부분) -->
					<div class="modal-footer">
						<button type="button" class="sixBtn2" id="pdAddBtn">등록</button>
						<button type="button" class="sixBtn2" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 제품 선택 Modal 끝 -->

		<script>
			window.onload = function () {
				// 초기데이터(전체조회)
				$.ajax({
					url: "/quality/getInspList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
					}
				});
			}

			// 조회 그리드 생성
			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				scrollX: false,
				scrollY: false,
				minBodyHeight: 480,
				rowHeaders: ['rowNum'],
				pageOptions: {
					useClient: true,
					perPage: 12
				},
				columns: [{
					header: '검사항목코드',
					name: 'inspId',
					hidden: true
				}, {
					header: '검사항목명',
					name: 'inspName',
					align: 'center'
				}, {
					header: '검사구분',
					name: 'inspSep',
					align: 'center'
				}, {
					header: '설명',
					name: 'inspExp'
				}, {
					header: '기준값',
					name: 'stdVal',
					align: 'center'
				}, {
					header: '검사제품코드',
					name: 'inspItemId'
				}]
			});

			// 그리드 색 변경 테마 적용
			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					rowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});

			const pdGrid = new tui.Grid({
				el: document.getElementById('pdGrid'),
				scrollX: false,
				scrollY: true,
				minBodyHeight: 400,
				rowHeaders: ['checkbox'],
				columns: [{
					header: '제품코드',
					name: 'cpId',
					align: 'center'
				}, {
					header: '제품명',
					name: 'cpName',
					align: 'center'
				}]
			});

			pdGrid.setBodyHeight(400);

			$('#pdBtn').on('click', function (e) {
				$.ajax({
					url: "/basic/activeCpList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						pdGrid.resetData(result);
					},
					error: function (reject) {
						console.log(reject)
					}
				});
				setTimeout(() => pdGrid.refreshLayout(), 500);
				$('#pdModal').modal('show');
			})

			// 제품 선택 모달창 탭 기능(완제품 클릭)
			$('.sel1').on('click', function (e) {
				$('.sel4').removeClass('sel3');
				$('.sel2').removeClass('sel3');
				$(this).addClass('sel3');
				$.ajax({
					url: "/basic/activeCpList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						pdGrid.resetData(result);
					},
					error: function (reject) {
						console.log(reject)
					}
				});
			})

			// 제품 선택 모달창 탭 기능(반제품 클릭)
			$('.sel2').on('click', function (e) {
				$('.sel4').removeClass('sel3');
				$('.sel1').removeClass('sel3');
				$(this).addClass('sel3');
				$.ajax({
					url: "/basic/activeSpList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						pdGrid.resetData(result);
					},
					error: function (reject) {
						console.log(reject)
					}
				});
			})

			// 제품 선택 모달창 탭 기능(자재 클릭)
			$('.sel4').on('click', function (e) {
				$('.sel2').removeClass('sel3');
				$('.sel1').removeClass('sel3');
				$(this).addClass('sel3');
				$.ajax({
					url: "/basic/activeMatList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						pdGrid.resetData(result);
					},
					error: function (reject) {
						console.log(reject)
					}
				});
			})

			// 모달창 제품 선택 이벤트
			$('#pdAddBtn').on('click', function (e) {
				let pdData = pdGrid.getCheckedRows();
				let pd = '';
				pdData.forEach((ele, index) => {
					pd += ele.cpId
					if (index < pdData.length - 1) {
						pd += ', '
					}
				});
				$('#inspItemId').val(pd);
				$('.sel4').removeClass('sel3');
				$('.sel2').removeClass('sel3');
				$('.sel1').addClass('sel3');
				$('#pdModal').modal('hide');
			})

			// 등록버튼 이벤트
			$('#addBtn').on('click', (e) => {
				$.ajax({
					url: '/quality/addInspList',
					type: 'post',
					data: $('#inspForm').serialize(),
					dataType: 'json',
					success: function (result) {
						alert('성공적으로 등록되었습니다.')
						const setData = result
						grid.appendRow(setData);
						$('.empty').val('');
						$('#inspSep').val('').prop("selected", true);
					},
					error: function (r) {
						console.log(r);
					}
				});
			})

			let selRow = '';
			// 그리드 클릭시 정보 호출
			grid.on('click', (e) => {
				selRow = e.rowKey;
				let rowData = grid.getRow(selRow);
				$('#inspId').val(rowData.inspId);
				$('#inspName').val(rowData.inspName);
				$('#inspExp').val(rowData.inspExp);
				$('#stdVal').val(rowData.stdVal);
				$('#inspItemId').val(rowData.inspItemId);
				$('#inspSep').val(rowData.inspSep).prop("selected", true);
			})

			// 수정버튼 이벤트
			$('#modiBtn').on('click', (e) => {
				$.ajax({
					url: '/quality/updateInspList',
					type: 'post',
					data: $('#inspForm').serialize(),
					dataType: 'json',
					success: function (result) {
						alert('성공적으로 수정되었습니다.')
						const setData = result
						grid.setRow(selRow, setData);
						selRow = '';
						$('.empty').val('');
						$('#inspSep').val('').prop("selected", true);
					},
					error: function (r) {
						console.log(r);
					}
				});
			})
		</script>
	</div>
</body>

</html>