<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<meta charset="UTF-8">
	<title>제품 품질 관리</title>

	<style>


		#topS {
			margin: 10px;
		}
		
		#modifyBtn {
			display : none;
		}
	</style>


</head>

<body>



	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">제품 품질 관리</h1>

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">

					<!-- 발주 번호 검색 버튼 -->
					<label style="font-family: 'MaruBuri';">공정 실적 코드 조회</label>
					<button id="modalBtn" class="sixBtn1" >
						<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" fill="currentColor"
							class="bi bi-search" viewBox="0 2 16 16">
							<path
								d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
						</svg>
					</button>

					<!-- 모달창 세부 지시 코드 조회  -->
					<div class="modal fade" id="detWorkModal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="searchModalLabel">공정 실적
											코드 조회</h1>
										<!-- 							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
 -->
									</div>


									<!-- 	<div class="btns"></div> -->

									<div class="modal-body">
										<div id="dwGrid"></div>
									</div>

									<div class="modal-footer">
										<button type="button" class="sixBtn2" data-bs-dismiss="modal">닫기</button>
										<button type="button" class="sixBtn2" id="addBtn">등록</button>
											
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- 검사 대기 리스트 그리드 부분 -->
					<!-- <label style="font-family: 'MaruBuri';">지시 세부 코드 조회</label> -->
					<div class="rightBtn">
						<button class="sixBtn6" id="rpBtn">검사결과입력</button>
					</div>
					
					<div id="beforeGrid"></div>

<!-- 					검색 항목
					<div id="topS">
						생산지시번호 <input type="text"> 제품명 <input type="text">
						검사일자 <input type="date">
					</div>

					<div id="topS">
						<button class="sixBtn2" id="search">조회</button>
						<button class="sixBtn3" id="reset">초기화</button>
					</div> -->

					<!-- 검사 완료 그리드 -->
					<label style="font-family: 'MaruBuri';">검사 등록 완료</label>
					<!-- <h6 style="font-family: 'MaruBuri';">검사 등록 완료</h6> -->
					<div class="rightBtn">
					<button class="sixBtn2" id="modBtn">수정</button>
					</div>
					<div id="afterGrid"></div>
					
				</div>



				<!-- 검사 결과 등록 폼 -->
				<div class="col-lg-6" id="formDiv">
					<form action="" method="post" id="prInspForm">
						<!-- display: none;  -->


						<div class="row">
							<div class="col">
								<label for="inspStdId" class="form-label">공정실적코드</label> <input type="text"
									class="form-control empty" id="prcsPfmcId" name="prcsPfmcId">
							</div>

							<div class="col">
								<label for="inspStdId" class="form-label">검사번호</label> <input type="text"
									class="form-control empty" id="inspNum" name="inspNum">
							</div>

							<div class="col">
								<label for="inspStdId" class="form-label">공정</label> <input type="text"
									class="form-control empty" id="procName" name="procName">
							</div>

						</div>

						<div class="row">
							<div class="col">
								<label for="matId" class="form-label">제품코드 </label> <input type="text"
									class="form-control empty" id="pdId" name="pdId">
							</div>


							<div class="col">

								<label for="exampleFormControlInput1" class="form-label">검사자
								</label> <input type="text" class="form-control" id="empId" name="empId"
										  th:value='${#authentication.principal.empName}'>

							</div>
						</div>




						<div class="row">
							<div class="col">
								<label for="inspQt" class="form-label">검사 수량 </label> <input type="text"
									class="form-control empty" id="inspQt" name="inspQt">
							</div>
							<div class="col">
								<label for="suitQt" class="form-label">적합 수량 </label> <input type="text"
									class="form-control empty" id="suitQt" name="suitQt">
							</div>
							<div class="col">
								<label for="nsuitQt" class="form-label">부적합 수량 </label> <input type="text"
									class="form-control empty" id="totNsuitQt" name="totNsuitQt">
							</div>
						</div>
						
						<div class="col">
							<label for="inspQt" class="form-label">비고 </label> <input type="text"
									class="form-control empty" id="inspNote" name="inspNote">
						</div>

					</form>
					<!-- 검사 폼 끝나는 부분 -->


					<!-- 세부 검사 항목 boderBox 시작 -->
					<div id="borderBox" class="detail">
						<h5 class="mt-4" style="font-family: 'MaruBuri';">세부 검사 항목</h5>

						<!-- 세부 검사 항목 그리드 -->

						<div id="detailGrid"></div>
						<!-- 세부 검사 항목 끝나는 부분 -->
						
						<!-- 검사 등록 버튼 -->
						<div class="rightBtn">
						<button type="button" class="sixBtn2" id="inspBtn">등록</button>
						<button type="button" class="sixBtn4" id="modifyBtn">수정하기</button>
						</div>
					</div>

				</div>
			</div>
		</div>



		<script th:inline="javascript">
		let inspResStat = [[${inspResStat}]];
		
			window.onload = function () {
				//검사 결과 등록 전 리스트
				$.ajax({
					url: "/quality/prwList.Ajax",
					method: "GET",
					success: function (result) {
						beforeGrid.resetData(result);

					},
					error: function (reject) {
						console.log(reject);
					}
				})
				
				// 검사 등록 완료 리스트
				$.ajax({
					url: "/quality/prdComList.Ajax",
					method: "GET",
					success: function (result) {
						afterGrid.resetData(result);

					},
					error: function (reject) {
						console.log(reject);
					}
				})


				// 지시 세부 코드 조회 클릭 시 모달창 오픈
				$('#modalBtn').on('click', function (e) {
					$.ajax({
						url: "/quality/bpAddList.Ajax",
						method: "GET",
						success: function (result) {
							$('#detWorkModal').modal('show');
							dwGrid.resetData(result);
							setTimeout(() => dwGrid.refreshLayout(), 500);
						},
						error: function (reject) {
							console.log(reject);
						}
					});

				})

				// 모달 등록
				$('#addBtn').on('click', function (e) {
					// 등록할 데이터
					let checkedRows = dwGrid.getCheckedRows();

					if (checkedRows.length === 0) {
						Msg.warning('검사를 선택 후 등록해주세요.', 2000);
						//alert('검사를 선택 후 등록해주세요.');
					} else {
						// Ajax를 통해 데이터를 서버로 전송하고 등록 성공 후 처리
						$.ajax({
							url: "/quality/bpdAdd.Ajax",
							method: "POST",
							contentType: 'application/json',
							data: JSON.stringify(dwGrid.getCheckedRows()),
							success: function (result) {
								//alert('공정 검사가 등록되었습니다.');
								Msg.success('등록이 완료되었습니다.', 2000);
								console.log(result);
								const appendedData = result;
								beforeGrid.appendRow(appendedData); // 완료된 후 본문 그리드에 append
								$('#detWorkModal').modal('hide');
								dwGrid.removeCheckedRows(false);

								// 업데이트 된 데이터 출력
								$.ajax({
									url: "/quality/prwList.Ajax",
									method: "GET",
									dataType: "JSON",
									success: function (result) {
										beforeGrid.resetData(result);
									},
									error: function (reject) {
										console.log(reject);
									}
								});
							},
							error: function (reject) {
								//alert('공정 검사 등록 중 에러가 발생하였습니다.');
								Msg.error('공정 검사 등록 중 에러가 발생하였습니다.', 2000);
							}
						});
					}
				});

				// 검사 결과 등록을 위한 beforeGrid 한 줄 선택해서 정보 가져오기
				let selInspNum;
				let selWkDetaId;
				let selPrcsPfmcId;
				let selPdId;
				let selProcName;
				let selDetaQt;

				beforeGrid.on('focusChange', (ev) => {
					// 행 전체 정보 얻기
					let dataRow = beforeGrid.getRow(ev.rowKey);
					console.log(dataRow);

					//selReq = dataRow;
					console.log('검사번호 : ' + dataRow.inspNum);
					selInspNum = dataRow.inspNum;
					selwkDetaId = dataRow.wkDetaId;
					selPrcsPfmcId = dataRow.prcsPfmcId;
					selPdId = dataRow.pdId;
					selProcName = dataRow.procName;
					selDetaQt = dataRow.detaQt;
					selGoodQt = dataRow.goodQt;
					selDmatQt = dataRow.dmatQt;

					console.log("selDmatQt" + selPdId);
				}); // focusChange 끝



				// 검사 결과 등록 버튼 클릭 이벤트
				$('#rpBtn').on('click', function (e) {
					console.log('rpBtn 클릭');
					$('#prInspForm').css('display', 'block');
					$(".detail").css('display', 'block');
					$('#modifyBtn').css('display', 'none');
					$('#inspBtn').css('display', 'block');
					

					console.log("선택한검사번호:" + selInspNum);

					// 선택한 결과 주입
					$('#prcsPfmcId').val(selPrcsPfmcId);
					$('#inspNum').val(selInspNum);
					$('#procName').val(selProcName);
					$('#pdId').val(selPdId); // 검사 제품 코드
					$('#inspQt').val(selDetaQt);
					$('#suitQt').val(selGoodQt);
					$('#totNsuitQt').val(selDmatQt);

					console.log("ajax 호출 전 pdID:" + selPdId);

					// 검사 항목 ajax 호출
					$.ajax({
						url: "/quality/inspItem.Ajax",
						method: "GET",
						data: {
							'matId': selPdId
						},
						dataType: "JSON",
						success: function (result) {
							console.log(result);
							detailGrid.resetData(result);
							detailGrid.setColumnValues('inspNum', selInspNum, false);
							detailGrid.setColumnValues('resStat', 'STAT-C', true);// resStat 초기값 설정

						},
						error: function (reject) {
							console.log(reject);
						}
					});

				}) // 검사 결과 등록 버튼 이벤트 끝

				// 폼 등록 버튼 클릭 이벤트
				$('#inspBtn').on('click', function (e) {
					console.log('결과 등록 detailGrid 확인')
					console.log(detailGrid.getData());
					console.log( $('#prInspForm').serialize());

					$.ajax({
						url: '/quality/prdComUpdate.Ajax',
						type: 'post',
						data: $('#prInspForm').serialize(),
						dataType: 'json',
						success: function (result) {
							console.log('qua_com_update:' + result);
							//afterGrid.prependRow(result);
							
							//2023.06.09
							$.ajax({
								url: "/quality/prdComList.Ajax",
								method: "GET",
								success: function (result) {
									afterGrid.resetData(result);
			
								},
								error: function (reject) {
									console.log(reject);
								}
							})
						},
						error: function (reject) {
							console.log(reject);
						}

					})
					
					//등록&update
					$.ajax({
						url: '/quality/priRegister.Ajax',
						type: 'post',
						data: JSON.stringify(detailGrid.getData()),
						contentType: 'application/json',
						success: function (result) {

							console.log("등록&업데이트:"+result);
							Msg.success('등록이 완료되었습니다.', 2000);
							//alert('검사 결과값 등록이 완료되었습니다.');
							// 등록 완료 후 폼과 그리드 숨기고 초기화
							$('.empty').val('');
							//detailGrid.resetData();
							detailGrid.clear();
							beforeGrid.removeRow(selRowKey);


						},
						error: function (reject) {
							console.log(reject);
							//alert('검사 결과값 등록에 실패했습니다.')
							Msg.error('제품 검사 등록 중 에러가 발생하였습니다.', 2000);
						}
					});
					
					// 검사 등록 완료 리스트 재출력
					$.ajax({
						url: "/quality/prdComList.Ajax",
						method: "GET",
						success: function (result) {
							afterGrid.resetData(result);

						},
						error: function (reject) {
							console.log(reject);
						}
					})
					

				}) // 폼 등록 버튼 이벤트 끝
				
				// 검사 완료 그리드 값 가져오기
				afterGrid.on('focusChange', (ev) => {
					
					aselKey = ev.rowKey;

				// 행 전체 정보 얻기
				let afterDataRow = afterGrid.getRow(ev.rowKey);
				console.log(afterDataRow);
				afterInspNum = afterDataRow.inspNum;
				afterPdId = afterDataRow.pdId;
				afterPdName = afterDataRow.pdName;
				afterInspQt = afterDataRow.detaQt;
				afterSuitQt = afterDataRow.goodQt;
				afterNsuitQt = afterDataRow.dmatQt;
				afterEmpId = afterDataRow.empId;
				afterStdId = afterDataRow.inspStdId;
				afterProcId = afterDataRow.procId;
				afterPrcsPfmcId = afterDataRow.prcsPfmcId;
				afterProcName = afterDataRow.procName;
			});
				
				// 수정 버튼 클릭 이벤트
				// 수정 버튼 클릭 시
				$('#modBtn').on('click', function () {
					if (aselKey === null) {
						//alert("수정할 검사를 선택하세요.");
						Msg.warning('수정할 검사를 선택하세요.', 2000);
						return;
					}

					$('#prInspForm').css('display', 'block');
					$(".detail").css('display', 'block');
					$('#modifyBtn').css('display', 'block');
					$('#inspBtn').css('display', 'none');
					console.log("afterPdId: " + afterPdId);


					// 선택된 결과 주입
					$('#inspStdId').val(afterStdId);
					$('#inspNum').val(afterInspNum);
					$('#prcsPfmcId').val(afterPrcsPfmcId);
					$('#pdId').val(afterPdId);
					$('#pdName').val(afterPdName);
					$('#inspQt').val(afterInspQt);
					$('#suitQt').val(afterSuitQt);
					$('#totNsuitQt').val(afterNsuitQt);
					$('#procName').val(afterProcName);
					$('#empId').val(afterEmpId);


					// 검사 항목 ajax 호출
					$.ajax({
						url: "/quality/modInspItem.Ajax",
						method: "GET",
						data: {
							'inspNum': afterInspNum
						},
						dataType: "JSON",
						success: function (result) {
							console.log(result);
							detailGrid.resetData(result);
							detailGrid.setColumnValues('inspNum', afterInspNum, false);
							setTimeout(() => detailGrid.refreshLayout(), 500);

						},
						error: function (reject) {
							console.log(reject);
						}
					});
				});

			} //window.onload 함수 종료




			// 세부 지시 코드 조회 그리드
			const dwGrid = new tui.Grid({
				el: document.getElementById('dwGrid'),
				scrollX: false,
				scrollY: false,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				rowHeight: 45,
				bodyHeight: 320,
				rowHeaders: ['checkbox'],

				columns: [{
					header: '공정실적코드',
					name: 'prcsPfmcId',
					align: 'center',
					sortable: true
				}, {
					header: '제품코드',
					name: 'pdId',
					align: 'center'

				}, {
					header: '공정',
					name: 'procName',
					align: 'center'
				}, {
					header: '검사수량',
					name: 'detaQt',
					align : 'right',
					formatter: ({ value }) => {
						if(value != null){
							return value.toLocaleString();
						}else{
							return 0;
						}
					}
				}, {
					header: '적합수량',
					name: 'goodQt',
					align : 'right',
					formatter: ({ value }) => {
						if(value != null){
							return value.toLocaleString();
						}else{
							return 0;
						}
					}
				}, {
					header: '부적합수량',
					name: 'dmatQt',
					align : 'right',
					formatter: ({ value }) => {
						if(value != null){
							return value.toLocaleString();
						}else{
							return 0;
						}
					}
				}, {
					header: '생산날짜',
					name: 'wkEnd',
					align: 'center',
					hidden : true
				}]
			});

			// 검사 대기 그리드
			const beforeGrid = new tui.Grid({
				el: document.getElementById('beforeGrid'),
				scrollX: false,
				scrollY: false,
				pageOptions: {
					useClient: true,
					perPage: 5
				},
				rowHeight: 45,
				columns: [{
					header: '검사번호',
					name: 'inspNum',
					hidden: true,
					sortable: true
				}, {
					header: '공정실적코드',
					name: 'prcsPfmcId',
					align: 'center',
					sortable: true,
					width: 160
				}, {
					header: '제품코드',
					name: 'pdId',
					align: 'center'

				}, {
					header: '공정',
					name: 'procName',
					align: 'center'
				}, {
					header: '검사수량',
					name: 'detaQt',
					align : 'right',
						formatter: ({ value }) => {
							if(value != null){
								return value.toLocaleString();
							}else{
								return 0;
							}
						}
				},  {
					header: '적합수량',
					name: 'goodQt',
					align : 'right',
					formatter: ({ value }) => {
						if(value != null){
							return value.toLocaleString();
						}else{
							return 0;
						}
					}
				}, {
					header: '부적합수량',
					name: 'dmatQt',
					align : 'right',
					formatter: ({ value }) => {
						if(value != null){
							return value.toLocaleString();
						}else{
							return 0;
						}
					}
				}, {
					header: '생산날짜',
					name: 'wkEnd',
					align: 'center'

				}]
			});
			
			// 검사 대기 그리드 클릭 시 셀 색깔 바뀜
			let selRowKey = '';
			beforeGrid.on('click', function(ev){
				if (selRowKey != ev.rowKey) { // 그룹코드 선택 정보가 달라졌다면
					beforeGrid.removeRowClassName(selRowKey, 'cell-pink'); // 지난 그룹코드에서 음영 제거
		            }
				beforeGrid.addRowClassName(ev.rowKey, 'cell-pink'); // 새로운 그룹코드에 음영 넣기
		            selRowKey = ev.rowKey
			})

			// 검사 완료 그리드
			const afterGrid = new tui.Grid({
				el: document.getElementById('afterGrid'),
				//data: [], //빈 배열로 초기화

				scrollX: false,
				scrollY: false,
				rowHeight: 45,
				pageOptions: {
					useClient: true,
					perPage: 5
				},

				columns: [{
					header: '공정실적코드',
					name: 'prcsPfmcId',
					sortable: true,
					align: 'center',
					hidden: true
				}, {
					header: '검사번호',
					name: 'inspNum',
					width: 140,
					align: 'center'

				}, {
					header: '제품코드',
					name: 'pdId',
					align: 'center',
					width: 'auto',
					minWidth: 80

				}, {
					header: '제품명',
					name: 'pdName',
					align: 'center',
					width: 'auto',
					minWidth: 100
				}, {
					header: '공정',
					name: 'procName',
					align: 'center',
					width: 'auto',
					minWidth: '130',
					filter: 'select'
				}, {
					header: '검사수량',
					name: 'detaQt',
					align : 'right',
					width: 'auto',
					minWidth: 85,
					
					formatter: ({ value }) => {
						if(value != null){
							return value.toLocaleString();
						}else{
							return 0;
						}
					}
				}, {
					header: '적합수량',
					name: 'goodQt',
					editor: 'text',
					align : 'right',
					width: 'auto',
					minWidth: 85,
					
					formatter: ({ value }) => {
						if(value != null){
							return value.toLocaleString();
						}else{
							return 0;
						}
					}
				}, {
					header: '부적합 수량',
					name: 'dmatQt',
					align : 'right',
					width: 'auto',
					minWidth: 85,
					formatter: ({ value }) => {
						if(value != null){
							return value.toLocaleString();
						}else{
							return 0;
						}
					}
				}, {
					header: '검사자',
					name: 'empId',
					width: 'auto',
					//minWidth: 90,
					align: 'center'
				}, {
					header: '검사일자',
					name: 'inspDate',
					width: 'auto',
					minWidth: 90,
					sortable: true,
					align: 'center'
				}]
			});
			
			// 검사 완료 그리드 선택 시 셀 색깔 바뀜
			//let selRowKey = '';
			afterGrid.on('click', function(ev){
				if (selRowKey != ev.rowKey) { // 그룹코드 선택 정보가 달라졌다면
					afterGrid.removeRowClassName(selRowKey, 'cell-pink'); // 지난 그룹코드에서 음영 제거
		            }
				afterGrid.addRowClassName(ev.rowKey, 'cell-pink'); // 새로운 그룹코드에 음영 넣기
		            selRowKey = ev.rowKey
			})

			// 검사 세부 항목 그리드
			const detailGrid = new tui.Grid({
				el: document.getElementById('detailGrid'),
				//data: [], //빈 배열로 초기화

				scrollX: false,
				scrollY: true,
				
				rowHeight: 45,

				columns: [{
						header: '검사번호',
						name: 'inspNum',
						hidden: true
					},{
						header: '제품코드',
						name: 'pdId',
						hidden: true
					},{
						header: '검사세부번호',
						name: 'detInspNum',
						hidden: true
					},
					{
						header: '검사 항목 코드',
						width: 130,
						name: 'inspId',
						align: 'center',
						hidden: true

					},
					{
						header: '항목명',
						width: 130,
						name: 'inspName',
						align: 'center'
					},
					{
						header: '설명',
						name: 'inspExp',
						align: 'center'
					},
					{
						header: '기준값',
						width: 'auto',
						minWidth: 130,
						name: 'stdVal',
						align: 'center'
					}, {
						header: '결과값',
						width: 'auto',
						name: 'resVal',
						editor: 'text',
						formatter: ({ value }) => {
							if(value != null){
								return value.toLocaleString();
							}else{
								return 0;
							}
						},
						align: 'center'
					},
					 {
						header: '부적합 수량',
						width: 'auto',
						name: 'nsuitQt',
						editor: 'text',
						formatter: ({ value }) => {
							if(value != null){
								return value.toLocaleString();
							}else{
								return 0;
							}
						},
						align: 'center'
						
					}, 
					{
						header: '적합여부',
						width: 110,
						name: 'resStat',
						align: 'center',
						formatter: 'listItemText',
				          editor: 
				          {
				            type: 'select',
				            options: {
				              listItems:inspResStat
				            }
				          }
						
					}
				]
			});
			
			// 검사 세부 항목 그리드의 nsuitQt 값 변경 이벤트
			detailGrid.on('editingStart', (ev) => {
			  if (ev.columnName === 'nsuitQt') {
			    const row = ev.instance.getRow(ev.rowKey);
			    const totNsuitQt = Number($('#totNsuitQt').val());
			    let totalNsuitQt = 0;
			    totalNsuitQt += Number(row.nsuitQt || 0);
			    if (totalNsuitQt > totNsuitQt) {
			      //alert('부적합 수량은 총 부적합 수량을 초과할 수 없습니다.');
			      Msg.warning('부적합 수량은 총 부적합 수량을 초과할 수 없습니다.', 2000);
			      ev.stop();
			    }
			  }
			});
			
			// 수정하기 버튼 클릭 이벤트
			$('#modifyBtn').on('click', function () {
				

				// 검사 공통 업데이트 ajax 실행
				quaComUpdateAjax();

				// 검사 상세 업데이트 ajax
				$.ajax({
					url: '/quality/updateQd.Ajax',
					type: 'post',
					data: JSON.stringify(detailGrid.getData()),
					contentType: 'application/json',
					success: function (result) {

						console.log(result);
						//alert('검사 결과값 수정이 완료되었습니다.');
						Msg.success('수정이 완료되었습니다.', 2000);
						
						$('.empty').val('');
						detailGrid.clear();

					},
					error: function (reject) {
						console.log(reject);
						Msg.error('검사 결과값 수정에 실패했습니다.', 2000);
					}
				});


			})

			// 검사 공통 아작스 호출 함수
			function quaComUpdateAjax() {

				//qua_com update
				console.log($('#prInspForm').serialize());
				$.ajax({
					url: '/quality/priRegUpdate.Ajax',
					type: 'post',
					data: $('#prInspForm').serialize(),
					dataType: 'json',
					success: function (result) {
						console.log('qua_com_update:' + result);
					},
					error: function (reject) {
						console.log(reject);
					}

				})

			}


			// 그리드 높이 고정
			detailGrid.setBodyHeight(400);
			beforeGrid.setBodyHeight(280);
			afterGrid.setBodyHeight(280);
 
			// Toast 의 값이 변경될 때마다 호출되는 이벤트 핸들러 등록
			detailGrid.on('editingFinish', function (e) {
				if (e.columnName === 'nsuitQt') {
					if(checkNsuitQt()) // 수량 초과 여부 확인
						detailGrid.setValue(e.rowKey, 'resStat', 'STAT-C');
				} else if (e.columnName === 'resVal') {
					let compareData = detailGrid.getRow(e.rowKey);
					let standard = compareData.stdVal;
					let myVal = compareData.resVal;
					if (myVal <= standard) {
						detailGrid.setValue(e.rowKey, 'resStat', 'STAT-A');
					} else {
						detailGrid.setValue(e.rowKey, 'resStat', 'STAT-B');
					}
				}

			});
			
		// 총 수량 초과 여부 확인
		function checkNsuitQt() {
			//합계 계산
		  	const rows = detailGrid.getData();
		  	let totalNsuitQt = 0;
		  	rows.forEach(function (row) {
		    	const nsuitQt = parseInt(row.nsuitQt);
		    
		    	if (!isNaN(nsuitQt)) {
		    		totalNsuitQt += nsuitQt;
		    	}
		 	});
		 
			// 수량 체크
		  	const totNsuitQt = parseInt($('#totNsuitQt').val());
		  	if (totalNsuitQt > totNsuitQt) {
		  		Msg.warning('부적합 수량은 총 부적합 수량을 초과할 수 없습니다.', 2000);
			    
			    let cell = detailGrid.getFocusedCell();
			    let prevNsuitQt = detailGrid.getValue(cell.rowKey, 'nsuitQt');
			    
			    detailGrid.setValue(cell.rowKey, 'nsuitQt', '0');
			    
			    return false; // 등록을 중지하기 위해 false 반환
		  	}


		  	return true; // 등록을 진행하기 위해 true 반환
		}
			 
			 
		</script>
	</div>
</body>

</html>