<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<meta charset="UTF-8">
<title>제품 품질 관리</title>

<style>
.detail {
	display: none;
}

#prInspForm {
	display: none;
}
</style>


</head>

<body>



	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">제품 품질 관리</h1>
		<!-- 검색 항목 -->
		<div id="topS">
			생산지시번호 <input type="text">		
		</div>
		<div id="topS">
			제품명 <input type="">		
		</div>
		<div id="topS">
			검사일자 <input type="date">		
		</div>
		<div id="topS">
			<button class="sixBtn2" id="search">조회</button>
			<button class="sixBtn3" id="search">초기화</button>
		</div>




			<script>

			</script>
		</div>
</body>

</html>