<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<meta charset="UTF-8">
<title>(주)SIXSU</title>

<style>
.col-6 input[type="text"], .col-6 button {
	display: inline-block;
	vertical-align: middle;
}
</style>

</head>

<body>



	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">자재 입고 검사</h1>
		<!-- <label>발주 번호</label>
	<input type=text> -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8">
					<!-- 토스트 그리드 코드 -->
					<!-- 발주 번호 검색 버튼 -->
					<label>발주 번호 검색</label>
					<button class="sixBtn1" data-bs-toggle="modal"
						data-bs-target="#regModal">
						<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
							fill="currentColor" class="bi bi-search" viewBox="0 2 16 16">
                            <path
								d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
					</button>

					<!-- <button type="button" class="btn btn-primary m-5"
			data-bs-toggle="modal" data-bs-target="#staticBackdrop">찾기</button> -->

					<!-- 검사 등록 모달창 -->
					<!-- Modal -->
					<div class="modal fade" id="regModal" data-bs-backdrop="static"
						data-bs-keyboard="false" tabindex="-1"
						aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="staticBackdropLabel">입고 검사 등록</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div id="grid2"></div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">닫기</button>
									<button type="button" class="btn btn-primary" id="regBtn"
										data-bs-target="#regModal">등록</button>
								</div>
							</div>
						</div>
					</div>


					<div id="grid"></div>
					<button class=" sixBtn6" id="rrBtn">검사결과등록</button>
				</div>

				<!-- 자재 검사 결과 등록 폼 -->
				<div class="col-lg-4">
					<form>

						<div class="prInsp"
							style="overflow-y: scroll; overflow-x: hidden;">
							<div class="col-lg-3">
								<select class="form-select" aria-label="insp"
									onchange="toggleForm()">
									<option selected>검사 항목</option>
									<option value="1">PET CHIP</option>
									<option value="2">캡 원료</option>
									<option value="3">라벨</option>
									<option value="3">원수</option>
								</select>
							</div>

							<div class="col-lg-3">
								<button type="button" class="sixBtn8" id="inspIdBtn">검사
									항목 내려받기</button>
							</div>

							<div class="row">
								<div class="col">
									<label for="inspStdId" class="form-label">발주번호 </label> <input
										type="text" class="form-control" id="inspStdId">
								</div>
								<div class="col">
									<label for="busName" class="form-label">거래처 </label> <input
										type="text" class="form-control" id="busName">
								</div>
							</div>

							<div class="row">
								<div class="col">
									<label for="matId" class="form-label">자재코드 </label> <input
										type="text" class="form-control" id="matId">
								</div>

								<div class="col">
									<label for="exampleFormControlInput1" class="form-label">자재명
									</label> <input type="text" class="form-control" id="matName">
								</div>
							</div>

							<div class="col-6">

								<label for="exampleFormControlInput1" class="form-label">검사자
								</label> <input type="text" class="form-control" id="empName">
								<button class="sixBtn1">
									<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
										fill="currentColor" class="bi bi-search" viewBox="0 2 16 16">
                            <path
											d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
								</button>
							</div>


							<div class="row">
								<div class="col">
									<label for="inspQt" class="form-label">검사 대기 수량 </label> <input
										type="text" class="form-control" id="inspQt">
								</div>
								<div class="col">
									<label for="suitQt" class="form-label">입고 가능 수량 </label> <input
										type="text" class="form-control" id="suitQt">
								</div>
								<div class="col">
									<label for="nsuitQt" class="form-label">입고 불가 수량 </label> <input
										type="text" class="form-control" id="nsuitQt">
								</div>
							</div>

							<!-- 세부 검사 항목 boderBox 시작 -->
							<div id="borderBox">
								<h5 class="mt-4" style="font-family: 'MaruBuri';">세부 검사 항목</h5>

							</div>
							<!-- 세부 검사 항목 끝나는 부분 -->

							<!-- PET CHIP 폼 시작 -->
							<form action="" method="post" id="petChip" style="display: none;">
								<label for="package" class="form-label">포장 상태</label> <input
									type="text" class="form-control" id="package">
															<div class="col-lg-3">
								
							</div>
							</form>

							<button class="sixBtn2">등록</button>

						</div>
					</form>
					<!-- 폼 끝나는 부분 -->
					<div class="prInsp">

						<!-- 폼 요소들 -->
					</div>
				</div>
			</div>
		</div>






		<script>
		
		
		$('#regModal').on('shown.bs.modal', function (e) {
			setTimeout(()=> grid2.refreshLayout(), 1000);
		})
		

	    
 		// 본문 그리드 ajax
		let gridData = [];
		window.onload = function() {
			$.ajax({
				url : "/quality/prInspList",
				method : "GET",
				dataType : "JSON",
				success : function(result) {
					grid.resetData(result);
				}
			});					
		}; 
		

		// 본문 그리드
		const grid = new tui.Grid({
			el : document.getElementById('grid'),
			//data: gridData,
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '발주 번호',
				name : 'inspStdId'
			}, {
				header : '거래처',
				name : 'busName'
			}, {
				header : '자재 코드',
				name : 'matId'
			}, {
				header : '자재 명',
				name : 'matName'
			}, {
				header : '검사 대기 수량',
				name : 'inspQt'
			}]
		});
		
		// 본문 그리드 한 줄 선택해서 정보 가져오기
		let selStdId;
		let selBusName;
		let selMatId;
		let selMatName;
		let selInspQt;
		
		grid.on('focusChange', (ev) => {
		// focus된 셀이 있는 열 전체 select 처리
		grid.setSelectionRange({
		start: [ev.rowKey, 0],
		end: [ev.rowKey, grid.getColumns().length - 1]
		});
		console.log(ev.rowKey)
		 
			// rowKey 얻는법
			// focus된 cell 내의 정보
			const focusCell = grid.getFocusedCell()
			console.log(focusCell)
		
			selKey = ev.rowKey;

			// 열 전체 정보 얻기
			let dataRow = grid.getRow(ev.rowKey);
			console.log(dataRow);
			selReq = dataRow;
			console.log('발주번호 : ' + dataRow.inspStdId);
			selStdId = dataRow.inspStdId;
			selBusName = dataRow.busName;
			selMatId = dataRow.matId;
			selMatName = dataRow.matName;
			selInspQt = dataRow.inspQt;
			});
		
			$('#rrBtn').on('click', function(e){
				$('#inspStdId').val(selStdId);
				$('#busName').val(selBusName);
				$('#matId').val(selMatId);
				$('#matName').val(selMatName);
				$('#inspQt').val(selInspQt);
				
			})
		
			
			// 모달 그리드 ajax
			let gridData2 = [];
			
				$.ajax({
					url : "/quality/proRecList",
					method : "GET",
					dataType : "JSON",
					success : function(result) {
						grid2.resetData(result);
					}
				});
			
			// 모달 그리드

			    const grid2 = new tui.Grid({
			      el: document.getElementById('grid2'),
			      data: gridData2,
			      rowHeaders: [ 'checkbox'
			      ],
			      columns: [
			        {
			          header: '발주 번호',
			          name: 'matReqId'
			        },
			        {
			          header: '거래처',
			          name: 'busName'
			        },
			        {
			          header: '자재 코드',
			          name: 'matId'
			        },
			        {
			          header: '자재 명',
			          name: 'matName'
			        },
			        {
			          header: '검사 수량',
			          name: 'inspQt',
			          editor: 'text'
			        }
			      ]
			    });

			    grid2.on('check', function(ev) {
			      console.log('check', ev);
			    });

			    grid2.on('uncheck', function(ev) {
			      console.log('uncheck', ev);
			    });
			    
			    //row 정보를 가져오기 위한 dataRow 선언
			    let dataRow;
			    let key;
			    
				// row 클릭
				grid2.on('click', ev=> {
               console.log(ev.rowKey)
               console.log(ev.columns)
               //grid.addSelectionOnly(ev.rowKey);
               const focusCell = grid2.getFocusedCell()
               console.log(focusCell)
               
               // 클릭한 row 정보 가져오기
               key=ev.rowKey;
               dataRow = grid2.getRow(ev.rowKey);
               console.log(dataRow);
               
               console.log('등록 수량 : ' + dataRow.inspQt);
            })
				
				// 모달 등록				
				$('#regBtn').on('click', function(e){
					console.log(grid.getCheckedRows());
			        console.log(grid.getCheckedRows().length);
			        
			        let stdid=[];
			        
			        for(let i=0; i < grid.getCheckedRows().length; i++){
			        	console.log(grid.getCheckedRows()[i].matReqId);
			        	matReqIds.push(grid.getCheckedRows()[i].stdid);

			        }
			        
					dataRow=grid2.getRow(key);
					console.log(dataRow);
					
				//등록할 데이터
					let data = dataRow;
					console.log(data);
					//ajax
					$.ajax({
						url : "/quality/prRegister",
						method : "POST",
						contentType: 'application/json',
						data :  {
			                  list: JSON.stringify(matReqIds)
			               },
						success : function(result){
						alert('사원이 성공적으로 등록되었습니다.');
						console.log(result);
						const appendedData = result
						grid.appendRow(appendedData);
						}
				}); 
					/* console.log('숨김 전')
					$('#regModal').modal('hide');
					console.log('숨김 후') */
					grid2.removeCheckedRows(false);
		            grid2.blur();

			});

				// 그리드 색 변경
			    tui.Grid.applyTheme('default', {
		            cell: {
		                header: {
		                    background: '#e5edf5'
		                },
		                rowHeader: {
		                    background: '#e5edf5'
		                },
		                normal: {
		                    background: '#ffffff'
		                }
		            }
		        });
				
				//세부 검사 항목 선택 시 폼 바뀌는 함수
				function toggleForm() {
			    let selectElement = document.querySelector('.form-select');
			    let petChipForm = document.getElementById('petChip');
			
			    if (selectElement.value === '1') {
			      petChipForm.style.display = 'block';
			    } else {
			      petChipForm.style.display = 'none';
			    }
			  }
			
		</script>
	</div>
</body>
</html>