<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<meta charset="UTF-8">
<title>(주)SIXSU</title>

<style>
.col-6 input[type="text"], .col-6 button {
	display: inline-block;
	vertical-align: middle;
}
</style>

</head>

<body>



	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">자재 입고 검사</h1>
		<!-- <label>발주 번호</label>
	<input type=text> -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8">
					<!-- 토스트 그리드 코드 -->
					<!-- 발주 번호 검색 버튼 -->
					<label>발주 번호 검색</label>
					<button class="sixBtn1" data-bs-toggle="modal"
						data-bs-target="#regModal">
						<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
							fill="currentColor" class="bi bi-search" viewBox="0 2 16 16">
                            <path
								d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
					</button>

					<!-- <button type="button" class="btn btn-primary m-5"
			data-bs-toggle="modal" data-bs-target="#staticBackdrop">찾기</button> -->

					<!-- 검사 등록 모달창 -->
					<!-- Modal -->
					<div class="modal fade" id="regModal" data-bs-backdrop="static"
						data-bs-keyboard="false" tabindex="-1"
						aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="staticBackdropLabel">입고 검사 등록</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div id="grid2"></div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">닫기</button>
									<button type="button" class="btn btn-primary" id="regBtn"
										data-bs-target="#regModal">등록</button>
								</div>
							</div>
						</div>
					</div>

					<!-- 본문 그리드 부분 -->
					<div id="grid"></div>

					<button class=" sixBtn6" id="rrBtn" onclick="showPrInspForm()">검사결과등록</button>
				</div>

				<!-- 자재 검사 결과 등록 폼 -->
				<div class="col-lg-4">
					<form action="" method="post" id="prInspForm"
						style="overflow-y: scroll; overflow-x: hidden;">
						<!-- display: none;  -->

						<div class="prInsp">
							<div class="col-lg-3">
								<select class="form-select" aria-label="insp"
									onchange="toggleForm()">
									<option selected>검사 항목</option>
									<option value="1">PET CHIP</option>
									<option value="2">캡 원료</option>
									<option value="3">라벨</option>
									<option value="3">원수</option>
								</select>
							</div>

							<div class="col-lg-3">
								<button type="button" class="sixBtn8" id="inspIdBtn" on
									click="toggleForm()">검사 항목 내려받기</button>
							</div>

							<div class="row">
								<div class="col">
									<label for="inspStdId" class="form-label">발주번호 </label> <input
										type="text" class="form-control" id="inspStdId">
								</div>
								<div class="col">
									<label for="busName" class="form-label">거래처 </label> <input
										type="text" class="form-control" id="busName">
								</div>
							</div>

							<div class="row">
								<div class="col">
									<label for="matId" class="form-label">자재코드 </label> <input
										type="text" class="form-control" id="matId">
								</div>

								<div class="col">
									<label for="exampleFormControlInput1" class="form-label">자재명
									</label> <input type="text" class="form-control" id="matName">
								</div>
							</div>

							<div class="col-6">

								<label for="exampleFormControlInput1" class="form-label">검사자
								</label> <input type="text" class="form-control" id="empName">
								<button class="sixBtn1" id="searchBtn">
									<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
										fill="currentColor" class="bi bi-search" viewBox="0 2 16 16">
                            <path
											d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
								</button>
							</div>


							<div class="row">
								<div class="col">
									<label for="inspQt" class="form-label">검사 대기 수량 </label> <input
										type="text" class="form-control" id="inspQt">
								</div>
								<div class="col">
									<label for="suitQt" class="form-label">입고 가능 수량 </label> <input
										type="text" class="form-control" id="suitQt">
								</div>
								<div class="col">
									<label for="nsuitQt" class="form-label">입고 불가 수량 </label> <input
										type="text" class="form-control" id="nsuitQt">
								</div>
							</div>

							<!-- 세부 검사 항목 boderBox 시작 -->
							<div id="borderBox">
								<h5 class="mt-4" style="font-family: 'MaruBuri';">세부 검사 항목</h5>

							</div>
							<!-- 세부 검사 항목 끝나는 부분 -->

							<!-- PET CHIP 폼 시작 -->
							<form action="" method="post" id="petChipForm"
								style="display: none;">
								<div class="col-lg-3">
									<label for="package" class="form-label">포장 상태</label> <input
										type="text" class="form-control" id="package">

								</div>
								<div class="col-lg-3">
									<label for="package" class="form-label">이물 혼입</label> <input
										type="text" class="form-control" id="package">

								</div>
								<div class="col-lg-3">
									<label for="package" class="form-label">고유 점도</label> <input
										type="text" class="form-control" id="package">

								</div>

								<div class="col-lg-3">
									<label for="package" class="form-label">용융점</label> <input
										type="text" class="form-control" id="package">
								</div>

								<div class="col-lg-3">
									<label for="package" class="form-label">밀도</label> <input
										type="text" class="form-control" id="package">
								</div>

								<div class="col-lg-3">
									<label for="package" class="form-label">중량</label> <input
										type="text" class="form-control" id="package">
								</div>

								<div class="col-lg-3">
									<label for="package" class="form-label">외관</label> <input
										type="text" class="form-control" id="package">
								</div>
							</form>

							<!-- 캡 원료(HDPE) 폼 시작 -->

							<form action="" method="post" id="hdpeForm"
								style="display: none;">
								<div class="col-lg-3">
									<label for="package" class="form-label">색상</label> <input
										type="text" class="form-control" id="package">

								</div>
								<div class="col-lg-3">
									<label for="package" class="form-label">중량</label> <input
										type="text" class="form-control" id="package">

								</div>
								<div class="col-lg-3">
									<label for="package" class="form-label">외관</label> <input
										type="text" class="form-control" id="package">

								</div>

								<div class="col-lg-3">
									<label for="package" class="form-label">용융 지수</label> <input
										type="text" class="form-control" id="package">
								</div>

								<div class="col-lg-3">
									<label for="package" class="form-label">연화점</label> <input
										type="text" class="form-control" id="package">
								</div>

								<div class="col-lg-3">
									<label for="package" class="form-label">밀도</label> <input
										type="text" class="form-control" id="package">
								</div>

							</form>

							<!-- 상표 라벨 폼 시작 -->

							<form action="" method="post" id="labelForm"
								style="display: none;">
								<div class="col-lg-3">
									<label for="package" class="form-label">포장 상태</label> <input
										type="text" class="form-control" id="package">

								</div>
								<div class="col-lg-3">
									<label for="package" class="form-label">롤 표면상태</label> <input
										type="text" class="form-control" id="package">

								</div>
								<div class="col-lg-3">
									<label for="package" class="form-label">외관</label> <input
										type="text" class="form-control" id="package">

								</div>

								<div class="col-lg-3">
									<label for="package" class="form-label">인쇄 상태</label> <input
										type="text" class="form-control" id="package">
								</div>

								<div class="col-lg-3">
									<label for="package" class="form-label">제단 상태</label> <input
										type="text" class="form-control" id="package">
								</div>

							</form>

							<!-- 원수 폼 시작 -->
							<form action="" method="post" id="rawWaterForm"
								style="display: none;">
								<div class="col-lg-3">
									<label for="package" class="form-label">색상</label> <input
										type="text" class="form-control" id="package">

								</div>
								<div class="col-lg-3">
									<label for="package" class="form-label">중량</label> <input
										type="text" class="form-control" id="package">

								</div>
								<div class="col-lg-3">
									<label for="package" class="form-label">외관</label> <input
										type="text" class="form-control" id="package">

								</div>

								<div class="col-lg-3">
									<label for="package" class="form-label">용융지수</label> <input
										type="text" class="form-control" id="package">
								</div>

								<div class="col-lg-3">
									<label for="package" class="form-label">연화점</label> <input
										type="text" class="form-control" id="package">
								</div>

								<div class="col-lg-3">
									<label for="package" class="form-label">밀도</label> <input
										type="text" class="form-control" id="package">
								</div>

							</form>

							<button class="sixBtn2">등록</button>

						</div>
					</form>
					<!-- 폼 끝나는 부분 -->
				</div>
			</div>

			<!-- 모달창 사원조회 -->
			<div class="modal fade" id="searchModal" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="searchModalLabel">사원 조회</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>


							<div class="btns">
								사원이름: <input id="search-text" />
								<button class="sixBtn2" id="search-btn">조회</button>
								<button class="sixBtn2" id="reset-btn">초기화</button>
							</div>

							<div class="modal-body">
								<div id="grid"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>






		<script>
		
		
		$('#regModal').on('shown.bs.modal', function (e) {
			setTimeout(()=> grid2.refreshLayout(), 700);
		})
		

	    
 		// 본문 그리드 ajax
		let gridData = [];
		window.onload = function() {
			$.ajax({
				url : "/quality/prInspList",
				method : "GET",
				dataType : "JSON",
				success : function(result) {
					grid.resetData(result);
				}
			});					
		}; 
		

		// 본문 그리드
		const grid = new tui.Grid({
			el : document.getElementById('grid'),
			//data: gridData,
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '발주 번호',
				name : 'inspStdId'
			}, {
				header : '거래처',
				name : 'busName'
			}, {
				header : '자재 코드',
				name : 'matId'
			}, {
				header : '자재 명',
				name : 'matName'
			}, {
				header : '검사 대기 수량',
				name : 'inspQt'
			}]
		});
		
		// 본문 그리드 한 줄 선택해서 정보 가져오기
		let selStdId;
		let selBusName;
		let selMatId;
		let selMatName;
		let selInspQt;
		
		grid.on('focusChange', (ev) => {
		// focus된 셀이 있는 열 전체 select 처리
		grid.setSelectionRange({
		start: [ev.rowKey, 0],
		end: [ev.rowKey, grid.getColumns().length - 1]
		});
		console.log(ev.rowKey)
		 
			// rowKey 얻는법
			// focus된 cell 내의 정보
			const focusCell = grid.getFocusedCell()
			console.log(focusCell)
		
			selKey = ev.rowKey;

			// 열 전체 정보 얻기
			let dataRow = grid.getRow(ev.rowKey);
			console.log(dataRow);
			selReq = dataRow;
			console.log('발주번호 : ' + dataRow.inspStdId);
			selStdId = dataRow.inspStdId;
			selBusName = dataRow.busName;
			selMatId = dataRow.matId;
			selMatName = dataRow.matName;
			selInspQt = dataRow.inspQt;
			});
		
			$('#rrBtn').on('click', function(e){
				$('#inspStdId').val(selStdId);
				$('#busName').val(selBusName);
				$('#matId').val(selMatId);
				$('#matName').val(selMatName);
				$('#inspQt').val(selInspQt);
				
			})
		
			
			// 모달 그리드 ajax
			let gridData2 = [];
			
				$.ajax({
					url : "/quality/proRecList",
					method : "GET",
					dataType : "JSON",
					success : function(result) {
						grid2.resetData(result);
					}
				});
			
			// 모달 그리드

			    const grid2 = new tui.Grid({
			      el: document.getElementById('grid2'),
			      data: gridData2,
			      
			      pageOptions: {
						useClient: true,
						perPage: 10
					},
			      
			      rowHeaders: [ 'checkbox'
			      ],
			      
			      columns: [
			        {
			          header: '발주 번호',
			          name: 'matReqId'
			        },
			        {
			          header: '거래처',
			          name: 'busName'
			        },
			        {
			          header: '자재 코드',
			          name: 'matId'
			        },
			        {
			          header: '자재 명',
			          name: 'matName'
			        },
			        {
			          header: '검사 수량',
			          name: 'inspQt',
			          editor: 'text'
			        }
			      ]
			    });

			    grid2.on('check', function(ev) {
			      console.log('check', ev);
			    });

			    grid2.on('uncheck', function(ev) {
			      console.log('uncheck', ev);
			    });
			    
			    //row 정보를 가져오기 위한 dataRow 선언
			    let dataRow;
			    let key;
			    
				// row 클릭
				grid2.on('click', ev=> {
               console.log(ev.rowKey)
               console.log(ev.columns)
               //grid.addSelectionOnly(ev.rowKey);
               const focusCell = grid2.getFocusedCell()
               console.log(focusCell)
               
               // 클릭한 row 정보 가져오기
               key=ev.rowKey;
               dataRow = grid2.getRow(ev.rowKey);
               console.log(dataRow);
               
               console.log('등록 수량 : ' + dataRow.inspQt);
            })
				
				// 모달 등록				
				$('#regBtn').on('click', function(e){
					console.log(grid2.getCheckedRows());
			        console.log(grid2.getCheckedRows().length);
			        
			        let stdIds=[];
			        
			        for(let i=0; i < grid2.getCheckedRows().length; i++){
			        	console.log(grid2.getCheckedRows()[i].matReqId);
			        	stdIds.push(grid2.getCheckedRows()[i].matReqId);

			        }
			        
					dataRow=grid2.getRow(key);
					console.log(dataRow);
					
				//등록할 데이터
					let data = dataRow;
					console.log(data);
					//ajax
					$.ajax({
						url : "/quality/prRegister",
						method : "POST",
						contentType: 'application/json',
						data :  {
			                  stdIds: JSON.stringify(stdIds)
			               },
						success : function(result){
						alert('입고 검사가 등록되었습니다.');
						console.log(result);
						const appendedData = result
						grid.appendRow(appendedData); // 완료된 후 본문 그리드에 append
						}
				}); 
					/* console.log('숨김 전')
					$('#regModal').modal('hide');
					console.log('숨김 후') */
					//grid2.removeCheckedRows(false);
		            grid2.blur();

			});

				// 그리드 색 변경
			    tui.Grid.applyTheme('default', {
		            cell: {
		                header: {
		                    background: '#e5edf5'
		                },
		                rowHeader: {
		                    background: '#e5edf5'
		                },
		                normal: {
		                    background: '#ffffff'
		                }
		            }
		        });
				
			 // 모달창 전체 사원 리스트
				$.ajax({
					url : "/sales/empList",
					method : "GET",
					dataType : "JSON",
					success : function(result) {
						grid.resetData(result);
					}
				});
				$('#searchModal').on('show.bs.modal',function(e){
					console.log ('사원 모달');
					setTimeout(()=>grid.refreshLayout(),1000);
				})
				
				//
				function showPrInspForm() {
  				let prInspForm = document.querySelector('#prinsForm');
  				prInspForm.style.display = 'block';
				}
				
				//세부 검사 항목 선택 시 폼 바뀌는 함수
				function toggleForm() {
			    var selectElement = document.getElementById("inspSelect");
			    var selectedOption = selectElement.options[selectElement.selectedIndex].value;
			
			    // 모든 폼을 숨김
			    document.getElementById("petChipForm").style.display = "none";
			    document.getElementById("hdpeForm").style.display = "none";
			    document.getElementById("labelForm").style.display = "none";
			    document.getElementById("rawWaterForm").style.display = "none";
			
			    // 선택한 항목에 따라 해당 폼을 표시
			    if (selectedOption === "1") {
			      document.getElementById("petChipForm").style.display = "block";
			    } else if (selectedOption === "2") {
			      document.getElementById("hdpeForm").style.display = "block";
			    } else if (selectedOption === "3") {
			      document.getElementById("labelForm").style.display = "block";
			    } else if (selectedOption === "4") {
			      document.getElementById("rawWaterForm").style.display = "block";
			    }
			  }
			
		</script>
	</div>
</body>
</html>