<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<meta charset="UTF-8">
	<title>자재 입고 검사</title>

	<style>
/* 		.detail {
			display: none;
		}
 
		#prInspForm {
			display: none;
		}
*/
		#modifyBtn {
			display: none;
		}

		/* #regModal {} */
		.sel {
			width: 100px;
			text-align: center;
			padding: 10px;
			font-size: 15px;
			font-weight: bold;
			float: left;
		}

		.sel:hover {
			cursor: pointer;
		}

		.sel3 {
			background-color: white;
		}

		.modal-body {
			background: #e5edf5;
		}

		#returnAdd {
			width: 766px;
			margin: auto;
			height: 392px;
			background-color: white;
			padding-top: 110px;
			display: none;
			clear: both;
			margin-bottom: 30px;
		}

		#waterGrid {
			display: none;
		}

		#returnAddForm {
			width: 265px;
			height: 150px;
			background-color: #e5edf5;
			margin: auto;
			text-align: center;
			padding-top: 15px;
			border-radius: 15px;
		}

		#returnTbl {
			margin: auto;
		}

		#returnTbl input {
			padding-left: 8px;
		}
	</style>


</head>

<body>



	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">자재 입고 검사</h1>
		<!-- <label>발주 번호</label>
	<input type=text> -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">

					<!-- 토스트 그리드 코드 -->
					<!-- 발주 번호 검색 버튼 -->
					<label class="mt-4" style="font-family: 'MaruBuri';">입고검사 등록</label>
					<button class="sixBtn1" data-bs-toggle="modal" data-bs-target="#regModal">
						<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" fill="currentColor"
							class="bi bi-search" viewBox="0 2 16 16">
							<path
								d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
						</svg>
					</button>


					<!-- 검사 등록 모달창 -->
					<!-- Modal -->
					<div class="modal fade" id="regModal" data-bs-backdrop="static" data-bs-keyboard="false"
						tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="staticBackdropLabel">입고 검사 등록</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<!-- 탭 -->
									<div class="sel sel1 sel3">발주등록</div>
									<div class="sel sel2">회수등록</div>
									<div class="sel sel4">원수등록</div>
									<!-- 발주 등록 -->
									<div id="grid2"></div>
									<!-- 일반 등록 -->
									<div id="returnAdd">
										<form action="" method="post" id="returnAddForm">
											<table id="returnTbl">
												<tr>
													<td>자재코드</td>
												</tr>
												<tr>
													<td><input type="text" id="returnAddId" name="matId" value="M021">
													</td>
												</tr>
												<tr>
													<td>검사 대기 수량</td>
												</tr>
												<tr>
													<td><input type="text" id="returnAddQt" name="inspQt"></td>
												</tr>
											</table>
										</form>
									</div>
									<!-- 원수 등록 -->
									<div id="waterGrid"></div>
									<!-- 모달바디 끝 -->
								</div>
								<div class="modal-footer">
									<button type="button" class="sixBtn2" data-bs-dismiss="modal">닫기</button>
									<button type="button" class="sixBtn2" id="regBtn"
										data-bs-dismiss="modal">등록</button>
								</div>
							</div>
						</div>
					</div>

					<!-- 본문 그리드 부분 -->
					<!-- <h6 class="mt-4" style="font-family: 'MaruBuri';">검사 결과 등록 전</h6> -->
					<div class="rightBtn">
						<button class="sixBtn6" id="rrBtn">검사결과입력</button>
					</div>
					<div id="grid"></div>

					<h6 class="mt-4" style="font-family: 'MaruBuri';">검사 등록 완료</h6>
					<div id="aiGrid"></div>
					<div class="rightBtn">
					<button class="sixBtn2" id="modBtn">수정</button>
					<button class="sixBtn2" id="delBtn">삭제</button>
					</div>
				</div>
				<!-- 영역 설정 div 끝 -->


				<!-- 자재 검사 결과 등록 폼 -->
				<div class="col-lg-6" id="formDiv">
					<form action="" method="post" id="prInspForm">
						<!-- display: none;  -->


						<div class="row">
							<div class="col">
								<label for="inspStdId" class="form-label">발주번호 </label> <input type="text"
									class="form-control" id="inspStdId" name="inspStdId">
							</div>

							<div class="col">
								<label for="inspStdId" class="form-label">검사번호</label> <input type="text"
									class="form-control" id="inspNum" name="inspNum">
							</div>

							<div class="col">
								<label for="inspStdId" class="form-label">거래처</label> <input type="text"
									class="form-control" id="busName" name="busName">
							</div>

						</div>

						<div class="row">
							<div class="col">
								<label for="matId" class="form-label">자재코드 </label> <input type="text"
									class="form-control" id="matId" name="inspItemId">
							</div>

							<div class="col">
								<label for="exampleFormControlInput1" class="form-label">자재명
								</label> <input type="text" class="form-control" id="matName" name="matName">
							</div>

							<div class="col">

								<label for="exampleFormControlInput1" class="form-label">검사자
								</label> <input th:value='${#authentication.principal.empName}'type="text" class="form-control" id="empName" name="empName">

							</div>
						</div>




						<div class="row">
							<div class="col">
								<label for="inspQt" class="form-label">검사 대기 수량 </label> <input type="text"
									class="form-control" id="inspQt" name="inspQt">
							</div>
							<div class="col">
								<label for="suitQt" class="form-label">입고 가능 수량 </label> <input type="text"
									class="form-control" id="suitQt" name="suitQt">
							</div>
							<div class="col">
								<label for="nsuitQt" class="form-label">입고 불가 수량 </label> <input type="text"
									class="form-control" id="totNsuitQt" name="totNsuitQt">
							</div>
						</div>

					</form>
					<!-- 검사 폼 끝나는 부분 -->


					<!-- 세부 검사 항목 boderBox 시작 -->
					<div id="borderBox" class="detail">
						<h5 class="mt-4" style="font-family: 'MaruBuri';">세부 검사 항목</h5>

						<!-- 세부 검사 항목 그리드 -->

						<div id="detailGrid"></div>
						<!-- 세부 검사 항목 끝나는 부분 -->

						<!-- 검사 등록 버튼 -->
						<div class="rightBtn">
						<button type="button" class="sixBtn2" id="inspBtn">등록</button>
						<button type="button" class="sixBtn4" id="modifyBtn">수정하기</button>
						</div>
					</div>


				</div>
				<!-- 세부 검사 항목 border box 끝 -->


			</div>
			<!-- div class-6 끝나는 부분 -->


		</div>


		<script th:inline="javascript">
		let inspResStat = [[${inspResStat}]];
		
			$('#regModal').on('shown.bs.modal', function (e) {
				$.ajax({
					url: "/quality/proRecList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid2.resetData(result);
						setTimeout(() => grid2.refreshLayout(), 10);
					},
					error: function (reject) {
						console.log(reject);
					}
				});

			})


			// 본문 그리드 ajax
			let gridData = [];
			
			function rAfterList(){
				$.ajax({
					url: "/quality/rAfterList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						aiGrid.resetData(result);
						setTimeout(() => aiGrid.refreshLayout(), 200);
					},
					error: function (reject) {
						console.log(reject);
					}
				});
			};
			window.onload = function () {
				$.ajax({
					url: "/quality/prInspList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
					},
					error: function (reject) {
						console.log(reject);
					}
				});
				//검사 완료 리스트 출력
				$.ajax({
					url: "/quality/rAfterList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						aiGrid.resetData(result);
						setTimeout(() => aiGrid.refreshLayout(), 200);
					},
					error: function (reject) {
						console.log(reject);
					}
				});


			}; //widnow.onload 끝


			// 본문 그리드
			const grid = new tui.Grid({
				el: document.getElementById('grid'),

				pageOptions: {
					useClient: true,
					perPage: 5
				},

				//data: gridData,
				scrollX: false,
				scrollY: false,
				columns: [{
					header: '발주 번호',
					name: 'inspStdId',
					align: 'center'
				}, {
					header: '검사 번호',
					name: 'inspNum',
					align: 'center'
				}, {
					header: '거래처',
					name: 'busName',
					align: 'center'
				}, {
					header: '자재 코드',
					name: 'matId',
					align: 'center'
				}, {
					header: '자재 명',
					name: 'matName',
					align: 'center'
				}, {
					header: '발주 수량',
					name: 'matReqQt',
					align : 'right',
					formatter: ({ value }) => {
					 return value.toLocaleString()
					   }
				}, {
					header: '검사 대기 수량',
					name: 'inspQt',
					align : 'right',
					formatter: ({ value }) => {
					 return value.toLocaleString()
					   }
				}]
			});

			// 본문 그리드 한 줄 선택해서 정보 가져오기
			let selStdId;
			let selInspNum;
			let selBusName;
			let selMatId;
			let selMatName;
			let selInspQt;

			grid.on('focusChange', (ev) => {
				// focus된 셀이 있는 열 전체 select 처리
				grid.setSelectionRange({
					start: [ev.rowKey, 0],
					end: [ev.rowKey, grid.getColumns().length - 1]
				});
				console.log(ev.rowKey)

				// rowKey 얻는법
				// focus된 cell 내의 정보
				const focusCell = grid.getFocusedCell()
				console.log(focusCell)

				selKey = ev.rowKey;

				// 행 전체 정보 얻기
				let dataRow = grid.getRow(ev.rowKey);
				console.log(dataRow);
				selReq = dataRow;
				console.log('발주번호 : ' + dataRow.inspStdId);
				selStdId = dataRow.inspStdId;
				selInspNum = dataRow.inspNum;
				selBusName = dataRow.busName;
				selMatId = dataRow.matId;
				selMatName = dataRow.matName;
				selInspQt = dataRow.inspQt;
				selMatReqQt = dataRow.matReqQt;
			});


			// 검사 결과 등록 버튼 클릭 이벤트
			$('#rrBtn').on('click', function (e) {
				//grid.on('dblclick'), ()=>{
				console.log('rrBtn 클릭');

				$('#modifyBtn').css('display', 'none');
				$('#inspBtn').css('display', 'block');

				console.log("selMatId: " + selMatId);
				let matId = selMatId;

				// 선택된 결과 주입
				$('#inspStdId').val(selStdId);
				$('#inspNum').val(selInspNum);
				$('#busName').val(selBusName);
				$('#matId').val(selMatId);
				$('#matName').val(selMatName);
				$('#inspQt').val(selInspQt);

				console.log("ajax 호출 전 matId: " + matId);

				// 검사 항목 ajax 호출
				$.ajax({
					url: "/quality/inspItem",
					method: "GET",
					data: {
						'matId': matId
					},
					dataType: "JSON",
					success: function (result) {
						console.log(result);
						detailGrid.resetData(result);
						detailGrid.setColumnValues('inspNum', selInspNum, false);
						detailGrid.setColumnValues('matReqId', selStdId, false);
						detailGrid.setColumnValues('nsuitQt', 0, false);
						//detailGrid.setColumnValues('resStat', 'STAT-C', false);
						//detailGrid.setColumnValues('matReqId', selStdId, false);
						setTimeout(() => detailGrid.refreshLayout(), 300);

						// 적합 수량과 부적합 수량 자동 계산 함수
						calSuitQt();
					},
					error: function (reject) {
						console.log(reject);
					}
				});
			});



			// 검사 세부 항목 그리드
			const detailGrid = new tui.Grid({
				el: document.getElementById('detailGrid'),
				//data: [], //빈 배열로 초기화

				scrollX: false,
				scrollY: true,

				columns: [{
					header: '검사번호',
					name: 'inspNum',
					hidden: true
				}, {
					header: '발주번호',
					name: 'matReqId',
					hidden: true
				}, {
					header: '검사세부번호',
					name: 'detInspNum',
					hidden: true
				},
				{
					header: '검사 항목 코드',
					width: 110,
					name: 'inspId',
					align: 'center'

				},
				{
					header: '항목명',
					width: 90,
					name: 'inspName',
					align: 'center'
				},
				{
					header: '설명',
					width: 320,
					name: 'inspExp',
					align: 'center'
				},
				{
					header: '기준값',
					width: 90,
					name: 'stdVal',
					align: 'center'
				}, {
					header: '결과값',
					width: 90,
					name: 'resVal',
					editor: 'text',
					align: 'center'
				},
				{
					header: '부적합 수량',
					width: 90,
					name: 'nsuitQt',
					editor: 'text',
					align : 'right',
					formatter: ({ value }) => {
					 return value.toLocaleString()
					   }
				},
				{
					header: '적합여부',
					width: 90,
					name: 'resStat',
					align: 'center',
					formatter: 'listItemText',
			          editor: 
			          {
			            type: 'select',
			            options: {
			              listItems:inspResStat
			            }
			          }
				}
				]
			});

			// 세부 검사 항목 그리드에 스크롤 부여
			detailGrid.setBodyHeight(400);


			// 모달 그리드 ajax
			let gridData2 = [];

			// 모달 그리드
			const grid2 = new tui.Grid({
				el: document.getElementById('grid2'),
				data: [], //빈 배열로 초기화
				scrollX: false,
				scrollY: false,
				pageOptions: {
					useClient: true,
					perPage: 8
				},
				minBodyHeight: 320,
				rowHeaders: ['checkbox'],

				columns: [{
					header: '발주 번호',
					width: 120,
					name: 'matReqId',
					align: 'center'
				},
				{
					header: '거래처',
					name: 'busName',
					align: 'center'
				},
				{
					header: '자재 코드',
					name: 'matId',
					align: 'center'
				},
				{
					header: '자재 명',
					name: 'matName',
					align: 'center'
				}, {
					header: '발주 수량',
					name: 'matReqQt',
					align : 'right',
					formatter: ({ value }) => {
					 return value.toLocaleString()
					   }
				},
				{
					header: '검사 수량',
					name: 'inspQt',
					editor: 'text',
					align : 'right',
					formatter: ({ value }) => {
					 return value.toLocaleString()
					   }
				}
				]
			});

			// 원수 탭 그리드
			$.ajax({
				url: "/quality/waterAjax",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					waterGrid.resetData(result);
				},
				error: function (reject) {
					console.log(reject);
				}
			});

			const waterGrid = new tui.Grid({
				el: document.getElementById('waterGrid'),
				scrollX: false,
				scrollY: false,
				pageOptions: {
					useClient: true,
					perPage: 8
				},
				minBodyHeight: 320,
				rowHeaders: ['checkbox'],
				columns: [{
					header: '공정실적번호',
					name: 'inspStdId',
					align: 'center'
				}, {
					header: '자재 코드',
					name: 'inspItemId',
					align: 'center'
				}, {
					header: '자재 명',
					name: 'matName',
					align: 'center'
				}, {
					header: '생산일',
					name: 'inspDate',
					align: 'center'
				}, {
					header: '생산수량',
					name: 'inspQt',
					editor: 'text',
				}]
			});

			//row 정보를 가져오기 위한 dataRow 선언
			let dataRow;
			let key;

			// row 클릭
			grid2.on('click', ev => {
				console.log(ev.rowKey)
				console.log(ev.columns)
				//grid.addSelectionOnly(ev.rowKey);
				const focusCell = grid2.getFocusedCell()
				console.log(focusCell)

				// 클릭한 row 정보 가져오기
				key = ev.rowKey;
				dataRow = grid2.getRow(ev.rowKey);
				console.log(dataRow);

				console.log('등록 수량 : ' + dataRow.inspQt);
			})
			
			
			
			// 모달 등록
			$('#regBtn').on('click', function (e) {
			    // 등록할 데이터
			    let data = grid2.getModifiedRows().updatedRows;
			
			    if (data.length === 0) {
			        alert('검사를 등록해주세요.');
			        return false;
			    } else {
			        // Ajax를 통해 데이터를 서버로 전송하고 등록 성공 후 처리
			        $.ajax({
			            url: "/quality/prRegister",
			            method: "POST",
			            contentType: 'application/json',
			            data: JSON.stringify(grid2.getModifiedRows().updatedRows),
			            success: function (result) {
			                // 결과 데이터를 확인하여 검사 수량이 발주 수량보다 많은지 검사
			                const appendedData = result;
			                for (let i = 0; i < appendedData.length; i++) {
			                    if (appendedData[i].inspQt > appendedData[i].matReqQt) {
			                        alert('검사 수량이 발주 수량보다 많습니다.');
			                        return;
			                    }
			                }
			
			                alert('입고 검사가 등록되었습니다.');
			                console.log(result);
			                grid.appendRow(appendedData); // 완료된 후 본문 그리드에 append
			                grid.resetData(result);
			                $('#regModal').modal('hide');
			                grid2.removeCheckedRows(false);
			
			                // 업데이트 된 데이터 출력
 			                $.ajax({
			                    url: "/quality/prInspList",
			                    method: "GET",
			                    dataType: "JSON",
			                    success: function (result) {
			                        grid.resetData(result);
			                    },
			                    error: function (reject) {
			                        console.log(reject);
			                    }
			                }); 
			            },
			            error: function (reject) {
			                alert('입고 검사 등록 중 에러가 발생하였습니다.');
			            }
			        });
			    }
			});
			


			// 모달 등록
			/* $('#regBtn').on('click', function (e) {
				// 등록할 데이터
				let data = grid2.getModifiedRows().updatedRows;

				if (data.length === 0) {
					alert('검사를 등록해주세요.');
					return false;
				} else {
					// Ajax를 통해 데이터를 서버로 전송하고 등록 성공 후 처리
					$.ajax({
						url: "/quality/prRegister",
						method: "POST",
						contentType: 'application/json',
						data: JSON.stringify(grid2.getModifiedRows().updatedRows),
						success: function (result) {
							alert('입고 검사가 등록되었습니다.');
							console.log(result);
							const appendedData = result;
							grid.appendRow(appendedData); // 완료된 후 본문 그리드에 append
							$('#regModal').modal('hide');
							grid2.removeCheckedRows(false);

							// 업데이트 된 데이터 출력
							$.ajax({
								url: "/quality/prInspList",
								method: "GET",
								dataType: "JSON",
								success: function (result) {
									grid.resetData(result);
								},
								error: function (reject) {
									console.log(reject);
								}
							});
						},
						error: function (reject) {
							alert('입고 검사 등록 중 에러가 발생하였습니다.');
						}
					});
				}
			}); */

			//after insp grid
			// 검사 완료 그리드
			const aiGrid = new tui.Grid({
				el: document.getElementById('aiGrid'),
				data: [], //빈 배열로 초기화

				scrollX: false,
				scrollY: false,

				pageOptions: {
					useClient: true,
					perPage: 5
				},

				columns: [{
					header: '발주번호',
					name: 'matReqId',
					hidden: true
				}, {
					header: '거래처',
					name: 'busName',
					hidden: true
				}, {
					header: '검사번호',
					name: 'inspNum'
				}, {
					header: '자재코드',
					name: 'matId',
					align: 'center'

				}, {
					header: '자재명',
					name: 'matName',
					align: 'center'
				}, {
					header: '검사수량',
					name: 'inspQt',
					align : 'right',
					formatter: ({ value }) => {
						if(value != null){
							return value.toLocaleString();
						}else{
							return 0;
						}
					}
					
				}, {
					header: '부적합 수량',
					name: 'nsuitQt',
					align : 'right',
					formatter: ({ value }) => {
						if(value != null){
							return value.toLocaleString();
						}else{
							return 0;
						}
					}
				}, {
					header: '검사자',
					name: 'empName',
					align: 'center'
				}, {
					header: '검사일자',
					name: 'inspDate',
					align: 'center'
				}]
			});

			aiGrid.on('focusChange', (ev) => {
				// focus된 셀이 있는 row 전체 select 처리
				aiGrid.setSelectionRange({
					start: [ev.rowKey, 0],
					end: [ev.rowKey, grid.getColumns().length - 1]
				});
				console.log(ev.rowKey)

				// rowKey 얻는법
				// focus된 cell 내의 정보
				let aiFocusCell = aiGrid.getFocusedCell()
				console.log(aiFocusCell)

				aselKey = ev.rowKey;

				// 행 전체 정보 얻기
				let aDataRow = aiGrid.getRow(ev.rowKey);
				console.log(aDataRow);
				aselInspNum = aDataRow.inspNum;
				aselMatId = aDataRow.matId;
				aselMatName = aDataRow.matName;
				aselInspQt = aDataRow.inspQt;
				aselEmpName = aDataRow.empName;
				aselStdId = aDataRow.inspStdId;
				aselBusName = aDataRow.busName;
				aselNsuitQt = aDataRow.nsuitQt;

			});


			// 삭제 버튼 클릭 시 삭제 기능 호출
			$("#delBtn").click(function () {
				if (aselKey === null) {
					alert("삭제할 검사를 선택하세요.");
					return;
				}
				//aiData 수정
				const aiData = aiGrid.getData();
				//const rowKey = aiGrid.getRowKey(selectedRowData); // 선택된 로우의 키 값을 가져옴

				// 삭제 ajax 호출
				$.ajax({
					url: "/quality/delInsp",
					method: "POST",
					data: {
						inspNum: aselInspNum // 삭제할 로우의 키 값을 전달
					},
					success: function (result) {
						alert('검사 결과 삭제가 완료되었습니다.')
						aiGrid.resetData(aiData); // 그리드를 업데이트하여 삭제된 로우를 반영
						// 업데이트 된 데이터 출력
						$.ajax({
							url: "/quality/rAfterList",
							method: "GET",
							dataType: "JSON",
							success: function (result) {
								aiGrid.resetData(result);
							},
							error: function (reject) {
								console.log(reject);
							}
						});
					},
					error: function (reject) {
						// 삭제 요청이 실패했을 때의 동작
						console.log(reject);
					}
				});
			});


			// 수정 버튼 클릭 시
			$('#modBtn').on('click', function () {
				if (aselKey === null) {
					alert("수정할 검사를 선택하세요.");
					return;
				}

				$('#prInspForm').css('display', 'block');
				$(".detail").css('display', 'block');
				$('#modifyBtn').css('display', 'block');
				$('#inspBtn').css('display', 'none');
				console.log("aselMatId: " + aselMatId);


				// 선택된 결과 주입
				$('#inspStdId').val(aselStdId);
				$('#inspNum').val(aselInspNum);
				$('#busName').val(aselBusName);
				$('#matId').val(aselMatId);
				$('#matName').val(aselMatName);
				$('#inspQt').val(aselInspQt);
				$('#totNsuitQt').val(aselNsuitQt);

				// 검사 항목 ajax 호출
				$.ajax({
					url: "/quality/modInspItem",
					method: "GET",
					data: {
						'inspNum': aselInspNum
					},
					dataType: "JSON",
					success: function (result) {
						console.log(result);
						
						detailGrid.resetData(result);
						detailGrid.setColumnValues('inspNum', aselInspNum, false);
						setTimeout(() => detailGrid.refreshLayout(), 300);

						// 적합 수량과 부적합 수량 자동 계산 함수
						calSuitQt();
					},
					error: function (reject) {
						console.log(reject);
					}
				});
			});


			// 그리드 색 변경
			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					rowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});
			
			    let formData = $('#prInspForm').serialize();
			    
			// 검사 결과 등록 클릭 이벤트
			$('#inspBtn').on('click', function () {
			    console.log(detailGrid.getData())
			    console.log('확인')

			    //qua_com update
				console.log($('#prInspForm').serialize());
				$.ajax({
					url: '/quality/priRegUpdate',
					type: 'post',
					data: $('#prInspForm').serialize(),
					dataType: 'json',
					success: function (result) {
						console.log('qua_com_update:' + result);
						rAfterList();
						aiGrid.prependRow(formData);
						
					},
					error: function (reject) {
						console.log(reject);
					}

				})

			    // 등록&update
			    $.ajax({
			        url: '/quality/priRegister',
			        type: 'post',
			        data: JSON.stringify(detailGrid.getData()),
			        contentType: 'application/json',
			        success: function (result) {
			            console.log(result);
			            alert('검사 결과값 등록이 완료되었습니다.');
						$.ajax({
							url: "/quality/rAfterList",
							method: "GET",
							dataType: "JSON",
							success: function (result) {
								aiGrid.resetData(result);
								setTimeout(() => aiGrid.refreshLayout(), 200);
							},
							error: function (reject) {
								console.log(reject);
							}
						});
			            // 등록 완료 후 폼과 그리드 숨기고 초기화
			            $('#prInspForm input').val('');
			            detailGrid.clear();
			        },
			        error: function (reject) {
			            console.log(reject);
			            alert('검사 결과값 등록에 실패했습니다.')
			        }
			    });
			});


			/* // 검사 결과 등록 클릭 이벤트
			$('#inspBtn').on('click', function () {
				console.log(detailGrid.getData())
				console.log('확인')
				let formData = $('#prInspForm').serialize();

				// 검사 공통 업데이트 ajax 실행
				quaComUpdateAjax();

				//등록&update
				$.ajax({
					url: '/quality/priRegister',
					type: 'post',
					data: JSON.stringify(detailGrid.getData()),
					contentType: 'application/json',
					success: function (result) {

						console.log(result);
						alert('검사 결과값 등록이 완료되었습니다.');
						// 등록 완료 후 폼과 그리드 숨기고 초기화
						$('#prInspForm').css('display', 'none');
						$('.detail').css('display', 'none');
						$('#prInspForm input').val('');


					},
					error: function (reject) {
						console.log(reject);
						alert('검사 결과값 등록에 실패했습니다.')
					}
				});



			} // on click event 끝
			) */
			
			let cell = aiGrid.getFocusedCell();

			// 수정하기 버튼 클릭 이벤트
			$('#modifyBtn').on('click', function () {

				// 검사 공통 업데이트 ajax 실행
				//quaComUpdateAjax();
				
				$.ajax({
					url: '/quality/priRegUpdate',
					type: 'post',
					data: $('#prInspForm').serialize(),
					dataType: 'json',
					success: function (result) {
						console.log('qua_com_update:' + result);
						
						//aiGrid.setRow(selRow, setData);
						aiGrid.setRow(selRow, setData)
						
					},
					error: function (reject) {
						console.log(reject);
					}

				})

				// 검사 상세 업데이트 ajax
				$.ajax({
					url: '/quality/updateQd',
					type: 'post',
					data: JSON.stringify(detailGrid.getData()),
					contentType: 'application/json',
					success: function (result) {

						console.log(result);
						alert('검사 결과값 수정이 완료되었습니다.');
						// 등록 완료 후 폼과 그리드 숨기고 초기화
						
						//aselKey.setRow(result);
						
						
						$('#prInspForm input').val('');
						detailGrid.clear();


					},
					error: function (reject) {
						console.log(reject);
						alert('검사 결과값 수정에 실패했습니다.')
					}
				});


			})

			// 검사 공통 아작스 호출 함수
			function quaComUpdateAjax() {

				//qua_com update
				console.log($('#prInspForm').serialize());
				$.ajax({
					url: '/quality/priRegUpdate',
					type: 'post',
					data: $('#prInspForm').serialize(),
					dataType: 'json',
					success: function (result) {
						console.log('qua_com_update:' + result);
						
					},
					error: function (reject) {
						console.log(reject);
					}

				})

			}


			// 적합 부적합 수량 계산 함수
			function calSuitQt() {
				const rows = detailGrid.getData();
				let totalNsuitQt = 0;
				rows.forEach(function (row) {
					const nsuitQt = parseInt(row.nsuitQt);
					if (!isNaN(nsuitQt)) {
						totalNsuitQt += nsuitQt;
					}
				});
				let inspQt = parseInt($('#inspQt').val());
				let suitQt = inspQt - totalNsuitQt;

				// 적합 수량과 부적합 수량 필드에 값 설정
				$('#totNsuitQt').val(totalNsuitQt);
				$('#suitQt').val(suitQt);


			}

			// Toast Grid의 값이 변경될 때마다 호출되는 이벤트 핸들러 등록
			detailGrid.on('editingFinish', function (e) {
				if (e.columnName === 'nsuitQt') {
					calSuitQt(); // 값 계산
					detailGrid.setValue(e.rowKey, 'resStat', 'STAT-C');
				} else if (e.columnName === 'resVal') {
					let compareData = detailGrid.getRow(e.rowKey);
					let standard = compareData.stdVal;
					let myVal = compareData.resVal;
					if (myVal <= standard) {
						detailGrid.setValue(e.rowKey, 'resStat', 'STAT-A');
					} else {
						detailGrid.setValue(e.rowKey, 'resStat', 'STAT-B');
					}
				}

			});
			
			

			let btnType = req;
			// 입고검색 탭 기능
			$('.sel1').on('click', function (e) {
				$('.sel4').removeClass('sel3');
				$('.sel2').removeClass('sel3');
				$(this).addClass('sel3');
				$('#grid2').css('display', 'block');
				$('#returnAdd').css('display', 'none');
				$('#waterGrid').css('display', 'none');
				btnType = req;
			})

			$('.sel2').on('click', function (e) {
				$('.sel4').removeClass('sel3');
				$('.sel1').removeClass('sel3');
				$(this).addClass('sel3');
				$('#returnAdd').css('display', 'block');
				$('#grid2').css('display', 'none');
				$('#waterGrid').css('display', 'none');
				btnType = pc;
			})

			$('.sel4').on('click', function (e) {
				$('.sel2').removeClass('sel3');
				$('.sel1').removeClass('sel3');
				$(this).addClass('sel3');
				$('#waterGrid').css('display', 'block');
				$('#returnAdd').css('display', 'none');
				$('#grid2').css('display', 'none');
				btnType = water;
			})
		</script>
	</div>
</body>

</html>