<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
<title>설비 조회</title>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script type="text/javascript"
	src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>	
</head>
<body>
	<div layout:fragment="content">
		<br><br>
	<h1 class="mt-4" style="font-family: 'MaruBuri';">설비조회</h1>
	
	<br>
		<hr>
		 * 설비상태  &nbsp&nbsp&nbsp&nbsp
		
		 * 설비명 : <input type="text" name="ename" >
		<button class="sixBtn1" id="searchBtn1">
				<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
                fill="currentColor" class="bi bi-search" viewBox="0 2 16 16">
                <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
        </button> 
        &nbsp&nbsp&nbsp&nbsp
        * 설비코드 :  <input type="text" name="ecode">
        
        <button class="sixBtn1" id="searchBtn2">
				<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
                fill="currentColor" class="bi bi-search" viewBox="0 2 16 16">
                <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
        </button> 
        
       
		<hr>
		<br>
				
		<!-- 설비조회 모달창 -->		

<!-- Modal 시작 -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
            <!-- 모달 헤더 -->
               <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel" style="font-family: 'MaruBuri';">설비 상세 정보</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                     aria-label="Close"></button>
               </div>
               <!-- 모달 바디 -->
               <div class="modal-body">
     
     			  <div id="equInfo">
					<br> * 설비코드 : <input type="text" id="equCode"><br>
					<br> * 공정코드 : <input type="text" id="procId"><br>
					<br> * 설비상태 : <input type="text" id="equStat"><br>
					<br> * 설비명 : <input type="text" id="equName"><br>
					<br> * 설비라인 : <input type="text" id="equLine"><br>
					<br> * 판정 : <input type="text" id="equSuit"><br>
					<br> * 점검일자 : <input type="text" id="checkDate"><br>
				 	<br> * 점검주기 : <input type="text" id="equCheck"><br>
					<br> * 차기 점검일 : <input type="text" id="checkNext"><br>
					<br> * 점검구분 : <input type="text" id="checkType"><br>
					<br> * 점검사유 : <input type="text" id="checkInfo"><br>
					<br> * 비가동시간 : <input type="text" id="operStart"><br>
					<br> * 비가동사유 : <input type="text" id="opreNote"><br>
				  </div>
				
     			
               </div>
               <!-- 모달 푸터(버튼부분) -->
               <div class="modal-footer">
                  <button type="button" class="sixBtn2" data-bs-dismiss="modal">닫기</button>
                    
               </div>
            </div>
         </div>
      </div>
		<!-- Modal 끝 -->
		
<div id="grid"></div>

	    <script>
	    
	    //const gridData=[];
			  
	    const grid = new tui.Grid({
        el: document.getElementById('grid'),
       // data: {
      
        scrollX: false,
        scrollY: false,
        
        
        rowHeaders: ['rowNum'],
        columns: [
          {
            header: '설비코드',
            name: 'equCode'
          },
          {
            header: '공정코드',
            name: 'procId'
          },
          {
            header: '설비명',
            name: 'equName'
          },
          {
            header: '모델',
            name: 'equModel'
          },
          {
            header: '설비상태',
            name: 'equStat',
            filter: 'select'
            
          },
          {
             header: '설비라인',
             name: 'equLine'
          },
          {
             header: '점검주기',
             name: 'equCheck'
          },
          {
             header: '설비 이미지',
             name: 'equImg'
          },
          {
             header: '담당자',
             name: 'empId'
          }
          
        ]
	    
     });
        
     
	    window.onload = function(){
	    	
	    	$.ajax({
	    		url : "/equipment/equConList1",
	    		method : "GET",
	    		dataType : "JSON",
	    		success : function(result){
	    			grid.resetData(result);
	    		}
	    	});
	  
	    };
      
     tui.Grid.applyTheme('default', {
        cell: {
            header: {
                background: '#e5edf5'
            },
            rowHeader: {
                background: '#e5edf5'
            },
            normal: {
                background: '#ffffff'
            } 
        } 
    });
    

    
    grid.on('click', ev => {
    	// 클릭한 Row의 정보를 dataRow에 저장
        let dataRow = grid.getRow(ev.rowKey);
    	console.log(dataRow.equCode);
    	console.log(dataRow);
    
    	$('#staticBackdrop').modal('show');
    	$('#equCode').val(dataRow.equCode);
	      $('#procId').val(dataRow.procId);
	      $('#equStat').val(dataRow.equStat);
	      $('#equName').val(dataRow.equName);
	      $('#equLine').val(dataRow.equLine);
	      $('#equSuit').val(dataRow.equSuit);
	      $('#checkDate').val(dataRow.checkDate);
	      $('#equCheck').val(dataRow.equCheck);
	      $('#checkNext').val(dataRow.checkNext);
	      $('#checkType').val(dataRow.checkType);
	      $('#checkInfo').val(dataRow.checkInfo);
	      $('#operStart').val(dataRow.operStart);
	      $('#opreNote').val(dataRow.opreNote);
    	
    	$.ajax({
    		url : "/equipment/equInfo",
    		method : "POST",
    		dataType : "JSON",
    		data: dataRow,   // == string
    		success : function(result){
    			console.dir(result);
    			grid.resetData(result);
    		}
    	})
      });


    
    
    $('#searchBtn2').on('click', function(){
    
    
    var searchData = {};
    
    searchData.equName = $('input[name="ename"]').val();
    searchData.equCode = $('input[name="ecode"]').val();
    console.log(searchData);
    
    $.ajax({
    	url : "/equipment/equFilterAjax",
    	method : "POST",
    	dataType : "JSON",
    	data : searchData,
    	success : function(result){
    		console.dir(result);
    		grid.resetData(result);
    	}
    
      })
    })
    

    </script>
    
    </div>
</body>
</html>