<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/template}">
<head>
    <meta charset="utf-8">
    <title>설비 점검 조회</title>
    <style>
    	#eTable td {
			padding: 4px 10px;
			text-align: left;
		}
		#Btn { /* 버튼 */
			float: right;
		}
		#cdate {
			width: 185px;
			height: 30px;
		}
		.modalTbl {
			margin: auto;
			text-align: center;
			height: 330px;
		}
		.modal-body {
			background: #e5edf5;
		}
		.modalTbl td {
			padding-right: 20px;
		}
		.modal-footer {
			text-align: center;
		}
    </style>
</head>
<body>
    <div layout:fragment="content">
    
    <br>
    <h1 class="mt-4" style="font-family: 'MaruBuri';">설비 점검 조회</h1>
    <br>
	<hr>
	<br>
    <!-- 검색 버튼 -->
    <div id="Btn">
		<button class="sixBtn1" id="searchBtn">
			<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
				fill="currentColor" class="bi bi-search" viewBox="0 2 16 16">
                <path
					d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
		</button>
		<button class="sixBtn2" id="reset">초기화</button>
	</div>
    
    
    <!-- 검색 인풋 창 -->
    <table id="eTable">
	<tr>	
		<td>설비코드<span class="needStar"> * </span></td>
		<td><input type="text" name="ccode" id="ccode" class="empty"></td>
		
		<td>설비명<span class="needStar"> * </span></td>
		<td><input type="text" name="cname" id="cname" class="empty"></td>
	</tr>
	
	
	<tr>
		<td>점검일자<span class="needStar"> * </span></td>
		<td>
			<input type="date" name="cdate" id="cdate">
		</td>
		<td>
		
		
		
		<!-- 달력(점검일자 달력 검색) -->
		<!-- <div class="container" style="min-height:500px">
		    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
		        <input type="text" id="datepicker-input" aria-label="Date-Time">
		        <span class="tui-ico-date"></span>
		    </div>
		    <div id="wrapper" style="margin-top: -1px;"></div>
		</div>
		</td> -->
	
	
	</table>
	
		<br>
		<hr>
		<br>

		<!-- 점검조회 상세정보 모달창 -->

		<!-- Modal 시작 -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 모달 헤더 -->
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel"
							style="font-family: 'MaruBuri';">점검 상세 정보</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<!--설비정보(상세) 모달 바디 -->
					<div class="modal-body">
						<form action="" method="post" id="addForm">
							<div id="modalTbl">
								<table class="table">
							
									<tr>
										<td>점검코드<span class="needStar"> * </span></td>
										<td><input type="text" name="checkCode" id="checkCode"></td>
									</tr>
									<tr>
										<td>설비명<span class="needStar"> * </span></td>
										<td><input type="text" name="equName" id="equName"></td>
									</tr>
									<tr>
										<td>점검사유<span class="needStar"> *</span></td>
										<td><input type="text" name="checkInfo" id="checkInfo"></td>
									</tr>
									<tr>
										<td>조치내역<span class="needStar"> *</span></td>
										<td><input type="text" name="checkCom" id="checkCom"></td>
									</tr>
									<tr>
										<td>비고<span class="needStar"> *</span></td>
										<td><input type="text" name="checkNote" id="checkNote"></td>
									</tr>
								</table>
							</div>
						</form>
					</div>
					<!-- 모달 푸터(버튼부분) -->
					<div class="modal-footer">
						<button type="button" class="sixBtn2" data-bs-dismiss="modal">닫기</button>

					</div>
				</div>
			</div>
		</div>
		<!-- Modal 끝 -->
		
		


		<!-- 그리드 시작 -->
		<div id="grid"></div>

		<script>
	    
	    const grid = new tui.Grid({
        el: document.getElementById('grid'),
        pageOptions: {
			useClient : true,
			perPage: 10
		},
        scrollX: false,
        scrollY: false,
        
        rowHeaders: ['rowNum'],
        columns: [
          {
               header: '설비코드',
               name: 'equCode',
               sortable : true,
               align: 'center'
          },
          {
               header: '설비명',
             name: 'equName',
             align: 'center'
          },
        	
          {
            header: '점검코드',
            name: 'checkCode',
            hidden : true
          },
          {
            header: '비가동코드',
            name: 'operCode',
            hidden : true
          },
          {
             header: '점검일자',
             name: 'checkDate',
             align: 'center'
          },
          {
             header: '차기점검일',
             name: 'checkNext',
             align: 'center'
          },
		  {
             header: '점검주기',
             name: 'equCheck',
             align: 'center'
          },
          {
        	 header: '판정',
    		 name: 'equSuit',
    		 filter: 'select',
    		 align: 'center',
    		 formatter: 'listItemText',
    		 editor: {
    		 type: 'select',
    		 options: {
    			listItems: [
    			{text: '적합', value: 'Y'},
    			{text: '부적합', value: 'N'},	
    		   ]
    	      }
    	    }
    	  },
          {
             header: '점검구분',
             name: 'checkType',
             align: 'center'
          },
          {
              header: '비고',
              name: 'checkNote',
              align: 'center'
          },
          {
             header: '담당자',
             name: 'empId',
             align: 'center'
          },
          {
              header: '점검사유',
              name: 'checkInfo',
              hidden : true
          },
          {
              header: '조치내역',
              name: 'checkCom',
              hidden : true
          },
          {
              header: '비가동 시작',
              name: 'operType',
              hidden : true
          },
         
        ]
     });

	 
	 window.onload = function(){
	    	
	    	$.ajax({
	    		url : "/equipment/equCheckList",
	    		method : "GET",
	    		dataType : "JSON",
	    		success : function(result){
	    			grid.resetData(result);
	    		}
	    	});
	  
	    };
      
     tui.Grid.applyTheme('default', {
        cell: {
            header: {
                background: '#e5edf5'
            },
            rowHeader: {
                background: '#e5edf5'
            },
            normal: {
                background: '#ffffff'
            } 
        } 
    });

	// 클릭 이벤트 발생
	grid.on('click', ev => {
    	
    	// focus된 셀이 있는 열 전체 select 처리
		grid.setSelectionRange({
			start: [ev.rowKey, 0],
			end: [ev.rowKey, grid.getColumns().length - 1]
		});
    	
    	// 클릭한 Row의 정보를 dataRow에 저장
        let dataRow = grid.getRow(ev.rowKey);
    	console.log(dataRow.checkCode);
    	console.log(dataRow);
    
    	// 한 열을 클릭시 모달창 띄우기.
    	$('#staticBackdrop').modal('show');
    	
    	$('#checkCode').val(dataRow.checkCode); // 점검코드
	      $('#equName').val(dataRow.equName); // 설비명
		  $('#checkInfo').val(dataRow.checkInfo); // 점검사유
	      $('#checkCom').val(dataRow.checkCom); // 조치내역
	      $('#checkNote').val(dataRow.checkNote); // 비고
	      
      });

	
	$(document).ready(function () {
        var datepicker = new tui.DatePicker('#wrapper',
            {
            language: 'ko',
            date: new Date(),
            input: {
                element: '#datepicker-input',
                format: 'yyyy-MM-dd'
            }
        });
        
    });

	
	// 조회 검색버튼 기능     && $('#cdate').val() == '' searchType = 'date'; searchKey = $('#cdate').val()
					
    let searchType = '';
    let searchKey = '';
    
    $('#searchBtn').on('click', function(){
    	if($('#ccode').val() == '' && $('#cname').val() == '') {
    			alert('검색 항목을 입력해 주세요 !')	
    	 } else {
    		 if ($('#ccode').val() != '') {
					searchType = 'code';
					searchKey = $('#ccode').val()
				} else {
					searchType = 'name';
					searchKey = $('#cname').val()
				} 
					
				
				$.ajax({
					url: '/equipment/equCheckSearch',
					type: 'get',
					data: {
						"searchType": searchType,
						"searchKey": searchKey
					},
					dataType: 'json',
					success: function (result) {
						grid.resetData(result);
						nowData = result;
					},
					error: function () {
						alert('오류가 발생했습니다!');
					}
				})
			}

		})
		
		

	   //초기화 버튼 기능
	   $('#reset').on("click", function (e) {
		  		$('#ccode').val('');
				$('#cname').val('');
				
				$.ajax({
					url: "/equipment/equCheckList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
						gridInsertRow();
					},
 					error: function(reject){
						console.log(reject);
					}
				});
				
			});



	</script> 
    </div>
  </body>
</html>