<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
<title>설비 관리</title>
	<style>
		h1 {
			margin-bottom: 40px;
		}
		#equaddTbl {
			margin: auto;
		}
		#equaddTbl input {
			padding-left: 10px;
			width: 230px;
		}
		#modal-content {
			width: 500px;
		}
		.divBtn {
			text-align: center;
			padding: 15px 0 10px 0;
		}
		.sixBtn2 {
			margin-right: 7px;
		}
		#addForm td {
			padding: 4px 10px;
			text-align: left;
		}
		#addDate{
			width: 185px;
			height: 30px;
		}
		.modal-body {
			margin: auto;
			text-align: center;
			/* height: 400px; */
			width: 500px;
			background: #e5edf5;
			padding-right: 10px;
		}	
		.modal-footer {
			text-align: center;
		}
	</style>

</head>

<body>
	<div layout:fragment="content">
	
		 
		<h1 class="mt-4" style="font-family: 'MaruBuri';">설비관리</h1>
		
		
		<!-- 인풋창 -->
		<form action="" method="post" id="addForm">
			<table id="equaddTbl">
				<tr>
					<td>설비코드<span class="needStar"> * </span></td>
					<td><input type="text" name="equCode" id="equCode"
						style="background: #ccdceb;" class="empty"></td>
				
					<td>설비명<span class="needStar"> * </span></td>
					<td><input type="text" name="equName" id="equName"
						class="empty"></td>
				
					<td>모델<span class="needStar"> * </span></td>
					<td><input type="text" name="equModel" id="equModel"
						class="empty"></td>
				</tr>
			
				<tr>
					<td>설비라인<span class="needStar"> *</span></td>
					<td><input type="text" name="equLine" id="equLine"
						class="empty"></td>
				
					<td>표준온도<span class="needStar"> *</span></td>
					<td><input type="text" name="ctemp" id="ctemp" class="empty" placeholder=" * 숫자만 입력하시오 * "></td>
				
					<td>공정코드<span class="needStar"> * </span></td>
					<td colspan="2"><input type="text" name="procId" id="procId"
						class="empty" readonly style="background: #ccdceb;">
						<button type="button" id="pdBtn" class="sixBtn2"
							style="margin-right: 10px;" data-bs-toggle="modal">조회</button></td>
				</tr>
				<tr>
					<td>점검주기<span class="needStar"> *</span></td>
					<td><input type="text" name="equCheck" id="equCheck"
						class="empty"></td>
				
					<td>등록일자<span class="needStar"> *</span></td>
					<td><input type="date" name="addDate" id="addDate" class="empty"></td>
				
					<td>담당자<span class="needStar"> *</span></td>
					
					<td><input type="text" name="empName" id="empName" class="empty" th:value='${#authentication.principal.empName}'></td> .
					<!-- <input type="hidden" name="empId" id="empId" class="empty" th:value='${#authentication.principal.empId}'> -->
				</tr>
			</table>

			<div class="divBtn">
				<button type="button" class="sixBtn2" style="float: right;"
					id="delBtn">삭제</button>
				<button type="button" class="sixBtn2" style="float: right;"
					id="modBtn">수정</button>
				<button type="button" class="sixBtn2" style="float: right;"
					id="addBtn">등록</button>
			</div>
			<br> <br>

			<!-- 공정코드 선택 Modal 시작 -->
			<div class="modal fade" id="pdModal" data-bs-backdrop="static"
				data-bs-keyboard="false" tabindex="-1" aria-labelledby="pdModal"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<!-- 모달 헤더 -->
						<div class="modal-header">
							<h5 class="modal-title" id="pdModalLabel"
								style="font-family: 'MaruBuri';">공정코드 선택</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<!-- 모달 바디 -->
						<div class="modal-body">
							<div id="pdGrid"></div>
						</div>
						<!-- 모달 푸터(버튼부분) -->
						<div class="modal-footer"></div>
					</div>
				</div>
			</div>


			
		</form>

		
		<div id="grid"></div>

		<script>
			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				scrollX: false,
				scrollY: false,

				rowHeaders: ['rowNum'],
				columns: [{
						header: '설비코드',
						name: 'equCode',
						sortable : true,
						align: 'center'
					},
					{
						header: '공정코드',
						name: 'procId',
						align: 'center'
					},
					{
						header: '설비명',
						name: 'equName',
						align: 'center'
					},
					{
						header: '모델',
						name: 'equModel',
						align: 'center'
					},
					{
						header: '설비라인',
						name: 'equLine',
						align: 'center'
					},
					{
						header: '점검주기',
						name: 'equCheck',
						align: 'center'
					},
					{
						header: '기준온도',
						name: 'ctemp',
						align: 'center'
					},
					{
						header: '등록일자',
						name: 'addDate',
						align: 'center'
					},
					{
						header: '담당자',
						name: 'empId',
						align: 'center'
					}
				]

			});

			// 페이지가 열리면 기능작동 - 리스트 띄워주기.  
			window.onload = function () {

				$.ajax({
					url: "/equipment/equCon",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
					}
				});
			};


			// 색 테마 적용
			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					selectedRowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});

			// 공정코드 리스트
			const pdGrid = new tui.Grid({
				el: document.getElementById('pdGrid'),
				scrollX: true,
				scrollY: true,
				setBodyHeight:400,
				minBodyHeight: 500,
				columns: [{
					header: '공정분류',
					name: 'comName',
					align: 'center'

				}, {
					header: '공정코드',
					name: 'procId',
					align: 'center'

				}, {
					header: '공정명',
					name: 'procName',
					align: 'center'

				}]
			});
			// 그리드 높이 & 색 변경 테마 적용
			pdGrid.setBodyHeight(400);
			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});

			// 공정코드 조회 버튼을 클릭 했을떄 공정코드 리스트를 불러옴.
			$('#pdBtn').on('click', function (e) {

				$.ajax({
					url: "/basic/procList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						pdGrid.resetData(result);
					},
					error: function (reject) {
						console.log(reject)
					}
				})
				setTimeout(() => pdGrid.refreshLayout(), 500);
				$('#pdModal').modal('show');
			});

			// 공정코드 클릭시 자동으로 등록인풋창에 값이 입력됨
			pdGrid.on('click', ev => {
				const focusCell = pdGrid.getFocusedCell()
				let dataRow = pdGrid.getRow(ev.rowKey);
				$('#procId').val(dataRow.procId);
				$('#pdModal').modal('hide');
			})



			// 클릭시 설비 정보데이터 인풋창에 값 불러오기.
			let selRow = 999;
			grid.on('click', ev => {
				// focus된 셀이 있는 열 전체 select 처리
				if(selRow != ev.rowKey){
					grid.removeRowClassName(selRow, 'cell-pink');
				}
				grid.addRowClassName(ev.rowKey, 'cell-pink');
				selRow = ev.rowKey;
				// 클릭한 Row의 정보를 dataRow에 저장
				var dataRow = grid.getRow(ev.rowKey);
				console.log(dataRow.equCode);
				console.log(dataRow);

				// 클릭시 인풋창에 데이터 불러오기

				$('#equCode').val(dataRow.equCode);
				$('#procId').val(dataRow.procId);
				$('#equName').val(dataRow.equName);
				$('#equModel').val(dataRow.equModel);
				$('#equLine').val(dataRow.equLine);
				$('#equCheck').val(dataRow.equCheck);
				$('#addDate').val(dataRow.addDate);
				$('#empId').val(dataRow.empId);
				$('#ctemp').val(dataRow.ctemp);
				
			});

			// 등록버튼 기능 구현
			$('#addBtn').on('click', function (e) {
				console.log($('#addForm').serialize())
				$.ajax({
					url: 'equAdd',
					type: 'post',
					data: $('#addForm').serialize(),
					dataType: 'json',
					success: function (result) {
						alert('설비정보가 등록되었습니다');
						console.log('result : ');
						console.log(result);
						//등록 버튼을 누르면 리스트에 삽입된다.     
						const appendedData = result
						grid.prependRow(appendedData);
						// 리스트를 리셋. 등록데이터가 바로 뜸.
						grid.resetData(result);
						setTimeout(() => orderingGrid.refreshLayout(), 1000);
					},
					error: function (reject) {
						alert('설비 등록 중 오류가 발생했습니다!');
						console.log(reject);
					}
				});
				// 인풋창을 비워줌
				$('#addForm input').val('');
			});
			
			// 설비정보 수정 
			$('#modBtn').on('click', function (e) {
				if (selRow === 999) {
					alert('수정할 데이터가 없습니다.')
				} else {
				
				console.log($('#addForm').serialize())
				$.ajax({
					url: 'equUpdate',
					type: 'post',
					data: $('#addForm').serialize(),
					dataType: 'json',
					success: function (result) {
						console.log(result);
						alert('설비정보가 수정되었습니다');
						const setData = result
						grid.setRow(selRow, setData);
						selRow = 999;
					},
					error: function (reject) {
						alert('설비 수정 중 오류가 발생했습니다!');
						console.log(reject);
					}
				});
				$('#addForm input').val('');
				
			  }
			})

			// 설비정보 삭제
			$('#delBtn').on('click', function (e) {
				if (selRow === 999) {
					alert('삭제 할 설비를 선택하시오.')
				} else {
				
				e.preventDefault();
				console.log(selRow);

				var equCode = $('#equCode').val();
				$.ajax({
					url: '/equipment/equDel', // 삭제 요청을 처리하는 서버 API의 엔드포인트
					type: 'POST', // HTTP 요청 메서드 (GET, POST 등)
					contentType: "application/json",
					data: JSON.stringify({
						equCode: $('#equCode').val()
					}), // 삭제할 설비의 ID를 전송
					success: function (result) {
						// 삭제 성공 시의 처리
						console.log('설비가 성공적으로 삭제되었습니다.');
						alert('설비정보가 성공적으로 삭제되었습니다.');

						grid.removeRow(selRow)
						selRow = '';
						// 삭제 기능을 하면서 인풋창을 비워주고 선택한 행을 지워주는?
						$('.empty').val('');
						
					},
					error: function (reject) {
						console.log('설비 삭제 중 오류가 발생했습니다.');
						console.log('오류 메시지:', reject);
						alert('설비 삭제 중 오류가 발생했습니다..');
					}
				});
				}
			});
		</script>
	</div>
</body>
</html>