<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
	<meta charset="utf-8">
	<title>설비 비가동 조회</title>
	<style>
		h1 {
			margin-bottom: 40px;
		}
		#oTable {
			margin: auto;
			margin-top: 20px;
			margin-bottom: 60px;
		}
		#oTable input, select, date {
			padding-left: 10px;
			width: 230px;
			height: 30px;
		}
		
		#searchForm td {
			padding: 4px 10px;
			text-align: left;
		}
		#oTable td {
			text-align: left;
			padding: 4px 10px;
		}
		#Btn { /* 버튼 */
			padding: 0.5em;
			text-align: right;
			height: 50px;
			margin-top: 65px;
			margin-bottom: 12px;
		}
		.center {
			text-align: center;
		}
		.modalTbl {
			margin: auto;
			text-align: center;
			height: 330px;
		}
		.modal-body {
			background: #e5edf5;
		}
		.modalTbl td {
			padding-right: 20px;
		}
		.modal-footer {
			text-align: center;
		}
	</style>
</head>

<body>

	<div layout:fragment="content">
		
		
		<h1 class="mt-4" style="font-family: 'MaruBuri';">설비 비가동 조회</h1>
		
		
		<!-- 검색 인풋 창 -->
		<Form id="searchForm">
			<table id="oTable">
			<tr>
				<td class="center">설비 코드<span class="needStar"> * </span></td>
				<td><input type="text" name="equCode" id="ocode" class="empty"></td>
			
				<td class="center">설비명<span class="needStar"> * </span></td>
				<td><input type="text" name="equName" id="oname" class="empty"></td>
			</tr>
			<tr>
				<td id="select">비가동 구분<span class="needStar"> *</span></td>
				<td id="select">
					<select id="operType" name="operType">
						<option value='' selected>===== 선택 =====</option>
						<option th:each="type : ${operType}" th:value="${type.value}" th:text="${type.text}">
						</option>
					</select>
				</td>

				<td id="date">비가동 시작일<span class="needStar"> * </span></td>
				<td id="date"><input type="date" name="operStart" id="oname" class="empty"></td>
				<td id="date"><input type="date" name="operFnish" id="oname" class="empty"></td>

				
				<!-- 검색 버튼 -->
				<td>
				<button type="button" class="sixBtn1" id="searchBtn2">
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
						fill="currentColor" class="bi bi-search" viewBox="0 2 16 16">
						<path
						d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
					</svg>
				</button>
				<button class="sixBtn2" id="reset">초기화</button>
				</td>
		</tr>
			</table>
			
		
		
		</Form>


		<!-- 그리드 시작 -->
		<div id="grid"></div>

		<script th:inline="javascript">

			let operType = [[${operType}]];
	
			let equStat = [[${equStat}]];
	    
	    const grid = new tui.Grid({
        el: document.getElementById('grid'),
        scrollX: false,
		scrollY: false,
		minBodyHeight: 450,
		rowHeight: 45,
		pageOptions: {
			useClient: true,
			perPage: 10
		},
        rowHeaders: ['rowNum'],
        columns: [
		  {
            header: '비가동코드',
            name: 'operCode',
            sortable : true,
            hidden : true
          },
          {
            header: '점검코드',
            name: 'checkCode',
            hidden : true
          },
		  {
            header: '설비코드',
            name: 'equCode',
            sortable : true,
            align: 'center'
          },
          {
            header: '설비명',
            name: 'equName',
            align: 'center'
          },
          {
			header: '설비상태',
			name: 'equStat',
			filter: 'select',
			align: 'center',
			formatter: 'listItemText',
			editor: {
				type: 'select',
				options: {
				listItems: equStat
				}
			}
			// header: '설비상태',
			// name: 'equStat',
			// filter: 'select',
			// align: 'center',
			// formatter: 'listItemText',
			// editor: {
			// type: 'select',
			// options: {
			// 		listItems: [
			// 			{text: '가동', value: 'STAT-1'},
			// 			{text: '비가동', value: 'STAT-2'},	
			// 		]
			// 	}
			// }
          },
          {
            header: '설비코드',
            name: 'equCode',
            align: 'center'
          },
          {
            header: '설비명',
            name: 'equName',
            align: 'center'
          },
          {
			
			header: '비가동 구분',
			name: 'operType',
			filter: 'select',
			align: 'center',
			formatter: 'listItemText',
			editor: {
				type: 'select',
				options: {
				listItems: operType
				}
			}
            // header: '비가동 구분',
            // name: 'operType',
            // align: 'center',
			// formatter: 'listItemText',
			// type: 'select',
			// editor: {
			// options: {
			// 		listItems: [
			// 			{text: '중지', value: 'OTYPE-1'},
			// 			{text: '점검', value: 'OTYPE-2'},
			// 			{text: '세척', value: 'OTYPE-3'},	
			// 		]
			// 	}
			// }
          },
          {
            header: '비가동 시작',
            name: 'operStart',
            align: 'center'
          },
		  {
            header: '비가동 종료',
            name: 'operFnish',
            align: 'center'
          },
		  {
            header: '비고',
            name: 'operNote',
            align: 'center'
          },
		  {
             header: '담당자',
             name: 'empName',
             align: 'center'
          },
         
        ]
     });

	 
	 window.onload = function(){
	    	
	    	$.ajax({
	    		url : "equOperList.Ajax",
	    		method : "GET",
	    		dataType : "JSON",
	    		success : function(result){
	    			grid.resetData(result);
	    		}
	    	});
	  
	    };
      
     tui.Grid.applyTheme('default', {
        cell: {
            header: {
                background: '#e5edf5'
            },
            rowHeader: {
                background: '#e5edf5'
            },
            normal: {
                background: '#ffffff'
            } 
        } 
    });


	
	// 조회 검색버튼 기능
    let searchType = '';
    let searchKey = '';
    
    	$('#searchBtn2').on('click', function(){
    	// if($('#ocode').val() === '' && $('#oname').val() === '' && $('#otype').val() === '') {
    	// 		alert('검색 항목을 입력해 주세요 !')	
    	//  } else {
				$.ajax({
					url: 'equOperSearch.Ajax',
					type: 'get',
					data: 
						$('#searchForm').serialize(),
					dataType: 'json',
					success: function (result) {
						grid.resetData(result);
						nowData = result;
					},
					error: function () {
						Msg.error('검색 중 오류가 발생하였습니다.', 2000);
					}
				})
		//	}

		})

	   //초기화 버튼 기능
	   $('#reset').on("click", function (e) {
		  		$('#ocode').val('');
				$('#oname').val('');
				
				$.ajax({
					url: "equOperList.Ajax",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
						gridInsertRow();
					},
 					error: function(reject){
						console.log(reject);
						Msg.error('오류가 발생하였습니다.', 2000);
					}
				});
				
			});



	</script> 
	</div>
</body>
</html>