<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>자재재고조정</title>
	<style>
		#left {
			text-align: center;
			padding: 10px 0 30px;
		}	
	</style>
</head>

<body>
	<div layout:fragment="content">
			<h1 class="mt-4" style="font-family: 'MaruBuri';">자재 재고 조정</h1>
	
			<div id="left">
				자재LOT번호 <input type="text" id="matLotId" name="matLotId">
				<button class="sixBtn2" id="check">조회</button>
				<button class="sixBtn4" id="reset">초기화</button>
			</div>
			<div class="rightBtn">
				<button class="sixBtn4" id="adjinsert">조정입고</button>
				<button class="sixBtn4" id="adjdelete">조정출고</button>
			</div>
			
			<div id="gridm"></div>
			
		<script>
			const gridData = [
	
			];
			
			function matAdjList(matLotId){	
				$.ajax({
					url : "/materials/matadjlist",
					method : "GET",
					data : {matLotId : matLotId},
					success : function(result) {
						gridm.resetData(result);
					},
 					error: function(reject) {
						console.log(reject);
					}
				});
			}
			
			let matLotId = null;
			matAdjList(matLotId);
			
			$('#check').click(function(){
				matLotId = $('#matLotId').val();
				matAdjList(matLotId);

			})
			
			$('#reset').click(function(){
				$('#matLotId').val('');
				matLotId = $('#matLotId').val();
				matAdjList(matLotId);

			})			
			
			
			
			const gridm = new tui.Grid({
				el : document.getElementById('gridm'),
				//data : gridData,
				scrollX : false,
				scrollY : false,
				pageOptions: {
					useClient: true,
					perPage: 10
					
				},
				rowHeight: 45,
				minBodyHeight: 200,
				rowHeaders: ['checkbox', 'rowNum'],
				columns : [ 
					{
					header : '자재LOT번호',
					name : 'matLotId',
	                align: 'center'
				},	{
					header : '자재코드',
					name : 'matId',
	                align: 'center'
				}, {
					header : '자재명',
					name : 'matName',
	                align: 'center'
				}, {
					header : '자재규격',
					name : 'matSize',
	                align: 'center'
				}, {
					header : '현재재고량',
					name : 'matQt',
	                align: 'right',
	                formatter: ({ value }) => {
	              	  if(value != null){
	                 		return value.toLocaleString()
	                  }else{
	              	 		return ''
	                  } 
	                }
				}, {
					header : '조정수량',
					name : 'matAdjQt',
	                align: 'right',
	                formatter: ({ value }) => {
	              	  if(value != null){
	                 		return value.toLocaleString()
	                  }else{
	              	 		return ''
	                  } 
	                },
					editor : 'text'
				}]
			});
			
 			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					rowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});
 			
 			//자재조정입고버튼
 			$('#adjinsert').on('click', function() {
 				gridm.blur();
 				$.ajax({
					url: "/materials/matrecadj",
					method: "POST",
					contentType: 'application/json',
					data: JSON.stringify(gridm.getCheckedRows()),
					success: function (result) {
						alert('입고 완료');
						matAdjList(matLotId);
						
					},
					error : function(reject){
						console.log(reject);
						alert('입고 실패');
					}
 				})
 			});
 			
/*  			//자재조정출고버튼
 			$('#adjdelete').on('click', function(){
 				$.ajax({
					url: "/materials/matshipadj",
					method: "POST",
					contentType: 'application/json',
					data: JSON.stringify(gridm.getCheckedRows()),
					success: function (result) {
						console.log(result);
						matAdjList(matLotId);
					},
					error : function(reject){
						console.log(reject);
					}
 				})
 			}) */
 			
 			
 			//자재조정출고버튼
 			$('#adjdelete').on('click', function(){
 				gridm.blur();
 			    var checkedRows = gridm.getCheckedRows();
 			    var invalidRows = checkedRows.filter(function(row) {
 			        return parseInt(row.matAdjQt) > parseInt(row.matQt);
 			    });
 			    if (invalidRows.length > 0) {
 			        alert('출고 수량이 현재 수량보다 많습니다');
 			    } else {
 			        $.ajax({
 			            url: "/materials/matshipadj",
 			            method: "POST",
 			            contentType: 'application/json',
 			            data: JSON.stringify(gridm.getCheckedRows()),
 			            success: function (result) {
 			                console.log(result);
 			                //alert('출고 완료');
 			               Msg.success('출고 완료', 2000);
 			            },
 			            error: function (reject) {
 			                console.log(reject);
 			               alert('출고 실패');
 			            }
 			        });
 			    }
 			})
		</script>
	</div>
</body>

</html>