<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>불량 자재 관리</title>
	<style>
		h1 {
			margin-bottom: 10px;
		}

		h3 {
			padding: 20px 20px 0px 20px;
		}

		button{
			margin: 8px;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">불량 자재 관리</h1>
		<h3 class="mt-4" style="font-family: 'MaruBuri';">불량처리 대기 목록</h3>
		<div id="grid"></div>
		<button type="button" class="sixBtn4" id="returnBtn">반품등록</button>
		<button type="button" class="sixBtn4" id="dropBtn">폐기등록</button>
		<h3 class="mt-4" style="font-family: 'MaruBuri';">불량처리 완료 목록</h3>
		<div id="grids"></div>
		<button type="button" class="sixBtn4" id="delBtn">내역삭제</button>
		

		
		<script>

			const gridData = [

			];
			window.onload = function () {
			
				$.ajax({
					url: "/materials/matdmglist",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grids.resetData(result);
						//console.log(result);
					},
					error : function(reject){
						console.log(reject);
					}
					
				});
				
				
				$.ajax({
					url: "/materials/matdmgwaitlist",
					method: "GET",
					dataType: "JSON",
					
					success: function (result) {
						grid.resetData(result);
						//console.log(result);
					},
					error : function(reject){
						console.log(reject);
					}

				});
				
				
			};



			//불량품 처리대기 리스트
			const grid = new tui.Grid({
				el: document.getElementById('grid'),

				scrollX: false,
				scrollY: false,
				pageOptions: {
					useClient: true,
					perPage: 5
				},



				rowHeaders: ['checkbox', 'rowNum'],


				columns: [{
						header: '검사번호',
						name: 'inspNum',
		                align: 'center'
					},
					{
						header: '자재코드',
						name: 'matId',
		                align: 'center'
					},
					{
						header: '자재명',
						name: 'matName',
		                align: 'center'
					},
					{
						header: '자재규격',
						name: 'matSize',
		                align: 'center'
					},
					{
						header: '불량수량',
						name: 'resVal',
		                align: 'right',
						editor : 'text',
		                formatter: ({ value }) => {
			              	  if(value != null){
			                 		return value.toLocaleString()
			                  }else{
			              	 		return ''
			                  } 
			            }
					},
					{
						header: '불량등록일자',
						name: 'inspDate',
		                align: 'center'
					},
					{
						header: '담당자',
						name: 'empName',
		                align: 'center'
					},
					{
						header: '비고',
						name: 'dmatNote',
		                align: 'center'
						
					},
					{
						header: '불량처리',
						name: 'dmatResult',
						hidden: true
						
					}

				]

			});
			
			grid.setBodyHeight(190)
			// 불량처리완료 리스트
 			const gridDataa = [
				
			];
			
			const grids = new tui.Grid({
				el: document.getElementById('grids'),

				scrollX: false,
				scrollY: false,
				pageOptions: {
					useClient: true,
					perPage: 5
				},

				rowHeight: 45,
				minBodyHeight: 200,
				rowHeaders: ['rowNum'],


				columns: [{
						header: '불량등록번호',
						name: 'dmatId',
		                align: 'center'
					},
					{
						header: '검사번호',
						name: 'inspNum',
		                align: 'center'
					},
					{
						header: '자재코드',
						name: 'matId',
		                align: 'center'
					},
					{
						header: '자재명',
						name: 'matName',
		                align: 'center'
					},
					{
						header: '자재규격',
						name: 'matSize',
		                align: 'center'
					},
					{
						header: '불량수량',
						name: 'resVal',
		                align: 'right',
						editor : 'text',
		                formatter: ({ value }) => {
			              	  if(value != null){
			                 		return value.toLocaleString()
			                  }else{
			              	 		return ''
			                  } 
			            }
					},
					{
						header: '처리유형',
						name: 'dmatStat',
		                align: 'center'
					},
					{
						header: '등록일자',
						name: 'dmatDate',
		                align: 'center'
					},
					{
						header: '담당자',
						name: 'empName',
		                align: 'center'
					},
					{
						header: '비고',
						name: 'dmatNote',
		                align: 'center'
					}
					
				]

			}); 
			





			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					rowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});
			
			
			//반품버튼
 			$('#returnBtn').on('click', function () {
 				grid.setValue(0, "dmatResult", "반품");
				console.log(grid.getCheckedRows()[0].dmatResult);
				console.log(grid.getCheckedRows().length);
				console.log(JSON.stringify(grid.getCheckedRows()));
				$.ajax({
					url: "/materials/insertMatDmg",
					method: "POST",
					contentType: 'application/json',
					data: JSON.stringify(grid.getCheckedRows()),
					success: function (result) {
						console.log(result);
						alert("반품 등록 완료");
						$.ajax({
							url: "/materials/matdmgwaitlist",
							method: "GET",
							dataType: "JSON",
							
							success: function (result) {
								grid.resetData(result);
								//console.log(result);
							},
							error : function(reject){
								console.log(reject);
							}

						});
						$.ajax({
							url: "/materials/matdmglist",
							method: "GET",
							dataType: "JSON",
							success: function (result) {
								grids.resetData(result);
								grids.refreshLayout();
							},
							error : function(reject){
								console.log(reject);
							}
							
						});
						
						
					},
					error : function(reject){
						console.log(reject);
						alert("반품 등록 실패");
					}
					
				});
			})
			//폐기버튼
 			$('#dropBtn').on('click', function () {
 				grid.setValue(0, "dmatResult", "폐기");
				console.log(grid.getCheckedRows()[0].dmatResult);
				console.log(grid.getCheckedRows().length);
				console.log(JSON.stringify(grid.getCheckedRows()));
				$.ajax({
					url: "/materials/insertMatDmg",
					method: "POST",
					contentType: 'application/json',
					data: JSON.stringify(grid.getCheckedRows()),
					success: function (result) {
						console.log(result);
						alert("폐기 등록 완료");
						$.ajax({
							url: "/materials/matdmgwaitlist",
							method: "GET",
							dataType: "JSON",
							
							success: function (result) {
								grid.resetData(result);
								//console.log(result);
							},
							error : function(reject){
								console.log(reject);
							}

						});
						$.ajax({
							url: "/materials/matdmglist",
							method: "GET",
							dataType: "JSON",
							success: function (result) {
								grids.resetData(result);
								grids.refreshLayout();
							},
							error : function(reject){
								console.log(reject);
							}
							
						});
						
						
					},
					error : function(reject){
						console.log(reject);
						alert("폐기 등록 실패");
					}
					
				});
			})
			
			//체크된 항목 삭제	    
			$('#delBtn').on("click", function () {
/* 				$.ajax({
					url: "/materials/delmatrec",
					method: "POST",
					contentType: 'application/json',
					data: JSON.stringify(grids.getCheckedRows()),
					//data : {list : JSON.stringify(matReqIds)},
					//data :{matReqId : grid.getCheckedRows()[0].matReqId},
					success: function (result) {
						console.log(result);
					},
 					error: function(reject){
						console.log(reject);
					}
				}) */

				grids.removeCheckedRows(false);
				
				grids.blur();
				
				
			});
			
		</script>



	</div>
</body>

</html>