<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>불량 자재 조회</title>
	<style>
		h1 {
			margin-bottom: 10px;
		}

		h3 {
			padding: 20px 20px 0px 20px;
		}

		button{
			margin: 8px;
		}
		
		 .inputR {
			width: 210px;
			padding-left : 5px
		}

		#matDmgTable td {
			padding: 3px 20px 10px;
			text-align: center;
		}
		#divRadio{
			padding-right : 130px;
		}
		#radio input{
			width:30px
		}
		#matDmgTable{
			margin: 20px auto;
		}
		.divBtn{
			text-align:center;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">불량 자재 조회</h1>
		<form action="" method="post" id="matDmgForm">
				<table id="matDmgTable">
					<tr>
						<td>불량등록번호</td>
						<td><input type="text" name="dmatId" id="dmatId" class="inputR" placeholder="검색"></td>
						<td>등록일자</td>
						<td>
							<input type="date" id="dmatDate"> ~ <input type="date" id="dmatDatee">
						</td>
					</tr>
					<tr>
						<td>자재명</td>
						<td><input type="text" name="matName" id="matName" class="inputR" placeholder="검색"></td>
						<td>처리유형</td>
						<td>
							<div id="divRadio">
								<input type="radio" id="dmatStat0" name="dmatStat" value="">
								<label for="matHoldStat0">전체</label>
								<input type="radio" id="dmatStat1" name="dmatStat" value="반품">
								<label for="dmatStat1">반품</label>
								<input type="radio" id="dmatStat2" name="dmatStat" value="폐기">
								<label for="dmatStat2">폐기</label>
							</div>
						</td>
					</tr>
				</table>
			</form>
			<div class="divBtn">
				<button class="sixBtn2" id="check">검색</button>
				<button class="sixBtn4" id="reset">초기화</button>
			</div>

		<div id="grids"></div>
		<script>

			const gridData = [

			];
			
			
			function matDmgList(dmatId, matName, sDate, eDate, dmatStat){
				
				$.ajax({
					url: "/materials/matdmglist",
					method: "GET",
					data : {dmatId : dmatId, matName : matName, sDate : sDate, eDate : eDate, dmatStat : dmatStat},
					success: function (result) {
						grids.resetData(result);
						//console.log(result);
					},
					error : function(reject){
						console.log(reject);
					}
					
				});
				
			}
			
			let dmatId = '';
			let matName = '';
			let sDate = '';
			let eDate = '';
			let dmatStat = '';
			
			matDmgList(dmatId, matName, sDate, eDate, dmatStat);
			
			
			
			// 불량처리완료 리스트
 			const gridDataa = [
				
			];
			
			const grids = new tui.Grid({
				el: document.getElementById('grids'),

				scrollX: false,
				scrollY: false,
				pageOptions: {
					useClient: true,
					perPage: 10
				},

				rowHeight: 45,
				minBodyHeight: 200, //한줄에 40으로 기억
				rowHeaders: ['rowNum'],


				columns: [{
						header: '불량등록번호',
						name: 'dmatId'
					},
					{
						header: '검사번호',
						name: 'inspNum'
					},
					{
						header: '자재코드',
						name: 'matId'
					},
					{
						header: '자재명',
						name: 'matName'
					},
					{
						header: '자재규격',
						name: 'matSize'
					},
					{
						header: '불량수량',
						name: 'resVal'
					},
					{
						header: '처리유형',
						name: 'dmatStat'
					},
					{
						header: '등록일자',
						name: 'dmatDate'
					},
					{
						header: '담당자',
						name: 'empName'
					},
					{
						header: '비고',
						name: 'dmatNote'
					}
					
				]

			}); 
			





			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					rowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});
			
			//검색 버튼
			$('#check').click(function(){
				dmatId = $('#dmatId').val();
				matName = $('#matName').val();
				dmatStat = $("input[name='dmatStat']:checked").val();
				sDate = $('#dmatDate').val();
				eDate = $('#dmatDatee').val();
				matDmgList(dmatId, matName, sDate, eDate, dmatStat);

			})
			
			$('#reset').click(function(){
				$('#dmatId').val('');
				$('#matName').val('');
				$("input[name='dmatStat']:checked").val('');
				$('#dmatDate').val('');
				$('#dmatDatee').val('');
				dmatId = $('#dmatId').val();
				matName = $('#matName').val();
				dmatStat = $("input[name='dmatStat']:checked").val();
				sDate = $('#dmatDate').val();
				eDate = $('#dmatDatee').val();
				$('input[type="radio"]').prop('checked', false);
				matDmgList(dmatId, matName, sDate, eDate, dmatStat);

			})
			
			
		</script>



	</div>
</body>

</html>