<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>자재조회</title>
	<style>
	#gridm .redcolor{
		background-color : #ffe4e4
	}
	#gridm .yellowcolor{
		background-color : #e8f71c63
	}
	
	</style>
</head>

<body>
	<div layout:fragment="content">
			<h1 class="mt-4" style="font-family: 'MaruBuri';">자재조회</h1>
	
			<div id="left">
				자재명 <input type="text" id="matName" name="matName">
				<button class="sixBtn1">
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" fill="currentColor" class="bi bi-search"
						viewBox="0 2 16 16">
						<path
							d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
					</svg>
				</button>
			</div>
			<div id="left">
				<button class="sixBtn2" id="check">조회</button>
				<button class="sixBtn4" id="reset">초기화</button>
			</div>
			
			<div id="gridm"></div>
			
		<script>
		const gridData = [

			];
			
		function matList(matName){
			$.ajax({
				url : "/materials/matlist",
				method : "GET",
				dataType : "JSON",
				data: {matName : matName},
				success : function(result) {
					gridm.resetData(result);
					gridm.getData().forEach(ele=>{
						if(ele.matSafe/2>ele.matQtSum){
							gridm.addCellClassName(ele.rowKey, 'matId','redcolor');
							gridm.addCellClassName(ele.rowKey, 'matName','redcolor');
							gridm.addCellClassName(ele.rowKey, 'matSize','redcolor');
							gridm.addCellClassName(ele.rowKey, 'matUnit','redcolor');
							gridm.addCellClassName(ele.rowKey, 'matSafe','redcolor');
							gridm.addCellClassName(ele.rowKey, 'matQtSum','redcolor');
						}else if((ele.matSafe)>ele.matQtSum){
							//gridm.addRowClassName(ele.rowKey,'yellowcolor');
							gridm.addCellClassName(ele.rowKey, 'matId','yellowcolor');
							gridm.addCellClassName(ele.rowKey, 'matName','yellowcolor');
							gridm.addCellClassName(ele.rowKey, 'matSize','yellowcolor');
							gridm.addCellClassName(ele.rowKey, 'matUnit','yellowcolor');
							gridm.addCellClassName(ele.rowKey, 'matSafe','yellowcolor');
							gridm.addCellClassName(ele.rowKey, 'matQtSum','yellowcolor');
						}
					});
				},
					error: function(reject) {
					console.log(reject);
				}
			});
		}
		let matName = null;
		matList(matName);
		
/* 			window.onload = function () {
				
				$.ajax({
					url : "/materials/matlist",
					method : "GET",
					dataType : "JSON",
					data: {matName : matName},
					success : function(result) {
						gridm.resetData(result);
						gridm.getData().forEach(ele=>{
							if(ele.matSafe/2>ele.matQtSum){
								gridm.addCellClassName(ele.rowKey, 'matId','redcolor');
								gridm.addCellClassName(ele.rowKey, 'matName','redcolor');
								gridm.addCellClassName(ele.rowKey, 'matSize','redcolor');
								gridm.addCellClassName(ele.rowKey, 'matUnit','redcolor');
								gridm.addCellClassName(ele.rowKey, 'matSafe','redcolor');
								gridm.addCellClassName(ele.rowKey, 'matQtSum','redcolor');
							}else if((ele.matSafe)>ele.matQtSum){
								//gridm.addRowClassName(ele.rowKey,'yellowcolor');
								gridm.addCellClassName(ele.rowKey, 'matId','yellowcolor');
								gridm.addCellClassName(ele.rowKey, 'matName','yellowcolor');
								gridm.addCellClassName(ele.rowKey, 'matSize','yellowcolor');
								gridm.addCellClassName(ele.rowKey, 'matUnit','yellowcolor');
								gridm.addCellClassName(ele.rowKey, 'matSafe','yellowcolor');
								gridm.addCellClassName(ele.rowKey, 'matQtSum','yellowcolor');
							}
						});
					},
 					error: function(reject) {
						console.log(reject);
					}
				});
			} */
			
 			$('#check').on('click', function(){
 				matName = $('#matName').val();
 				console.log(matName);
 				matList(matName);
 			})
			
			const gridm = new tui.Grid({
				el : document.getElementById('gridm'),
				//data : gridData,
				scrollX : false,
				scrollY : false,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				rowHeaders: ['rowNum'],
				columns : [ 
					{
					header : '자재코드',
					name : 'matId',
				}, {
					header : '자재명',
					name : 'matName'
				}, {
					header : '자재규격',
					name : 'matSize'
				}, {
					header : '단위',
					name : 'matUnit'
				}, {
					header : '안전재고',
					name : 'matSafe'
				}, {
					header : '현재고',
					name : 'matQtSum'
				}]
			});
			
 			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					rowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});
 			
 			

		</script>
	</div>
</body>

</html>