<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>자재LOT조회</title>

</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">자재 LOT 조회</h1>
		<form action="" method="post" id="matLotForm">
				<table id="matLotTable">
					<tr>
						<td>자재LOT번호</td>
						<td><input type="text" name="mlot" id="mlot" class="empty" placeholder="검색"></td>
					</tr>
					<tr>
						<td>자재명</td>
						<td><input type="text" name="mname" id="mname" class="empty" placeholder="검색">
						</td>
					</tr>
					<tr>
						<td>홀드상태</td>
						<td>
							<div id="divRadio">
								<input type="radio" id="matHoldStat0" name="matHoldStat" value="">
								<label for="matHoldStat0">전체</label>
								<input type="radio" id="matHoldStat1" name="matHoldStat" value="Y">
								<label for="matHoldStat1">Y</label>
								<input type="radio" id="matHoldStat2" name="matHoldStat" value="N">
								<label for="matHoldStat2">N</label>
							</div>
						</td>
					</tr>
					<tr>
						<td>입고일자</td>
						<td>
							<input type="date" id="matRecDate"> ~ <input type="date" id="matRecDatee">
						</td>
					</tr>
				</table>
			</form>
			<div id="left">
				<button class="sixBtn2" id="check">조회</button>
				<button class="sixBtn4" id="reset">초기화</button>
			</div>
		
		<div id="grid"></div>
		<script>
			const gridData = [

			];


			
				function mLotList(lot, mat, holdStat, sDate, eDate){
					
					$.ajax({
						url: "/materials/matlotlist",
						method: "GET",
						data:{matLotId : lot, matName : mat, matHoldStat : holdStat, sDate: sDate, eDate:eDate},
						success: function (result) {
							grid.resetData(result);
						},
	 					error: function(reject){
							console.log(reject);
						}
					
					});

				}
				
			let lot =null;
			let mat = null;
			let holdStat = null;
			let sDate = null;
			let eDate = null;
			mLotList(lot, mat, sDate, eDate);
			
			$('#check').click(function(){
				lot = $('#mlot').val();
				mat = $('#mname').val();
				holdStat = $("input[name='matHoldStat']:checked").val();
				sDate = $('#matRecDate').val();
				eDate = $('#matRecDatee').val();
				mLotList(lot, mat, holdStat, sDate, eDate);

			})
			
			$('#reset').click(function(){
				$('#mlot').val('');
				$('#mname').val('');
				$("input[name='matHoldStat']:checked").val('');
				$('#matRecDatee').val('');
				$('#matRecDate').val('');
				lot = $('#mlot').val();
				mat = $('#mname').val();
				holdStat = $("input[name='matHoldStat']:checked").val();
				sDate = $('#matRecDate').val();
				eDate = $('#matRecDatee').val();
				$('input[type="radio"]').prop('checked', false);
				mLotList(lot, mat, holdStat, sDate, eDate);

			})
			
			
			
			
			
			
			
			
			
			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				
				scrollX: false,
				scrollY: false,
				pageOptions: {
					useClient: true,
					perPage: 10
				},


				
				rowHeaders: ['rowNum'],


				columns: [{
						header: '자재LOT번호',
						name: 'matLotId'
					},
					{
						header: '자재코드',
						name: 'matId'
					},
					{
						header: '자재명',
						name: 'matName'
					},
					{
						header: '규격',
						name: 'matSize'
					},
					{
						header: '재고량',
						name: 'matQt'
					},
					{
						header: '홀드상태',
						name: 'matHoldStat'
					},
					{
						header: '입고일자',
						name: 'matRecDate'
					}
				]
				
			});
			
			
 			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					rowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});
		</script>
	</div>
</body>

</html>