<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>자재 입고 관리</title>
	<style>
		h1 {
			margin-bottom: 10px;
		}

		h3 {
			padding: 20px 20px 0px 20px;
		}

		button{
			margin: 8px;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">자재 입고 관리</h1>

		<h3 class="mt-4" style="font-family: 'MaruBuri';">입고 대기 목록</h3>
		<div id="grid"></div>
		<button type="button" class="sixBtn2" id="addBtn">입고</button>
		<h3 class="mt-4" style="font-family: 'MaruBuri';">입고 목록</h3>
		<div id="grids"></div>

		
		<script>
		
			const gridData = [

			];
			window.onload = function () {
			
				$.ajax({
					url: "/materials/matreclist.Ajax",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grids.resetData(result);
						//console.log(result);
					},
					error : function(reject){
						console.log(reject);
					}
					
				});
				
				
				$.ajax({
					url: "/materials/matrecwait.Ajax",
					method: "GET",
					dataType: "JSON",
					
					success: function (result) {
						grid.resetData(result);
						//console.log(result);
					},
					error : function(reject){
						console.log(reject);
					}

				});

				$('#staticBackdrop').on('show.bs.modal', function (e) {
					setTimeout(() => grid.refreshLayout(), 200);
				})
				
				
			};



			//입고대기 리스트
			const grid = new tui.Grid({
				el: document.getElementById('grid'),

				scrollX: false,
				scrollY: false,
				pageOptions: {
					useClient: true,
					perPage: 5
				},



				rowHeaders: ['checkbox', 'rowNum'],


				columns: [{
						header: '검사번호',
						name: 'inspNum',
			            align: 'center'
					},
					{
						header: '발주번호',
						name: 'matReqId',
			            align: 'center'
					},
					{
						header: '자재코드',
						name: 'inspItemId',
			            align: 'center'
					},
					{
						header: '자재명',
						name: 'matName',
			            align: 'center'
					},
					{
						header: '적합수량',
						name: 'suitQt',
		                align: 'center',
		                formatter: ({ value }) => {
		              	  if(value != null){
		                 		return value.toLocaleString()
		                  }else{
		              	 		return ''
		                  } 
		                }
					},
					{
						header: '검사일자',
						name: 'inspDate',
			            align: 'center'
					},
					{
						header: '담당자',
						name: 'empName',
			            align: 'center'
					}


				]

			});
			
			grid.setBodyHeight(190)
			// 입고목록 리스트
 			const gridDataa = [
				
			];
			
			const grids = new tui.Grid({
				el: document.getElementById('grids'),

				scrollX: false,
				scrollY: false,
				pageOptions: {
					useClient: true,
					perPage: 5
				},


				minBodyHeight: 200, //한줄에 40으로 기억
				rowHeaders: ['rowNum'],


				columns: [{
						header: '자재입고번호',
						name: 'matRecId',
			            align: 'center'
					},
					{
						header: '자재LOT번호',
						name: 'matLotId',
			            align: 'center'
					},
					{
						header: '발주번호',
						name: 'matReqId',
			            align: 'center'
					},
					{
						header: '자재명',
						name: 'matName',
			            align: 'center'
					},
					{
						header: '입고수량',
						name: 'matRecQt',
		                align: 'center',
		                formatter: ({ value }) => {
		              	  if(value != null){
		                 		return value.toLocaleString()
		                  }else{
		              	 		return ''
		                  } 
		                }
					},
					{
						header: '거래처명',
						name: 'busName',
			            align: 'center'
					},
					{
						header: '검사일자',
						name: 'inspDate',
			            align: 'center'
					},
					{
						header: '입고일자',
						name: 'matRecDate',
			            align: 'center'
					},
					{
						header: '입고유형',
						name: 'matRecType',
			            align: 'center'
					},
					{
						header: '담당자',
						name: 'empName',
			            align: 'center'
					},
					{
						header: '비고',
						name: 'matRecNote',
			            align: 'center'
					}
					
				]

			}); 
			





			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					rowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});
			
			
			//입고등록 입고 버튼
 			$('#addBtn').on('click', function () {
				console.log(JSON.stringify(grid.getCheckedRows()))
				$.ajax({
					url: "/materials/insertmatrec.Ajax",
					method: "POST",
					contentType: 'application/json',
					data: JSON.stringify(grid.getCheckedRows()),
					success: function (result) {
						console.log(result);
						alert("입고 완료");
						$('#staticBackdrop').modal('hide');
						$.ajax({
							url: "/materials/matrecwait.Ajax",
							method: "GET",
							dataType: "JSON",
							
							success: function (result) {
								grid.resetData(result);
								//console.log(result);
							},
							error : function(reject){
								console.log(reject);
							}

						});
						$.ajax({
							url: "/materials/matreclist.Ajax",
							method: "GET",
							dataType: "JSON",
							success: function (result) {
								grids.resetData(result);
								grids.refreshLayout();
							},
							error : function(reject){
								console.log(reject);
							}
							
						});
						
						
					},
					error : function(reject){
						console.log(reject);
						alert("입고 실패");
					}
					
				});
			})
			
		</script>



	</div>
</body>

</html>