<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
<title>자재발주조회</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">자재 발주 조회</h1>
		<form action="" method="post" id="reqForm">
				<table id="reqTable">
					<tr>
						<td>발주번호</td>
						<td><input type="text" name="matReqId" id="matReqId" class="empty" placeholder="검색"></td>
					</tr>
					<tr>
						<td>자재명</td>
						<td><input type="text" name="matName" id="matName" class="empty" placeholder="검색">
						</td>
					</tr>
					<tr>
						<td>거래처명</td>
						<td><input type="text" name="busName" id="busName" class="empty" placeholder="검색">
						</td>
					</tr>
					<tr>
						<td>발주등록일자</td>
						<td>
							<input type="date" id="matInSDate"> ~ <input type="date" id="matInEDate">
						</td>
					</tr>
					<tr>
						<td>발주상태</td> 
						<td>
						<input type="radio" id="matReqStat1" name="matReqStat" value="">
								<label for="matHoldStat1">전체</label>
						<input type="radio" th:each="req: ${REQSTAT}" th:value="${req.value}" th:text="${req.text}" name="matReqStat" id="matReqStat"></td> 
					</tr>
					<tr>
						<td>납기일자</td>
						<td>
							<input type="date" id="matEndSDate"> ~ <input type="date" id="matEndEDate">
						</td>
					</tr>
				</table>
			</form>
			<div class="divBtn">
				<button type="button" class="sixBtn2" id="check">조회</button>
				<button type="button" class="sixBtn3" id="reset">초기화</button>
			</div>

		<!-- 발주 목록 그리드 -->
		<div id="grid"></div>
				
		<script th:inline="javascript">
		let reqStat = [[${REQSTAT}]];
		let transPro='';
		
			const gridData = [

			];
				function matReqList(){
					$.ajax({
						url: "/materials/matreqlist",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							grid.resetData(result);
							grid.disable();
						},
						error: function(reject){
							console.log(reject);
						}
						
					});
				}

				function matReqSearch(matReqId, matName, busName, matReqStat, matInSDate, matInEDate, matEndSDate, matEndSDate, matEndEDate){
					$.ajax({
						url: "/materials/matreqsearch",
						method: "GET",
						data : {matReqId : matReqId, matName : matName, busName : busName, matReqStat : matReqStat, matInSDate : matInSDate,
								matInEDate : matInEDate, matEndSDate : matEndSDate, matEndSDate : matEndSDate, matEndEDate : matEndEDate},
						success: function (result) {
							grid.resetData(result);
							grid.disable();
						},
						error: function(reject){
							console.log(reject);
						}
						
					});
				}
				
				
				let matReqId = null;
				let matName = null;
				let busName = null;
				let matReqStat = null;
				let matInSDate = null;
				let matInEDate = null;
				let matEndSDate = null;
				let matEndEDate = null;
				
				
				matReqList();
			
			//테이블에 들어갈 데이터 설정(조회)
			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				
				scrollX: false,
				scrollY: false,
				pageOptions: {
					useClient: true,
					perPage: 10
				},


				
				rowHeaders: ['rowNum'],


				columns: [{
						header: '발주번호',
						name: 'matReqId'
					},
					{
						header: '자재코드',
						name: 'matId'
					},
					{
						header: '자재명',
						name: 'matName'
					},
					{
						header: '규격',
						name: 'matSize'
					},
					{
						header: '발주량',
						name: 'matReqQt'
					},
					{
						header: '거래처코드',
						name: 'busId'
						
					},
					{
						header: '거래처명',
						name: 'busName'
					},
					{
						header: '발주일',
						name: 'matReqDate'
					},
					{
						header: '발주상태',
						name: 'matReqStat',
						formatter: 'listItemText',
				          editor: 
				          {
				            type: 'text',
				            options: {
				              listItems:reqStat
				            }
				          }
					},
					{
						header: '납기요청일',
						name: 'matEndDate'
					},
					{
						header: '담당자',
						name: 'empName'
					}
					

				]
				
			});



  			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					disabled : {
						text : '#000'
					}
				}
			});

			
			
			
			//조회하기
			$('#check').on("click", function () {
				matReqId = $('#matReqId').val();
				matName = $('#matName').val();
				busName = $('#busName').val();
				matReqStat = $("input[name='matReqStat']:checked").val();
				matInSDate = $('#matInSDate').val();
				matInEDate = $('#matInEDate').val();
				matEndSDate = $('#matEndSDate').val();
				matEndEDate = $('#matEndEDate').val();
				matReqSearch(matReqId, matName, busName, matReqStat, matInSDate, matInEDate, matEndSDate, matEndSDate, matEndEDate);
				
			});

			//초기화 버튼 설정
			$('#reset').on("click", function (e) {
				$('#matReqId').val('');
				$('#matName').val('');
				$('#busName').val('');
				$("input[name='matReqStat']:checked").val();
				$('#matInSDate').val('');
				$('#matInEDate').val('');
				$('#matEndSDate').val('');
				$('#matEndEDate').val('');
				$('input[type="radio"]').prop('checked', false);
				matReqList();
				
			});
	    	
		</script>
	</div>
</body>
</html>