<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
	<meta charset="UTF-8">
	<title>자재 발주 조회</title>
	<style>
      .inputR {
			width: 210px;
			padding-left : 5px
		}

		#reqTable td {
			padding: 3px 20px 10px;
			text-align: center;
		}
		#radio input{
			width:30px
		}
		#reqTable{
			margin: 20px auto;
		}
		.divBtn{
			text-align:center;
			padding : 10px 0 30px;
		}		
	</style>
</head>
<body>
   <div layout:fragment="content">
      <h1 class="mt-4" style="font-family: 'MaruBuri';">자재 발주 조회</h1>
      <form action="" method="post" id="reqForm">
         <table id="reqTable">
            <tr>
               <td>발주번호</td>
               <td><input type="text" name="matReqId" id="matReqId" class="inputR" placeholder="검색"></td>
               <td>발주등록일자</td>
               <td>
                  <input type="date" id="matInSDate" class="inputR"> ~ <input type="date" id="matInEDate" class="inputR" min=minDate>
               </td>
              
            </tr>
            <tr>
            <td>자재명</td>
               <td><input type="text" name="matName" id="matName" class="inputR" placeholder="검색">
               </td>
               
               <td>납기일자</td>
               <td>
                  <input type="date" id="matEndSDate" class="inputR" > ~ <input type="date" id="matEndEDate" class="inputR" >
               </td>
            </tr>
            <tr>
             <td>거래처명</td>
               <td><input type="text" name="busName" id="busName" class="inputR" placeholder="검색">
               </td>
               <td>발주상태</td>
               <td>
	               <div id="radio">
	                  <input type="radio" id="matReqStat1" name="matReqStat" value="" checked>
	                  <label for="matHoldStat1">전체</label>
	                  <input type="radio" th:each="req: ${REQSTAT}" th:value="${req.value}" th:text="${req.text}"
	                     name="matReqStat">
	               </div>
               </td>
            </tr>
         </table>
      </form>
      <div class="divBtn">
         <button type="button" class="sixBtn2" id="check">검색</button>
         <button type="button" class="sixBtn3" id="reset">초기화</button>
      </div>

		<!-- 발주 목록 그리드 -->
		<div id="grid"></div>
				
		<script th:inline="javascript">
		let reqStat = [[${REQSTAT}]];
		let transPro='';
		
			const gridData = [

			];
				function matReqList(){
					$.ajax({
						url: "/materials/matreqlist.Ajax",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							grid.resetData(result);
							grid.disable();
						},
						error: function(reject){
							console.log(reject);
						}
						
					});
				}

				function matReqSearch(matReqId, matName, busName, matReqStat, matInSDate, matInEDate, matEndSDate, matEndSDate, matEndEDate){
					$.ajax({
						url: "/materials/matreqsearch.Ajax",
						method: "GET",
						data : {matReqId : matReqId, matName : matName, busName : busName, matReqStat : matReqStat, matInSDate : matInSDate,
								matInEDate : matInEDate, matEndSDate : matEndSDate, matEndSDate : matEndSDate, matEndEDate : matEndEDate},
						success: function (result) {
							grid.resetData(result);
							grid.disable();
						},
						error: function(reject){
							console.log(reject);
						}
						
					});
				}
				
				
				let matReqId = null;
				let matName = null;
				let busName = null;
				let matReqStat = null;
				let matInSDate = null;
				let matInEDate = null;
				let matEndSDate = null;
				let matEndEDate = null;
				
				
				matReqList();
			
			//테이블에 들어갈 데이터 설정(조회)
			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				
				scrollX: false,
				scrollY: false,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				rowHeight: 45,
				minBodyHeight: 200,
				rowHeaders: ['rowNum'],
				columns: [{
						header: '발주번호',
						name: 'matReqId',
		                align: 'center'
					},
					{
						header: '자재코드',
						name: 'matId',
		                align: 'center'
					},
					{
						header: '자재명',
						name: 'matName',
		                align: 'center'
					},
					{
						header: '규격',
						name: 'matSize',
		                align: 'center'
					},
					{
						header: '발주량',
						name: 'matReqQt',
		                align: 'right',
		                formatter: ({ value }) => {
		              	  if(value != null){
		                 		return value.toLocaleString()
		                  }else{
		              	 		return ''
		                  } 
		                }
					},
					{
						header: '거래처코드',
						name: 'busId',
		                align: 'center'
						
					},
					{
						header: '거래처명',
						name: 'busName',
		                align: 'center'
					},
					{
						header: '발주일',
						name: 'matReqDate',
		                align: 'center'
					},
					{
						header: '발주상태',
						name: 'matReqStat',
						align: 'center',
						formatter: 'listItemText',
				          editor: 
				          {
				            type: 'text',
				            options: {
				              listItems:reqStat
				            }
				          }
					},
					{
						header: '납기요청일',
						name: 'matEndDate'
					},
					{
						header: '담당자',
						name: 'empName'
					}
					

				]
				
			});



  			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					disabled : {
						text : '#000'
					}
				}
			});

			
			
			
			//조회하기
			$('#check').on("click", function () {
				matReqId = $('#matReqId').val();
				matName = $('#matName').val();
				busName = $('#busName').val();
				matReqStat = $("input[name='matReqStat']:checked").val();
				matInSDate = $('#matInSDate').val();
				matInEDate = $('#matInEDate').val();
				matEndSDate = $('#matEndSDate').val();
				matEndEDate = $('#matEndEDate').val();
				
				matReqSearch(matReqId, matName, busName, matReqStat, matInSDate, matInEDate, matEndSDate, matEndSDate, matEndEDate);
				
			});

			//초기화 버튼 설정
			$('#reset').on("click", function (e) {
				$('#matReqId').val('');
				$('#matName').val('');
				$('#busName').val('');
				$("input[name='matReqStat']:checked").val();
				$('#matInSDate').val('');
				$('#matInEDate').val('');
				$('#matEndSDate').val('');
				$('#matEndEDate').val('');
				$('input[type="radio"]').prop('checked', false);
				matReqList();
				
			});
	    	
			
			let minDate = $('#matInSDate').val();
		</script>
	</div>
</body>
</html>