<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/template}">

<head>
   <meta charset="UTF-8">
   <title>자재발주관리</title>
   <style>
      #gridm .redcolor {
         background-color: #ffe4e4
      }

      #gridm .yellowcolor {
         background-color: #e8f71c63
      }
      .inputR {
			width: 210px;
			padding-left : 5px
		}

		#reqTable td {
			padding: 3px 20px 10px;
			text-align: center;
		}
		#radio input{
			width:30px
		}
		#reqTable{
			margin: 20px auto;
		}
		.divBtn{
			text-align:center;
		}
		#grid .greycolor {
			background-color: #b5b0b0c4;
		}
   </style>
</head>

<body>
   <div layout:fragment="content">
      <h1 class="mt-4" style="font-family: 'MaruBuri';">자재 발주 관리</h1>
      <form action="" method="post" id="reqForm">
         <table id="reqTable">
            <tr>
               <td>발주번호</td>
               <td><input type="text" name="matReqId" id="matReqId" class="inputR" placeholder="검색"></td>
               <td>발주등록일자</td>
               <td>
                  <input type="date" id="matInSDate" class="inputR"> ~ <input type="date" id="matInEDate" class="inputR">
               </td>
              
            </tr>
            <tr>
            <td>자재명</td>
               <td><input type="text" name="matName" id="matName" class="inputR" placeholder="검색">
               </td>
               
               <td>납기일자</td>
               <td>
                  <input type="date" id="matEndSDate" class="inputR"> ~ <input type="date" id="matEndEDate" class="inputR">
               </td>
            </tr>
            <tr>
             <td>거래처명</td>
               <td><input type="text" name="busName" id="busName" class="inputR" placeholder="검색">
               </td>
               <td>발주상태</td>
               <td>
	               <div id="radio">
	                  <input type="radio" id="matReqStat1" name="matReqStat" value="" checked>
	                  <label for="matHoldStat1">전체</label>
	                  <input type="radio" th:each="req: ${REQSTAT}" th:value="${req.value}" th:text="${req.text}"
	                     name="matReqStat">
	               </div>
               </td>
            </tr>
         </table>
      </form>
      <div class="divBtn">
         <button type="button" class="sixBtn2" id="check">검색</button>
         <button type="button" class="sixBtn3" id="reset">초기화</button>
      </div>


      <div class="rightBtn">
         <button class="sixBtn4" id="appendBtn" onclick="appendBtn">발주등록</button>
         <button class="sixBtn2" id="updateBtn">수정</button>
         <button class="sixBtn2" id="delete">삭제</button>
      </div>


      <!-- 발주 목록 그리드 -->
      <div id="grid"></div>

      <!-- 모달창 자재조회  -->
      <div class="modal fade" id="msearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-xl">
            <div class="modal-dialog">
               <div class="modal-content">
	              <div class="modal-header">
					<h1 class="modal-title fs-5" id="searchModalLabel">자재 조회</h1>
				  </div>
                  <div class="modal-body">
                     <div id="gridm"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- 모달창 거래처조회  -->
      <div class="modal fade" id="search1Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-xl">
            <div class="modal-dialog">
               <div class="modal-content">
           	      <div class="modal-header">
					<h1 class="modal-title fs-5" id="searchModalLabel">거래처 조회</h1>
				  </div>
                  <div class="modal-body">
                     <div id="gridt"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script th:inline="javascript">
         let reqStat = [[${REQSTAT}]];
         let transPro = '';
			
         let icon = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search icon" viewBox="0 0 16 16" style="color:#a6a6a6">
             <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
             </svg>`
         const gridData = [

         ];




         function setRowDisabled(grid) {
            let rowList = grid.getData();
            rowList.forEach((obj) => {
               if (obj.matReqStat != 'A') {
                  grid.disableRow(obj.rowKey, true);
                  grid.addRowClassName(obj.rowKey,'greycolor');
               }
            });
         }

         function matReqList() {
            $.ajax({
               url: "/materials/matreqlist.Ajax",
               method: "GET",
               dataType: "JSON",
               success: function (result) {
                  grid.resetData(result);
                  gridInsertRow();
                  grid.setValue(0, 'matReqStat', "A", false);
                  grid.setValue(0, 'matId', icon, false);
                  grid.setValue(0, 'busId', icon, false);
                  setRowDisabled(grid);
               },
               error: function (reject) {
                  console.log(reject);
               }

            });
         }

         function matReqSearch(matReqId, matName, busName, matReqStat, matInSDate, matInEDate, matEndSDate, matEndSDate,
            matEndEDate) {
            $.ajax({
               url: "/materials/matreqsearch.Ajax",
               method: "GET",
               data: {
                  matReqId: matReqId,
                  matName: matName,
                  busName: busName,
                  matReqStat: matReqStat,
                  matInSDate: matInSDate,
                  matInEDate: matInEDate,
                  matEndSDate: matEndSDate,
                  matEndSDate: matEndSDate,
                  matEndEDate: matEndEDate
               },
               success: function (result) {
                  grid.resetData(result);
                  setRowDisabled(grid);
               },
               error: function (reject) {
                  console.log(reject);
               }

            });
         }


         let matReqId = null;
         let matName = null;
         let busName = null;
         let matReqStat = null;
         let matInSDate = null;
         let matInEDate = null;
         let matEndSDate = null;
         let matEndEDate = null;

         matReqList()

         //모달창 전체 거래처 리스트
         $.ajax({
            url: "/materials/matreqbuslist.Ajax",
            method: "GET",
            dataType: "JSON",
            success: function (result) {
               gridt.resetData(result);
            },
            error: function (reject) {
               console.log(reject);
            }
         });
         $('#search1Modal').on('show.bs.modal', function (e) {
            setTimeout(() => gridt.refreshLayout(), 200);
            // 모달거래처행 클릭시 자동으로 조회 거래처명에 값이 입력이됨
            gridt.on('click', ev => {
               const focusCell = gridt.getFocusedCell()
               let dataRow = gridt.getRow(ev.rowKey);
               $('#search1Modal').modal('hide');
            });
         })

         //모달창 전체 자재명 리스트
         $.ajax({
            url: "/materials/matlist.Ajax",
            method: "GET",
            dataType: "JSON",
            success: function (result) {
               gridm.resetData(result);
               gridm.getData().forEach(ele => {
                  if (ele.matSafe / 2 > ele.matQtSum) {
                     gridm.addCellClassName(ele.rowKey, 'matId', 'redcolor');
                     gridm.addCellClassName(ele.rowKey, 'matName', 'redcolor');
                     gridm.addCellClassName(ele.rowKey, 'matSize', 'redcolor');
                     gridm.addCellClassName(ele.rowKey, 'matUnit', 'redcolor');
                     gridm.addCellClassName(ele.rowKey, 'matSafe', 'redcolor');
                     gridm.addCellClassName(ele.rowKey, 'matQtSum', 'redcolor');
                  } else if ((ele.matSafe) > ele.matQtSum) {
                     //gridm.addRowClassName(ele.rowKey,'yellowcolor');
                     gridm.addCellClassName(ele.rowKey, 'matId', 'yellowcolor');
                     gridm.addCellClassName(ele.rowKey, 'matName', 'yellowcolor');
                     gridm.addCellClassName(ele.rowKey, 'matSize', 'yellowcolor');
                     gridm.addCellClassName(ele.rowKey, 'matUnit', 'yellowcolor');
                     gridm.addCellClassName(ele.rowKey, 'matSafe', 'yellowcolor');
                     gridm.addCellClassName(ele.rowKey, 'matQtSum', 'yellowcolor');
                  }
               });
            },
            error: function (reject) {
               console.log(reject);
            }
         });
         $('#msearchModal').on('show.bs.modal', function (e) {
            setTimeout(() => gridm.refreshLayout(), 200);
            // 모달자재행 클릭시 자동으로 조회 자재명에 값이 입력이됨
            gridm.on('click', ev => {
               const focusCell = gridm.getFocusedCell()
               let dataRow = gridm.getRow(ev.rowKey);
               $('#msearchModal').modal('hide');
            });

         })


         //테이블에 들어갈 데이터 설정(조회)
         const grid = new tui.Grid({
            el: document.getElementById('grid'),

            scrollX: false,
            scrollY: false,
            pageOptions: {
               useClient: true,
               perPage: 10
            },
			rowHeight: 45,
			minBodyHeight: 200,
            rowHeaders: ['checkbox'],


            columns: [{
                  header: '발주번호',
                  name: 'matReqId',
                  align: 'center'
               },
               {
                  header: '자재코드',
                  name: 'matId',
                  editor: 'text',
                  align: 'center'
               },
               {
                  header: '자재명',
                  name: 'matName',
                  align: 'center'
               },
               {
                  header: '규격',
                  name: 'matSize',
                  align: 'center'
               },
               {
                  header: '발주량',
                  name: 'matReqQt',
                  align: 'right',
                  formatter: ({ value }) => {
                	  if(value != null){
                   		return value.toLocaleString()
                   	  }else{
                	 	return ''
                   	  } 
                  },
                  editor: 'text'
               },
               {
                  header: '거래처코드',
                  name: 'busId',
                  editor: 'text',
                  align: 'center'

               },
               {
                  header: '거래처명',
                  name: 'busName',
                  align: 'center'
               },
               {
                  header: '발주일',
                  name: 'matReqDate',
                  align: 'center'
               },
               {
                  header: '발주상태',
                  name: 'matReqStat',
                  align: 'center',
                  formatter: 'listItemText',
                  editor: {
                     type: 'select',
                     options: {
                        listItems: reqStat
                     }
                  }
               },
               {
                  header: '납기요청일',
                  name: 'matEndDate',
                  align: 'center',
                  editor: {
                     type: 'datePicker',
                     options: {
                        format: 'yyyy-MM-dd',
                        selectableRanges : [[new Date(), new Date(2099,11,31)] ]
                     }
                  }
               },
               {
                  header: '담당자',
                  name: 'empName',
                  align: 'center'
               }


            ]

         });

         // 거래처조회 기능
         const gridt = new tui.Grid({
            el: document.getElementById('gridt'),
            scrollX: false,
            scrollY: false,
            pageOptions: {
               useClient: true,
               perPage: 10
            },
            minBodyHeight: 400,
            rowHeaders: ['rowNum'],
            columns: [{
               header: '거래처번호',
               name: 'busId',
               align: 'center'
            }, {
               header: '거래처명',
               name: 'busName',
               align: 'center'
            }, {
               header: '사업자번호',
               name: 'busNum',
               align: 'center'
            }, {
               header: '전화번호',
               name: 'busTell',
               align: 'center'
            }, {
               header: '주소',
               name: 'busAddr',
               align: 'left'
            }]
         });

         // 모달자재조회 기능
         const gridm = new tui.Grid({
            el: document.getElementById('gridm'),
            //data : gridData,
            scrollX: false,
            scrollY: false,
            pageOptions: {
               useClient: true,
               perPage: 10
            },
            minBodyHeight: 400,
            rowHeaders: ['rowNum'],
            columns: [{
               header: '자재코드',
               name: 'matId',
               align: 'center'
            }, {
               header: '자재명',
               name: 'matName',
               align: 'center'
            }, {
               header: '자재규격',
               name: 'matSize',
               align: 'center'
            }, {
               header: '단위',
               name: 'matUnit',
               align: 'center'
            }, {
               header: '안전재고',
               name: 'matSafe',
               align: 'center',
               formatter: ({ value }) => {
             	  if(value != null){
                		return value.toLocaleString()
                	  }else{
             	 	return ''
                	  } 
               }
            }, {
               header: '현재고',
               name: 'matQtSum',
               align: 'center',
               formatter: ({ value }) => {
             	  if(value != null){
                		return value.toLocaleString()
                	  }else{
             	 	return ''
                	  } 
               }
            }]
         });



         tui.Grid.applyTheme('default', {
            cell: {
               header: {
                  background: '#e5edf5'
               },
               disabled: {
                  text: '#000'
               }
            }
         });

         //발주 등록
         $('#appendBtn').on("click", function () {
            grid.blur();
            
            let insertData = JSON.stringify(grid.getRow(0));
            let inMatId = grid.getRow(0).matId;
            let inMatReqQt = grid.getRow(0).matReqQt;
            let inBusId = grid.getRow(0).busId;
            let inMatEndDate = grid.getRow(0).matEndDate;
            
            if(inMatId != null && inMatReqQt != null && inBusId != null && inMatEndDate != null && inMatReqQt != 0){
            	
	            $.ajax({
	               url: "/materials/insertmatreq.Ajax",
	               type: "POST",
	               data: insertData,
	               contentType: 'application/json',
	               success: function (result) {
	                  console.log(result);
	                  Msg.success('발주 등록 완료되었습니다.', 2000);
	                  $.ajax({
	                      url: "/materials/matreqlist.Ajax",
	                      method: "GET",
	                      dataType: "JSON",
	                      success: function (result) {
	                         grid.resetData(result);
	                         gridInsertRow();
	                         $.ajax({
	                            url: "/materials/matreqlist.Ajax",
	                            method: "GET",
	                            dataType: "JSON",
	                            success: function (result) {
	                               grid.setValue(0, 'matReqStat', "A", false);
	                               grid.setValue(0, 'busId', grid.getRow(1).busId, false);
	                               grid.setValue(0, 'busName', grid.getRow(1).busName, false);
	                               grid.setValue(0, 'matId', icon, false);
	                               setRowDisabled(grid);
	                            },
	                            error: function (reject) {
	                               console.log(reject);
	                            }

	                         });
	                      },
	                      error: function (reject) {
	                         console.log(reject);
	                      }

	                   });
	               },
	               error: function (reject) {
	                  console.log(reject);
	                  Msg.error('발주 등록 중 오류가 발생하였습니다.', 2000);
	               }
	
	            })
            }else{
            	Msg.error('발주 양식에서 오류가 발생하였습니다.', 2000);
            }


         });

         //체크된 항목 삭제       
         $('#delete').on("click", function () {

            $.ajax({
               url: "/materials/delmatreq.Ajax",
               type: "POST",
               contentType: 'application/json',
               data: JSON.stringify(grid.getCheckedRows()),
               success: function (result) {
                  console.log(result);
                  Msg.success('발주 삭제 완료되었습니다.', 2000);
               },
               error: function (reject) {
                  console.log(reject);
                  Msg.error('발주 삭제 중 오류가 발생하였습니다.', 2000);
               }
            })


            grid.removeCheckedRows(false);
            grid.blur();


         });

         //체크된 항목 수정
         $('#updateBtn').on('click', function () {
        	 grid.blur();
            $.ajax({
               url: "/materials/updatematreq.Ajax",
               type: "POST",
               contentType: 'application/json',
               data: JSON.stringify(grid.getCheckedRows()),
               success: function (result) {
            	   Msg.success('발주 수정 완료되었습니다.', 2000);
                  console.log(result);
                  $.ajax({
                     url: "/materials/matreqlist.Ajax",
                     method: "GET",
                     dataType: "JSON",
                     success: function (result) {
                        grid.resetData(result);
                        gridInsertRow();
                        grid.setValue(0, 'matReqStat', "A", false);
                        grid.setValue(0, 'matId', icon, false);
                        grid.setValue(0, 'busId', icon, false);
                        setRowDisabled(grid);

                     },
                     error: function (reject) {
                    	 Msg.error('발주 수정 중 오류가 발생하였습니다.', 2000);
                     }

                  });
               },
               error: function (reject) {
                  console.log(reject);
               }
            })
         })

         //조회하기
         $('#check').on("click", function () {
            matReqId = $('#matReqId').val();
            matName = $('#matName').val();
            busName = $('#busName').val();
            matReqStat = $("input[name='matReqStat']:checked").val();
            matInSDate = $('#matInSDate').val();
            matInEDate = $('#matInEDate').val();
            matEndSDate = $('#matEndSDate').val();
            matEndEDate = $('#matEndEDate').val();
            matReqSearch(matReqId, matName, busName, matReqStat, matInSDate, matInEDate, matEndSDate, matEndSDate,
               matEndEDate);

         });

         //초기화 버튼 설정
         $('#reset').on("click", function (e) {
            $('#matReqId').val('');
            $('#matName').val('');
            $('#busName').val('');
            $("input[name='matReqStat']:checked").val();
            $('#matInSDate').val('');
            $('#matInEDate').val('');
            $('#matEndSDate').val('');
            $('#matEndEDate').val('');
            $('input[type="radio"]').prop('checked', false);
            matReqList();

         });

         function gridInsertRow() {
            let prevData = grid.getData();

            for (let row of prevData) {
               row.rowKey += 1;
            }
            prevData.splice(0, 0, {});

            grid.resetData(prevData);
         }


         let selectRow = '';
         grid.on('click', ev => {
            selectRow = ev.rowKey;
            const focusCell = grid.getFocusedCell();
            //console.log(focusCell);
            const dataRow = grid.getRow(ev.rowKey);
            //console.log(dataRow.matReqStat);
            if (dataRow.matReqStat == 'A' && focusCell.columnName == 'matId') {
               $('#msearchModal').modal('show');

            } else if (dataRow.matReqStat == 'A' && focusCell.columnName == 'busId') {
               $('#search1Modal').modal('show');

            }
         });
         gridm.on('click', evm => {
            {
               let dataRow = gridm.getRow(evm.rowKey);
               console.log(dataRow);
               grid.setValue(selectRow, 'matId', dataRow.matId, false);
               grid.setValue(selectRow, 'matName', dataRow.matName, false);
               grid.setValue(selectRow, 'matSize', dataRow.matSize, false);
               selectRow = '';
               $('#msearchModal').modal('hide');
               grid.blur();
            }
         });

         gridt.on('click', evt => {
            {
               let dataRow = gridt.getRow(evt.rowKey);
               grid.setValue(selectRow, 'busId', dataRow.busId, false)
               grid.setValue(selectRow, 'busName', dataRow.busName, false)
               selectRow = '';
               $('#search1Modal').modal('hide');
               grid.blur();
            }
         });
      </script>
   </div>
</body>

</html>