<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>자재입고조회</title>
	<style>
		#recTable{
			margin: 20px auto;
		}
      .inputR {
			width: 210px;
			padding-left : 5px
		}
	  .inputS {
	  
			width: 110px;
		}
	
		#recTable td {
			padding: 3px 20px 10px;
			text-align: center;
		}
		#divRadio input{
			width:30px
		}
		#divRadio{
			padding-right : 180px;
		}
		.divBtn{
			text-align:center;
			padding : 10px 0 30px;
		}		
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">자재 입고 조회</h1>
		<form action="" method="post" id="recForm">
				<table id="recTable">
					<tr>
						<td>자재LOT번호</td>
						<td><input type="text" name="matLotId" id="matLotId" class="inputR" placeholder="검색"></td>
						<td>입고일자</td>
						<td>
							<input type="date" id="matRecDate" class="inputR"> ~ <input type="date" id="matRecDatee" class="inputR">
						</td>
					</tr>
					<tr>
						<td>자재명</td>
						<td><input type="text" name="matName" id="matName" class="inputR" placeholder="검색"></td>
						<td>입고유형</td>
						<td>
							<div id="divRadio">
								<input type="radio" id="matRecType0" name="matRecType" value="">
								<label for="matRecType0">전체</label>
								<input type="radio" id="matRecType1" name="matRecType" value="정상입고">
								<label for="matRecType1">정상입고</label>
								<input type="radio" id="matRecType2" name="matRecType" value="조정입고">
								<label for="matRecType2">조정입고</label>
							</div>
						</td>
					</tr>
					<tr>
						<td>거래처명</td>
						<td><input type="text" name="busName" id="busName" class="inputR" placeholder="검색"></td>
					</tr>

				</table>
				<div class="divBtn">
					<button type="button" class="sixBtn2" id="check">검색</button>
					<button type="button" class="sixBtn3" id="reset">초기화</button>
				</div>
			</form>
		<div id="grids"></div>
		
		<script>
		
			const gridData = [

			];
			function matRecInfo(matLotId, matName, busName, matRecType, sDate, eDate){
				
				$.ajax({
					url: "/materials/matrecsearch.Ajax",
					method: "GET",
					data : {matLotId : matLotId, matName : matName, busName : busName, matRecType : matRecType, sDate : sDate, eDate : eDate},
					success: function (result) {
						grids.resetData(result);
						//console.log(result);
					},
					error : function(reject){
						console.log(reject);
					}
					
				});
			}
			
			let matLotId = null;
			let matName = null;
			let busName = null;
			let matRecType = null;
			let sDate = null;
			let eDate = null;
			
			matRecInfo(matLotId, matName, busName, matRecType, sDate, eDate);	
			
			$('#check').click(function(){
				matLotId = $('#matLotId').val();
				matName = $('#matName').val();
				busName = $('#busName').val();
				matRecType = $("input[name='matRecType']:checked").val();
				sDate = $('#matRecDate').val();
				eDate = $('#matRecDatee').val();
				matRecInfo(matLotId, matName, busName, matRecType, sDate, eDate);
			})
			
			$('#reset').click(function(){
				$('#matLotId').val('');
				$('#matName').val('');
				$('#busName').val('');
				$("input[name='matRecType']:checked").val('');
				$('#matRecDate').val('');
				$('#matRecDatee').val('');
				matLotId = $('#matLotId').val();
				matName = $('#matName').val();
				busName = $('#busName').val();
				matRecType = $("input[name='matRecType']:checked").val();
				sDate = $('#matRecDate').val();
				eDate = $('#matRecDatee').val();
				$('input[type="radio"]').prop('checked', false);
				matRecInfo(matLotId, matName, busName, matRecType, sDate, eDate);
			})
			
			// 입고목록 리스트
 			const gridDataa = [
				
			];
			
			const grids = new tui.Grid({
				el: document.getElementById('grids'),

				scrollX: false,
				scrollY: false,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				rowHeight: 45,
				minBodyHeight: 200,

				rowHeaders: ['rowNum'],


				columns: [{
						header: '자재입고번호',
						name: 'matRecId',
			            align: 'center'
					},
					{
						header: '자재LOT번호',
						name: 'matLotId',
			            align: 'center'
					},
					{
						header: '발주번호',
						name: 'matReqId',
			            align: 'center'
					},
					{
						header: '자재명',
						name: 'matName',
			            align: 'center'
					},
					{
						header: '입고수량',
						name: 'matRecQt',
		                align: 'right',
		                formatter: ({ value }) => {
		              	  if(value != null){
		                 		return value.toLocaleString()
		                  }else{
		              	 		return ''
		                  } 
		                }
					},
					{
						header: '거래처명',
						name: 'busName',
			            align: 'center'
					},
					{
						header: '검사일자',
						name: 'inspDate',
			            align: 'center'
					},
					{
						header: '입고일자',
						name: 'matRecDate',
			            align: 'center'
					},
					{
						header: '입고유형',
						name: 'matRecType',
			            align: 'center'
					},
					{
						header: '담당자',
						name: 'empName',
			            align: 'center'
					},
					{
						header: '비고',
						name: 'matRecNote',
			            align: 'center'
					}
					
				]

			}); 
			





			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					rowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});
			
			

			
		</script>



	</div>
</body>

</html>