<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>자재 출고 조회</title>
	<style>
		#matShipTable{
			margin: 20px auto;
		}
		#matShipTable td {
			padding: 3px 20px 10px;
			text-align: center;
		}	
      .inputR {
			width: 210px;
			padding-left : 5px
		}	
		#divRadio input{
			width:30px
		}
		.divBtn{
			text-align:center;
			padding : 10px 0 30px;
		}
		#divRadio{
			padding-right : 180px;
		}	
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">자재 출고 조회</h1>
		<form action="" method="post" id="matShipForm">
				<table id="matShipTable">
					<tr>
						<td>공정실적코드</td>
						<td><input type="text" name="pNum" id="pNum" class="inputR" placeholder="검색"></td>
						<td>출고일자</td>
						<td>
							<input type="date" id="matShipDate" class="inputR"> ~ <input type="date" id="matShipDatee" class="inputR">
						</td>
					</tr>				
					<tr>
						<td>자재LOT번호</td>
						<td><input type="text" name="mlot" id="mlot" class="inputR" placeholder="검색"></td>
						<td>출고유형</td>
						<td>
							<div id="divRadio">
								<input type="radio" id="matShipStat1" name="matShipStat" value="">
								<label for="matShipStat0">전체</label>							
								<input type="radio" id="matShipStat1" name="matShipStat" value=정상출고>
								<label for="matShipStat1">정상출고</label>
								<input type="radio" id="matRecStat2" name="matShipStat" value="조정출고">
								<label for="matShipStat2">조정출고</label>
							</div>
						</td>
					</tr>
					<tr>
						<td>자재명</td>
						<td><input type="text" name="mname" id="mname" class="inputR" placeholder="검색"></td>
					</tr>
				</table>
			</form>
			<div class="divBtn">
				<button class="sixBtn2" id="check">검색</button>
				<button class="sixBtn3" id="reset">초기화</button>
			</div>
			
			<div id="gridm"></div>
			
		<script>
			const gridData = [
	
			];
		
			function matShipList(prcsPfmcId, matLotId, matName, matShipType, sDate, eDate){
				
				$.ajax({
					url : "/materials/matshiplist",
					method : "GET",
					data : {prcsPfmcId : prcsPfmcId, matLotId : matLotId, matName : matName, matShipType : matShipType, sDate : sDate, eDate : eDate},
					success : function(result) {
						gridm.resetData(result);
					},
 					error: function(reject) {
						console.log(reject);
					}
				});
			}
			
			let prcsPfmcId =null;
			let matLotId =null;
			let matName = null;
			let matShipType = null;
			let sDate = null;
			let eDate = null;
			matShipList(prcsPfmcId, matLotId, matName, matShipType, sDate, eDate);
			
			$('#check').click(function(){
				prcsPfmcId = $('#pNum').val();
				matLotId = $('#mlot').val();
				matName = $('#mname').val();
				matShipType = $("input[name='matShipStat']:checked").val();
				sDate = $('#matShipDate').val();
				eDate = $('#matShipDatee').val();
				matShipList(prcsPfmcId, matLotId, matName, matShipType, sDate, eDate);
			})
			
			$('#reset').click(function(){
				$('#pNum').val('');
				$('#mlot').val('');
				$('#mname').val('');
				$("input[name='matShipStat']:checked").val('');
				$('#matShipDate').val('');
				$('#matShipDatee').val('');
				prcsPfmcId = $('#pNum').val();
				matLotId = $('#mlot').val();
				matName = $('#mname').val();
				matShipType = $("input[name='matShipStat']:checked").val();
				sDate = $('#matShipDate').val();
				eDate = $('#matShipDatee').val();
				$('input[type="radio"]').prop('checked', false);
				matShipList(prcsPfmcId, matLotId, matName, matShipType, sDate, eDate);
			})
			
			const gridm = new tui.Grid({
				el : document.getElementById('gridm'),
				//data : gridData,
				scrollX : false,
				scrollY : false,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				rowHeight: 45,
				minBodyHeight: 200,
				rowHeaders: ['rowNum'],
				columns : [ 
					{
					header : '공정실적코드',
					name : 'prcsPfmcId',
	                align: 'center'
				}, {
					header : '자재LOT번호',
					name : 'matLotId',
	                align: 'center'
				}, {
					header : '자재명',
					name : 'matName',
	                align: 'center'
				}, {
					header : '출고량',
					name : 'matShipQt',
	                align: 'right',
	                formatter: ({ value }) => {
	              	  if(value != null){
	                 		return value.toLocaleString()
	                  }else{
	              	 		return ''
	                  } 
	                }
				}, {
					header : '출고일자',
					name : 'matShipDate',
	                align: 'center'
				}, {
					header : '출고유형',
					name : 'matShipType',
	                align: 'center'
				}, {
					header : '담당자',
					name : 'empName',
	                align: 'center'
				}, {
					header : '비고',
					name : 'matShipNote',
	                align: 'center'
				}]
			});
			
 			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					rowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});
		</script>
	</div>
</body>

</html>