<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script type="text/javascript"
	src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>	
</head>
<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">자재발주관리</h1>
		<div id="left">
			발주번호 <input type="number" id="reqNum" name="reqNum" >
		</div>
		<div id="left">
			자재명 <input type="text" id="mname">
			<button class="sixBtn1">
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
                    fill="currentColor" class="bi bi-search" viewBox="0 2 16 16">
                    <path
                     d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
           </button>
		</div>
		<div id="left">
			거래처명 <input type="text" id="bname">
			<button class="sixBtn1">
				<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
	           	 fill="currentColor" class="bi bi-search" viewBox="0 2 16 16">
                <path
                 d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg></button>
		</div>
		<div id="left">
			발주등록일자 <input type="date" id="matStartDate"> ~ <input type="date" id="matStartDatee">
		</div>
		납기일자 <input type="date" id="matEndDate"> ~ <input type="date" id="matEndDatee">
		<div>
			<div id="left">
				<button id="check">조회</button>
				<button id="reset">초기화</button>
			</div>
			<div id="left">
				<button id="appendBtn" onclick="appendBtn">발주등록</button>
				<button id="delte">삭제</button>
				<button>수정</button>
			</div>
		</div>

		
		
		<div id="grid"></div>

		<script>
		
	  	  const gridData=[
	  		  
	  	  ];
		
		  window.onload = function(){
		        $.ajax({
		            url : "/materials/mms",
		            method :"GET",
		            dataType : "JSON",
		            success : function(result){
		                grid.resetData(result);
		            } 
		        });
		  };

	
	  	  //테이블에 들어갈 데이터 설정(조회)
	  	  const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      //data: gridData,
	      scrollX: false,
	      scrollY: false,
	      
	      
	      
	      rowHeaders: ['checkbox','rowNum'],
	      columns: [
	        {
		      header: '발주번호',
		      name: 'matReqId',
		   	  //editor: 'text'
		    },
	        {
		      header: '자재코드',
		      name: 'matId'
		    },
	        {
			  header: '자재명',
			  name: 'matName'
			},
	        {
			  header: '발주량',
			  name: 'matReqQt'
			},
	        {
			  header: '거래처명',
			  name: 'busName'
			},
	        {
			  header: '발주일',
			  name: 'matReqDate'
			},
	        {
			  header: '발주상태',
			  name: 'matReqStat'
			},
	        {
			  header: '납기요청일',
			  name: 'matEndDate'
			},
	        {
			  header: '납기지연일',
			  name: 'matDlyDate'
			}
	        
	      ]

	    });
	  	  
	  	tui.Grid.applyTheme('default', {
            cell: {
                header: {
                    background: '#e5edf5'
                },
                rowHeader: {
                    background: '#e5edf5'
                },
                normal: {
                    background: '#ffffff'
                }
            }
        });
	  	  
	 //등록 버튼을 누르면 테이블에 들어갈 데이터 설정 	  
	 const appendBtn = document.getElementById('appendBtn');  
  	 const appendedData = {
  			matReqId: '',
  			matId: '',
  			matReqQt: '',
  			busName: '',
  			matReqDate: ''
  		    };

     appendBtn.addEventListener('click', () => {
	      grid.appendRow(appendedData);
  	 });
     
  		    
  		  
  		    
  	 //체크된 항목 삭제	    
  	 $('#delte').on("click",function(){
  		grid.removeCheckedRows(true);
  		grid.blur();
  	 });
  	
  	$('#check').on("click",function(){
  		
  		const reqNum = $('#reqNum').val();
  		console.log(reqNum);
  		const matEndDate = $('#matEndDate').val();
  		console.log(matEndDate);
  	});
  	
  	$('#reset').on("click",function(){
  		$('#reqNum').val('');
  		$('#mname').val('');
  		$('#bname').val('');
  		$('#matStartDate').val('');
  		$('#matStartDatee').val('');
  		$('#matEndDate').val('');
  		$('#matEndDatee').val('');
  	});
	 </script>
	</div>
</body>
</html>
