<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>반제품재고조정</title>
	<style>
		#left {
			text-align: center;
			padding: 10px 0 30px;
		}		
	</style>
</head>

<body>
	<div layout:fragment="content">
			<h1 class="mt-4" style="font-family: 'MaruBuri';">반제품 재고 조정</h1>
			<div id="left">
				반제품LOT번호 <input type="text" id="spLotId" name="spLotId">
				<button class="sixBtn2" id="check">조회</button>
				<button class="sixBtn4" id="reset">초기화</button>
			</div>
			<div class="rightBtn">
				<button class="sixBtn4" id="adjinsert">조정입고</button>
				<button class="sixBtn4" id="adjdelete">조정출고</button>
			</div>
			
			<div id="gridm"></div>
			
		<script>
			const gridData = [
	
			];
			function spAdjList(spLotId){
				
				$.ajax({
					url : "/materials/spadjlist.Ajax",
					method : "GET",
					data : {spLotId : spLotId},
					success : function(result) {
						gridm.resetData(result);
					},
 					error: function(reject) {
						console.log(reject);
					}
				});
			}
			
			let spLotId = null;
			spAdjList(spLotId);
			
			$('#check').click(function(){
				spLotId = $('#spLotId').val();
				spAdjList(spLotId);

			})
			
			$('#reset').click(function(){
				$('#spLotId').val('');
				spLotId = $('#spLotId').val();
				spAdjList(spLotId);
			})	
			
			const gridm = new tui.Grid({
				el : document.getElementById('gridm'),
				//data : gridData,
				scrollX : false,
				scrollY : false,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				rowHeight: 45,
				minBodyHeight: 200,
				rowHeaders: ['checkbox', 'rowNum'],
				columns : [ 
					{
					header : '반제품LOT번호',
					name : 'spLotId',
	                align: 'center'
				},	{
					header : '반제품코드',
					name : 'spId',
	                align: 'center'
				}, {
					header : '반제품명',
					name : 'spName',
	                align: 'center'
				}, {
					header : '반제품규격',
					name : 'spSize',
	                align: 'center'
				}, {
					header : '현재재고량',
					name : 'spQt',
	                align: 'right',
	                formatter: ({ value }) => {
		              	  if(value != null){
		                 		return value.toLocaleString()
		                  }else{
		              	 		return ''
		                  } 
		            }
				}, {
					header : '조정수량',
					name : 'spAdjQt',
	                align: 'right',
					editor : 'text',
	                formatter: ({ value }) => {
		              	  if(value != null){
		                 		return value.toLocaleString()
		                  }else{
		              	 		return ''
		                  } 
		            }
				}]
			});
			
 			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					rowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});
 			
 			//반제품조정입고버튼
 			$('#adjinsert').on('click', function() {
 				gridm.blur();
 				$.ajax({
					url: "/materials/sprecadj.Ajax",
					method: "POST",
					contentType: 'application/json',
					data: JSON.stringify(gridm.getCheckedRows()),
					success: function (result) {
						console.log(result);
						Msg.success('입고 완료되었습니다.', 2000);
						spAdjList(spLotId);
					},
					error : function(reject){
						console.log(reject);
						Msg.error('입고 등록 중 오류가 발생하였습니다.', 2000);
					}
 				})
 			});
 			
 			//반제품조정출고버튼
 			$('#adjdelete').on('click', function(){
 				gridm.blur();
 				//출고 조건
 			    var checkedRows = gridm.getCheckedRows();
 			    var invalidRows = checkedRows.filter(function(row) {
 			        return parseInt(row.spAdjQt) > parseInt(row.spQt);
 			    });
 			    if (invalidRows.length > 0) {
 			    	Msg.error('출고 수량이 현재 수량보다 많습니다.', 2000);
 			    } else {
	 				$.ajax({
						url: "/materials/spshipadj.Ajax",
						method: "POST",
						contentType: 'application/json',
						data: JSON.stringify(gridm.getCheckedRows()),
						success: function (result) {
							console.log(result);
							Msg.success('출고 완료되었습니다.', 2000);
							spAdjList(spLotId);
						},
						error : function(reject){
							console.log(reject);
							Msg.error('출고 등록 중 오류가 발생하였습니다.', 2000);
						}
	 				})
 			    }
 			});
 			
		</script>
	</div>
</body>

</html>