<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>반제품조회</title>
	<style>
	#gridm .redcolor{
		background-color : #ffe4e4
	}
	#gridm .yellowcolor{
		background-color : #e8f71c63
	}
	
	</style>
</head>

<body>
	<div layout:fragment="content">
			<h1 class="mt-4" style="font-family: 'MaruBuri';">반제품조회</h1>
	
			<div id="left">
				반제품명 <input type="number" id="spId" name="spId">
				<button class="sixBtn1">
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" fill="currentColor" class="bi bi-search"
						viewBox="0 2 16 16">
						<path
							d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
					</svg>
				</button>
			</div>
			<div id="left">
				<button class="sixBtn2" id="check">조회</button>
				<button class="sixBtn4" id="reset">초기화</button>
			</div>
			
			<div id="gridm"></div>
			
		<script>
		const gridData = [

			];
			window.onload = function () {
				
				$.ajax({
					url : "/materials/semiprodlist",
					method : "GET",
					dataType : "JSON",
					success : function(result) {
						gridm.resetData(result);
					},
 					error: function(reject) {
						console.log(reject);
					}
				});
			}
			
			const gridm = new tui.Grid({
				el : document.getElementById('gridm'),
				//data : gridData,
				scrollX : false,
				scrollY : false,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				rowHeaders: ['rowNum'],
				columns : [ 
					{
					header : '반제품코드',
					name : 'spId',
				}, {
					header : '반제품명',
					name : 'spName'
				}, {
					header : '반제품규격',
					name : 'spSize'
				}, {
					header : '단위',
					name : 'spUnit'
				}, {
					header : '비고',
					name : 'spNote'
				}, {
					header : '현재고',
					name : 'spQtSum'
				}]
			});
			
 			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					rowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});
		</script>
	</div>
</body>

</html>