<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>반제품 LOT 조회</title>
	<style>
		.inputR {
			width: 210px;
		}

		.inputS {
			width: 110px;
		}

		#spLotTable td {
			padding: 3px 20px 10px;
			text-align: center;
		}

		#spLotTable {
			margin: 15px auto;
		}

		#left {
			text-align: center;
			padding-bottom: 20px;
		}
	</style>

</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">반제품 LOT 조회</h1>
		<form action="" method="post" id="spLotForm">
			<table id="spLotTable">
				<tr>
					<td>반제품LOT번호</td>
					<td><input type="text" name="spLot" id="spLot" class="inputR" placeholder="검색"></td>
					<td>입고일자</td>
					<td>
						<input type="date" id="spRecDate" class="inputS"> ~ <input type="date" id="spRecDatee"
							class="inputS">
					</td>
				</tr>
				<tr>
					<td>반제품명</td>
					<td><input type="text" name="spName" id="spName" class="inputR" placeholder="검색">
					</td>
					<td>홀드상태</td>
					<td style="text-align: left">
						<div id="divRadio">
							<input type="radio" id="spHoldStat0" name="spHoldStat" value="">
							<label for="spHoldStat0">전체</label>&nbsp;&nbsp;
							<input type="radio" id="spHoldStat1" name="spHoldStat" value="Y">
							<label for="spHoldStat1">Y</label>&nbsp;&nbsp;
							<input type="radio" id="spHoldStat2" name="spHoldStat" value="N">
							<label for="spHoldStat2">N</label>
						</div>
					</td>
				</tr>
			</table>
		</form>
		<div id="left">
			<button class="sixBtn2" id="check">검색</button>
			<button class="sixBtn3" id="reset">초기화</button>
		</div>

		<div id="grid"></div>
		<script>
			const gridData = [

			];



			function spLotList(spLotId, spName, spholdStat, sDate, eDate) {

				$.ajax({
					url: "/materials/splotlist.Ajax",
					method: "GET",
					data: {
						spLotId: spLotId,
						spName: spName,
						spHoldStat: spHoldStat,
						sDate: sDate,
						eDate: eDate
					},
					success: function (result) {
						grid.resetData(result);
					},
					error: function (reject) {
						console.log(reject);
					}

				});

			}

			let spLotId = null;
			let spName = null;
			let spHoldStat = null;
			let sDate = null;
			let eDate = null;
			spLotList(spLotId, spName, spHoldStat, sDate, eDate);

			$('#check').click(function () {
				spLotId = $('#spLot').val();
				spName = $('#spName').val();
				spHoldStat = $("input[name='spHoldStat']:checked").val();
				sDate = $('#spRecDate').val();
				eDate = $('#spRecDatee').val();
				spLotList(spLotId, spName, spHoldStat, sDate, eDate);

			})

			$('#reset').click(function () {
				$('#spLot').val('');
				$('#spName').val('');
				$("input[name='spHoldStat']:checked").val('');
				$('#spRecDate').val('');
				$('#spRecDatee').val('');
				spLotId = $('#spLot').val();
				spName = $('#spName').val();
				spHoldStat = $("input[name='spHoldStat']:checked").val();
				sDate = $('#spRecDate').val();
				eDate = $('#spRecDatee').val();
				$('input[type="radio"]').prop('checked', false);
				spLotList(spLotId, spName, spHoldStat, sDate, eDate);

			})









			const grid = new tui.Grid({
				el: document.getElementById('grid'),

				scrollX: false,
				scrollY: false,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				
				rowHeight: 45,
				minBodyHeight: 200,
				rowHeaders: ['rowNum'],
				columns: [{
						header: '반제품LOT번호',
						name: 'spLotId',
						align: 'center'
					},
					{
						header: '반제품코드',
						name: 'spId',
						align: 'center'
					},
					{
						header: '반제품명',
						name: 'spName',
						align: 'center'
					},
					{
						header: '규격',
						name: 'spSize',
						align: 'center'
					},
					{
						header: '재고량',
						name: 'spQt',
						align: 'right',
						formatter: ({
							value
						}) => {
							return value.toLocaleString()
						}
					},
					{
						header: '홀드상태',
						name: 'spHoldStat',
						align: 'center'
					},
					{
						header: '입고일자',
						name: 'spRecDate',
						align: 'center'
					}
				]

			});


			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					rowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});
		</script>
	</div>
</body>

</html>