<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>사원관리</title>
	<style>
		.test {
			padding: 0.5em;
			text-align: right;
		}

		.modalTbl {
			margin: auto;
			text-align: center;
			height: 330px;
		}

		.modalTbl2 {
			margin: auto;
			text-align: center;
			height: 100px;
		}

		.modal-body {
			background: #e5edf5;
		}

		.modalTbl td {
			padding-right: 20px;
		}

		.modal-footer {
			text-align: center;
		}

		.modalTbl input,
		select {
			padding-left: 7px;
			width: 150px;
		}

		.needStar {
			color: red;
			font-size: 10px;
		}

		.testclass {
			background: red;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">사원관리</h1>
		<div class="test">
			<button type="button" class="sixBtn2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">등록</button>
			<button type="button" class="sixBtn2" id="modiBtn">수정</button>
			<button type="button" class="sixBtn4" id="pwBtn" data-bs-toggle="modal">비밀번호</button>
		</div>

		<!-- 등록 Modal 시작 -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 등록 모달 헤더 -->
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel" style="font-family: 'MaruBuri';">사원 등록</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<!-- 등록 모달 바디 -->
					<div class="modal-body">
						<form action="" method="post" id="addForm">
							<table class="modalTbl">
								<tr>
									<td>사원번호<span class="needStar"> *</span></td>
									<td><input type="text" name="empId" id="empId"></td>
								</tr>
								<tr>
									<td>이름<span class="needStar"> *</span></td>
									<td><input type="text" name="empName" id="empName"></td>
								</tr>
								<tr>
									<td>연락처<span class="needStar"> *</span></td>
									<td><input type="text" name="empTell" id="empTell" placeholder="010-1111-1111"></td>
								</tr>
								<tr>
									<td>생년월일<span class="needStar"> *</span></td>
									<td><input type="date" name="empBirth" id="empBirth"></td>
								</tr>
								<tr>
									<td>입사일</td>
									<td><input type="date" name="empHire" id="empHire"></td>
								</tr>
								<tr>
									<td>소속부서<span class="needStar"> *</span></td>
									<td>
										<select name="empDept">
											<option value='' selected>----- 선택 -----</option>
											<option value="관리부">관리부</option>
											<option value="영업부">영업부</option>
											<option value="생산부">생산부</option>
											<option value="자재부">자재부</option>
											<option value="설비부">설비부</option>
											<option value="품질부">품질부</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>직급</td>
									<td>
										<select name="empRk">
											<option value='' selected>----- 선택 -----</option>
											<option value="M">관리자</option>
											<option value="E">사원</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>비고</td>
									<td><input type="text" name="empNote" id="empNote"></td>
								</tr>
							</table>
						</form>
					</div>
					<!-- 등록 모달 푸터(버튼부분) -->
					<div class="modal-footer">
						<button type="button" class="sixBtn2" id="addBtn">등록</button>
						<button type="button" class="sixBtn2" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 등록 Modal 끝 -->

		<!-- 비밀번호 수정 Modal 시작 -->
		<div class="modal fade" id="pwModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="pwModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 비밀번호 수정 모달 헤더 -->
					<div class="modal-header">
						<h5 class="modal-title" id="pwModalLabel" style="font-family: 'MaruBuri';">비밀번호 수정</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<!-- 비밀번호 수정 모달 바디 -->
					<div class="modal-body">
						<form action="" method="post" id="pwForm">
							<input type="hidden" name="empId" id="pwEmpId"> <!-- 정보 넘겨주기용 사원번호 input -->
							<table class="modalTbl2">
								<tr>
									<td id="pwEmpData"></td>
								</tr>
								<tr>
									<td><input type="password" name="empPw"></td>
								</tr>
							</table>
						</form>
					</div>
					<!-- 비밀번호 수정 모달 푸터(버튼부분) -->
					<div class="modal-footer">
						<button type="button" class="sixBtn2" id="pwUpdateBtn">변경</button>
						<button type="button" class="sixBtn2" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 비밀번호 수정 Modal 끝 -->


		<!-- 사원목록 그리드 -->
		<div id="grid"></div>
		<!-- 사원목록 그리드 끝 -->

		<script>
			// 사원목록 그리드 스크립트
			window.onload = function () {
				$.ajax({
					url: "/common/empList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
					}
				});
				const grid = new tui.Grid({
					el: document.getElementById('grid'),
					scrollX: false,
					scrollY: false,
					minBodyHeight: 30,
					rowHeaders: ['rowNum'],
					/* pageOptions: {
						useClient : true,
						perPage: 5
					}, */
					columns: [{
							header: '사원번호',
							name: 'empId'
						},
						{
							header: '이름',
							name: 'empName',
							editor: 'text'
						},
						{
							header: '연락처',
							name: 'empTell',
							editor: 'text'
						},
						{
							header: '생년월일',
							name: 'empBirth'
						},
						{
							header: '입사일',
							name: 'empHire'
						},
						{
							header: '소속부서',
							name: 'empDept',
							editor: {
								type: 'select',
								options: {
									listItems: [{
											text: '관리부',
											value: '관리부'
										},
										{
											text: '영업부',
											value: '영업부'
										},
										{
											text: '생산부',
											value: '생산부'
										},
										{
											text: '자재부',
											value: '자재부'
										},
										{
											text: '설비부',
											value: '설비부'
										},
										{
											text: '품질부',
											value: '품질부'
										}
									]
								}
							}
						},
						{
							header: '직급',
							name: 'empRk',
							width: 150,
							editor: {
								type: 'select',
								options: {
									listItems: [{
											text: '매니저',
											value: 'M'
										},
										{
											text: '사원',
											value: 'E'
										}
									]
								}
							}
						},
						{
							header: '상태',
							name: 'empStat',
							width: 150,
							editor: {
								type: 'radio',
								options: {
									listItems: [{
											text: '재직',
											value: '재직'
										},
										{
											text: '휴직',
											value: '휴직'
										},
										{
											text: '퇴사',
											value: '퇴사'
										}
									]
								}
							}
						},
						{
							header: '비고',
							name: 'empNote',
							width: 300
						},

					]
				});

				// 그리드 색 변경 테마 적용
				tui.Grid.applyTheme('default', {
					cell: {
						header: {
							background: '#e5edf5'
						},
						rowHeader: {
							background: '#e5edf5'
						},
						normal: {
							background: '#ffffff'
						}
					}
				});

				/* 				grid.on('click', function (ev) {
									console.log("click")
								});

								grid.on('dblclick', function (ev) {
									console.log("dblclick");
									console.log(ev.rowKey)
									const focusCell = grid.getFocusedCell()
									console.log(focusCell)

									let dataRow = grid.getRow(ev.rowKey);
									console.log(dataRow);

									console.log('전화번호 : ' + dataRow.empStat);
								}); */



				let selEmpId = '';
				let selEmpName = '';
				let selKey = '';
				grid.on('focusChange', (ev) => {
					// focus된 셀이 있는 열 전체 select 처리
					grid.setSelectionRange({
						start: [ev.rowKey, 0],
						end: [ev.rowKey, grid.getColumns().length - 1]
					});
					console.log(ev.rowKey)
					/* 
						// rowKey 얻는법
						// focus된 cell 내의 정보
						const focusCell = grid.getFocusedCell()
						console.log(focusCell)
					*/
					selKey = ev.rowKey;

					// 열 전체 정보 얻기
					let dataRow = grid.getRow(ev.rowKey);
					console.log(dataRow);
					selEmp = dataRow;
					console.log('사원번호 : ' + dataRow.empStat);
					selEmpId = dataRow.empId
					selEmpName = dataRow.empName
				});


				// 기본창 등록버튼 모달 띄우기 이벤트
				$('#staticBackdrop').on('shown.bs.modal');

				// 모달 내 등록 ajax 이벤트
				$('#addBtn').on('click', function (e) {
					$.ajax({
						url: '/common/empAdd',
						type: 'post',
						data: $('#addForm').serialize(),
						dataType: 'json',
						success: function (result) {
							alert('사원이 성공적으로 등록되었습니다');
							console.log(result);
							//등록 버튼을 누르면 테이블에 들어갈 데이터 설정      
							const appendedData = result
							grid.appendRow(appendedData);
						},
						error: function () {
							alert('사원 등록 중 오류가 발생했습니다!');
						}
					});
					$('#staticBackdrop input').val('');
					$('#staticBackdrop').modal('hide');
				})


				// 비밀번호 수정 버튼
				$('#pwBtn').on('click', function (e) {
					// 사원이 선택되지 않은 경우 알람 띄우기
					if (selEmpId == '') {
						alert('사원이 선택되지 않았습니다!');
						// 특정 사원이 선택 된 경우 사원번호와 이름을 담아 모달 띄우기
					} else {
						$('#pwModal').modal('show');
						console.log(selEmpId)
						$('#pwEmpData').html(`${selEmpId} ${selEmpName}`);
						$('#pwEmpId').val(selEmpId);
					}
				})

				// 모달 비밀번호 변경 이벤트
				$('#pwUpdateBtn').on('click', function (e) {
					$.ajax({
						url: '/common/empPw',
						type: 'post',
						data: $('#pwForm').serialize(),
						dataType: 'json',
						success: function () {
							alert('비밀번호가 성공적으로 업데이트 되었습니다');
						},
						error: function () {
							alert('비밀번호 변경 중 오류가 발생했습니다!');
						}
					});
					$('#pwModal input').val('');
					$('#pwModal').modal('hide');
					pwEmpId = '';
				});

				// 수정 버튼 이벤트
				$('#modiBtn').on('click', function () {
					let jsonData = Json.stringify(grid.getRow(selKey))
					console.log(grid.getRow(selKey))
				})

			}
		</script>

	</div>
</body>

</html>