<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
<link href="https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css" rel="stylesheet">
<title>사원관리</title>
<style>
        .test {
            padding: 1.5em;
            background: #e5edf5
        }
</style>
</head>
<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">사원관리</h1>
		<div class="test">
			<p>테스트입니다</p>
		</div>
	
	
	</div>
</body>
</html>