<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
<title>신규</title>
<!-- 토스트~ -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
<!-- 부트스트라프 -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
	crossorigin="anonymous"></script>
<!-- 제이쿼리 -->
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<!-- 타임리프 -->
<html xmlns:th="http://www.thymeleaf.org">
<!-- 페이징 눼이쉔~ -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script type="text/javascript"
	src="https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.js"></script>
<script type="text/javascript"
	src="https://uicdn.toast.com/tui.pagination/v3.3.0/tui-pagination.js"></script>
<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
<style>
.input-group {
	width: 200px;
}

.btn_container {
	width: 100%;
}

.topConatiner {
	width: 100% height: 450px;
}

.addContainer {
	width: 40%;
	height: 450px;
	border: 1px solid black;
	float: left;
	padding: 100px;
}

.plan_monitor {
	width: 60%;
	height: 450px;
	border: 1px solid black;
	padding: 20px;
	float: left;
	display: none;
}

#plan_search1 {
	width: 45%;
	height: 100%;
	float: left;
}

#plan_search2 {
	width: 53%;
	height: 500px;
	float: left;
	margin-left: 20px;
}

.bom_monitor {
	width: 60%;
	height: 450px;
	border: 1px solid black;
	padding: 20px;
	float: left;
}

#left_search {
	width: 48%;
	height: 100%;
	float: left;
	text-align: right;
}

#right_search {
	width: 50%;
	height: 500px;
	float: left;
	margin-left: 20px;
	text-align: right;
}

.topBtnContainer {
	width: 100%;
	height: 40px;
}

#leftBtn {
	margin-bottom: 10px;
	float: left;
}

#rightBtn {
	float: right;
	margin-right: 40px;
	margin-bottom: 10px;
}

.modal-body {
	background: #e5edf5;
}

.sel {
	width: 232.5px;
	text-align: center;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
}

.sel1 {
	float: left;
}

.sel2 {
	float: right;
}

.sel3 {
	background-color: white;
}
.addAndDel{
	margin-top: 20px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">작업지시 등록</h1>
		<hr>

		세부지시
		<button class="plusBtn sixBtn4">지시추가</button>
		<button class="removeBtn sixBtn4">지시삭제</button>
		<div id="grid1"></div>

		<div class="btn_container">
			<div class="topBtnContainer">
				<div id="rightBtn">
					<button class="moveBtn sixBtn4" style="display: none;">계획선택</button>
					<button class="planBtn sixBtn4">생산계획</button>
					<button class="bomBtn sixBtn4">공정등록</button>
				</div>
			</div>
		</div>
		<div class="topContainer">
			<div class="addContainer">


				<table>
					<tr>
						<td style="text-align: center;">작업지시번호</td>
						<td style="text-align: center;">작성자</td>

					</tr>
					<tr>
						<td><input type="text" class="form-control"
							id="orderCodeInput" placeholder="지시코드"
							aria-label="Recipient's username"
							aria-describedby="button-addon2" readonly></td>
						<td><input type="hidden" name="empId"
							th:value='${#authentication.principal.empId}'> <input
							type="text" class="form-control" placeholder="담당자"
							th:value='${#authentication.principal.empName}' readonly></td>
					</tr>
					<tr>
						<td style="text-align: center;">등록일</td>
						<td style="text-align: center;">지시상태</td>
					</tr>
					<tr>
						<td><input type="text" class="form-control" placeholder="등록일"></td>
						<td><select class="form-select" id="inputGroupSelect01">
								<option selected>대기</option>
								<option>진행중</option>
								<option>완료</option>
								<option>취소</option>
						</select></td>

					</tr>
					<tr>
						<td colspan="4" style="text-align: center;">
							<div class="addAndDel">
								<button class="submitBtn sixBtn4">등록</button>
								<button class="cancelBtn sixBtn4">취소</button>
							</div>
						</td>
					</tr>
				</table>
			</div>



			<div class="plan_monitor">
				<div id="plan_search1"></div>
				<div id="plan_search2"></div>
			</div>
			<div class="bom_monitor">
				<div id="left_search">
					<button class="plusBomBtn sixBtn1">+</button>
					<button class="delBomBtn sixBtn1">-</button>
					<div id="bom_search1"></div>
				</div>

				<div id="right_search">
					<button class="plusMatBtn sixBtn1">+</button>
					<button class="delMatBtn sixBtn1">-</button>
					<div id="bom_search2"></div>
				</div>
			</div>
		</div>

		<!-- <button class="modal_btn sixBtn4">모달버튼</button> -->


		<!-- 제품 선택 Modal 시작 -->
		<div class="modal fade" id="product_modal" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1" aria-labelledby="pdModal"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 모달 헤더 -->
					<div class="modal-header">
						<h5 class="modal-title" id="pdModalLabel"
							style="font-family: 'MaruBuri';">제품선택</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<!-- 모달 바디 -->
					<div class="modal-body">
						<div class="sel sel1 sel3">완제품</div>
						<div class="sel sel2">반제품</div>
						<div id="grid_product"></div>
					</div>
					<!-- 모달 푸터(버튼부분) -->
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
		<!-- 제품 선택 Modal 끝 -->


		<!-- 공정 선택 Modal 시작 -->
		<div class="modal fade" id="process_modal" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1" aria-labelledby="procModal"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 모달 헤더 -->
					<div class="modal-header">
						<h5 class="modal-title" id="procModalLabel"
							style="font-family: 'MaruBuri';">공정선택</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<!-- 모달 바디 -->
					<div class="modal-body">
						<div id="grid_process"></div>
					</div>
					<!-- 모달 푸터(버튼부분) -->
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
		<!-- 공정 선택 Modal 끝 -->

		<!-- 자재 선택 Modal 시작 -->
		<div class="modal fade" id="mat_modal" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1" aria-labelledby="matModal"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 모달 헤더 -->
					<div class="modal-header">
						<h5 class="modal-title" id="matModalLabel"
							style="font-family: 'MaruBuri';">제품선택</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<!-- 모달 바디 -->
					<div class="modal-body">
						<div class="sel sel1 sel3">자재</div>
						<div class="sel sel2">반제품</div>
						<div id="grid_mat"></div>
					</div>
					<!-- 모달 푸터(버튼부분) -->
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
		<!-- 자재 선택 Modal 끝 -->

		<script th:inline="javascript">
    // Thymeleaf에서 값을 가져와서 JavaScript 변수에 할당
    var orderCode = /*[[${orderCode}]]*/ '';

    // JavaScript를 사용하여 placeholder 값을 설정
    document.getElementById("orderCodeInput").placeholder = orderCode;
    
</script>

		<script>
	
	let cell
	{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
	
	var grid1 = new tui.Grid({
	    el: document.getElementById('grid1'),
	    scrollX: false,
	    scrollY: true,
	    rowHeaders: ['rowNum','checkbox'],
	    columns: [
    	  {
 	        header: '세부코드',
 	        name: 'wkDetaId',
 	        align : 'center'
 	      },
 	      {
 	        header: '제품코드',
 	        name: 'cpId',
 	        align : 'center'
 	      },
 	      {
 	        header: '제품명',
 	        name: 'cpName',
 	        align : 'center'
 	      },
 	      {
 	        header: '지시수량',
 	        name: 'detaQt',
 	        editor: 'text',
 	        align : 'right',
 	       formatter: ({ value }) => {
               if(value != null){
             return value.toLocaleString()
             }else{
              return ''
             } 
            }
 	      },
 	      {
 	        header: '양품수량',
 	        name: 'goodQt',
 	        align : 'right',
 	       formatter: ({ value }) => {
               if(value != null){
             return value.toLocaleString()
             }else{
              return ''
             } 
            }
 	      },
 	      {
 	        header: '생산일',
 	        name: 'startDate',
 	       	editor: 'datePicker',
 	        align : 'center'
 	      },
 	      {
 	        header: '종료일',
 	        name: 'endDate',
 	       	editor: 'datePicker',
 	        align : 'center'
 	 	  },
 	 		{
 	 	        header: '담당자',
 	 	        name: 'empName',
 	 	        align : 'center'
 	 	 	  },
	 	 	{
		          header: '진행현황',
		          name: 'cmpltSt',
			      editor: {
			    	  type: 'select',
			            options: {
			              listItems: [
			                { text: '진행중', value: '진행중' },
			                { text: '취소', value: '취소' },
			                { text: '대기', value: '대기' },
			                { text: '완료처리', value: '완료처리' },
			                { text: '생산완료', value: '생산완료' }
			              ]
			            }
			     },
		 	        align : 'center'
		       }
	    ]
	  });
	grid1.setBodyHeight(270);
	
	
	
	{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
	
	let data = []
	
	for(let i=0;i<1;i++){
		data.push({})
	}
	var plan_search1 = new tui.Grid({
	    el: document.getElementById('plan_search1'),
	    data : data,
	    scrollX: false,
	    scrollY: true,
	    rowHeaders: ['rowNum'],
	    columns: [
 	      {
 	        header: '계획코드',
 	        name: 'planHeadId'
 	      },
 	      {
 	        header: '분류',
 	        name: 'type'
 	      },
 	      {
 	        header: '예상시작일',
 	        name: 'planStart',
 	      },
 	      {
 	        header: '예상종료일',
 	        name: 'planEnd',
 	 	  },
 	 	  {
 	        header: '상태',// 아직VO에 없음 정의못했음
 	        name: 'cmpltSt',
 	 	  }
	    ]
	  });
	plan_search1.setBodyHeight(340);
	
		//첫 페이지에서 뜨는 데이터
		window.onload = function(){
			
			$.ajax({
				url : "/ajax/getPlanList",
				method : "GET",
				dataType : "JSON",
				success : function(result){
					console.log("첫 출력값 > ")
					console.dir(result);
					plan_search1.resetData(result);
				},
				error : function(reject){
					console.log(reject)
					실패알람()
				}
			})
		}
		//생산계획 리스트 클릭시 세부생산계획이 표시됨
		plan_search1.on('click', ev => {
		let data = plan_search1.getRow(ev.rowKey).planHeadId;
		console.log(data);
		$.ajax({
			url : "/ajax/getDetaPlanList",
			method : "GET",
			dataType : "JSON",
			data : { planHeadId: data},
			success : function(result){
				console.log("첫 출력값 > ")
				console.dir(result);
				while (result.length < 8){
					result.push({});
				}
				plan_search2.resetData(result);
			},
			error : function(reject){
				console.log(reject);
				실패알람()
			}
		})
	})
	
	var plan_search2 = new tui.Grid({
	    el: document.getElementById('plan_search2'),
	    data : data,
	    scrollX: false,
	    scrollY: true,
	    rowHeaders: ['rowNum','checkbox'],
	    columns: [
 	      {
 	        header: '세부코드',
 	        name: 'planDetaId'
 	      },
 	      {
 	        header: '제품코드',
 	        name: 'cpId'
 	      },
 	      {
 	        header: '제품명',
 	        name: 'cpName'
 	      },
 	      {
 	        header: '계획수량',
 	        name: 'detaQt'
 	      },
 	      {
 	        header: '기 지시량',
 	        name: 'ordQt',
 	      },
 	 	  {
 	        header: '종결',// 아직VO에 없음 정의못했음
 	        name: 'cmpltSt',
 	 	  }
	    ]
	  });
		plan_search2.setBodyHeight(340);
		
		
		let bom_data = []
		bom_data.push({
			procId : '',
			procType : '',
			procName : ''
		})
	var bom_search1 = new tui.Grid({
	    el: document.getElementById('bom_search1'),
	    data : bom_data,
	    scrollX: false,
	    scrollY: true,
	    rowHeaders: ['rowNum','checkbox'],
	    
	    columns: [
	      
 	      
 	      {
 	        header: '공정구분',
 	        name: 'comName'
 	      },
 	      {
 	        header: '공정코드',
 	        name: 'procId'
 	      },
 	      {
 	        header: '공정명',
 	        name: 'procName',
 	      }
	 	 	
	    ],
	      draggable: true
	  });
		bom_search1.setBodyHeight(320);
		
		var bom_search2 = new tui.Grid({
		    el: document.getElementById('bom_search2'),
		    scrollX: false,
		    scrollY: true,
		    rowHeaders: ['checkbox'],
		    
		    columns: [
	    	  {
	 	        header: '코드',
	 	        name: 'matId'
	 	      },
	 	      {
	 	        header: '자재명',
	 	        name: 'matName'
	 	      },
	 	      {
	 	        header: '규격',
	 	        name: 'matSize'
	 	      },
	 	      {
	 	        header: '개수',
	 	        name: 'cpQt',
	 	        editor: 'text',
	 	        editorOptions: {
	 	        	type: 'number'
	 	        },
	 	        align : 'right'
	 	      },
	 	      {
	 	    	header: '사용가능개수',
	 	    	name: 'sumQt',
	 	    	editor: 'text',
	 	    	align : 'right'
	 	      }
		    ]
		  });
		bom_search2.setBodyHeight(320);
		
		var grid_product = new tui.Grid({
			el: document.getElementById('grid_product'),
			scrollX: false,
			scrollY: true,
			minBodyHeight: 400,
			columns: [{
				header: '제품코드',
				name: 'cpId',
				align: 'center'
			}, {
				header: '제품명',
				name: 'cpName',
				align: 'center'
			}, {
				header: '규격',
				name: 'cpSize',
				align: 'center'
			}]
		});
		grid_product.setBodyHeight(520);
		
			$.ajax({
				url : "/ajax/getProductList",
				method : "GET",
				dataType : "JSON",
				success : function(result){
					console.log("첫 출력값 > ")
					console.dir(result);
					grid_product.resetData(result);
				},
				error : function(reject){
					console.log(reject)
					실패알람()
				}
			})
			
			
		var grid_process = new tui.Grid({
			el: document.getElementById('grid_process'),
			scrollX: false,
			scrollY: true,
			minBodyHeight: 400,
			columns: [{
				header: '공정구분',
				name: 'comName',
				align: 'center'
			}, {
				header: '공정코드',
				name: 'procId',
				align: 'center'
			}, {
				header: '공정명',
				name: 'procName',
				align: 'center'
			}]
		  });
			grid_process.setBodyHeight(520);
			
			$.ajax({
				url: "/basic/activeProcList",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					grid_process.resetData(result);
				},
				error: function (reject) {
					console.log(reject)
					실패알람()
				}
			});
			
			
		var grid_mat = new tui.Grid({
		    el: document.getElementById('grid_mat'),
		    scrollX: false,
		    scrollY: false,
		    rowHeaders: ['rowNum'],
		    columns : [ {
				header : '코드',
				name : 'cpId',
			}, {
				header : '자재명',
				name : 'cpName'
			}, {
				header : '단위',
				name : 'cpUnit'
			}, {
				header : '규격',
				name : 'cpSize'
			},{
				header : '활성',
				name : 'cpStat'
			}
			]
		  });
		
			$.ajax({
				url: "/basic/activeMatList",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					grid_mat.resetData(result);
				},
				error: function (reject) {
					console.log(reject)
					실패알람()
				}
			});
			
	{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
	//버튼 관련//버튼 관련//버튼 관련//버튼 관련//버튼 관련//버튼 관련//버튼 관련//버튼 관련//버튼 관련//버튼 관련
	
	
	let selectDetWorkCode = ''
	let selectBomWorkCode = ''
	let selectMatWorkCode = ''
		
	//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료
	//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료
	$('.plusBtn').on('click', function(){
		let WorkCode = document.getElementById("orderCodeInput").placeholder 
		$.ajax({
				url : "/ajax/addDetaWork",
				method : "POST",
				contentType: "application/json",
				data : JSON.stringify({wkHeadId : WorkCode,
										empId : empId}),
				success : function(result){
					grid1.resetData(result);
					},
					error : function(reject){
						console.log(reject)
						실패알람()
					}
				})
	})
	//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료
	//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료
	
	
	
	
	
	
	
	
	$('.moveBtn').on('click', function(){
		let swith = false;
		let dataAry = [];
 		for(let i of plan_search2.getCheckedRows()){
 			let addswith = true;
 			for(let j of grid1.getData()){
					if(i.planDetaId == j.planDetaId && addswith == true){
						console.log('일치 하였음')
						swith = true;
						addswith = false;
					}
				}
 			if(addswith == true){
 				i.wkHeadId = orderCode;
 				i.empId = empId;
				dataAry.push(i);
 			}
 		}
 		if(swith == true){
 			Msg.error('중복되는 세부계획이 존재합니다', 2000);
 		}else if(dataAry.length != 0){
 			console.log(dataAry)
 			$.ajax({
				url : "/ajax/addWorkforPlan",
				method : "POST",
				contentType : "application/json",
				data : JSON.stringify(dataAry),
				success : function(result) {
					grid1.resetData(result);
					Msg.success('등록이 완료되었습니다.', 2000);
				},
				error : function(reject) {
					console.err(reject)
					실패알람()
				}
			})
 			
 		}else{
 			Msg.warning('생산계획을 선택하세요', 2000);
 		}
 			
 		plan_search2.blur();
 		
 	})
 	
 	

	
	$('.planBtn').on('click', function(){
		$('.plan_monitor').css('display', 'block')	
		$('.moveBtn').css('display', 'inline')
		$('.bom_monitor').css('display', 'none')
		setTimeout(() =>
		(plan_search1.refreshLayout(), 200),
	    (plan_search2.refreshLayout(), 200))
	})
	
	$('.bomBtn').on('click', showBom)
	function showBom(){
		$('.plan_monitor').css('display', 'none')
		$('.moveBtn').css('display', 'none')
		$('.bom_monitor').css('display', 'block')
		setTimeout(() =>
	    (bom_search1.refreshLayout(), 200),
	    (bom_search2.refreshLayout(), 200))
    }
	
	//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료
	//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료
	let grid1Ev
	grid1.on('click',ev => {
		let columnName = ev.columnName;
		console.log(grid1.getRow(columnName))
		if (columnName === 'cpId'){
			console.log(ev.columnName);
		    console.log(ev.columnIndex);
			$('#product_modal').modal('show');
			//특정 Cell의 열,컬럼이름 데이터
			cell = ev ;
			//특정 Cell의 데이터 변경 //나중에 제품클릭후 작동되는 함수로 옮길거임
			setTimeout(() =>
		    grid_product.refreshLayout(), 200);
		}
		//클릭한 세부지시에 대한 공정가져오기
		selectDetWorkCode = grid1.getRow(ev.rowKey);
		grid1Ev = ev
		$.ajax({
			url : "/ajax/getWkBomList",
			method : "GET",
			dataType : "JSON",
			contentType: "application/json",
			data : { data: selectDetWorkCode.wkDetaId },
			success : function(result){
				console.dir(result);
				bom_search1.resetData(result);
				},
				error : function(reject){
					console.log(reject)
					실패알람()
				}
			})
		showBom()
		bom_search2.resetData();
		selectBomWorkCode = '';
		selectMatWorkCode = '';
	})
	let empId = '[[${#authentication.principal.empId}]]'
	grid1.on('afterChange', function (ev) {
		  let getRow = grid1.getRow(grid1Ev.rowKey)
		  if(ev.changes[0].columnName == 'cpId'){
			  getRow.single = 'Y';
		  }
		  
		  $.ajax({
				url : "/ajax/modifyDetaWorkList",
				method : "POST",
				dataType : "JSON",
				contentType: "application/json",
				data :  JSON.stringify(getRow),
				success : function(result){
					console.dir(result);
					grid1.resetData(result[0]);
					},
					error : function(reject){
						console.log(reject)
						실패알람()
					}
				});
		});
	
	
	$('.plusBomBtn').on('click', function(){
		if(세부계획선택여부() == true){
			$.ajax({
				url : "/ajax/plusBomList",
				method : "GET",
				dataType : "JSON",
				contentType: "application/json",
				data : { data: selectDetWorkCode.wkDetaId },
				success : function(result){
					console.dir(result);
					bom_search1.resetData(result);
					},
					error : function(reject){
						console.log(reject)
						실패알람()
					}
				})
		}
	})
	
	$('.delBomBtn').on('click', function(){
		if(세부계획선택여부() == true){
			let removeReady = bom_search1.getCheckedRows();
			console.log(removeReady);
			$.ajax({
				url : "/ajax/delBomList",
				method : "POST",
				dataType : "JSON",
				contentType: "application/json",
				data :  JSON.stringify(removeReady),
				success : function(result){
					console.dir(result);
					bom_search1.resetData(result);
					},
					error : function(reject){
						console.log(reject)
						실패알람()
					}
				})
			
		}
	})
	
	$('.plusMatBtn').on('click', function(){
		if(공정코드선택여부() == true){
			$.ajax({
				url : "/ajax/plusMatList",
				method : "GET",
				dataType : "JSON",
				contentType: "application/json",
				data : { data: bom_search1.getRow(selectBomWorkCode).wkBomId },
				success : function(result){
					console.dir(result);
					bom_search2.resetData(result);
					},
					error : function(reject){
						console.log(reject)
						실패알람()
					}
				})
		}
	})
	
	$('.delMatBtn').on('click', function(){
		if(공정코드선택여부() == true){
			let removeReady = bom_search2.getCheckedRows();
			console.log(removeReady);
			$.ajax({
				url : "/ajax/delMatList",
				method : "POST",
				dataType : "JSON",
				contentType: "application/json",
				data :  JSON.stringify(removeReady),
				success : function(result){
					console.dir(result);
					bom_search2.resetData(result);
					},
					error : function(reject){
						console.log(reject)
						실패알람()
					}
				})
		}
	})
	
	//공정그리드 클릭 시 필요한 자재수량을 기입할 수 있음 보유자재도 표시.
	bom_search1.on('click',ev => {
		let columnName = ev.columnName;
		selectBomWorkCode = ev.rowKey;
		if (columnName === 'procId'){ 
			$('#process_modal').modal('show');
			//특정 Cell의 데이터 변경 //나중에 제품클릭후 작동되는 함수로 옮길거임
			setTimeout(() =>
			grid_process.refreshLayout(), 200);
		}
		$.ajax({
			url : "/ajax/getWkMatList",
			method : "GET",
			dataType : "JSON",
			contentType: "application/json",
			data : { data: bom_search1.getRow(selectBomWorkCode).wkBomId},
			success : function(result){
				console.dir(result);
				bom_search2.resetData(result);
				},
				error : function(reject){
					console.log(reject)
					실패알람()
				}
			})
	});
	
	
	bom_search1.on('afterChange', function (ev) {
		  let getRow = bom_search1.getRow(selectBomWorkCode)
		  console.log(getRow)
		  $.ajax({
				url : "/ajax/modifyBomList",
				method : "POST",
				dataType : "JSON",
				contentType: "application/json",
				data :  JSON.stringify(getRow),
				success : function(result){
					console.dir(result);
					bom_search1.resetData(result);
					},
					error : function(reject){
						console.log(reject)
						실패알람()
					}
				})
		});
	
	// 자재 모달창
	bom_search2.on('click',ev => {
		
		let columnName = ev.columnName;
		selectMatWorkCode = ev;
		
		if (columnName === 'matId' || columnName === 'matName'){ //컬럼이름 변경하 시오!
			console.log(ev.columnName);
		    console.log(ev.columnIndex);
			$('#mat_modal').modal('show');
			//특정 Cell의 열,컬럼이름 데이터
			cell = bom_search2.getFocusedCell(ev.rowKey, ev.columnName);
			//특정 Cell의 데이터 변경 //나중에 제품클릭후 작동되는 함수로 옮길거임
			setTimeout(() =>
			grid_mat.refreshLayout(), 200);
		}
	})
	bom_search2.on('afterChange', function (ev) {
		  let getRow = bom_search2.getRow(selectMatWorkCode.rowKey)
		  console.log(getRow)
		  $.ajax({
				url : "/ajax/modifyMatList",
				method : "POST",
				dataType : "JSON",
				contentType: "application/json",
				data :  JSON.stringify(getRow),
				success : function(result){
					console.dir(result);
					bom_search2.resetData(result);
					selectBomWorkCode = '';
					},
					error : function(reject){
						console.log(reject)
						실패알람()
					}
				})
		});
	//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료
	//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료//검증완료
	
	
	$('.removeBtn').on('click', function(){
		let removeReady = grid1.getCheckedRows();
		console.log(removeReady);
		$.ajax({
			url : "/ajax/delDetWorkList",
			method : "POST",
			dataType : "JSON",
			contentType: "application/json",
			data :  JSON.stringify(removeReady),
			success : function(result){
				console.dir(result);
				grid1.resetData(result);
				bom_search1.resetData();
				bom_search2.resetData();
				selectDetWorkCode = '';
				},
				error : function(reject){
					console.log(reject)
					실패알람()
				}
			})
	})
	
	
	//모달안에 그리드중 데이터클릭시 작동. 모달닫히는거까지
	grid_product.on('click',ev => {
		bom_search1.clear()
		bom_search2.clear()
		let cpId = grid_product.getRow(ev.rowKey).cpId
		let cpName = grid_product.getRow(ev.rowKey).cpName
		console.log('들어가는 데이터 : ' + cpId + '  ' + cpName)
		grid1.setValue(cell.rowKey, 'cpId', cpId)
		grid1.setValue(cell.rowKey, 'cpName', cpName)
		$('#product_modal').modal('hide');
	})
	
	//모달안에 그리드중 데이터클릭시 작동. 모달닫히는거까지
	grid_process.on('click',ev => {
		console.log(selectBomWorkCode)
		let comName = grid_process.getRow(ev.rowKey).comName
		let procId = grid_process.getRow(ev.rowKey).procId
		let procName = grid_process.getRow(ev.rowKey).procName

		bom_search1.setValue(selectBomWorkCode, 'procId', procId)
			bom_search1.setValue(selectBomWorkCode, 'comName', comName)
			bom_search1.setValue(selectBomWorkCode, 'procName', procName)
			$('#process_modal').modal('hide');
	})
	
	
	//모달안에 그리드중 데이터클릭시 작동. 모달닫히는거까지
	grid_mat.on('click',ev => {
		let cpId = grid_mat.getRow(ev.rowKey).cpId
		let cpName = grid_mat.getRow(ev.rowKey).cpName
		let cpSize = grid_mat.getRow(ev.rowKey).cpSize
		bom_search2.setValue(cell.rowKey, 'matId', cpId)
		bom_search2.setValue(cell.rowKey, 'matName', cpName)
		bom_search2.setValue(cell.rowKey, 'matSize', cpSize)
		$('#mat_modal').modal('hide');
	})
	
	
	
	
	
	let selType = '완제품'
		// 제품 선택 모달창 탭 기능(완제품 클릭)
		$('.sel1').on('click', function (e) {
			$('.sel2').removeClass('sel3');
			$(this).addClass('sel3');
			selType = '완제품';
			$.ajax({
				url: "/basic/activeCpList",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					grid_product.resetData(result);
				},
				error: function (reject) {
					console.log(reject)
					실패알람()
				}
			});
		})

		// 제품 선택 모달창 탭 기능(반제품 클릭)
		$('.sel2').on('click', function (e) {
			$('.sel1').removeClass('sel3');
			$(this).addClass('sel3');
			selType = '반제품';
			$.ajax({
				url: "/basic/activeSpList",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					grid_product.resetData(result);
				},
				error: function (reject) {
					console.log(reject)
					실패알람()
				}
			});
		})		
		
		
		let matType = '자재'
				// 자재 선택 모달창 탭 기능(자재 클릭)
				$('.sel1').on('click', function (e) {
					$('.sel2').removeClass('sel3');
					$(this).addClass('sel3');
					matType = '완제품';
					$.ajax({
						url: "/basic/activeMatList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							grid_mat.resetData(result);
						},
						error: function (reject) {
							console.log(reject)
							실패알람()
						}
					});
				})

				// 자재 선택 모달창 탭 기능(반제품 클릭)
				$('.sel2').on('click', function (e) {
					$('.sel1').removeClass('sel3');
					$(this).addClass('sel3');
					matType = '반제품';
					$.ajax({
						url: "/basic/activeSpList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							grid_mat.resetData(result);
						},
						error: function (reject) {
							console.log(reject)
							실패알람()
						}
					});
				})
				
				
	$('.submitBtn').on('click',function(){
		let workCode = document.getElementById("orderCodeInput").placeholder
		let empId = '[[${#authentication.principal.empId}]]'
		console.log(empId)
		$.ajax({
			url: "/ajax/addSubmit",
			method: "POST",
			contentType: "application/json",
			data : JSON.stringify({ wkHeadId: workCode,
					 empId : empId,
					 cmpltSt : $('#inputGroupSelect01').val()}),
			success: function (result){
				if(result == '등록되었습니다 !'){
					alert(result);
					location.href = '/work/workControllPage';
				}
				Msg.error(result, 5000);
			},
			error: function(reject){
				console.err(reject)
				Msg.error('[error : addSubmit] please check the Console Log', 5000);
			}
		})
	})		
	
	$('.cancelBtn').on('click', function(){
		let link = '/work/workControllPage'
		if(confirm("  페이지를 떠날 시 작성 중인 데이터는 사라집니다 \n  페이지를 떠나시겠습니까? \n  지시코드 : " + orderCode) == true){
    		location.href = link;
    	}else{
    		return;
    	}
		
	})
	///////////////////함수저장소//////////////////
	
	window.onbeforeunload = function(){
		$.ajax({
			url: "/ajax/workDataDelete",
			method : "POST",
			data : {data : orderCode},
			success: function(result){
			},
			error: function(reject){
				console.err(reject)
				Msg.error('[error : workDataDelete] please check the Console Log', 5000);
			}
		})
	}
	
	//작업지시를 클릭 하지 않고, 공정을 추가 하는경우
	function 세부계획선택여부(){
		if(selectDetWorkCode === ''){
			워닝알람('작업지시를 먼저 선택하세요')
			return false
		}else{
			return true
		}
	}
	
	//공정을 클릭 하지 않고, 자재를 추가하려는 경우.
	function 공정코드선택여부(){
		if(selectBomWorkCode === ''){
			워닝알람('공정을 먼저 선택하세요')
			return false
		}else{
			return true
		}
	}
	
	function 워닝알람(text){
		Msg.warning(text, 2000);
	}
	
	function 실패알람(){
		Msg.error('[error] please check the Console Log', 5000);
	}
	
	tui.Grid.applyTheme('default', {
        cell: {
            header: {
                background: '#e5edf5'
            },
            rowHeader: {
                background: '#e5edf5'
            },
            normal: {
                background: '#ffffff'
            }
        }
    });
	
	
	
	
	</script>

	</div>
</body>
</html>