<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>공정실적</title>
	<style>
		#infoTbl td {
			padding: 5px 15px;
			text-align: center;
		}

		#infoTbl {
			margin: 30px auto 0 auto;
		}

		select,
		option,
		input {
			text-align: center;
			width: 160px
		}

		.center {
			margin: 25px 0 70px 0;
			text-align: center;
		}

		.modal-body {
			background: #e5edf5;
		}

		.sel {
			width: 232.5px;
			text-align: center;
			padding: 10px;
			font-size: 15px;
			font-weight: bold;
		}

		.sel:hover {
			cursor: pointer;
		}

		.sel1 {
			float: left;
		}

		.sel2 {
			float: right;
		}

		.sel3 {
			background-color: white;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="mt-4" style="font-family: 'MaruBuri';">공정실적</h1>
		<!-- 상품선택 -->
		<form action="" id="searchForm" method="post">
			<table id="infoTbl">
				<tr>
					<td>품목코드</td>
					<td id="pdBtn"><input type="text" id="pdId" name="pdId" readonly>
						<button type="button" class="sixBtn1">
							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" fill="currentColor"
								class="bi bi-search" viewBox="0 2 16 16">
								<path
									d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
							</svg>
						</button>
					</td>
					<td>공정실적코드</td>
					<td><input type="text" id="prcsPfmcId" name="prcsPfmcId" style="width : 170px"></td>
					<td>공정 구분</td>
					<td><select name="procType" id="procType">
							<option value="">----- 선택 -----</option>
							<option th:each="type : ${types}" th:value="${type.comId}" th:text="${type.comName}">
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>착수일</td>
					<td colspan="3"><input type="date" name="wkStart" id="wkStart"
							style="width : 230px">&nbsp;&nbsp;&nbsp; ~ &nbsp;&nbsp;&nbsp;
						<input type="date" name="wkEnd" id="wkEnd" style="width : 230px">
					</td>
					<td>품목 구분</td>
					<td><select name="pdType" id="pdType">
							<option value="">----- 선택 -----</option>
							<option value="C">완제품</option>
							<option value="S">반제품</option>
							<option value="M"> 자 재 </option>
						</select>
					</td>
				</tr>
			</table>
			<div class="center">
				<button type="button" class="sixBtn3" id="searchBtn">검색</button>
				<button type="button" class="sixBtn3" id="initBtn">초기화</button>
			</div>
		</form>

		<div id="grid"></div>

		<!-- 제품 선택 Modal 시작 -->
		<div class="modal fade" id="pdModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="pdModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 모달 헤더 -->
					<div class="modal-header">
						<h5 class="modal-title" id="pdModalLabel" style="font-family: 'MaruBuri';">제품선택</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<!-- 모달 바디 -->
					<div class="modal-body">
						<div class="sel sel1 sel3">완제품</div>
						<div class="sel sel2">반제품</div>
						<div id="pdGrid"></div>
					</div>
					<!-- 모달 푸터(버튼부분) -->
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>
		<!-- 제품 선택 Modal 끝 -->

		<script>
			window.onload = function () {
				// 초기데이터(전체조회)
				$.ajax({
					url: "/work/performanceList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
					}
				});
			}

			// 조회 그리드 생성
			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				scrollX: false,
				scrollY: false,
				minBodyHeight: 480,
				rowHeaders: ['rowNum'],
				pageOptions: {
					useClient: true,
					perPage: 12
				},
				columns: [{
					header: '공정실적코드',
					name: 'prcsPfmcId',
					align: 'center'
				}, {
					header: '공정명',
					name: 'procName',
					align: 'center'
				}, {
					header: '세부지시코드',
					name: 'wkDetaId',
					align: 'center'
				}, {
					header: '품목코드',
					name: 'pdId',
					align: 'center'
				}, {
					header: '품목명',
					name: 'pdName',
					align: 'center'
				}, {
					header: '단위',
					name: 'pdUnit',
					align: 'center',
					width: 'auto'
				}, {
					header: '설비코드',
					name: 'equCode',
					align: 'center'
				}, {
					header: '착수일',
					name: 'wkStart',
					align: 'center'
				}, {
					header: '완료일',
					name: 'wkEnd',
					align: 'center'
				}, {
					header: '지시수량',
					name: 'detaQt',
					align: 'center'
				}, {
					header: '불량수량',
					name: 'dmatQt',
					align: 'center'
				}, {
					header: '양품수량',
					name: 'goodQt',
					align: 'center'
				}, {
					header: '담당자',
					name: 'empName',
					align: 'center'
				}]
			});

			// 그리드 색 변경 테마 적용
			tui.Grid.applyTheme('default', {
				cell: {
					header: {
						background: '#e5edf5'
					},
					rowHeader: {
						background: '#e5edf5'
					},
					normal: {
						background: '#ffffff'
					}
				}
			});

			const pdGrid = new tui.Grid({
				el: document.getElementById('pdGrid'),
				scrollX: false,
				scrollY: false,
				minBodyHeight: 400,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
				columns: [{
					header: '제품코드',
					name: 'cpId',
					align: 'center'
				}, {
					header: '제품명',
					name: 'cpName',
					align: 'center'
				}, {
					header: '규격',
					name: 'cpSize',
					align: 'center'
				}]
			});


			$('#pdBtn').on('click', function (e) {
				$.ajax({
					url: "/basic/activeCpList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						pdGrid.resetData(result);
					},
					error: function (reject) {
						console.log(reject)
					}
				});
				setTimeout(() => pdGrid.refreshLayout(), 500);
				$('#pdModal').modal('show');
			})

			// 제품 선택 모달창 탭 기능(완제품 클릭)
			$('.sel1').on('click', function (e) {
				$('.sel2').removeClass('sel3');
				$(this).addClass('sel3');
				$.ajax({
					url: "/basic/activeCpList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						pdGrid.resetData(result);
					},
					error: function (reject) {
						console.log(reject)
					}
				});
			})

			// 제품 선택 모달창 탭 기능(반제품 클릭)
			$('.sel2').on('click', function (e) {
				$('.sel1').removeClass('sel3');
				$(this).addClass('sel3');
				$.ajax({
					url: "/basic/activeSpList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						pdGrid.resetData(result);
					},
					error: function (reject) {
						console.log(reject)
					}
				});
			})

			// 모달창 제품 선택 이벤트
			pdGrid.on('click', function (e) {
				rowData = pdGrid.getRow(e.rowKey);
				$('#pdId').val(rowData.cpId);
				$('.sel2').removeClass('sel3');
				$('.sel1').addClass('sel3');
				$('#pdModal').modal('hide');
			})

			// 검색버튼 이벤트
			$('#searchBtn').on('click', (e) => {
				$.ajax({
					url: '/work/searchPerformance',
					type: 'post',
					data: $('#searchForm').serialize(),
					dataType: 'json',
					success: function (result) {
						grid.resetData(result);
					},
					error: function (reject) {
						console.log(reject);
						alert('검색 중 오류가 발생했습니다!');
					}
				});
			})

			// 초기화버튼 이벤트
			$('#initBtn').on('click', (e) => {
				$.ajax({
					url: "/work/performanceList",
					method: "GET",
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
					}
				});
				$('#infoTbl input').val('');
				$('#pdType').val('').prop("selected", true);
				$('#procType').val('').prop("selected", true);
			})
		</script>
	</div>
</body>

</html>