<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
<title>조회</title>
<!-- 토스트~ -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
<!-- 부트스트라프 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<!-- 제이쿼리 -->
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<!-- 타임리프 -->
<html xmlns:th="http://www.thymeleaf.org"></html>
<!-- 페이징 눼이쉔~ -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script type="text/javascript" src="https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.js"></script>
<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.3.0/tui-pagination.js"></script>
<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
<style>
	.set_color_false {
  		background-color: #DADDDE;
	}
	
	.set_color_true {
		background-color: #ECECEC; 
	}
	
	.text_container{
		float: right;
	}
	.filter_text{
		font-size: 12px;
		color: blue;
	}

</style>

</head>
<body>
	<div layout:fragment="content">
	<h1 class="mt-4" style="font-family: 'MaruBuri';">작업지시 조회</h1>
	<hr>
	
	<button class="workFilterBtn sixBtn4">검색</button>
	<div class="text_container"><p class="filter_text">검색기준 : 날짜</p></div>
	<br>
		
  <div id="grid1"></div>
  
  <!-- 제품 선택 Modal 시작 -->
		<div class="modal fade" id="workFilter_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="pdModal" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<!-- 모달 헤더 -->
					<div class="modal-header">
						<h5 class="modal-title" id="pdModalLabel" style="font-family: 'MaruBuri';">검색</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<!-- 모달 바디 -->
					<br>
					<div class="modal-body">
						<div class="container text-center">
						
						  <div class="row">
						    <div class="col" style="text-align:right;" >
						      생성일자 <input type="date" name="makeFrom"> ~ <input type="date" name="makeTo">
						    </div>
						    
						    <div class="col" style="text-align:right;" >
						      제품명 <input type="text" name="제품명">
						    </div>
						  </div>
						  
						  <div class="row">
						    <div class="col" style="text-align:right;" >
						     착수일 <input type="date" name="workFrom"> ~ <input type="date" name="workTo">
						    </div>
						    <div class="col" style="text-align:right;" >
						      지시No. <input type="text" name="계획">
						    </div>
						  </div>
						  
						  <div class="row">
						    <div class="col" style="text-align:right;" >
						    지시상태 <label><input type="checkbox" name="상태" value='완료'>완료</label> <label><input type="checkbox" name="상태" value='진행중'>진행중</label> <label><input type="checkbox" name="상태" value='취소'>취소</label> <label><input type="checkbox" name="상태" value='대기'>대기</label>
						    </div>
						    <div class="col" style="text-align:right;" >
						      작성자 <input type="text" name="작성자">
						    </div>
						  </div>
						  
						  <br>
						  <br>
						  
						  <div class="row">
						    <div class="col" style="text-align:center;" >
						    <button class="sixBtn2 filter_submit">검색</button>
						    <button class="sixBtn2 filter_reset">초기화</button>
						    </div>
						  </div>
						</div>
					</div>
					<!-- 모달 푸터(버튼부분) -->
					<div class="modal-footer" style="text-align:center;">
					
					</div>
				</div>
			</div>
		</div>
		<!-- 제품 선택 Modal 끝 -->
		
<script>
	var grid1 = new tui.Grid({
	    el: document.getElementById('grid1'),
	    scrollX: false,
	    scrollY: false,
	    rowHeaders: ['rowNum'],
	    columns: [
	      {
	        header: '지시번호',
	        name: 'wkHeadId'
	      },
	      {
	        header: '세부번호',
	        name: 'wkDetaId'
	      },
	      {
	        header: '품목코드',
	        name: 'cpId'
	      },
	      {
	        header: '제품명',
	        name: 'cpName'
	      },
	      {
	        header: '계획수량',
	        name: 'detaQt'
	      },
	      {
	        header: '완료수량',
	        name: 'goodQt'
	      },
	      {
	        header: '불량수량',
	        name: 'dmatQt'
	      },
	      {
	          header: '상태',
	          name: 'cmpltSt'
	        },
	      {
	        header: '착수일',
	        name: 'startDate'
	      },
	      {
	        header: '완료일',
	        name: 'endDate'
	      },
	      {
	          header: '작성자',
	          name: 'empName'
	        },
	      {
	        header: '비고',
	        name: 'memo',
	      }
	    ],
	    pageOptions: {
	        useClient: true,
	        perPage: 18
	      }
	  });
	  
	window.onload = function(){
			
			$.ajax({
				url : "/ajax/getWorkList",
				method : "GET",
				dataType : "JSON",
				success : function(result){
					console.log("첫 출력값 > ")
					console.dir(result);
					grid1.resetData(result);
					그리드초기수정();
				}
			})
		}
	  
	  
	function 그리드초기수정 (){
		let allGrid = grid1.getData()
		let deleteHead
		let color_count = false
		let target_ary_false = [];
		let target_ary_true = [];
		
		for (let i in allGrid) {
		    if (allGrid[i].wkHeadId == deleteHead) {
		      allGrid[i].wkHeadId =  '<div style="text-align: center;">'+ '\"'+ '</div>';
		      if (color_count == false) {
		        target_ary_false.push(i);
		      } else {
		        target_ary_true.push(i);
		      }
		    } else {
		      deleteHead = allGrid[i].wkHeadId;
		      if (color_count == true) {
		        color_count = false;
		        target_ary_false.push(i);
		      } else if (color_count == false) {
		        color_count = true;
		        target_ary_true.push(i);
		      }
		    }
		  }
		grid1.resetData(allGrid);
		for(let i in target_ary_false){
			//grid1.addRowClassName(target_ary[i], 'set_color');
			 let rowIndex = Number(target_ary_false[i]);
		    
		    // rowHeaders 컬럼은 색상을 변경하지 않음
		    grid1.addCellClassName(rowIndex, 'wkHeadId', 'set_color_false');
		    grid1.addCellClassName(rowIndex, 'wkDetaId', 'set_color_false');
		    grid1.addCellClassName(rowIndex, 'cpId', 'set_color_false');
		    grid1.addCellClassName(rowIndex, 'cpName', 'set_color_false');
		    grid1.addCellClassName(rowIndex, 'detaQt', 'set_color_false');
		    grid1.addCellClassName(rowIndex, 'goodQt', 'set_color_false');
		    grid1.addCellClassName(rowIndex, 'dmatQt', 'set_color_false');
		    grid1.addCellClassName(rowIndex, 'cmpltSt', 'set_color_false');
		    grid1.addCellClassName(rowIndex, 'startDate', 'set_color_false');
		    grid1.addCellClassName(rowIndex, 'endDate', 'set_color_false');
		    grid1.addCellClassName(rowIndex, 'empName', 'set_color_false');
		    grid1.addCellClassName(rowIndex, 'memo', 'set_color_false');
		}
		
		for(let i in target_ary_true){
			//grid1.addRowClassName(target_ary[i], 'set_color');
			let rowIndex = Number(target_ary_true[i]);
		    
		    // rowHeaders 컬럼은 색상을 변경하지 않음
		    grid1.addCellClassName(rowIndex, 'wkHeadId', 'set_color_true');
		    grid1.addCellClassName(rowIndex, 'wkDetaId', 'set_color_true');
		    grid1.addCellClassName(rowIndex, 'cpId', 'set_color_true');
		    grid1.addCellClassName(rowIndex, 'cpName', 'set_color_true');
		    grid1.addCellClassName(rowIndex, 'detaQt', 'set_color_true');
		    grid1.addCellClassName(rowIndex, 'goodQt', 'set_color_true');
		    grid1.addCellClassName(rowIndex, 'dmatQt', 'set_color_true');
		    grid1.addCellClassName(rowIndex, 'cmpltSt', 'set_color_true');
		    grid1.addCellClassName(rowIndex, 'startDate', 'set_color_true');
		    grid1.addCellClassName(rowIndex, 'endDate', 'set_color_true');
		    grid1.addCellClassName(rowIndex, 'empName', 'set_color_true');
		    grid1.addCellClassName(rowIndex, 'memo', 'set_color_true');
		}
	}

	  
	  
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	  
	$('.workFilterBtn').on('click',function(){
		$('#workFilter_modal').modal('show');
	})
	  
	$(".filter_submit").on("click",function(){
		
		var statusCheckbox = [];
        $('input[name="상태"]:checked').each(function() {
          statusCheckbox.push($(this).val());
        });
			
		var searchData = {};
		
		searchData.productName = $('input[name="제품명"]').val();
        searchData.workNo = $('input[name="계획"]').val();
        searchData.writer = $('input[name="작성자"]').val();
        searchData.makeFrom = $('input[name="makeFrom"]').val();
        searchData.makeTo = $('input[name="makeTo"]').val();
        searchData.workFrom = $('input[name="workFrom"]').val();
        searchData.workTo = $('input[name="workTo"]').val();
        
        if(searchData.makeFrom != '' || searchData.makeTo != ''){
	        if(searchData.makeFrom > searchData.makeTo || searchData.makeFrom == ''){
	        	alert('생성일자 범위를 수정해주세요')
	        	return;
	        }
        }
        
        if(searchData.workFrom != '' || searchData.workTo != ''){
	        if(searchData.workFrom > searchData.workTo || searchData.workFrom == ''){
	        	alert('착수일 범위를 수정해주세요')
	        	return;
	        }
        }
        
        searchData.statusCheckbox = statusCheckbox;
        console.log(searchData);
        
        $.ajax({
			url : "/ajax/workFilterAjax",
			method : "POST",
			contentType: "application/json",
			data: JSON.stringify(searchData),
			success : function(result){
				console.log('RESULT :');
				console.log(result);
				grid1.resetData(result);
				그리드초기수정();
			},
			error : function(reject){
				console.err(reject)
			}
		})
        let readyToText = '';
		if(searchData.productName != ''){
			readyToText += ' | 제품명: ' + searchData.productName;
		}
		if(searchData.workNo != ''){
			readyToText += ' | 지시번호: ' + searchData.workNo;
		}
		if(searchData.writer != ''){
			readyToText += ' | 작성자: ' + searchData.writer;
		}
		if(searchData.workFrom != ''){
			readyToText += ' | 생성일자: ' + searchData.makeFrom + '~'+ searchData.makeTo;
		}
		if(searchData.makeFrom != ''){
			readyToText += ' | 착수일: ' + searchData.workFrom + '~'+ searchData.workTo;
		}
		if(statusCheckbox.length > 0){
			readyToText += ' | 지시상태 : ';
	        for(let i in statusCheckbox){
	        	readyToText += statusCheckbox[i]
	        	if(statusCheckbox.length-1 != i){
	        		readyToText += ', ';
	        	}
	        }
        }
		
		
		$('.filter_text').text(readyToText)
		 
		$('#workFilter_modal').modal('hide');
	})
	
	
	
	
	
	
	
	$('.filter_reset').on('click',function(){
		$('input[name="제품명"]').val('');
        $('input[name="계획"]').val('');
        $('input[name="작성자"]').val('');
        $('input[name="makeFrom"]').val('');
        $('input[name="makeTo"]').val('');
        $('input[name="workFrom"]').val('');
        $('input[name="workTo"]').val('');
        
        $('input[name="상태"]:checked').prop('checked', false);
        
        
	})
	  
	  
	  
	  
	  
	tui.Grid.applyTheme('default', {
	    cell: {
	        header: {
	            background: '#e5edf5'
	        },
	        rowHeader: {
	            background: '#e5edf5'
	        },
	        normal: {
	            background: '#ffffff'
	        }
	    }
	});
</script>
		
		
		
	</div>
</body>
</html>