<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
<title>신규</title>
<!-- 토스트~ -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
<!-- 부트스트라프 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<!-- 제이쿼리 -->
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<!-- 페이징 눼이쉔~ -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script type="text/javascript" src="https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.js"></script>
<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.3.0/tui-pagination.js"></script>
<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
<style>
	.input-group{
		width: 200px;
	}
	.btn_container{
		width: 100%;
	}
	.addContainer{
		width: 40%;
		height: 450px;
		border: 1px solid black;
		padding: 20px;
		float: left;
	}
	.plan_monitor{
		width: 60%;
		height: 450px;
		border: 1px solid black;
		padding: 20px;
		float: left;
	}
	#plan_search1{
		width: 40%;
		height: 100%;
		float: left;
	}
	#plan_search2{
		width: 58%;
		height: 500px;
		float: left;
		margin-left: 20px;
	}
	.bom_monitor{
		width: 60%;
		height: 450px;
		border: 1px solid black;
		padding: 20px;
		float: left;
		display: none;
	}
	#bom_search1{
		width: 40%;
		height: 100%;
		float: left;
	}
	#bom_search2{
		width: 58%;
		height: 500px;
		float: left;
		margin-left: 20px;
	}
	
</style>
</head>
<body>
	<div layout:fragment="content">
	<h1 class="mt-4" style="font-family: 'MaruBuri';">작업지시 관리</h1>
	<hr>
	<div class="btn_container">
		<button class="plusBtn sixBtn4">+</button>
		<button class="moveBtn sixBtn4">이동</button>
		<button class="removeBtn sixBtn4">삭제</button>
		<button class="planBtn sixBtn4">생산계획</button>
		<button class="bomBtn sixBtn4">공정등록</button>
	</div>
	<div class="addContainer">
	
	<div class="input-group mb-3">
	  <input type="text" class="form-control" placeholder="작업자" aria-label="Recipient's username" aria-describedby="button-addon2">
	  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
	</div>
	<div class="input-group mb-3">
	  <input type="text" class="form-control" placeholder="생산계획 검색" aria-label="Recipient's username" aria-describedby="button-addon2">
	  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
	</div>
	<div class="input-group mb-3">
	  <select class="form-select" id="inputGroupSelect01">
	    <option selected>상태</option>
	    <option value="1">진행중</option>
	    <option value="2">완료</option>
	    <option value="3">취소</option>
	  </select>
	</div>
	
	
	</div>
	
	<div class="plan_monitor">
		<div id="plan_search1"></div>
		<div id="plan_search2"></div>
	</div>
	<div class="bom_monitor">
		<div id="bom_search1"></div>
		<div id="bom_search2"></div>
	</div>
	
	
	<!-- <button class="modal_btn sixBtn4">모달버튼</button> -->
	<div id="grid1"></div>
	
	공정조회
	<div id="grid2"></div>
	
	
	<script>
	
	{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
	
	var grid1 = new tui.Grid({
	    el: document.getElementById('grid2'),
	    scrollX: false,
	    scrollY: false,
	    rowHeaders: ['rowNum','checkbox'],
	    
	    columns: [
	      
    	  {
 	        header: '세부코드',
 	        name: 'planDetaId'
 	      },
 	      {
 	        header: '제품코드',
 	        name: 'cpId',
 	        editor: 'text'
 	      },
 	      {
 	        header: '제품명',
 	        name: 'cpName'
 	      },
 	      {
 	        header: '지시수량',
 	        name: 'ordQt',
 	        editor: 'text'
 	      },
 	      {
 	        header: '양품수량',
 	        name: 'ordQt',
 	        editor: 'text'
 	      },
 	      {
 	        header: '작업일',// 아직VO에 없음 정의못했음
 	        name: 'startDate',
 	        editor: 'datePicker'
 	      },
 	      {
 	        header: '종료일',// 아직VO에 없음 정의못했음
 	        name: 'endDate',
 	        editor: 'datePicker'
 	 	  },
	 	 	{
		          header: '진행현황',
		          name: 'cmpltSt',
			      editor: {
			    	  type: 'select',
			            options: {
			              listItems: [
			                { text: '진행중', value: '진행중' },
			                { text: '취소', value: '취소' },
			                { text: '대기', value: '대기' },
			                { text: '완료처리', value: '완료처리' },
			                { text: '생산완료', value: '생산완료' }
			              ]
			            }
			     }
		       }
	    ],
	    pageOptions: {
	        useClient: true,
	        perPage: 8
	      }
	  });
	
	
	
	{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
	
	
	var grid2 = new tui.Grid({
	    el: document.getElementById('grid2'),
	    scrollX: false,
	    scrollY: false,
	    rowHeaders: ['rowNum'],
	    
	    columns: [
	      
	      {
	        header: '주문코드',
	        name: 'ordId'
	       
	      },
	      {
	        header: '거래처코드',
	        name: 'busId'
	      },
	      {
	        header: '거래처',
	        name: 'busName'
	      },
	      {
	        header: '납기일',
	        name: 'ordEndDate'
	      },
	      {
	        header: '주문일',
	        name: 'ordDate'
	      },
	      {
	        header: '주문상태',
	        name: 'ordStat'
	      }
	    ],
	    pageOptions: {
	        useClient: true,
	        perPage: 8
	      }
	  });
	
	
	let data = []
	
	for(let i=0;i<9;i++){
		data.push({})
	}
	var plan_search1 = new tui.Grid({
	    el: document.getElementById('plan_search1'),
	    data : data,
	    scrollX: false,
	    scrollY: false,
	    rowHeaders: ['rowNum'],
	    
	    columns: [
	      
 	      {
 	        header: '계획코드',
 	        name: 'planHeadId'
 	      },
 	      {
 	        header: '분류',
 	        name: 'type'
 	      },
 	      {
 	        header: '예상시작일',
 	        name: 'planStart',
 	      },
 	      {
 	        header: '예상종료일',
 	        name: 'planEnd',
 	 	  },
 	 	  {
 	        header: '상태',// 아직VO에 없음 정의못했음
 	        name: 'cmpltSt',
 	 	  }
	 	 	
	    ],
	    pageOptions: {
	        useClient: true,
	        perPage: 8
	      }
	  });
		//첫 페이지에서 뜨는 데이터
		window.onload = function(){
			
			$.ajax({
				url : "/ajax/getPlanList",
				method : "GET",
				dataType : "JSON",
				success : function(result){
					console.log("첫 출력값 > ")
					console.dir(result);
					plan_search1.resetData(result);
				}
			})
		}
		//생산계획 리스트 클릭시 세부생산계획이 표시됨
		plan_search1.on('click', ev => {
		let data = plan_search1.getRow(ev.rowKey).planHeadId;
		console.log(data);
		$.ajax({
			url : "/ajax/getDetaPlanList",
			method : "GET",
			dataType : "JSON",
			data : { planHeadId: data},
			success : function(result){
				console.log("첫 출력값 > ")
				console.dir(result);
				while (result.length < 8){
					result.push({});
				}
				plan_search2.resetData(result);
			},
			error : function(reject){
				console.log(reject);
			}
		})
	})
	
	var plan_search2 = new tui.Grid({
	    el: document.getElementById('plan_search2'),
	    data : data,
	    scrollX: false,
	    scrollY: false,
	    rowHeaders: ['rowNum','checkbox'],
	    
	    columns: [
	      
 	      {
 	        header: '세부코드',
 	        name: 'planDetaId'
 	      },
 	      {
 	        header: '제품코드',
 	        name: 'cpId'
 	      },
 	      {
 	        header: '제품명',
 	        name: 'cpName'
 	      },
 	      {
 	        header: '계획수량',
 	        name: 'detaQt'
 	      },
 	      {
 	        header: '기 지시량',
 	        name: 'ordQt',
 	      },
 	 	  {
 	        header: '종결',// 아직VO에 없음 정의못했음
 	        name: 'cmpltSt',
 	 	  }
	 	 	
	    ],
	    pageOptions: {
	        useClient: true,
	        perPage: 8
	      }
	  });
		
		var bom_search1 = new tui.Grid({
		    el: document.getElementById('bom_search1'),
		    data : data,
		    scrollX: false,
		    scrollY: false,
		    rowHeaders: ['rowNum'],
		    
		    columns: [
		      
	 	      {
	 	        header: '계획코드',
	 	        name: 'planHeadId'
	 	      },
	 	      {
	 	        header: '분류',
	 	        name: 'type'
	 	      },
	 	      {
	 	        header: '예상시작일',
	 	        name: 'planStart',
	 	      },
	 	      {
	 	        header: '예상종료일',
	 	        name: 'planEnd',
	 	 	  },
	 	 	  {
	 	        header: '상태',// 아직VO에 없음 정의못했음
	 	        name: 'cmpltSt',
	 	 	  }
		 	 	
		    ],
		    pageOptions: {
		        useClient: true,
		        perPage: 8
		      }
		  });
	
		var bom_search2 = new tui.Grid({
		    el: document.getElementById('bom_search2'),
		    data : data,
		    scrollX: false,
		    scrollY: false,
		    rowHeaders: ['rowNum'],
		    
		    columns: [
		      
	 	      {
	 	        header: '계획코드',
	 	        name: 'planHeadId'
	 	      },
	 	      {
	 	        header: '분류',
	 	        name: 'type'
	 	      },
	 	      {
	 	        header: '예상시작일',
	 	        name: 'planStart',
	 	      },
	 	      {
	 	        header: '예상종료일',
	 	        name: 'planEnd',
	 	 	  },
	 	 	  {
	 	        header: '상태',// 아직VO에 없음 정의못했음
	 	        name: 'cmpltSt',
	 	 	  }
		 	 	
		    ],
		    pageOptions: {
		        useClient: true,
		        perPage: 8
		      }
		  });
	
	{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
	//버튼 관련
	
	$('.plusBtn').on('click', function(){
		grid1.appendRow({})
	})
	
	
	/* $('.modal_btn').on('click', function(){
		$('#plan_modal').modal('show');
		setTimeout(() =>
		plan_search1.refreshLayout(), 200);
		setTimeout(() =>
		plan_search2.refreshLayout(), 200);
	}) */
	
	
	grid1_data = []
	$('.moveBtn').on('click', function(){
 		var appendedData = plan_search2.getCheckedRows()
 		let count = 0;
 		for(let i of appendedData){
 			console.log(i)
 			let swith = false;
 			if(grid1.getData().length > 0){
 				for(let j of grid1.getData()){
 					if(j.planDetaId == i.planDetaId && swith == false && j.planDetaId != null){
 						console.log('일치 하였음')
 						count += 1;
 						swith = true;
 					}
 				}	
				if(swith == false){
					grid1_data.push(i)
	 	 			plan_search2.uncheck(i.rowKey, 'checkbox');
	 	 			swith = false;
				}
 			}else{
				grid1_data.push(i)
 	 			plan_search2.uncheck(i.rowKey, 'checkbox');
 			}
 		}
 		if(count >0){
 			alert('중복되는 세부계획이 존재합니다')
 		}
 		
 		grid1.resetData(grid1_data);
 		console.log(appendedData)
	 	//grid4.removeCheckedRows(false);
 		plan_search2.blur();
 	})
 	$('.removeBtn').on('click',function(){
 		grid1.removeCheckedRows(false);
		grid1_data = grid1.getData();
	})

	
	$('.planBtn').on('click', function(){
		$('.plan_monitor').css('display', 'block')	
		$('.bom_monitor').css('display', 'none')
	})
	
	$('.bomBtn').on('click', function(){
		$('.plan_monitor').css('display', 'none')
		$('.bom_monitor').css('display', 'block')
		setTimeout(() =>
	    (bom_search1.refreshLayout(), 200),
	    (bom_search2.refreshLayout(), 200));
		
	})
	
	
	
	
	
	
	
	tui.Grid.applyTheme('default', {
        cell: {
            header: {
                background: '#e5edf5'
            },
            rowHeader: {
                background: '#e5edf5'
            },
            normal: {
                background: '#ffffff'
            }
        }
    });
	
	
	
	
	</script>
	
	</div>
</body>
</html>