<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>
<body>
	<div layout:fragment="content">
	<h1 class="mt-4" style="font-family: 'MaruBuri';">자재발주관리</h1>
		
	  <button id="appendBtn">등록</button>
	  <div id="grid"></div>
	  	
	  <script>
	  	  const gridData=[
	  		  
	  	  ];

		  	window.onload = function(){
		        $.ajax({
		            url : "/mms",
		            method :"GET",
		            dataType : "JSON",
		            success : function(result){
		                grid.resetData(result);
		            } 
		        });
		   };

	
	  
	  	  const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      //data: gridData,
	      scrollX: false,
	      scrollY: false,
	      rowHeaders: ['checkbox'],
	      
	      columns: [
	        {
	          header: 'NO',
	          name: ''
	        },
	        {
		      header: '발주번호',
		      name: 'matReqId'
		    },
	        {
		      header: '자재코드',
		      name: 'matId'
		    },
	        {
			  header: '자재명',
			  name: 'matId'
			},
	        {
			  header: '발주량',
			  name: 'matReqQt'
			},
	        {
			  header: '거래처명',
			  name: 'busName'
			},
	        {
			  header: '발주일',
			  name: 'matReqDate'
			},
	        {
			  header: '발주상태',
			  name: 'matReqStat'
			},
	        {
			  header: '납기요청일',
			  name: 'matId'
			},
	        {
			  header: '납기지연일',
			  name: ''
			}
		        
	        
	      ]
	    });
	  	  
	 const appendBtn = document.getElementById('appendBtn');  
  	 const appendedData = {
  			matReqId: 'Music',
  			matId: 'Lee',
  			matReqQt: 'Deluxe',
  			busName: '2019.09.09',
  			matReqDate: 'Pop'
  		    };

  		    appendBtn.addEventListener('click', () => {
  		      grid.appendRow(appendedData);
  		    });
	 </script>
  	</div>
</body>
</html>
