<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>(주)SIXSU</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css" rel="stylesheet">
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

    <!-- <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/> -->
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-deepblue">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html"><img src="/assets/img/logo5.png" style="height:55px"></a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            관리부
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link-a" href="layout-static.html">사원관리</a>
                                <a class="nav-link-a" href="layout-sidenav-light.html">공통코드</a>
                                <a class="nav-link-a" href="#">완제품관리</a>
                                <a class="nav-link-a" href="#">반제품관리</a>
                                <a class="nav-link-a" href="#">자재관리</a>
                                <a class="nav-link-a" href="#">공정관리</a>
                                <a class="nav-link-a" href="#">거래처관리</a>
                                <a class="nav-link-a" href="#">제품BOM관리</a>
                                <a class="nav-link-a" href="#">공정흐름도관리</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            영업부
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                 <a class="nav-link-a" href="layout-static.html">주문서관리</a>
                                <a class="nav-link-a" href="layout-sidenav-light.html">주문서조회</a>
                                <a class="nav-link-a" href="#">입고관리</a>
                                <a class="nav-link-a" href="#">입고조회</a>
                                <a class="nav-link-a" href="#">출고관리</a>
                                <a class="nav-link-a" href="#">출고조회</a>
                                <a class="nav-link-a" href="#">반품관리</a>
                                <a class="nav-link-a" href="#">반품조회</a>
                                <a class="nav-link-a" href="#">입출고조회</a>
                                <a class="nav-link-a" href="#">제품재고조회</a>
                                <a class="nav-link-a" href="#">판매실적조회</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#prodnav"
                            aria-expanded="false" aria-controls="prodnav">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            생산부
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="prodnav" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link-a" href="layout-static.html">생산계획 조회</a>
                                <a class="nav-link-a" href="layout-sidenav-light.html">생산계획 관리</a>
                                <a class="nav-link-a" href="#">작업지시 조회</a>
                                <a class="nav-link-a" href="#">작업지시 관리</a>
                                <a class="nav-link-a" href="#">공정실적 관리</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#matnav"
                            aria-expanded="false" aria-controls="matnav">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            자재부
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="matnav" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link-a" href="#">자재조회</a>
                                <a class="nav-link-a" href="#">자재LOT조회</a>
                                <a class="nav-link-a" href="/matreq">자재발주관리</a>
                                <a class="nav-link-a" href="#">자재발주조회</a>
                                <a class="nav-link-a" href="#">자재입고관리</a>
                                <a class="nav-link-a" href="#">자재입고조회</a>
                                <a class="nav-link-a" href="#">자재출고조회</a>
                                <a class="nav-link-a" href="#">반제품조회</a>
                                <a class="nav-link-a" href="#">반제품LOT조회</a>
                                <a class="nav-link-a" href="#">반제품입고관리</a>
                                <a class="nav-link-a" href="#">반제품입고조회</a>
                                <a class="nav-link-a" href="#">반제품출고조회</a>    
                                <a class="nav-link-a" href="#">자재재고조정</a>
                                <a class="nav-link-a" href="#">반제품재고조정</a>
                                <a class="nav-link-a" href="#">불량자재관리</a>
                                <a class="nav-link-a" href="#">불량자재조회</a>
                                <a class="nav-link-a" href="#">불량반제품관리</a>  
                                <a class="nav-link-a" href="#">불량반제품조회</a>     
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#equinav"
                            aria-expanded="false" aria-controls="equinav">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            설비부
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="equinav" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link-a" href="layout-static.html">Static Navigation</a>
                                <a class="nav-link-a" href="layout-sidenav-light.html">Light Sidenav</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#qualnav"
                            aria-expanded="false" aria-controls="qualnav">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            품질부
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="qualnav" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link-a" href="layout-static.html">도착 자재 관리</a>
                                <a class="nav-link-a" href="layout-sidenav-light.html">자재 입고 검사</a>
                                <a class="nav-link-a" href="#">자재 입고 검사 결과 조회</a>
                                <a class="nav-link-a" href="#">제품 품질 관리</a>
                                <a class="nav-link-a" href="#">제품 품질 조회</a>
                                <a class="nav-link-a" href="#">완제품 출고 품질 관리</a>
                                <a class="nav-link-a" href="#">반품 품질 검사 관리</a>
                            </nav>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4" layout:fragment="content">
                    <!--내용 들어가는 자리-->
                </div>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous">
    </script>
    <script src="/js/scripts.js"></script>

</body>

</html>