
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
<meta charset="UTF-8">
<title>주문서조회</title>
<style>
h1 {
	margin-bottom: 40px;
}

#cpTable {
	margin: auto;
}

#cpTable input, select {
	padding-left: 10px;
	width: 230px;
}

#divRadio input {
	padding-left: 7px;
	width: 20px;
}

#cpTable td {
	padding: 4px 20px;
}

.divBtn {
	text-align: center;
	padding: 15px 0 30px 0;
}

.modal-body {
	background: #e5edf5;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div>

			<h1 class="mt-4" style="font-family: 'MaruBuri';">주문서조회</h1>
			<form id="searchForm">
				<table id="cpTable">
					<tr>
						<td>거래처명</td>
						<td><input type="text" name="busName" id="busName"
							style="width: 199px;">
							<button type="button" data-bs-toggle="modal" id="search1Btn"
								class="sixBtn1" data-bs-target="#search1Modal">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
									fill="currentColor" class="bi bi-search" viewBox="0 2 16 16">
            				<path
										d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" /></svg>
							</button></td>
						<td>주문일자</td>
						<td colspan="3"><input type="date" name="ordDate"
							id="ordDate" style="width: 120px;"> ~ <input type="date"
							name="ordFdate" id="ordFdate" style="width: 120px;"></td>
					</tr>
					<tr>
						<td>거래처코드</td>
						<td><input type="text" name="busId" id="busCode"></td>

						<td>진행구분</td>

						<td><input type="radio" name="ordStat" value="all"
							checked="checked" style="width: 35px;" />전체 <input type="radio"
							name="ordStat" value="ordC" style="width: 35px;" />완료 <input
							type="radio" name="ordStat" value="ordIng" style="width: 35px;" />
							진행중</td>
					</tr>
				</table>
				<div class="divBtn">

					<button type="button" class="sixBtn2 filter_submit" id="search">검색</button>
					<button type="button" class="sixBtn2 filter_reset" id="clear">초기화</button>
				</div>





			</form>
			<div id="orderingGrid"></div>

			<!-- 모달창 거래조회  -->
			<div class="modal fade" id="search1Modal" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-xl">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="searchModalLabel">거래처 조회</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="btns">
								거래처명: <input id="search1-text" />
								<button class="sixBtn2" id="search1-btn">조회</button>
								<button class="sixBtn2" id="reset1-btn">초기화</button>
							</div>
							<div class="modal-body">
								<div id="gridt"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="orderDetail" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="searchModalLabel">상세주문서</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>


						<div class="btns"></div>

						<div class="modal-body">
							<div id="gridy"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
       
		$.ajax({
		    url : "/sales/orderingList",
		    method : "post",
		    dataType : "JSON",
		    success : function(result) {
		        orderingGrid.resetData(result);
		        setTimeout(()=>orderingGrid.refreshLayout(),400);
		    }
		});
	    
        const orderingGrid = new tui.Grid({
		el : document.getElementById('orderingGrid'),
		//data : gridData,
		scrollX : false,
		scrollY : false,
		pageOptions: {
			useClient: true,
			perPage: 10
		},

		columns : [ {
			header : '주문코드',
			name : 'ordId',
			align: 'center'
		}, {
			header : '주문날짜',
			name : 'ordDate',
			align: 'center'
		}, {
			header : '거래처명',
			name : 'busName',
			align: 'center'
		},{
			header : '거래처코드',
			name : 'busId',
			align: 'center'
		},{
			header : '사업자번호',
			name : 'busNum',
			align: 'center'
		},{
			header : '진행상태',
			name : 'ordStatName',
			align: 'center'
			
		},
		]
	    });
        orderingGrid.setBodyHeight(400);
		tui.Grid.applyTheme('default', {
			cell: {
				header: {
					background: '#e5edf5'
				},
				normal: {
					background: '#ffffff'
				}
			}
		});		
	/*--------------------------------
	// 모달거래처조회 기능	
	---------------------------------*/	    
		const gridt = new tui.Grid({
			el : document.getElementById('gridt'),
			//data : gridData,
			scrollX : false,
			scrollY : false,
			columns : [ 
				{
				header : '거래처번호',
				name : 'busId',
				align: 'center'
			}, {
				header : '거래처명',
				name : 'busName',
				align: 'center'
			}, {
				header : '사업자번호',
				name : 'busNum',
				align: 'center'
			}, {
				header : '전화번호',
				name : 'busTell',
				align: 'center'
			}, {
				header : '주소',
				name : 'busAddr',
				align: 'center'
			}]
		});
	 
	// 모달거래처행 클릭시 자동으로 주문등록페이지에 값이 입력이됨
		gridt.on('click', ev=> {
		     	let dataRow = gridt.getRow(ev.rowKey);
		     	$('#busName').val(dataRow.busName);
		     	$('#busCode').val(dataRow.busId);
		     	$('#busNum').val(dataRow.busNum);
		     	$('#busAddr').val(dataRow.busAddr);
		     	$('#busTel').val(dataRow.busTell);
		     	$('#search1Modal').modal('hide');
		   }) 
		 
	//모달창 전체 거래처 리스트
		$("#search1-text").on('keydown', function(e){
    	if(e.keyCode == 13){
    		$("#search1-btn").click();
    	}
    	}) 
		
		$('#search1Modal').on('show.bs.modal',function(e){
			console.log ('거래처 모달');
			$.ajax({
				url : "/sales/busList",
				method : "GET",
				dataType : "JSON",
				success : function(result) {
					gridt.resetData(result);
					$("#search1-text").val("");
					setTimeout(()=>gridt.refreshLayout(),400);
				}
			});
			
		})

		// 모달거래처조회 입력값 초기화
	$("#reset1-btn").on('click',function(e){
		$.ajax({
			url : "/sales/busList",
			method : "GET",
			dataType : "JSON",
			success : function(result) {
				gridt.resetData(result);
			}
		});   
	})

	
    // 모달거래처조회 기능
	$("#search1-btn").on('click', function(){
		console.log($("#search1-text").val())
		const result = $("#search1-text").val()
		$.ajax({
			url : "/sales/bus1List",
			method : "GET",
			data : {'result' : result},
			success : function(result) {
				gridt.resetData(result);
				$("#search-text1").val("");
			},
			error : function(reject){
				console.log(reject);
			}
		});
	})

	$("#search").on("click",(e) =>{
		 $.ajax({
             url: '/sales/searchOrder',
             type: 'post',
             data: $('#searchForm').serialize(),
             dataType: 'json',
             success: function (result) {
            	 orderingGrid.resetData(result);
               /*  $('#busName').val('');
                $('#busId').val('');
                $('#busName').val('');
                $('#ordDate').val('');
                $('#ordFDate').val('');
                $("input:radio[name='spStat']:radio[value='Y']").prop('checked', true); */
                
             },
             error: function (reject) {
                console.log(reject);
                alert('검색 중 오류가 발생했습니다!');
             }
          });

	})
	$("#clear").on("click",(e) =>{
		 $('#busName').val('');
         $('#busId').val('');
         $('#busCode').val('');
         $('#ordDate').val('');
         $('#ordFdate').val('');
         $("input:radio[name='ordStat']:radio[value='all']").prop('checked', true);
	})
	
	
	orderingGrid.on('click', ev=> {
		const focusCell = orderingGrid.getFocusedCell()
		let dataRow = orderingGrid.getRow(ev.rowKey);
		console.log(dataRow);
		$('#orderDetail').modal('show');
	    $.ajax({
	    	url:"/sales/secondOrderingList",
	    	method: "GET",
	    	data : {'result' : dataRow.ordId},
	    	success : function(result){
	    		gridy.resetData(result);
	    		setTimeout(()=>gridy.refreshLayout(),400);
	    	}
	    })	
	})
	const gridy = new tui.Grid({
		el : document.getElementById('gridy'),
		
		scrollX : false,
		scrollY : false,
	    	
		 columns : [ 
			{header : '주문코드',
			 name : 'ordId',
			 align: 'center',
			 hidden : true
			},			 		 
			{header : '주문상세코드',
			 name : 'ordDetId',
			 align: 'center' 
			},
			{
			header : '완제품코드',
	        name : 'cpId',
			align: 'center'
	        },
			{header : '상품이름',
			name : 'cpName',
			align: 'center' 
			},{
			header : '규격',
			name : 'cpSize',
			align: 'center' 
			},
			{
			header : '주문수량',
			name : 'ordQt',
			align: 'center' 
			},
		    {
			header : '상품가격',
			name : 'ordDetPrice',
			align: 'center'
		  	},
			{
			header : '납기일자',
			name : 'ordEndDate',
			align: 'center'
			},
			{
			header : '출고여부',
			name : 'ordStatDetName',
			align: 'center'								
			}
			]
	});
    </script>

	</div>
</body>
</html>