<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
<meta charset="UTF-8">
<title>반품조회</title>
<style>

#cpTable input,
		select {
			padding-left: 10px;
			
		}
.divBtn {
			
			padding: 10px 0 10px 0;
		}
		
</style>
</head>
<body>
    <div layout:fragment="content">
		<div>
				<form id="searchForm">
				<h1 class="mt-4" style="font-family: 'MaruBuri';">반품조회</h1>
				<table id="cpTable">
				<tr>
					<td>반품일자</td><td> <input type="date" name="startDate" id="startDate"/>~
                    <input type="date" name="endDate" id="endDate" /></td>
				</tr>
				<tr>
					<td>상품명</td><td> <input type="text" name="cpName" id="cpName">
					<button type="button" data-bs-toggle="modal" id="search1Btn"
						class="sixBtn2" data-bs-target="#search1Modal">
						<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
							fill="currentColor" class="bi bi-search" viewBox="0 2 16 16">
            		<path
								d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            		</svg>
					</button></td>
				</tr>
				<tr>
					<td> 상품코드</td><td> <input type="text" name="cpId" id="cpId"></td>
				</tr>
				<tr>	 
					<td>진행구분</td><td>
                <input type="radio" name="retStat" value="all" checked="checked"/> 전체
                <input type="radio" name="retStat" value="RETC"  /> 반품완료	
                <input type="radio" name="retStat" value="RETR"  /> 반품준비
                <input type="radio" name="retStat" value="RETREQ"  /> 품질검사요청</td>
                </tr>
                </table>
                </form>	
               <div class="divBtn">
				<button type="button" class="sixBtn2 filter_submit" id="search">검색</button>
				<button type="button" class="sixBtn2 filter_reset" id="clear">초기화</button>				
			</div>
                <div id="returnGrid"></div>
                
                <!-- 상품 목록 모달창 -->
	 	<div class="modal fade" id="productModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="searchModalLabel">상품 목록 조회</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>


						<div class="btns"></div>

						<div class="modal-body">
							<div id="gridp"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
<script>
//상품조회
	$("#search1Btn").on('click', function(e){
	$('#productModal').modal('show');
	 $.ajax({
			url : "/sales/products.Ajax",
			method : "get",
			dataType : "JSON",
			success : function(result){
				gridp.resetData(result);
				console.log ('거래처 모달');
				setTimeout(()=>gridp.refreshLayout(),1000);
			}
		})
	})
	const gridp = new tui.Grid({
		el : document.getElementById('gridp'),
		//data : gridData,
		scrollX : false,
		scrollY : false,
		columns : [ {
			header : '완제품 코드',
			name : 'cpId',
		}, {
			header : '완제품 이름',
			name : 'cpName'
		}, {
			header : '완제품 규격',
			name : 'cpSize'
		}
		]
	});		
//모달 사원리스트 행 클릭시 자동으로 생산완료현황 페이지로 값이 이동
	gridp.on('click', ev=>{
		const focusCell = gridp.getFocusedCell()
		let dataRow = gridp.getRow(ev.rowKey);
		$('#cpName').val(dataRow.cpName);
		$('#cpId').val(dataRow.cpId);
		$('#productModal').modal('hide');
	})

	$.ajax({
        url : "/sales/searchReturn.Ajax",
        method : "GET",
        dataType : "JSON",
        success : function(result) {
        	returnGrid.resetData(result);
            setTimeout(()=>returnGrid.refreshLayout(),400);
        }
    });

		const returnGrid = new tui.Grid({
		el : document.getElementById('returnGrid'),
		//data : gridData,
		scrollX : false,
		scrollY : false,
		pageOptions: {
			useClient: true,
			perPage: 10
		},
		
		columns : [ {
			header : '반품코드',
			name : 'retId',
		},{
			header : '반품날짜',
			name : 'retDate',
		},{
			header : '반품사유',
			name : 'retNote',
		},{
			header : '거래처',
			name : 'busName',
		},{
			header : 'LOT',
			name : 'cpLotId',
		},{
			header : '제품번호',
			name : 'cpId',
		},{
			header : '제품명',
			name : 'cpName'
		},{
			header : '반품수량',
			name : 'retQt'
			
		},{
			header : '진행상태',
			name : 'retStat'
			
		}
		]
		});
		
		$("#search").on("click",(e) =>{
			 $.ajax({
	             url: '/sales/searchReturn.Ajax',
	             type: 'post',
	             data: $('#searchForm').serialize(),
	             dataType: 'json',
	             success: function (result) {
	            	 returnGrid.resetData(result);
	               
	                
	             },
	             error: function (reject) {
	                console.log(reject);
	                alert('검색 중 오류가 발생했습니다!');
	             }
	          });

		})
		$("#clear").on("click",(e) =>{
			 $('#cpName').val('');
	         $('#cpId').val('');
	         $('#startDate').val('');
	         $('#endDate').val('');
	         $("input:radio[name='cpRecTp']:radio[value='all']").prop('checked', true);
		})
           
</script>		
</div>
</body>
</html>