<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">

<head>
<meta charset="UTF-8">
<title>출고조회</title>
<style>
h1 {
	margin-bottom: 40px;
}

#cpTable {
	margin: auto;
}

#cpTable input, select {
	padding-left: 10px;
	width: 230px;
}

#divRadio input {
	padding-left: 7px;
	width: 20px;
}

#cpTable td {
	padding: 4px 20px;
}

.divBtn {
	text-align: center;
	padding: 15px 0 30px 0;
}

.modal-body {
	background: #e5edf5;
}

#radio, #startDate, #endDate, #gridp {
	cursor: pointer;
}
</style>
</head>
<body>
	<div layout:fragment="content">

		<form id="searchForm">
			<h1 class="mt-4" style="font-family: 'MaruBuri';">출고조회</h1>
			<table id="cpTable">
				<tr>

					<td>상품명</td>
					<td><input type="text" name="cpName" id="cpName"
						style="width: 199px;" readonly>
						<button type="button" data-bs-toggle="modal" id="search1Btn"
							class="sixBtn1" data-bs-target="#search1Modal">
							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
								fill="currentColor" class="bi bi-search" viewBox="0 2 16 16">
            		<path
									d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            		</svg>
						</button></td>
					<td>출고일자</td>
					<td><input type="date" name="startDate" id="startDate"
						style="width: 120px;" />~ <input type="date" name="endDate"
						id="endDate" style="width: 120px;" min="" disabled /></td>
				</tr>
				<tr>
					<td>상품코드</td>
					<td><input type="text" name="cpId" id="cpId" readonly></td>

					<td>진행구분</td>
					<td><input type="radio" name="cpShipStat" value="all"
						checked="checked" style="width: 25px;" id="radio" /> 전체 <input
						type="radio" name="cpShipStat" value="CP_SHIP_C"
						style="width: 25px;" id="radio" /> 출고완료 <input type="radio"
						name="cpShipStat" value="CP_SHIP_COMP" style="width: 25px;"
						id="radio" /> 출고준비</td>

				</tr>

			</table>
		</form>

		<div class="divBtn">
			<button type="button" class="sixBtn2 filter_submit" id="search">검색</button>
			<button type="button" class="sixBtn2 filter_reset" id="clear">초기화</button>
		</div>

		<div id="shipGrid"></div>

		<!-- 상품 목록 모달창 -->
		<div class="modal fade" id="productModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="searchModalLabel">상품 목록 조회</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>


						<div class="btns"></div>

						<div class="modal-body">
							<div id="gridp"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
//상품조회
  	var startDate = document.getElementById("startDate");
    var endDate= document.getElementById("endDate");

    startDate.addEventListener("input", function() {
    	endDate.min = startDate.value;
    	endDate.disabled = false;
       });

	$("#search1Btn").on('click', function(e){
	$('#productModal').modal('show');
	 $.ajax({
			url : "/sales/products.Ajax",
			method : "get",
			dataType : "JSON",
			success : function(result){
				gridp.resetData(result);
				console.log ('거래처 모달');
				setTimeout(()=>gridp.refreshLayout(),400);
			}
		})
	})
	const gridp = new tui.Grid({
		el : document.getElementById('gridp'),
		rowHeight: 45,
		//data : gridData,
		scrollX : false,
		scrollY : false,
		columns : [ {
			header : '완제품 코드',
			name : 'cpId',
			align : 'center'
		}, {
			header : '완제품 이름',
			name : 'cpName',
			align : 'center'
		}, {
			header : '완제품 규격',
			name : 'cpSize',
			align : 'center'
		}
		]
	});		
//모달 사원리스트 행 클릭시 자동으로 생산완료현황 페이지로 값이 이동
	gridp.on('click', ev=>{
		const focusCell = gridp.getFocusedCell()
		let dataRow = gridp.getRow(ev.rowKey);
		$('#cpName').val(dataRow.cpName);
		$('#cpId').val(dataRow.cpId);
		$('#productModal').modal('hide');
	})

	$.ajax({
        url : "/sales/searchShip.Ajax",
        method : "GET",
        dataType : "JSON",
        success : function(result) {
        	shipGrid.resetData(result);
            setTimeout(()=>shipGrid.refreshLayout(),400);
        }
    });

		const shipGrid = new tui.Grid({
		el : document.getElementById('shipGrid'),
		//data : gridData,
		scrollX : false,
		scrollY : false,
		rowHeight: 45,
		pageOptions: {
			useClient: true,
			perPage: 10
		},
		
		columns : [ {
			header : '출고코드',
			name : 'cpShipId',
			align : 'center'
		},{
			header : '출고날짜',
			name : 'cpShipReqDate',
			align : 'center'
		},{
			header : '주문상세코드',
			name : 'ordDetId',
			align : 'center'
		},{
			header : '거래처',
			name : 'busName',
			align : 'center'
		},{
			header : 'LOT',
			name : 'cpLotId',
			align : 'center'
		},{
			header : '제품번호',
			name : 'cpId',
			align : 'center'
		},{
			header : '제품명',
			name : 'cpName',
			align : 'center'
		},{
			header : '출고수량',
			name : 'cpShipQt',
			align : 'right',
			formatter: ({ value }) => {
			 return value.toLocaleString()
			   }
			
		},{
			header : '진행상태',
			name : 'cpShipStat',
			align : 'center'
			
		}
		]
		});
		
		$("#search").on("click",(e) =>{
			 $.ajax({
	             url: '/sales/searchShip.Ajax',
	             type: 'post',
	             data: $('#searchForm').serialize(),
	             dataType: 'json',
	             success: function (result) {
	            	 shipGrid.resetData(result);
	               
	                
	             },
	             error: function (reject) {
	                console.log(reject);
	                alert('검색 중 오류가 발생했습니다!');
	             }
	          });

		})
		$("#clear").on("click",(e) =>{
			 $('#cpName').val('');
	         $('#cpId').val('');
	         $('#startDate').val('');
	         $('#endDate').val('');
	         $("input:radio[name='cpShipStat']:radio[value='all']").prop('checked', true);
		})
		shipGrid.setBodyHeight(450);
        gridp.setBodyHeight(450);
			tui.Grid.applyTheme('default', {
				cell: {
				header: {
				background: '#e5edf5'
				},
				normal: {
				background: '#ffffff'
				}
			}
		});   
</script>
	</div>
</body>
</html>