<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8" />
<title>완제품출고관리</title>
</head>
<body>
	<div layout:fragment="content">
		<form id="searchForm">
			<h1 class="mt-4" style="font-family: 'MaruBuri'">완제품출고관리</h1>
			<h3 class="mt-4" style="font-family: 'MaruBuri'">주문현황</h3>
			상품명 <input type="text" name="cpName" id="cpName" />
			<button type="button" data-bs-toggle="modal" id="searchProductBtn"
				class="sixBtn1" target="#searchModal">
				<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
					fill="currentColor" class="bi bi-search" viewBox="0 2 16 16">
          <path
						d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
			</button>
			<br /> 상품코드 <input type="text" name="cpId" id="cpId" /> <br />
			주문일자 <input type="date" name="startDate" id="startDate" /> <input
				type="date" name="endDate" id="endDate" /> <br />
		</form>

		<div class="divBtn">
			<button type="button" class="sixBtn2 filter_submit" id="search">검색</button>
			<button type="button" class="sixBtn2 filter_reset" id="clear">초기화</button>
		</div>

		<div id="orderListGrid"></div>

		<!-- 상품목록 모달창 -->
		<div class="modal fade" id="productModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="searchModalLabel">상품 목록 조회
							</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>

						<div class="btns"></div>

						<div class="modal-body">
							<div id="gridp"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<h3 class="mt-4" style="font-family: 'MaruBuri'">출고대기</h3>

			<div id="orderReadyGrid"></div>
		</div>
		<!-- lot별 품목 모달창 -->
		<div class="modal fade" id="lotModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="searchModalLabel">LOT별 재고
								현황</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>

						<div class="btns">
							상품명: <input type="text" name="cpOrdNameBox" id="cpOrdNameBox"
								readonly /> <br /> 상품코드: <input type="text" name="cpOrdCode"
								id="cpOrdCode" readonly /> <br /> 주문수량: <input type="text"
								name="ordQt" id="cpOrdQt" readonly /><br /> 총재고량: <input
								type="text" name="totalQt" id="totalQt" readonly /> <br />
						</div>

						<div class="modal-body">
							<div id="lotProductGrid"></div>
							<button class="sixBtn4" id="readyShip">출고시작</button>

						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- 출고대기 검사가완료된 품목 모달창 -->
		<div class="modal fade" id="shipReadyModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="searchModalLabel">검사완료 및 출고
							</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>

						</div>

						<div class="btns"></div>
						거래처코드: <input type="text" name="busId" id="busId" readonly /> <br />
						거래처명: <input type="text" name="busName" id="busName" readonly />
						<br /> 사업자번호: <input type="text" name="busNum" id="busNum"
							readonly /> <br /> 거래처주소: <input type="text" name="busAddr"
							id="busAddr" readonly /><br /> 거래처전화번호: <input type="text"
							name="busTell" id="busTell" readonly />
						<div class="modal-body">
							<div id="completeShipGrid"></div>
							<button class="sixBtn4" id="completeShip">출고완료</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
      $("#search").on("click",(e) =>{
			 $.ajax({
	             url: '/sales/orderedList',
	             type: 'post',
	             data: $('#searchForm').serialize(),
	             dataType: 'json',
	             success: function (result) {
	            	 orderListGrid.resetData(result);
	               
	                
	             },
	             error: function (reject) {
	                console.log(reject);
	                alert('검색 중 오류가 발생했습니다!');
	             }
	          });

		})
		$("#clear").on("click",(e) =>{
			 $('#cpName').val('');
	         $('#cpId').val('');
	         $('#startDate').val('');
	         $('#endDate').val('');
	        
		})
      
        //상품조회 모달창 부분
        $("#searchProductBtn").on("click", function (e) {
          $("#productModal").modal("show");
          $.ajax({
            url: "/sales/products",
            method: "get",
            dataType: "JSON",
            success: function (result) {
              gridp.resetData(result);
              console.log("상품모달");
              setTimeout(() => gridp.refreshLayout(), 1000);
            },
          });
        });
        const gridp = new tui.Grid({
          el: document.getElementById("gridp"),
          //data : gridData,
          scrollX: false,
          scrollY: false,
          pageOptions: {
            useClient: true,
            perPage: 10,
          },
          columns: [
            {
              header: "완제품 코드",
              name: "cpId",
              align:"center"
            },
            {
              header: "완제품 이름",
              name: "cpName",
              align:"center"
            },
            {
              header: "완제품 규격",
              name: "cpSize",
              align:"center"
            },
          ],
        });
        gridp.on("click", (ev) => {
          const focusCell = gridp.getFocusedCell();
          let dataRow = gridp.getRow(ev.rowKey);
          $("#cpName").val(dataRow.cpName);
          $("#cpId").val(dataRow.cpId);
          $("#productModal").modal("hide");
        });

        
        
        /*--------------------------------
    	//주문서 상세 목록 모달창
    	---------------------------------*/	
        const orderListGrid = new tui.Grid({
          el: document.getElementById("orderListGrid"),
          //data : gridData,
          scrollX: false,
          scrollY: false,
          pageOptions: {
            useClient: true,
            perPage: 10,
          },
          columns: [
    	  	{
              header: "거래처명",
              name: "busName",
              align:"center"
            },
        	  {
              header: "주문날짜",
              name: "ordDate",
              align:"center"
            },
            {
              header: "납기일자",
              name: "ordEndDate",
              align:"center"
            },
            {
              header: "주문코드",
              name: "ordId",
              align:"center"
            },
            {
              header: "주문상세코드",
              name: "ordDetId",
              align:"center"
            },
            {
              header: "제품코드",
              name: "cpId",
              align:"center"
            },
            {
              header: "제품명",
              name: "cpName",
              align:"center"
            },
            {
              header: "주문수량",
              name: "ordQt",
              align:"center"
            },
            {
              header: "관리 lot 수량",
              name: "cpLot",
              align:"center",
              hidden : true
            }
          ],
        });
        $.ajax({
          url: "/sales/orderedList",
          method: "get",
          dataType: "JSON",
          success: function (result) {
            orderListGrid.resetData(result);
            console.log("출고대기 주문서들");
            setTimeout(() => orderListGrid.refreshLayout(), 400);
          },
        });

        let orderData = '';
        
        // 주문현황을 클릭시 관련된 상품이 모달창에 lot 별재고 현황
        orderListGrid.on("click", (ev) => {
          const focusCell = orderListGrid.getFocusedCell();
          let dataRow = orderListGrid.getRow(ev.rowKey);
          orderData = dataRow;
          $.ajax({
            url: "/sales/lotProducts",
            method: "get",
            data: { result: dataRow.cpId },
            success: function (result) {
	              lotProductGrid.resetData(result);
	              console.log("lot별 재고현황");
	              setTimeout(() => lotProductGrid.refreshLayout(), 1000);
	              $("#lotModal").modal("show");
	              $("#cpOrdNameBox").val(dataRow.cpName);
	              $("#cpOrdCode").val(dataRow.cpId);
	              $("#cpOrdQt").val(dataRow.ordQt);
            },
          });          
         //lot 별재고 현황에서 완제품 총재고량 띄우는 기능
          $.ajax({
            url: "/sales/totalQt",
            method: "GET",
            data: { result: dataRow.cpId },
            success: function (result) {
	              $("#totalQt").val(result);
            },
          });
        });
         //lot별 재고현황 모달창 그리드        
        const lotProductGrid = new tui.Grid({
          el: document.getElementById("lotProductGrid"),
          //data : gridData,
          scrollX: false,
          scrollY: false,

          pageOptions: {
            useClient: true,
            perPage: 10,
          },
          columns: [
            {
              header: "완제품 LOT",
              name: "cpLotId",
              align:"center"
            },
            {
              header: "완제품 코드",
              name: "cpId",
              align:"center"
            },
            {
              header: "완제품 이름",
              name: "cpName",
              align:"center"
            },
            {
              header: "완제품 수량",
              name: "cpLotQt",
              align:"center"
            },
          ],
        });
         
        //모달창 안에 있는 출고시작 버튼
        $('#readyShip').on('click', function(){
        	console.log(orderData);
        	$.ajax({
				url: "/sales/shipPro",
				method: "POST",
				dataType: "JSON",
				contentType: "application/json",
				data: JSON.stringify(orderData),
				success: function(result){
					let appData = result;
					
				},
				error: function (reject) {
					console.log(reject)
					alert('출고 과정에서 에러가 발생하였습니다.')
				}
        	})
        })
        
        //출고대기 테이블의 품목 (검사요청과, 검사완료가 보여지는 테이블)
        $.ajax({
			url: "/sales/readyShipList",
			method: "get",
			dataType: "JSON",
			success: function (result) {
	        	  	orderReadyGrid.resetData(result);
	            	console.log("검사대기 출고품들");
	            	setTimeout(() => orderReadyGrid.refreshLayout(), 400);
          	},
        });
        
        //출고대기 테이블 그리드
        const orderReadyGrid = new tui.Grid({
        	el: document.getElementById("orderReadyGrid"),
          	scrollX: false,
          	scrollY: false,

          	pageOptions: {
	            useClient: true,
	            perPage: 10,
	            },
          	columns: [
	        	{
	              header: "주문상세코드",
	              name: "ordDetId",
	              align:"center",
	              rowSpan: true
	            },
	        	{
	              header: "완제품 출고코드",
	              name: "cpShipId",
	              align:"center"
	            },
	            {
	              header: "완제품 LOT 코드",
	              name: "cpLotId",
	              align:"center"
	            },
	            {
	              header: "출고 수량",
	              name: "cpShipQt",
	              align:"center"
	            },
	            {
	              header: "출고 요청일자",
	              name: "cpShipReqDate",
	              align:"center"
	            },
	            {
	              header: "출고진행상태",
	              name: "cpShipStat",
	              align:"center"
	            },
	            {
	              header: "검사번호",
	              name: "inspNum",
	              align:"center",
	              hidden: true
	            },
          	],
        });
        
        //출고대기테이블 품목을 클릭시 출고를 완료하는기능        
        orderReadyGrid.on('click', ev =>{
          	if(ev.columnName == 'ordDetId'){	
          	 	const focusCell = orderReadyGrid.getFocusedCell()
               	let dataRow = orderReadyGrid.getRow(ev.rowKey);
          	 	if(dataRow.cpShipStat == "검사요청"){
          	 		alert("아직 모든 물품이 출고검사가 끝나지 않았습니다.")
          	 	} else if(dataRow.cpShipStat == "검사완료"){
          	 		
         	 		$("#shipReadyModal").modal("show");
         	 		
					$("#busAddr").val(dataRow.busAddr);
					$("#busId").val(dataRow.busId);
					$("#busNum").val(dataRow.busNum);
					$("#busName").val(dataRow.busName);
					$("#busTell").val(dataRow.busTell);
					console.log(dataRow.ordDetId);
    	             	
					$.ajax({
        				url: "/sales/readyShipList",
       					method: "get",
        				data: {'result' : dataRow.ordDetId},
        				success: function (result) {
	        				completeShipGrid.resetData(result);
	        				setTimeout(() => completeShipGrid.refreshLayout(), 200);
      		 			},
      			 	});	  
         	 	}// end of else if
			} //end of if(ev.columnName == 'ordDetId')
		})
		
		//출고완료 버튼
		$("#completeShip").on("click", function (e) {
			$.ajax({
				url: "/sales/completShip",
				method: "post",
				data: {ordDetId:orderReadyGrid.getFocusedCell().value},      //?ored=SEL             
				success: function (result) {
					alert ('출고가 완료되었습니다');
                },
			}); //end of ajax
		});
		
        //출고완료전 모달 테이블 그리드  
            const completeShipGrid = new tui.Grid({
        el: document.getElementById("completeShipGrid"),
          scrollX: false,
          scrollY: false,

          pageOptions: {
            useClient: true,
            perPage: 10,
            },
          columns: [
        	
        	{
              header: "완제품 출고코드",
              name: "cpShipId",
              align:"center"
            },
            {
              header: "완제품 LOT 코드",
              name: "cpLotId",
              align:"center"
            },
            {
              header: "출고 수량",
              name: "cpShipQt",
              align:"center"
            },
            {
              header: "출고진행상태",
              name: "cpShipStat",
              align:"center"
            },
          ],
        });
      
		completeShipGrid.setBodyHeight(400);
		tui.Grid.applyTheme('default', {
			cell: {
				header: {
					background: '#e5edf5'
				},
				normal: {
					background: '#ffffff'
				}
			}
		});		 
        
		        
      </script>
	</div>
</body>
</html>
